Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

chore(deps): update chart democratic-csi to 0.14.1
  cluster/apps/storage/democratic-csi/local-path/helm-release.yaml
Labels: area/kubernetes

Actually have idea settings in repo.
  .gitignore
  .idea/.gitignore
  .idea/discord.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/k8s-cluster.iml
  .idea/kubernetes-settings.xml
  .idea/markdown.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
Labels: none

Actually have idea settings in repo.
  .gitignore
  .idea/.gitignore
  .idea/discord.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/k8s-cluster.iml
  .idea/kubernetes-settings.xml
  .idea/markdown.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
Labels: none

Paperless: Fix ingress
  cluster/apps/default/paperless/app/helm-release.yaml
Labels: area/kubernetes

Paperless: Fix ingress
  cluster/apps/default/paperless/app/helm-release.yaml
Labels: area/kubernetes

Authentik: Let's try to downgrade.
  cluster/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes

Authentik: Let's try to downgrade.
  cluster/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes

Authentik: Downgrade to 5.5
  cluster/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes

Authentik: Downgrade to 5.5
  cluster/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes

Update autoMerge.json5
  .github/renovate/autoMerge.json5
Labels: area/ci

Update autoMerge.json5
  .github/renovate/autoMerge.json5
Labels: area/ci

chore(deps): update image ghcr.io/goauthentik/server to v2023.6.1
  cluster/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes

Authentik: Try resource limits
  cluster/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes

Authentik: Try resource limits
  cluster/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes

It seems the problem is/was one node that cannot handle more shit.
  cluster/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes

It seems the problem is/was one node that cannot handle more shit.
  cluster/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes

Let's try out firefly
  cluster/apps/finance/firefly/app/externalsecret-store.yaml
  cluster/apps/finance/firefly/app/externalsecret.yaml
  cluster/apps/finance/firefly/app/helm-release.yaml
  cluster/apps/finance/firefly/app/kustomization.yaml
  cluster/apps/finance/firefly/app/pvc.yaml
  cluster/apps/finance/firefly/ks.yaml
  cluster/apps/finance/kustomization.yaml
Labels: area/kubernetes

Let's try out firefly
  cluster/apps/finance/firefly/app/externalsecret-store.yaml
  cluster/apps/finance/firefly/app/externalsecret.yaml
  cluster/apps/finance/firefly/app/helm-release.yaml
  cluster/apps/finance/firefly/app/kustomization.yaml
  cluster/apps/finance/firefly/app/pvc.yaml
  cluster/apps/finance/firefly/ks.yaml
  cluster/apps/finance/kustomization.yaml
Labels: area/kubernetes

Oh, lol
  cluster/apps/finance/firefly/app/helm-release.yaml
Labels: area/kubernetes

Oh, lol
  cluster/apps/finance/firefly/app/helm-release.yaml
Labels: area/kubernetes

That was missing..
  cluster/apps/finance/firefly/app/externalsecret.yaml
Labels: area/kubernetes

That was missing..
  cluster/apps/finance/firefly/app/externalsecret.yaml
Labels: area/kubernetes

dang secret
  cluster/flux/add-ons/external-secrets/doppler/secret.sops.yaml
Labels: area/kubernetes

dang secret
  cluster/flux/add-ons/external-secrets/doppler/secret.sops.yaml
Labels: area/kubernetes

This should be better
  cluster/apps/finance/firefly/app/helm-release.yaml
Labels: area/kubernetes

This should be better
  cluster/apps/finance/firefly/app/helm-release.yaml
Labels: area/kubernetes

Add the data importer secret
  cluster/apps/finance/firefly/app/externalsecret.yaml
Labels: area/kubernetes

Add the data importer secret
  cluster/apps/finance/firefly/app/externalsecret.yaml
Labels: area/kubernetes

Deploy importer
  cluster/apps/finance/firefly/importer/helm-release.yaml
  cluster/apps/finance/firefly/importer/kustomization.yaml
  cluster/apps/finance/firefly/ks-importer.yaml
Labels: area/kubernetes

Deploy importer
  cluster/apps/finance/firefly/importer/helm-release.yaml
  cluster/apps/finance/firefly/importer/kustomization.yaml
  cluster/apps/finance/firefly/ks-importer.yaml
Labels: area/kubernetes

Ah
  cluster/apps/finance/kustomization.yaml
Labels: area/kubernetes

Ah
  cluster/apps/finance/kustomization.yaml
Labels: area/kubernetes

Hmm
  cluster/apps/finance/firefly/importer/helm-release.yaml
Labels: area/kubernetes

Hmm
  cluster/apps/finance/firefly/importer/helm-release.yaml
Labels: area/kubernetes

Things
  cluster/apps/finance/firefly/importer/helm-release.yaml
Labels: area/kubernetes

Things
  cluster/apps/finance/firefly/importer/helm-release.yaml
Labels: area/kubernetes

Fail
  cluster/apps/finance/firefly/importer/helm-release.yaml
Labels: area/kubernetes

Fail
  cluster/apps/finance/firefly/importer/helm-release.yaml
Labels: area/kubernetes

Dang it
  cluster/flux/flux-addons.yaml
Labels: area/kubernetes

Dang it
  cluster/flux/flux-addons.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"
