Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

README update to reflect
  README.md
Labels: none

Terraforming my new Mikrotik router (#2098)
  README.md
  terraform/mikrotik/main.tf
  terraform/mikrotik/modules/rb5009/_provider.tf
  terraform/mikrotik/modules/rb5009/_variables.tf
  terraform/mikrotik/modules/rb5009/bgp/dev-cluster.tf
  terraform/mikrotik/modules/rb5009/bgp/main.tf
  terraform/mikrotik/modules/rb5009/bgp/prod-cluster.tf
  terraform/mikrotik/modules/rb5009/bridge.tf
  terraform/mikrotik/modules/rb5009/containers.tf
  terraform/mikrotik/modules/rb5009/dhcp-client.tf
  terraform/mikrotik/modules/rb5009/dhcp6-client.tf
  terraform/mikrotik/modules/rb5009/dns-server.tf
  terraform/mikrotik/modules/rb5009/interface-lists.tf
  terraform/mikrotik/modules/rb5009/interfaces.tf
  terraform/mikrotik/modules/rb5009/ip-services.tf
  terraform/mikrotik/modules/rb5009/ntp.tf
  terraform/mikrotik/modules/rb5009/routing-bgp.tf
  terraform/mikrotik/modules/rb5009/snmp.tf
  terraform/mikrotik/modules/rb5009/system.tf
  terraform/mikrotik/modules/rb5009/vlan-iot.tf
  terraform/mikrotik/modules/rb5009/vlan-kube-dev.tf
  terraform/mikrotik/modules/rb5009/vlan-kube-prod.tf
  terraform/mikrotik/modules/rb5009/vlan-lan.tf
  terraform/mikrotik/modules/rb5009/vlan-mgmnt.tf
  terraform/mikrotik/provider.tf
  terraform/mikrotik/variables.tf
Labels: none

Let's see
  k8s/nebula/apps/networking/external-dns/internal/externalsecret.yaml
  k8s/nebula/apps/networking/external-dns/internal/helm-release.yaml
  k8s/nebula/apps/networking/external-dns/internal/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  terraform/mikrotik/modules/rb5009/bgp/dev-cluster.tf
  terraform/mikrotik/modules/rb5009/bgp/main.tf
  terraform/mikrotik/modules/rb5009/bgp/prod-cluster.tf
Labels: none

More things
  terraform/mikrotik/modules/rb5009/bgp/dev-cluster.tf
  terraform/mikrotik/modules/rb5009/bgp/prod-cluster.tf
  terraform/mikrotik/modules/rb5009/interface-lists.tf
  terraform/mikrotik/modules/rb5009/wireguard-vpn.tf
Labels: none

Hmm
  terraform/mikrotik/modules/rb5009/bgp/main.tf
  terraform/mikrotik/modules/rb5009/wireguard-vpn.tf
Labels: none

Fixing up Wireguard
  terraform/mikrotik/modules/rb5009/wireguard-vpn.tf
Labels: none

Oops
  terraform/mikrotik/modules/rb5009/wireguard-vpn.tf
Labels: none

Oops
  terraform/mikrotik/modules/rb5009/wireguard-vpn.tf
Labels: none

Not the best way but
  terraform/mikrotik/modules/rb5009/wireguard-vpn.tf
Labels: none

Hmm
  terraform/mikrotik/modules/rb5009/wireguard-vpn.tf
Labels: none

cool
  terraform/mikrotik/modules/rb5009/wireguard-vpn.tf
Labels: none

Mismatch of timers
  terraform/mikrotik/modules/rb5009/bgp/main.tf
Labels: none

Mismatch of timers, part two
  terraform/mikrotik/modules/rb5009/bgp/dev-cluster.tf
  terraform/mikrotik/modules/rb5009/bgp/main.tf
  terraform/mikrotik/modules/rb5009/bgp/prod-cluster.tf
Labels: none

Let's do BGP over IPv6 ULA
  k8s/nebula/apps/kube-system/cilium/config/BGP.yaml
Labels: area/kubernetes, cluster/nebula

Damn
  terraform/mikrotik/modules/rb5009/bgp/main.tf
Labels: none

Hmm
  k8s/media/apps/kube-system/cilium/config/BGP.yaml
  k8s/media/apps/networking/kustomization.yaml
  k8s/nebula/apps/networking/external-dns/internal/external-endpoint.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

Hmm
  k8s/nebula/apps/security/external-secrets/stores/onepassword/clustersecretstore.yaml
  k8s/nebula/apps/security/external-secrets/stores/onepassword/kustomization.yaml
  k8s/nebula/apps/security/kustomization.yaml
  k8s/nebula/apps/security/onepassword-connect/app/hr.yaml
  k8s/nebula/apps/security/onepassword-connect/app/kustomization.yaml
  k8s/nebula/apps/security/onepassword-connect/app/onepassword-connect.secret.sops.yaml
  k8s/nebula/apps/security/onepassword-connect/ks.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  terraform/mikrotik/modules/rb5009/bgp/prod-cluster.tf
Labels: none

Oh
  k8s/nebula/apps/home/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Oops
  k8s/nebula/apps/security/onepassword-connect/app/onepassword-connect.secret.sops.yaml
Labels: area/kubernetes, cluster/nebula

Damn it onepass
  k8s/nebula/apps/security/onepassword-connect/app/onepassword-connect.secret.sops.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/security/onepassword-connect/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Let's fix the secret
  k8s/media/apps/flux-system/external-secrets/stores/onepassword/secret.sops.yaml
Labels: area/kubernetes, cluster/media

That behaves wierdly
  terraform/mikrotik/modules/rb5009/wireguard-vpn.tf
Labels: none

That's a fun typo
  terraform/mikrotik/modules/rb5009/wireguard-vpn.tf
Labels: none

Yeet
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

Maybe not
  k8s/media/apps/media/kustomization.yaml
  k8s/media/apps/media/qbittorrent/app/kustomization.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/qbittorrent/app/kustomization.yaml
Labels: area/kubernetes, cluster/media

Damn
  k8s/media/apps/media/qbittorrent/app/kustomization.yaml
Labels: area/kubernetes, cluster/media

Oh, lol
  k8s/media/apps/kube-system/kustomization.yaml
  k8s/media/apps/kube-system/snapshot-controller/app/helm-release.yaml
  k8s/media/apps/kube-system/snapshot-controller/app/kustomization.yaml
  k8s/media/apps/kube-system/snapshot-controller/ks.yaml
Labels: area/kubernetes, cluster/media

Oh
  k8s/media/apps/flux-system/external-secrets/stores/onepassword/clustersecretstore.yaml
Labels: area/kubernetes, cluster/media

Let's see
  k8s/media/apps/storage/local-path/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/storage/local-path/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Let's see now
  .archive/mergerfs/app/hr.yaml
  .archive/mergerfs/ks.yaml
  k8s/media/apps/storage/local-path/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Yeet
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

Try that again
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

Whyyy
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/qbittorrent/ks.yaml
Labels: area/kubernetes, cluster/media

Try it again
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*
