Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

Not the most fun way to find out about https://github.com/angelnu/containers/issues/96
  k8s/nebula/apps/kube-system/multus/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Not the most fun way to find out about https://github.com/angelnu/containers/issues/96
  k8s/nebula/apps/kube-system/multus/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Rollback z2m to 1.34.0 from 1.39.0.
  k8s/nebula/apps/home/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Rollback z2m to 1.34.0 from 1.39.0.
  k8s/nebula/apps/home/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Revert "Rollback z2m to 1.34.0 from 1.39.0."
  k8s/nebula/apps/home/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Revert "Rollback z2m to 1.34.0 from 1.39.0."
  k8s/nebula/apps/home/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

z2m: Change channel which forces a re-pair.
  k8s/nebula/apps/home/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

z2m: Change channel which forces a re-pair.
  k8s/nebula/apps/home/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

z2m: Permit join for a moment.
  k8s/nebula/apps/home/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

z2m: Permit join for a moment.
  k8s/nebula/apps/home/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Oooh
  k8s/base/storage/democratic-csi/local-path/helm-release.yaml
Labels: area/kubernetes

Oooh
  k8s/base/storage/democratic-csi/local-path/helm-release.yaml
Labels: area/kubernetes

Yeet
  k8s/nebula/shared/storage.yaml
Labels: area/kubernetes, cluster/nebula

Yeet
  k8s/nebula/shared/storage.yaml
Labels: area/kubernetes, cluster/nebula

Let's do this instead
  k8s/nebula/apps/storage/democractc-csi-local-path/helm-release.yaml
  k8s/nebula/apps/storage/democractc-csi-local-path/kustomization.yaml
  k8s/nebula/apps/storage/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Let's do this instead
  k8s/nebula/apps/storage/democractc-csi-local-path/helm-release.yaml
  k8s/nebula/apps/storage/democractc-csi-local-path/kustomization.yaml
  k8s/nebula/apps/storage/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Huh..
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Huh..
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Archived..
  .archive/base/system-upgrade/kustomization.yaml
  .archive/base/system-upgrade/namespace.yaml
  .archive/base/system-upgrade/system-upgrade-controller/app/kustomization.yaml
  .archive/base/system-upgrade/system-upgrade-controller/plans/agent-plan.yaml
  .archive/base/system-upgrade/system-upgrade-controller/plans/kustomization.yaml
  .archive/base/system-upgrade/system-upgrade-controller/plans/server-plan.yaml
  .archive/base/vpn/downloads-gateway/helm-release.yaml
  .archive/base/vpn/downloads-gateway/kustomization.yaml
  .archive/base/vpn/downloads-gateway/secret.sops.yaml
  .archive/base/vpn/kustomization.yaml
  .archive/base/vpn/ns.yaml
  .archive/base/vpn/vpn-gateway/helm-release.yaml
  .archive/base/vpn/vpn-gateway/secret.sops.yaml
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Archived..
  .archive/base/system-upgrade/kustomization.yaml
  .archive/base/system-upgrade/namespace.yaml
  .archive/base/system-upgrade/system-upgrade-controller/app/kustomization.yaml
  .archive/base/system-upgrade/system-upgrade-controller/plans/agent-plan.yaml
  .archive/base/system-upgrade/system-upgrade-controller/plans/kustomization.yaml
  .archive/base/system-upgrade/system-upgrade-controller/plans/server-plan.yaml
  .archive/base/vpn/downloads-gateway/helm-release.yaml
  .archive/base/vpn/downloads-gateway/kustomization.yaml
  .archive/base/vpn/downloads-gateway/secret.sops.yaml
  .archive/base/vpn/kustomization.yaml
  .archive/base/vpn/ns.yaml
  .archive/base/vpn/vpn-gateway/helm-release.yaml
  .archive/base/vpn/vpn-gateway/secret.sops.yaml
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

System extensions..
  talos/talconfig.yaml
Labels: none

System extensions..
  talos/talconfig.yaml
Labels: none

Metrics server deploy
  k8s/nebula/apps/kube-system/kustomization.yaml
  k8s/nebula/apps/kube-system/metrics-server/app/hr.yaml
  k8s/nebula/apps/kube-system/metrics-server/app/kustomization.yaml
  k8s/nebula/apps/kube-system/metrics-server/ks.yaml
Labels: area/kubernetes, cluster/nebula

Metrics server deploy
  k8s/nebula/apps/kube-system/kustomization.yaml
  k8s/nebula/apps/kube-system/metrics-server/app/hr.yaml
  k8s/nebula/apps/kube-system/metrics-server/app/kustomization.yaml
  k8s/nebula/apps/kube-system/metrics-server/ks.yaml
Labels: area/kubernetes, cluster/nebula

Deploy maintainerr
  k8s/nebula/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Deploy maintainerr
  k8s/nebula/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/media/apps/storage/kustomization.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/storage/kustomization.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/nebula/apps/kube-system/metrics-server/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/kube-system/metrics-server/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Move nebula cluster talos config dir.
  k8s/nebula/talos/.sops.yaml
  k8s/nebula/talos/clusterconfig/.gitignore
  k8s/nebula/talos/patches/README.md
  k8s/nebula/talos/patches/controller/api-access.yaml
  k8s/nebula/talos/patches/controller/cluster.yaml
  k8s/nebula/talos/patches/controller/disable-admission-controller.yaml
  k8s/nebula/talos/patches/controller/kube-prism.yaml
  k8s/nebula/talos/patches/global/cluster-discovery.yaml
  k8s/nebula/talos/patches/global/containerd.yaml
  k8s/nebula/talos/patches/global/disable-search-domain.yaml
  k8s/nebula/talos/patches/global/kubelet.yaml
  k8s/nebula/talos/patches/global/nfs.yaml
  k8s/nebula/talos/patches/global/sysctl.yaml
  k8s/nebula/talos/patches/global/udev.yaml
  k8s/nebula/talos/talconfig.yaml
  k8s/nebula/talos/talsecret.sops.yaml
Labels: area/kubernetes, cluster/nebula

Try to move Media cluster to Talos
  k8s/media/talos/.sops.yaml
  k8s/media/talos/clusterconfig/.gitignore
  k8s/media/talos/patches/README.md
  k8s/media/talos/patches/controller/api-access.yaml
  k8s/media/talos/patches/controller/cluster.yaml
  k8s/media/talos/patches/controller/disable-admission-controller.yaml
  k8s/media/talos/patches/controller/kube-prism.yaml
  k8s/media/talos/patches/global/cluster-discovery.yaml
  k8s/media/talos/patches/global/containerd.yaml
  k8s/media/talos/patches/global/disable-search-domain.yaml
  k8s/media/talos/patches/global/kubelet.yaml
  k8s/media/talos/patches/global/nfs.yaml
  k8s/media/talos/patches/global/sysctl.yaml
  k8s/media/talos/patches/global/udev.yaml
  k8s/media/talos/talconfig.yaml
  k8s/media/talos/talsecret.sops.yaml
Labels: area/kubernetes, cluster/media

Try to move Media cluster to Talos
  k8s/media/talos/.sops.yaml
  k8s/media/talos/clusterconfig/.gitignore
  k8s/media/talos/patches/README.md
  k8s/media/talos/patches/controller/api-access.yaml
  k8s/media/talos/patches/controller/cluster.yaml
  k8s/media/talos/patches/controller/disable-admission-controller.yaml
  k8s/media/talos/patches/controller/kube-prism.yaml
  k8s/media/talos/patches/global/cluster-discovery.yaml
  k8s/media/talos/patches/global/containerd.yaml
  k8s/media/talos/patches/global/disable-search-domain.yaml
  k8s/media/talos/patches/global/kubelet.yaml
  k8s/media/talos/patches/global/nfs.yaml
  k8s/media/talos/patches/global/sysctl.yaml
  k8s/media/talos/patches/global/udev.yaml
  k8s/media/talos/talconfig.yaml
  k8s/media/talos/talsecret.sops.yaml
Labels: area/kubernetes, cluster/media

Move nebula cluster talos config dir.
  k8s/nebula/talos/.sops.yaml
  k8s/nebula/talos/clusterconfig/.gitignore
  k8s/nebula/talos/patches/README.md
  k8s/nebula/talos/patches/controller/api-access.yaml
  k8s/nebula/talos/patches/controller/cluster.yaml
  k8s/nebula/talos/patches/controller/disable-admission-controller.yaml
  k8s/nebula/talos/patches/controller/kube-prism.yaml
  k8s/nebula/talos/patches/global/cluster-discovery.yaml
  k8s/nebula/talos/patches/global/containerd.yaml
  k8s/nebula/talos/patches/global/disable-search-domain.yaml
  k8s/nebula/talos/patches/global/kubelet.yaml
  k8s/nebula/talos/patches/global/nfs.yaml
  k8s/nebula/talos/patches/global/sysctl.yaml
  k8s/nebula/talos/patches/global/udev.yaml
  k8s/nebula/talos/talconfig.yaml
  k8s/nebula/talos/talsecret.sops.yaml
Labels: area/kubernetes, cluster/nebula

Fix media cluster's Cilium for Talos
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Deploy CI things
  k8s/nebula/apps/ci/kustomization.yaml
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*
