Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

Yeet
  k8s/nebula/apps/databases/kustomization.yaml
  k8s/nebula/apps/default/kustomization.yaml
  k8s/nebula/apps/home/kustomization.yaml
  k8s/nebula/apps/kube-system/kustomization.yaml
  k8s/nebula/apps/media/kustomization.yaml
  k8s/nebula/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Yeet
  k8s/nebula/apps/databases/kustomization.yaml
  k8s/nebula/apps/default/kustomization.yaml
  k8s/nebula/apps/home/kustomization.yaml
  k8s/nebula/apps/kube-system/kustomization.yaml
  k8s/nebula/apps/media/kustomization.yaml
  k8s/nebula/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Authentik yeet
  .archive/crypto/bisq/app/hr.yaml
  .archive/crypto/bisq/app/kustomization.yaml
  .archive/crypto/bisq/ks.yaml
  .archive/crypto/kustomization.yaml
  k8s/nebula/apps/security/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Authentik yeet
  .archive/crypto/bisq/app/hr.yaml
  .archive/crypto/bisq/app/kustomization.yaml
  .archive/crypto/bisq/ks.yaml
  .archive/crypto/kustomization.yaml
  k8s/nebula/apps/security/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Yeet
  k8s/nebula/shared/infra.yaml
  k8s/nebula/shared/kube-system.yaml
  k8s/nebula/shared/networking.yaml
  k8s/nebula/shared/storage.yaml
  k8s/nebula/shared/system.yaml
Labels: area/kubernetes, cluster/nebula

Yeet
  k8s/nebula/shared/infra.yaml
  k8s/nebula/shared/kube-system.yaml
  k8s/nebula/shared/networking.yaml
  k8s/nebula/shared/storage.yaml
  k8s/nebula/shared/system.yaml
Labels: area/kubernetes, cluster/nebula

Yeet
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Yeet
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hnn
  k8s/nebula/apps/kustomization.yaml
  k8s/nebula/apps/storage/rook-ceph/rook/ks-cluster.yaml
  k8s/nebula/apps/storage/rook-ceph/rook/ks-operator.yaml
Labels: area/kubernetes, cluster/nebula

Hnn
  k8s/nebula/apps/kustomization.yaml
  k8s/nebula/apps/storage/rook-ceph/rook/ks-cluster.yaml
  k8s/nebula/apps/storage/rook-ceph/rook/ks-operator.yaml
Labels: area/kubernetes, cluster/nebula

Yeet
  k8s/nebula/apps/kustomization.yaml
  k8s/nebula/apps/storage/rook-ceph/rook/ks-cluster.yaml
  k8s/nebula/apps/storage/rook-ceph/rook/ks-operator.yaml
Labels: area/kubernetes, cluster/nebula

Yeet
  k8s/nebula/apps/kustomization.yaml
  k8s/nebula/apps/storage/rook-ceph/rook/ks-cluster.yaml
  k8s/nebula/apps/storage/rook-ceph/rook/ks-operator.yaml
Labels: area/kubernetes, cluster/nebula

Cilium values
  k8s/nebula/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/nebula

talconfig
  talos/talconfig.yaml
Labels: none

Talos convert for nebula (#1958)
  k8s/nebula/apps/kube-system/cilium/app/values.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, cluster/nebula

Talos convert for nebula (#1958)
  k8s/nebula/apps/kube-system/cilium/app/values.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, cluster/nebula

Deploy
  k8s/nebula/shared/infra.yaml
  k8s/nebula/shared/networking.yaml
Labels: area/kubernetes, cluster/nebula

Deploy
  k8s/nebula/shared/infra.yaml
  k8s/nebula/shared/networking.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/shared/monitoring.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/shared/monitoring.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/kustomization.yaml
  k8s/nebula/shared/kube-system.yaml
  k8s/nebula/shared/storage.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/kustomization.yaml
  k8s/nebula/shared/kube-system.yaml
  k8s/nebula/shared/storage.yaml
Labels: area/kubernetes, cluster/nebula

Collab thing..
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Collab thing..
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Storage..
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Storage..
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hnn
  k8s/base/storage/democratic-csi/local-path/helm-release.yaml
Labels: area/kubernetes

Hnn
  k8s/base/storage/democratic-csi/local-path/helm-release.yaml
Labels: area/kubernetes

Ah
  k8s/nebula/shared/storage.yaml
Labels: area/kubernetes, cluster/nebula

Ah
  k8s/nebula/shared/storage.yaml
Labels: area/kubernetes, cluster/nebula

Postgres..
  k8s/nebula/apps/databases/cloudnative-pg/cluster-vectors/cluster16-vector.yaml
  k8s/nebula/apps/databases/cloudnative-pg/cluster/cluster16.yaml
  k8s/nebula/apps/databases/kustomization.yaml
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Postgres..
  k8s/nebula/apps/databases/cloudnative-pg/cluster-vectors/cluster16-vector.yaml
  k8s/nebula/apps/databases/cloudnative-pg/cluster/cluster16.yaml
  k8s/nebula/apps/databases/kustomization.yaml
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Pain
  k8s/nebula/apps/databases/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Pain
  k8s/nebula/apps/databases/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/storage/rook-ceph/rook/ks-operator.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/storage/rook-ceph/rook/ks-operator.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/storage/rook-ceph/rook/ks-cluster.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/storage/rook-ceph/rook/ks-cluster.yaml
Labels: area/kubernetes, cluster/nebula

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*
