Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*

Does it even work?
  k8s/media/apps/media/kustomization.yaml
  k8s/media/apps/media/media-index/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Move plex to archive
  .archive/media-cluster/plex/app/hr.yaml
  .archive/media-cluster/plex/app/kustomization.yaml
  .archive/media-cluster/plex/app/pvc.yaml
  .archive/media-cluster/plex/ks.yaml
Labels: none

Move plex to archive
  .archive/media-cluster/plex/app/hr.yaml
  .archive/media-cluster/plex/app/kustomization.yaml
  .archive/media-cluster/plex/app/pvc.yaml
  .archive/media-cluster/plex/ks.yaml
Labels: none

Oooh
  k8s/nebula/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Oooh
  k8s/nebula/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Deploy jellystat
  k8s/nebula/apps/monitoring/jellystat/app/es.yaml
  k8s/nebula/apps/monitoring/jellystat/app/hr.yaml
  k8s/nebula/apps/monitoring/jellystat/app/kustomization.yaml
  k8s/nebula/apps/monitoring/jellystat/ks.yaml
  k8s/nebula/apps/monitoring/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Deploy jellystat
  k8s/nebula/apps/monitoring/jellystat/app/es.yaml
  k8s/nebula/apps/monitoring/jellystat/app/hr.yaml
  k8s/nebula/apps/monitoring/jellystat/app/kustomization.yaml
  k8s/nebula/apps/monitoring/jellystat/ks.yaml
  k8s/nebula/apps/monitoring/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Would have been too easy
  k8s/nebula/apps/monitoring/jellystat/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Would have been too easy
  k8s/nebula/apps/monitoring/jellystat/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Ah
  k8s/nebula/apps/monitoring/jellystat/ks.yaml
Labels: area/kubernetes, cluster/nebula

Ah
  k8s/nebula/apps/monitoring/jellystat/ks.yaml
Labels: area/kubernetes, cluster/nebula

Damn
  k8s/nebula/apps/monitoring/jellystat/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Damn
  k8s/nebula/apps/monitoring/jellystat/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmmmmm
  k8s/nebula/apps/monitoring/jellystat/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmmmmm
  k8s/nebula/apps/monitoring/jellystat/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/media/wizarr/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/media/wizarr/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmmm
  k8s/nebula/apps/media/wizarr/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmmm
  k8s/nebula/apps/media/wizarr/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Let's give it more resources
  k8s/nebula/apps/media/wizarr/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Let's give it more resources
  k8s/nebula/apps/media/wizarr/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/networking/nginx/external/custom-headers.yaml
  k8s/nebula/apps/networking/nginx/external/helm-release.yaml
  k8s/nebula/apps/networking/nginx/external/kustomization.yaml
  k8s/nebula/apps/networking/nginx/external/test-headers.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/networking/nginx/external/custom-headers.yaml
  k8s/nebula/apps/networking/nginx/external/helm-release.yaml
  k8s/nebula/apps/networking/nginx/external/kustomization.yaml
  k8s/nebula/apps/networking/nginx/external/test-headers.yaml
Labels: area/kubernetes, cluster/nebula

Hnn
  k8s/nebula/apps/networking/misc-ingresses/dh-endpoints.yaml
  k8s/nebula/apps/networking/misc-ingresses/dh-ingress.yaml
  k8s/nebula/apps/networking/misc-ingresses/dh-service.yaml
  k8s/nebula/apps/networking/misc-ingresses/home-srv-endpoints.yaml
  k8s/nebula/apps/networking/misc-ingresses/home-srv-livetv-dvr-ingress.yaml
  k8s/nebula/apps/networking/misc-ingresses/home-srv-livetv-ingress.yaml
  k8s/nebula/apps/networking/misc-ingresses/home-srv-livetv-stream-ingress.yaml
  k8s/nebula/apps/networking/misc-ingresses/home-srv-svc.yaml
  k8s/nebula/apps/networking/misc-ingresses/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hnn
  k8s/nebula/apps/networking/misc-ingresses/dh-endpoints.yaml
  k8s/nebula/apps/networking/misc-ingresses/dh-ingress.yaml
  k8s/nebula/apps/networking/misc-ingresses/dh-service.yaml
  k8s/nebula/apps/networking/misc-ingresses/home-srv-endpoints.yaml
  k8s/nebula/apps/networking/misc-ingresses/home-srv-livetv-dvr-ingress.yaml
  k8s/nebula/apps/networking/misc-ingresses/home-srv-livetv-ingress.yaml
  k8s/nebula/apps/networking/misc-ingresses/home-srv-livetv-stream-ingress.yaml
  k8s/nebula/apps/networking/misc-ingresses/home-srv-svc.yaml
  k8s/nebula/apps/networking/misc-ingresses/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/networking/misc-ingresses/dh-endpoints.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/networking/misc-ingresses/dh-endpoints.yaml
Labels: area/kubernetes, cluster/nebula

That needs one more DNS name.
  k8s/nebula/apps/networking/misc-ingresses/dh-cert.yaml
Labels: area/kubernetes, cluster/nebula

That needs one more DNS name.
  k8s/nebula/apps/networking/misc-ingresses/dh-cert.yaml
Labels: area/kubernetes, cluster/nebula

WIP: your_spotify
  k8s/nebula/apps/default/your_spotify/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

WIP: your_spotify
  k8s/nebula/apps/default/your_spotify/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Let's try to get this variable working..
  k8s/nebula/apps/default/paperless/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Let's try to get this variable working..
  k8s/nebula/apps/default/paperless/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Oh, fail.
  k8s/nebula/apps/default/paperless/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Oh, fail.
  k8s/nebula/apps/default/paperless/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Deploy your-spotify
  k8s/nebula/apps/default/your_spotify/app/hr.yaml
  k8s/nebula/apps/default/your_spotify/app/kustomization.yaml
  k8s/nebula/apps/default/your_spotify/ks.yaml
Labels: area/kubernetes, cluster/nebula

Deploy your-spotify
  k8s/nebula/apps/default/your_spotify/app/hr.yaml
  k8s/nebula/apps/default/your_spotify/app/kustomization.yaml
  k8s/nebula/apps/default/your_spotify/ks.yaml
Labels: area/kubernetes, cluster/nebula

Ah
  k8s/nebula/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/nebula
