Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

Right
  cluster/apps/tor/services/ahmia-hidden.yaml
Labels: area/kubernetes

Right
  cluster/apps/tor/services/ahmia-hidden.yaml
Labels: area/kubernetes

Tor: Hide headers
  cluster/apps/tor/nginx/helm-release.yaml
Labels: area/kubernetes

Tor: Hide headers
  cluster/apps/tor/nginx/helm-release.yaml
Labels: area/kubernetes

Tor: Hide headers
  cluster/apps/tor/nginx/helm-release.yaml
Labels: area/kubernetes

Tor: Heh
  cluster/apps/tor/nginx/helm-release.yaml
Labels: area/kubernetes

Tor: Heh
  cluster/apps/tor/nginx/helm-release.yaml
Labels: area/kubernetes

Tor: Heh
  cluster/apps/tor/nginx/helm-release.yaml
Labels: area/kubernetes

ingress-tor: Tweak the config.
  cluster/apps/tor/nginx/helm-release.yaml
Labels: area/kubernetes

ingress-tor: Tweak the config.
  cluster/apps/tor/nginx/helm-release.yaml
Labels: area/kubernetes

ingress-tor: Tweak the config.
  cluster/apps/tor/nginx/helm-release.yaml
Labels: area/kubernetes

ingress-tor: Let's experiment
  cluster/apps/tor/nginx/helm-release.yaml
Labels: area/kubernetes

ingress-tor: Let's experiment
  cluster/apps/tor/nginx/helm-release.yaml
Labels: area/kubernetes

ingress-tor: Let's experiment
  cluster/apps/tor/nginx/helm-release.yaml
Labels: area/kubernetes

ingress-tor: Let's experiment, part 2
  cluster/apps/tor/nginx/helm-release.yaml
Labels: area/kubernetes

ingress-tor: Let's experiment, part 2
  cluster/apps/tor/nginx/helm-release.yaml
Labels: area/kubernetes

ingress-tor: Let's experiment, part 2
  cluster/apps/tor/nginx/helm-release.yaml
Labels: area/kubernetes

ingress-tor: Let's experiment, part 3
  cluster/apps/tor/nginx/helm-release.yaml
Labels: area/kubernetes

ingress-tor: Let's experiment, part 3
  cluster/apps/tor/nginx/helm-release.yaml
Labels: area/kubernetes

ingress-tor: Let's experiment, part 3
  cluster/apps/tor/nginx/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/claabs/epicgames-freegames-node:latest docker digest to 229dd73
  cluster/apps/default/epic-freegames/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/claabs/epicgames-freegames-node:latest docker digest to 229dd73
  cluster/apps/default/epic-freegames/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/claabs/epicgames-freegames-node:latest docker digest to 229dd73
  cluster/apps/default/epic-freegames/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/sct/overseerr:develop docker digest to 31a4e73
  cluster/apps/media/overseerr/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/sct/overseerr:develop docker digest to 31a4e73
  cluster/apps/media/overseerr/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/sct/overseerr:develop docker digest to 31a4e73
  cluster/apps/media/overseerr/helm-release.yaml
Labels: area/kubernetes

Move overseer to archive
  archive/misc/overseerr/config-pvc.yaml
  archive/misc/overseerr/helm-release.yaml
  archive/misc/overseerr/kustomization.yaml
Labels: none

Move overseer to archive
  archive/misc/overseerr/config-pvc.yaml
  archive/misc/overseerr/helm-release.yaml
  archive/misc/overseerr/kustomization.yaml
Labels: none

Move overseer to archive
  archive/misc/overseerr/config-pvc.yaml
  archive/misc/overseerr/helm-release.yaml
  archive/misc/overseerr/kustomization.yaml
Labels: none

fix(container): update ghcr.io/claabs/epicgames-freegames-node:latest docker digest to 4e35e4c
  cluster/apps/default/epic-freegames/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/claabs/epicgames-freegames-node:latest docker digest to 4e35e4c
  cluster/apps/default/epic-freegames/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/claabs/epicgames-freegames-node:latest docker digest to 4e35e4c
  cluster/apps/default/epic-freegames/app/helm-release.yaml
Labels: area/kubernetes

feat(github-action): update renovatebot/github-action action to v34.132.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(github-action): update renovatebot/github-action action to v34.132.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(github-action): update renovatebot/github-action action to v34.132.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update docker.io/browserless/chrome:latest docker digest to 8ebc02c
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update docker.io/browserless/chrome:latest docker digest to 8ebc02c
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update docker.io/browserless/chrome:latest docker digest to 8ebc02c
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/home-assistant/home-assistant docker tag to v2023.2.4
  cluster/apps/home/assistant/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/home-assistant/home-assistant docker tag to v2023.2.4
  cluster/apps/home/assistant/app/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"
