Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*

Oh, no volsync on the media cluster..
  k8s/media/apps/media/sabnzbd/app/kustomization.yaml
  k8s/media/apps/media/sabnzbd/app/pvc.yaml
Labels: area/kubernetes, cluster/media

Oh, no volsync on the media cluster..
  k8s/media/apps/media/sabnzbd/app/kustomization.yaml
  k8s/media/apps/media/sabnzbd/app/pvc.yaml
Labels: area/kubernetes, cluster/media

Damn
  k8s/base/kube-system/reflector/ns.yaml
Labels: area/kubernetes

Damn
  k8s/base/kube-system/reflector/ns.yaml
Labels: area/kubernetes

Hmm
  k8s/media/apps/media/sabnzbd/app/pvc.yaml
  k8s/media/apps/media/sabnzbd/ks.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/sabnzbd/app/pvc.yaml
  k8s/media/apps/media/sabnzbd/ks.yaml
Labels: area/kubernetes, cluster/media

Let's fix some things
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

Let's fix some things
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

Damn
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

Damn
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

Oh
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

Oh
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

Deploy generic-device-plugin
  k8s/nebula/apps/kube-system/generic-device-plugin/app/hr.yaml
  k8s/nebula/apps/kube-system/generic-device-plugin/ks.yaml
  k8s/nebula/apps/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Deploy generic-device-plugin
  k8s/nebula/apps/kube-system/generic-device-plugin/app/hr.yaml
  k8s/nebula/apps/kube-system/generic-device-plugin/ks.yaml
  k8s/nebula/apps/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Deploy sab with vpn
  k8s/media/apps/media/sabnzbd/app/externalsecret.yaml
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

Deploy sab with vpn
  k8s/media/apps/media/sabnzbd/app/externalsecret.yaml
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

Damn it
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

Damn it
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

Update gluetun
  k8s/media/apps/media/qbit/app/helm-release.yaml
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

Update gluetun
  k8s/media/apps/media/qbit/app/helm-release.yaml
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

Will it work now?
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

Will it work now?
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

Will that make a difference?
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

Will that make a difference?
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

Oh?
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

Oh?
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

Maybe that's enough
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

Maybe that's enough
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

Maybe not
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

Maybe not
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

DOT off
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

DOT off
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

That's bit wierd
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

That's bit wierd
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

Switch to better VPN with IPv6
  k8s/media/apps/media/sabnzbd/app/externalsecret.yaml
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

Switch to better VPN with IPv6
  k8s/media/apps/media/sabnzbd/app/externalsecret.yaml
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

MTU too
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

MTU too
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media
