Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

Authentik: webfinger ingress
  k8s/nebula/apps/security/authentik/app/kustomization.yaml
  k8s/nebula/apps/security/authentik/app/webfinger-ingress.yaml
Labels: area/kubernetes, cluster/nebula

Authentik: webfinger ingress
  k8s/nebula/apps/security/authentik/app/kustomization.yaml
  k8s/nebula/apps/security/authentik/app/webfinger-ingress.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/security/authentik/app/webfinger-ingress.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/security/authentik/app/webfinger-ingress.yaml
Labels: area/kubernetes, cluster/nebula

hmm
  k8s/nebula/apps/security/authentik/app/webfinger-ingress.yaml
Labels: area/kubernetes, cluster/nebula

hmm
  k8s/nebula/apps/security/authentik/app/webfinger-ingress.yaml
Labels: area/kubernetes, cluster/nebula

Add tailschale helm charts
  k8s/base/flux-system/helm-chart-repos/tailscale.yaml
Labels: area/kubernetes

Add tailschale helm charts
  k8s/base/flux-system/helm-chart-repos/tailscale.yaml
Labels: area/kubernetes

Deploy tailscale operator
  k8s/nebula/apps/networking/kustomization.yaml
  k8s/nebula/apps/networking/tailscale/app/es.yaml
  k8s/nebula/apps/networking/tailscale/app/hr.yaml
  k8s/nebula/apps/networking/tailscale/app/kustomization.yaml
  k8s/nebula/apps/networking/tailscale/extras/proxyclass.yaml
  k8s/nebula/apps/networking/tailscale/ks.yaml
Labels: area/kubernetes, cluster/nebula

Deploy tailscale operator
  k8s/nebula/apps/networking/kustomization.yaml
  k8s/nebula/apps/networking/tailscale/app/es.yaml
  k8s/nebula/apps/networking/tailscale/app/hr.yaml
  k8s/nebula/apps/networking/tailscale/app/kustomization.yaml
  k8s/nebula/apps/networking/tailscale/extras/proxyclass.yaml
  k8s/nebula/apps/networking/tailscale/ks.yaml
Labels: area/kubernetes, cluster/nebula

Tailscale nees this for Cilium
  k8s/nebula/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/nebula

Tailscale nees this for Cilium
  k8s/nebula/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/media/apps/networking/kustomization.yaml
  k8s/media/apps/networking/tailscale/app/es.yaml
  k8s/media/apps/networking/tailscale/app/hr.yaml
  k8s/media/apps/networking/tailscale/app/kustomization.yaml
  k8s/media/apps/networking/tailscale/extras/proxyclass.yaml
  k8s/media/apps/networking/tailscale/ks.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/networking/kustomization.yaml
  k8s/media/apps/networking/tailscale/app/es.yaml
  k8s/media/apps/networking/tailscale/app/hr.yaml
  k8s/media/apps/networking/tailscale/app/kustomization.yaml
  k8s/media/apps/networking/tailscale/extras/proxyclass.yaml
  k8s/media/apps/networking/tailscale/ks.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/media

Let's see
  k8s/media/apps/media/media-index/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Let's see
  k8s/media/apps/media/media-index/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Interesting..
  k8s/media/apps/media/media-index/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Interesting..
  k8s/media/apps/media/media-index/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Update index image
  k8s/media/apps/media/media-index/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Update index image
  k8s/media/apps/media/media-index/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Oh, oops
  k8s/media/apps/media/media-index/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Oh, oops
  k8s/media/apps/media/media-index/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Let's use that for the moment
  k8s/media/apps/media/media-index/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Let's use that for the moment
  k8s/media/apps/media/media-index/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Revert "feat(helm): update chart gpu-operator ( v24.6.2 → v24.9.0 ) (#2044)"
  k8s/media/apps/gpu/operator/app/hr.yaml
Labels: area/kubernetes, cluster/media

Revert "feat(helm): update chart gpu-operator ( v24.6.2 → v24.9.0 ) (#2044)"
  k8s/media/apps/gpu/operator/app/hr.yaml
Labels: area/kubernetes, cluster/media

Revert "feat(helm): update chart nvidia-device-plugin ( 0.16.2 → 0.17.0 ) (#2043)"
  k8s/media/apps/kube-system/nvidia/device-plugin/app/hr.yaml
Labels: area/kubernetes, cluster/media

Revert "feat(helm): update chart nvidia-device-plugin ( 0.16.2 → 0.17.0 ) (#2043)"
  k8s/media/apps/kube-system/nvidia/device-plugin/app/hr.yaml
Labels: area/kubernetes, cluster/media

Jellyfin needs more RAM
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

Jellyfin needs more RAM
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

Add Factorio charts
  k8s/base/flux-system/helm-chart-repos/factorio.yaml
Labels: area/kubernetes

Add Factorio charts
  k8s/base/flux-system/helm-chart-repos/factorio.yaml
Labels: area/kubernetes

Deploy Factorio
  k8s/nebula/apps/games/factorio/app/es.yaml
  k8s/nebula/apps/games/factorio/app/hr.yaml
  k8s/nebula/apps/games/factorio/app/kustomization.yaml
  k8s/nebula/apps/games/factorio/ks.yaml
  k8s/nebula/apps/games/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Deploy Factorio
  k8s/nebula/apps/games/factorio/app/es.yaml
  k8s/nebula/apps/games/factorio/app/hr.yaml
  k8s/nebula/apps/games/factorio/app/kustomization.yaml
  k8s/nebula/apps/games/factorio/ks.yaml
  k8s/nebula/apps/games/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/games/factorio/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/games/factorio/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Upgrade chart to 2.2.1 for Factorio
  k8s/nebula/apps/games/factorio/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Upgrade chart to 2.2.1 for Factorio
  k8s/nebula/apps/games/factorio/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*
