Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

Yyet
  k8s/nebula/apps/ci/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Yyet
  k8s/nebula/apps/ci/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Re-deploy
  k8s/nebula/apps/ci/github-actions/app/ks-runners.yaml
  k8s/nebula/apps/ci/github-actions/app/ks.yaml
  k8s/nebula/apps/ci/github-actions/app/operator/externalsecret-store.yaml
  k8s/nebula/apps/ci/github-actions/app/operator/externalsecret.yaml
  k8s/nebula/apps/ci/github-actions/app/operator/helm-release.yaml
  k8s/nebula/apps/ci/github-actions/app/operator/kustomization.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/externalsecret-store.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/externalsecret.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/kustomization.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/ns.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/samip5-k8s-cluster-arm64.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/samip5-k8s-cluster.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/samipsolutions-runners-arm64.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/samipsolutions-runners.yaml
  k8s/nebula/apps/ci/github-actions/kustomization.yaml
  k8s/nebula/apps/ci/github-actions/ns.yaml
Labels: area/kubernetes, cluster/nebula

Re-deploy
  k8s/nebula/apps/ci/github-actions/app/ks-runners.yaml
  k8s/nebula/apps/ci/github-actions/app/ks.yaml
  k8s/nebula/apps/ci/github-actions/app/operator/externalsecret-store.yaml
  k8s/nebula/apps/ci/github-actions/app/operator/externalsecret.yaml
  k8s/nebula/apps/ci/github-actions/app/operator/helm-release.yaml
  k8s/nebula/apps/ci/github-actions/app/operator/kustomization.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/externalsecret-store.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/externalsecret.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/kustomization.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/ns.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/samip5-k8s-cluster-arm64.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/samip5-k8s-cluster.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/samipsolutions-runners-arm64.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/samipsolutions-runners.yaml
  k8s/nebula/apps/ci/github-actions/kustomization.yaml
  k8s/nebula/apps/ci/github-actions/ns.yaml
Labels: area/kubernetes, cluster/nebula

Aaah
  k8s/nebula/apps/ci/github-actions/app/ks.yaml
Labels: area/kubernetes, cluster/nebula

Aaah
  k8s/nebula/apps/ci/github-actions/app/ks.yaml
Labels: area/kubernetes, cluster/nebula

Influx: Want more resources
  k8s/nebula/apps/databases/influx/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Influx: Want more resources
  k8s/nebula/apps/databases/influx/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Scrutiny: More resources
  k8s/nebula/apps/monitoring/scrutiny/scrutiny/hr.yaml
Labels: area/kubernetes, cluster/nebula

Scrutiny: More resources
  k8s/nebula/apps/monitoring/scrutiny/scrutiny/hr.yaml
Labels: area/kubernetes, cluster/nebula

Upgrade scrutiny things
  k8s/nebula/apps/monitoring/scrutiny/collector/hr.yaml
  k8s/nebula/apps/monitoring/scrutiny/scrutiny/hr.yaml
Labels: area/kubernetes, cluster/nebula

Upgrade scrutiny things
  k8s/nebula/apps/monitoring/scrutiny/collector/hr.yaml
  k8s/nebula/apps/monitoring/scrutiny/scrutiny/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/ci/github-actions/app/ks-runners.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/ci/github-actions/app/ks-runners.yaml
Labels: area/kubernetes, cluster/nebula

Ah
  k8s/nebula/apps/ci/github-actions/app/runners/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Ah
  k8s/nebula/apps/ci/github-actions/app/runners/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Apparently they have changed their gh username.
  k8s/nebula/apps/ci/github-actions/app/runners/samip5-k8s-cluster-arm64.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/samip5-k8s-cluster.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/samipsolutions-runners-arm64.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/samipsolutions-runners.yaml
Labels: area/kubernetes, cluster/nebula

Apparently they have changed their gh username.
  k8s/nebula/apps/ci/github-actions/app/runners/samip5-k8s-cluster-arm64.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/samip5-k8s-cluster.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/samipsolutions-runners-arm64.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/samipsolutions-runners.yaml
Labels: area/kubernetes, cluster/nebula

Steal vaskozl's experimental script
  scripts/app-template-convert.pl
Labels: none

Steal vaskozl's experimental script
  scripts/app-template-convert.pl
Labels: none

Upgrade media ones to 3.x app-template.
  k8s/media/apps/media/qbit/app/helm-release.yaml
  k8s/media/apps/media/qbittorrent/app/helm-release.yaml
  k8s/media/apps/media/qbittorrent/tools/manage/helm-release.yaml
  k8s/media/apps/media/qbittorrent/tools/orphaned/helm-release.yaml
  k8s/media/apps/media/qbittorrent/tools/reannounce/helm-release.yaml
  k8s/media/apps/media/sonarr/app/helm-release.yaml
  k8s/media/apps/media/tautulli/app/helm-release.yaml
  k8s/media/apps/media/unpackerr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Upgrade media ones to 3.x app-template.
  k8s/media/apps/media/qbit/app/helm-release.yaml
  k8s/media/apps/media/qbittorrent/app/helm-release.yaml
  k8s/media/apps/media/qbittorrent/tools/manage/helm-release.yaml
  k8s/media/apps/media/qbittorrent/tools/orphaned/helm-release.yaml
  k8s/media/apps/media/qbittorrent/tools/reannounce/helm-release.yaml
  k8s/media/apps/media/sonarr/app/helm-release.yaml
  k8s/media/apps/media/tautulli/app/helm-release.yaml
  k8s/media/apps/media/unpackerr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Upgrade qbit to 3.x app-template, part two
  k8s/media/apps/media/qbit/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Upgrade qbit to 3.x app-template, part two
  k8s/media/apps/media/qbit/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Upgrade qbit to 3.x app-template, part three
  k8s/media/apps/media/qbit/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Upgrade qbit to 3.x app-template, part three
  k8s/media/apps/media/qbit/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Upgrade some apps to 3.x app-template, part four
  k8s/media/apps/media/qbittorrent/app/helm-release.yaml
  k8s/media/apps/media/radarr/app/helm-release.yaml
  k8s/media/apps/media/unpackerr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Upgrade some apps to 3.x app-template, part four
  k8s/media/apps/media/qbittorrent/app/helm-release.yaml
  k8s/media/apps/media/radarr/app/helm-release.yaml
  k8s/media/apps/media/unpackerr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Upgrade index to app-template 3.1.0.
  k8s/media/apps/media/media-index/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Upgrade index to app-template 3.1.0.
  k8s/media/apps/media/media-index/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Upgrade qbittorrent's app-template
  k8s/media/apps/media/qbittorrent/tools/manage/helm-release.yaml
  k8s/media/apps/media/qbittorrent/tools/orphaned/helm-release.yaml
  k8s/media/apps/media/qbittorrent/tools/reannounce/helm-release.yaml
Labels: area/kubernetes, cluster/media

Upgrade qbittorrent's app-template
  k8s/media/apps/media/qbittorrent/tools/manage/helm-release.yaml
  k8s/media/apps/media/qbittorrent/tools/orphaned/helm-release.yaml
  k8s/media/apps/media/qbittorrent/tools/reannounce/helm-release.yaml
Labels: area/kubernetes, cluster/media

Upgrade radarr
  k8s/media/apps/media/radarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Upgrade radarr
  k8s/media/apps/media/radarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Upgrade sonarr
  k8s/media/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Upgrade sonarr
  k8s/media/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hmmmmm
  k8s/media/apps/media/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hmmmmm
  k8s/media/apps/media/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*
