Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

Maybe fixed container
  k8s/media/apps/storage/mergerfs/app/hr.yaml
Labels: area/kubernetes, cluster/media

Maybe fixed container
  k8s/media/apps/storage/mergerfs/app/hr.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/jellyfin/app/hr.yaml
  k8s/media/apps/media/jellyfin/app/kustomization.yaml
  k8s/media/apps/media/jellyfin/app/pvc.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/jellyfin/app/hr.yaml
  k8s/media/apps/media/jellyfin/app/kustomization.yaml
  k8s/media/apps/media/jellyfin/app/pvc.yaml
Labels: area/kubernetes, cluster/media

no nvidia atm
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

no nvidia atm
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

yeet
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

yeet
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

Fix path maybe
  k8s/media/apps/media/media-index/app/helm-release.yaml
  k8s/media/apps/media/qbit/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Fix path maybe
  k8s/media/apps/media/media-index/app/helm-release.yaml
  k8s/media/apps/media/qbit/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Maybe it will want to work now.
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

Maybe it will want to work now.
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

jellyfin: That was an easy mistake to make.
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

jellyfin: That was an easy mistake to make.
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

jellyfin: Darn it.
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

jellyfin: Darn it.
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

jellyfin: That's better remediation.
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

jellyfin: That's better remediation.
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

Re-deploy
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

Re-deploy
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

Does it make a difference?
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

Does it make a difference?
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

Somehow that would help?
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

Somehow that would help?
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

Somehow that would help...?
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

Somehow that would help...?
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

Hm
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

Hm
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

Hm
  k8s/media/apps/storage/kustomization.yaml
Labels: area/kubernetes, cluster/media

Hm
  k8s/media/apps/storage/kustomization.yaml
Labels: area/kubernetes, cluster/media

Hmmm
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

Hmmm
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

Oh
  k8s/nebula/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Archive Talos for Media cluster
  .archive/media-cluster/talos/.sops.yaml
  .archive/media-cluster/talos/clusterconfig/.gitignore
  .archive/media-cluster/talos/patches/README.md
  .archive/media-cluster/talos/patches/controller/api-access.yaml
  .archive/media-cluster/talos/patches/controller/cluster.yaml
  .archive/media-cluster/talos/patches/controller/disable-admission-controller.yaml
  .archive/media-cluster/talos/patches/controller/kube-prism.yaml
  .archive/media-cluster/talos/patches/global/cluster-discovery.yaml
  .archive/media-cluster/talos/patches/global/containerd.yaml
  .archive/media-cluster/talos/patches/global/disable-search-domain.yaml
  .archive/media-cluster/talos/patches/global/kubelet.yaml
  .archive/media-cluster/talos/patches/global/nfs.yaml
  .archive/media-cluster/talos/patches/global/sysctl.yaml
  .archive/media-cluster/talos/patches/global/udev.yaml
  .archive/media-cluster/talos/talconfig.yaml
  .archive/media-cluster/talos/talsecret.sops.yaml
Labels: none

Archive Talos for Media cluster
  .archive/media-cluster/talos/.sops.yaml
  .archive/media-cluster/talos/clusterconfig/.gitignore
  .archive/media-cluster/talos/patches/README.md
  .archive/media-cluster/talos/patches/controller/api-access.yaml
  .archive/media-cluster/talos/patches/controller/cluster.yaml
  .archive/media-cluster/talos/patches/controller/disable-admission-controller.yaml
  .archive/media-cluster/talos/patches/controller/kube-prism.yaml
  .archive/media-cluster/talos/patches/global/cluster-discovery.yaml
  .archive/media-cluster/talos/patches/global/containerd.yaml
  .archive/media-cluster/talos/patches/global/disable-search-domain.yaml
  .archive/media-cluster/talos/patches/global/kubelet.yaml
  .archive/media-cluster/talos/patches/global/nfs.yaml
  .archive/media-cluster/talos/patches/global/sysctl.yaml
  .archive/media-cluster/talos/patches/global/udev.yaml
  .archive/media-cluster/talos/talconfig.yaml
  .archive/media-cluster/talos/talsecret.sops.yaml
Labels: none

Hmm
  .gitignore
Labels: none

Hmm
  .gitignore
Labels: none

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*
