Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"

Piped things
  cluster/apps/services/piped/app/externalsecret-store.yaml
  cluster/apps/services/piped/app/externalsecret.yaml
  cluster/apps/services/piped/app/helm-release.yaml
  cluster/apps/services/piped/app/kustomization.yaml
Labels: area/kubernetes

Yeet w1
  provision/ansible/inventory/hosts.yml
Labels: none

Piped things
  cluster/apps/services/piped/app/externalsecret-store.yaml
  cluster/apps/services/piped/app/externalsecret.yaml
  cluster/apps/services/piped/app/helm-release.yaml
  cluster/apps/services/piped/app/kustomization.yaml
Labels: area/kubernetes

Does it make a difference?
  cluster/apps/services/piped/app/helm-release.yaml
Labels: area/kubernetes

Does it make a difference?
  cluster/apps/services/piped/app/helm-release.yaml
Labels: area/kubernetes

Piped: Upgrade chart
  cluster/apps/services/piped/app/helm-release.yaml
Labels: area/kubernetes

Piped: Upgrade chart
  cluster/apps/services/piped/app/helm-release.yaml
Labels: area/kubernetes

Piped: Upgrade chart yet again
  cluster/apps/services/piped/app/helm-release.yaml
Labels: area/kubernetes

Piped: Upgrade chart yet again
  cluster/apps/services/piped/app/helm-release.yaml
Labels: area/kubernetes

Piped: Fix the secret
  cluster/apps/services/piped/app/externalsecret.yaml
Labels: area/kubernetes

Piped: Fix the secret
  cluster/apps/services/piped/app/externalsecret.yaml
Labels: area/kubernetes

Schema thing
  .github/workflows/publish-schemas.yaml
Labels: area/ci

Schema thing
  .github/workflows/publish-schemas.yaml
Labels: area/ci

chore(deps): update image registry.samipsolutions.fi/docker/inspircd/inspircd-docker to cf53cdb
  cluster/apps/services/inspircd/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image registry.samipsolutions.fi/docker/inspircd/inspircd-docker to cf53cdb
  cluster/apps/services/inspircd/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart reloader to 1.0.32
  cluster/apps/system/reloader/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/renovatebot/renovate to v36.18
  cluster/apps/ci/renovate/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/renovatebot/renovate to v36.18
  cluster/apps/ci/renovate/app/helm-release.yaml
Labels: area/kubernetes

Cilium: Enable default certificate for ingress controller.
  cluster/apps/cilium-system/cilium/app/helm-release.yaml
Labels: area/kubernetes

Cilium: Enable default certificate for ingress controller.
  cluster/apps/cilium-system/cilium/app/helm-release.yaml
Labels: area/kubernetes

Hmm, let's try
  cluster/apps/default/whoami.yaml
Labels: area/kubernetes

Hmm, let's try
  cluster/apps/default/whoami.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/porla/porla to 483b08a
  cluster/apps/downloads/porla/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/porla/porla to 483b08a
  cluster/apps/downloads/porla/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart loki to 5.8.11
  cluster/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart node-feature-discovery to 0.13.3
  cluster/apps/system/node-feature-discovery/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart renovate to 36.18.0
  cluster/apps/ci/renovate/app/helm-release.yaml
Labels: area/kubernetes

ci(renovate): Auto-merge more things
  .github/renovate/autoMerge.json5
Labels: area/ci

ci(renovate): Auto-merge more things
  .github/renovate/autoMerge.json5
Labels: area/ci

chore(deps): update chart node-feature-discovery to 0.13.3
  cluster/apps/system/node-feature-discovery/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart node-feature-discovery to 0.13.3
  cluster/apps/system/node-feature-discovery/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart renovate to 36.18.0
  cluster/apps/ci/renovate/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart renovate to 36.18.0
  cluster/apps/ci/renovate/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart renovate to 36.18.2
  cluster/apps/ci/renovate/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart renovate to 36.18.2
  cluster/apps/ci/renovate/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to b75bfad
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to b75bfad
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/zedeus/nitter to 3255059
  cluster/apps/services/nitter/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/zedeus/nitter to 3255059
  cluster/apps/services/nitter/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/porla/porla to 1cbdb3e
  cluster/apps/downloads/porla/app/helm-release.yaml
Labels: area/kubernetes
