Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

chore(deps): update immich group to v1.67.1
  cluster/apps/default/immich/app/machine-learning/helm-release.yaml
  cluster/apps/default/immich/app/microservices/helm-release.yaml
  cluster/apps/default/immich/app/server/helm-release.yaml
  cluster/apps/default/immich/app/web/helm-release.yaml
Labels: area/kubernetes

Cilium: Hmm
  cluster/apps/cilium-system/cilium/app/helm-release.yaml
  cluster/apps/cilium-system/cilium/app/values.yaml
Labels: area/kubernetes

Cilium: Hmm
  cluster/apps/cilium-system/cilium/app/helm-release.yaml
  cluster/apps/cilium-system/cilium/app/values.yaml
Labels: area/kubernetes

chore(deps): update chart grafana to 6.58.3
  cluster/apps/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart grafana to 6.58.3
  cluster/apps/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

Cilium: Disable l7 proxy.
  cluster/apps/cilium-system/cilium/app/helm-release.yaml
Labels: area/kubernetes

Cilium: Disable l7 proxy.
  cluster/apps/cilium-system/cilium/app/helm-release.yaml
Labels: area/kubernetes

Move prefix around
  cluster/apps/cilium-system/cilium/config/loadbalancer-ips.yaml
  cluster/apps/home/mosquitto/app/helm-release.yaml
  cluster/apps/networking/k8s-gateway/app/helm-release.yaml
  cluster/apps/networking/nginx/app/helm-release.yaml
Labels: area/kubernetes

Move prefix around
  cluster/apps/cilium-system/cilium/config/loadbalancer-ips.yaml
  cluster/apps/home/mosquitto/app/helm-release.yaml
  cluster/apps/networking/k8s-gateway/app/helm-release.yaml
  cluster/apps/networking/nginx/app/helm-release.yaml
Labels: area/kubernetes

Does that make a difference?
  cluster/apps/cilium-system/cilium/config/BGP.yaml
Labels: area/kubernetes

Does that make a difference?
  cluster/apps/cilium-system/cilium/config/BGP.yaml
Labels: area/kubernetes

Ooh
  cluster/apps/cilium-system/cilium/ks.yaml
Labels: area/kubernetes

Ooh
  cluster/apps/cilium-system/cilium/ks.yaml
Labels: area/kubernetes

Yeet
  cluster/apps/default/kustomization.yaml
  cluster/apps/networking/kustomization.yaml
  provision/ansible/inventory/group_vars/master/k3s.yml
Labels: area/kubernetes

Yeet
  cluster/apps/default/kustomization.yaml
  cluster/apps/networking/kustomization.yaml
  provision/ansible/inventory/group_vars/master/k3s.yml
Labels: area/kubernetes

Yeet some more
  cluster/apps/home/kustomization.yaml
Labels: area/kubernetes

Yeet some more
  cluster/apps/home/kustomization.yaml
Labels: area/kubernetes

Yeet
  cluster/apps/tor/kustomization.yaml
Labels: area/kubernetes

Yeet
  cluster/apps/tor/kustomization.yaml
Labels: area/kubernetes

Plex tunk
  cluster/apps/media/plex/app/helm-release.yaml
Labels: area/kubernetes

Plex tunk
  cluster/apps/media/plex/app/helm-release.yaml
Labels: area/kubernetes

Yeet
  cluster/apps/media/kustomization.yaml
Labels: area/kubernetes

Yeet
  cluster/apps/media/kustomization.yaml
Labels: area/kubernetes

Cleanup
  archive/games/kustomization.yaml
  archive/games/namespace.yaml
  archive/games/satisfactory/app/config-pvc.yaml
  archive/games/satisfactory/app/helm-release.yaml
  archive/games/satisfactory/app/kustomization.yaml
  archive/games/satisfactory/ks.yaml
  archive/games/valheim/config-pvc.yaml
  archive/games/valheim/helm-release.yaml
  archive/games/valheim/kustomization.yaml
Labels: none

Cleanup
  archive/games/kustomization.yaml
  archive/games/namespace.yaml
  archive/games/satisfactory/app/config-pvc.yaml
  archive/games/satisfactory/app/helm-release.yaml
  archive/games/satisfactory/app/kustomization.yaml
  archive/games/satisfactory/ks.yaml
  archive/games/valheim/config-pvc.yaml
  archive/games/valheim/helm-release.yaml
  archive/games/valheim/kustomization.yaml
Labels: none

un-yeet
  cluster/apps/media/kustomization.yaml
  cluster/apps/networking/kustomization.yaml
Labels: area/kubernetes

un-yeet
  cluster/apps/media/kustomization.yaml
  cluster/apps/networking/kustomization.yaml
Labels: area/kubernetes

chore(deps): update github/codeql-action digest to 489225d
  .github/workflows/scan-containers.yaml
Labels: area/ci

chore(deps): update image docker.io/browserless/chrome to 1c2c36c
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to 1c2c36c
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update immich group to v1.67.2
  cluster/apps/default/immich/app/machine-learning/helm-release.yaml
  cluster/apps/default/immich/app/microservices/helm-release.yaml
  cluster/apps/default/immich/app/server/helm-release.yaml
  cluster/apps/default/immich/app/web/helm-release.yaml
Labels: area/kubernetes

chore(deps): update immich group to v1.67.2
  cluster/apps/default/immich/app/machine-learning/helm-release.yaml
  cluster/apps/default/immich/app/microservices/helm-release.yaml
  cluster/apps/default/immich/app/server/helm-release.yaml
  cluster/apps/default/immich/app/web/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/zedeus/nitter to 513f637
  cluster/apps/services/nitter/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/zedeus/nitter to 513f637
  cluster/apps/services/nitter/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/porla/porla to f9d458a
  cluster/apps/downloads/porla/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/porla/porla to f9d458a
  cluster/apps/downloads/porla/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.560
  cluster/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.560
  cluster/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

Cilium: I have no idea how to debug it.
  cluster/apps/cilium-system/cilium/app/helm-release.yaml
Labels: area/kubernetes

Cilium: I have no idea how to debug it.
  cluster/apps/cilium-system/cilium/app/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"
