Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*

Upgrade k3s to v1.30.2+k3s1
  provision/ansible/media/inventory/group_vars/kubernetes/k3s.yml
Labels: none

Upgrade k3s to v1.30.2+k3s1
  provision/ansible/media/inventory/group_vars/kubernetes/k3s.yml
Labels: none

Ansible things were yeeted from main taskfile... Oops.
  Taskfile.yaml
Labels: none

Ansible things were yeeted from main taskfile... Oops.
  Taskfile.yaml
Labels: none

Hmm
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Ah
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Ah
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Ah, right
  .taskfiles/Ansible/Taskfile.yaml
  k8s/media/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/media

Ah, right
  .taskfiles/Ansible/Taskfile.yaml
  k8s/media/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/media

Riight
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

Riight
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

Nebula: talos things
  k8s/nebula/talos/patches/global/hostDNS.yaml
  k8s/nebula/talos/patches/global/kubelet.yaml
Labels: area/kubernetes, cluster/nebula

Nebula: talos things
  k8s/nebula/talos/patches/global/hostDNS.yaml
  k8s/nebula/talos/patches/global/kubelet.yaml
Labels: area/kubernetes, cluster/nebula

Media: Deploy apps
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

Media: Deploy apps
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

That's a lol.
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

That's a lol.
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Oh
  k8s/media/apps/media/sonarr/app/helm-release.yaml
  k8s/media/apps/media/sonarr/app/kustomization.yaml
  k8s/media/apps/media/sonarr/app/pvc.yaml
Labels: area/kubernetes, cluster/media

Oh
  k8s/media/apps/media/sonarr/app/helm-release.yaml
  k8s/media/apps/media/sonarr/app/kustomization.yaml
  k8s/media/apps/media/sonarr/app/pvc.yaml
Labels: area/kubernetes, cluster/media

Fix them up
  k8s/media/apps/media/qbit/app/helm-release.yaml
  k8s/media/apps/media/qbittorrent/app/helm-release.yaml
  k8s/media/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Fix them up
  k8s/media/apps/media/qbit/app/helm-release.yaml
  k8s/media/apps/media/qbittorrent/app/helm-release.yaml
  k8s/media/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Does that fix it?
  k8s/media/apps/media/sonarr/app/externalsecret.yaml
Labels: area/kubernetes, cluster/media

Does that fix it?
  k8s/media/apps/media/sonarr/app/externalsecret.yaml
Labels: area/kubernetes, cluster/media

Pain
  k8s/media/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Pain
  k8s/media/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Oh
  k8s/media/apps/media/radarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Oh
  k8s/media/apps/media/radarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

Damn it
  k8s/media/apps/media/cross-seed/app/config/config.js
  k8s/media/apps/media/cross-seed/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Damn it
  k8s/media/apps/media/cross-seed/app/config/config.js
  k8s/media/apps/media/cross-seed/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Let's fix radarr paths
  k8s/media/apps/media/radarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Let's fix radarr paths
  k8s/media/apps/media/radarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/nebula/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hm
  k8s/nebula/apps/databases/cloudnative-pg/cluster/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hm
  k8s/nebula/apps/databases/cloudnative-pg/cluster/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Ah
  k8s/nebula/shared/system.yaml
Labels: area/kubernetes, cluster/nebula

Ah
  k8s/nebula/shared/system.yaml
Labels: area/kubernetes, cluster/nebula
