Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

Ah
  k8s/media/apps/media/cross-seed/app/helm-release.yaml
  k8s/media/apps/media/qbittorrent/app/helm-release.yaml
  k8s/media/apps/media/qbittorrent/app/pvc-non-volsync.yaml
  k8s/media/apps/media/qbittorrent/app/pvc.yaml
  k8s/media/apps/media/qbittorrent/ks.yaml
Labels: area/kubernetes, cluster/media

Yeet
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/qbittorrent/app/replicationdestination.yaml
Labels: area/kubernetes, cluster/media

Arg
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

This could be useful to have templated..
  k8s/media/apps/media/qbittorrent/app/replicationdestination.yaml
Labels: area/kubernetes, cluster/media

hmm
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

Poor me forgot to include it
  k8s/media/apps/media/kustomization.yaml
  k8s/media/apps/media/qbittorrent/app/kustomization.yaml
Labels: area/kubernetes, cluster/media

Will it work finally?
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

Oh, IT DID. Let's do cross-seed.
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/media-index/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Let's hope I can do this
  k8s/nebula/apps/kube-system/cilium/config/loadbalancer-ips.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/kube-system/cilium/config/loadbalancer-ips.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/networking/nginx/external/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/kube-system/cilium/config/BGP.yaml
Labels: area/kubernetes, cluster/nebula

HMM
  k8s/nebula/apps/kube-system/cilium/config/BGP.yaml
Labels: area/kubernetes, cluster/nebula

The SVC nets were screwed up, like majorly
  k8s/nebula/talos/talconfig.yaml
Labels: area/kubernetes, cluster/nebula

Might break it..
  k8s/media/apps/media/media-index/app/helm-release.yaml
  k8s/nebula/apps/networking/misc-ingresses/dh-ingress.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

Meh
  k8s/nebula/apps/monitoring/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

It does work with DVB now.
  k8s/media/apps/storage/kustomization.yaml
  k8s/nebula/talos/clusterconfig/.gitignore
  k8s/nebula/talos/talconfig.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

Yeet prom stack from base
  k8s/base/monitoring/prom-stack/overlays/gke/hr.yaml
  k8s/base/monitoring/prom-stack/overlays/nebula/helm-release.yaml
  k8s/base/monitoring/prom-stack/overlays/nebula/kustomization.yaml
  k8s/base/monitoring/prom-stack/overlays/nebula/resources/kube-state-metrics.yaml
  k8s/nebula/shared/monitoring.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/base/monitoring/prom-stack/crds/hr.yaml
  k8s/base/monitoring/prom-stack/crds/kustomization.yaml
  k8s/base/monitoring/prom-stack/crds/kustomize.yaml
  k8s/media/shared/monitoring.yaml
  k8s/nebula/shared/monitoring.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

Deploy prom-stack
  k8s/nebula/apps/monitoring/kustomization.yaml
  k8s/nebula/apps/monitoring/prom-stack/app/alertmanagerconfig.yaml
  k8s/nebula/apps/monitoring/prom-stack/app/es.yaml
  k8s/nebula/apps/monitoring/prom-stack/app/hr.yaml
  k8s/nebula/apps/monitoring/prom-stack/app/kustomization.yaml
  k8s/nebula/apps/monitoring/prom-stack/ks.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/base/flux-system/helm-chart-repos/prometheus-community.yaml
Labels: area/kubernetes

Hmm
  k8s/nebula/shared/monitoring.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/monitoring/prom-stack/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Add tailscale subnet router
  k8s/nebula/apps/networking/tailscale/extras/kustomization.yaml
  k8s/nebula/apps/networking/tailscale/extras/subnet-router.yaml
Labels: area/kubernetes, cluster/nebula

Let's add some advertised routes
  k8s/nebula/apps/networking/tailscale/extras/subnet-router.yaml
Labels: area/kubernetes, cluster/nebula

Yeet Protu related deployments from cluster
  k8s/nebula/apps/kustomization.yaml
  k8s/nebula/apps/protu/erp/app/config/odoo.conf
  k8s/nebula/apps/protu/erp/app/externalsecret.yaml
  k8s/nebula/apps/protu/erp/app/hr.yaml
  k8s/nebula/apps/protu/erp/app/kustomization.yaml
  k8s/nebula/apps/protu/erp/app/pvc-addons.yaml
  k8s/nebula/apps/protu/erp/ks.yaml
  k8s/nebula/apps/protu/kustomization.yaml
  k8s/nebula/apps/protu/moodle/app/es.yaml
  k8s/nebula/apps/protu/moodle/app/hr.yaml
  k8s/nebula/apps/protu/moodle/app/kustomization.yaml
  k8s/nebula/apps/protu/moodle/app/secret.sops.yaml
  k8s/nebula/apps/protu/moodle/ks.yaml
  k8s/nebula/apps/protu/ns.yaml
  k8s/nebula/apps/protu/website/app/externalsecret.yaml
  k8s/nebula/apps/protu/website/app/hr.yaml
  k8s/nebula/apps/protu/website/app/kustomization.yaml
  k8s/nebula/apps/protu/website/ks.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/monitoring/kromgo/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Let's fix kromgo
  k8s/nebula/apps/monitoring/kromgo/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Fun
  k8s/nebula/apps/home/zigbee2mqtt/exporter/hr.yaml
Labels: area/kubernetes, cluster/nebula

OH
  k8s/nebula/apps/home/mosquitto/exporter/hr.yaml
  k8s/nebula/apps/home/zigbee2mqtt/exporter/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/home/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/home/mosquitto/exporter/hr.yaml
  k8s/nebula/apps/home/zigbee2mqtt/exporter/hr.yaml
Labels: area/kubernetes, cluster/nebula

This might still work
  k8s/nebula/apps/home/zigbee2mqtt/exporter/hr.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/home/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/talos/patches/controller/cluster.yaml
Labels: area/kubernetes, cluster/nebula

Don't use development trunk for zipline
  k8s/nebula/apps/default/zipline/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Resource limits
  k8s/nebula/apps/collab/littlelink/app/helm-release.yaml
  k8s/nebula/apps/default/paperless/app/helm-release.yaml
  k8s/nebula/apps/default/smtp-relay/app/helm-release.yaml
  k8s/nebula/apps/default/your_spotify/app/hr.yaml
  k8s/nebula/apps/home/esphome/app/helm-release.yaml
  k8s/nebula/apps/monitoring/prom-stack/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*
