Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*

Fix externaldns internal secret
  k8s/nebula/apps/networking/external-dns/internal/externalsecret-store.yaml
  k8s/nebula/apps/networking/external-dns/internal/externalsecret.yaml
  k8s/nebula/apps/networking/external-dns/internal/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Fix externaldns internal secret
  k8s/nebula/apps/networking/external-dns/internal/externalsecret-store.yaml
  k8s/nebula/apps/networking/external-dns/internal/externalsecret.yaml
  k8s/nebula/apps/networking/external-dns/internal/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Secrets..
  k8s/nebula/apps/media/autobrr/app/externalsecret-store.yaml
  k8s/nebula/apps/media/autobrr/app/externalsecret.yaml
  k8s/nebula/apps/media/autobrr/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Secrets..
  k8s/nebula/apps/media/autobrr/app/externalsecret-store.yaml
  k8s/nebula/apps/media/autobrr/app/externalsecret.yaml
  k8s/nebula/apps/media/autobrr/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

prowlarr: Fix it.
  k8s/nebula/apps/media/prowlarr/app/externalsecret-store.yaml
  k8s/nebula/apps/media/prowlarr/app/externalsecret.yaml
  k8s/nebula/apps/media/prowlarr/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

prowlarr: Fix it.
  k8s/nebula/apps/media/prowlarr/app/externalsecret-store.yaml
  k8s/nebula/apps/media/prowlarr/app/externalsecret.yaml
  k8s/nebula/apps/media/prowlarr/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

zipline: Secret fix
  k8s/nebula/apps/default/zipline/app/externalsecret-store.yaml
  k8s/nebula/apps/default/zipline/app/externalsecret.yaml
  k8s/nebula/apps/default/zipline/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

zipline: Secret fix
  k8s/nebula/apps/default/zipline/app/externalsecret-store.yaml
  k8s/nebula/apps/default/zipline/app/externalsecret.yaml
  k8s/nebula/apps/default/zipline/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

linkwarden: Fix secret
  k8s/nebula/apps/default/linkwarden/app/externalsecret-store.yaml
  k8s/nebula/apps/default/linkwarden/app/externalsecret.yaml
  k8s/nebula/apps/default/linkwarden/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

linkwarden: Fix secret
  k8s/nebula/apps/default/linkwarden/app/externalsecret-store.yaml
  k8s/nebula/apps/default/linkwarden/app/externalsecret.yaml
  k8s/nebula/apps/default/linkwarden/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

z2m: Fix secret
  k8s/nebula/apps/home/zigbee2mqtt/app/externalsecret-store.yaml
  k8s/nebula/apps/home/zigbee2mqtt/app/externalsecret.yaml
  k8s/nebula/apps/home/zigbee2mqtt/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

z2m: Fix secret
  k8s/nebula/apps/home/zigbee2mqtt/app/externalsecret-store.yaml
  k8s/nebula/apps/home/zigbee2mqtt/app/externalsecret.yaml
  k8s/nebula/apps/home/zigbee2mqtt/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

assistant: Fix secret
  k8s/nebula/apps/home/assistant/app/externalsecret-store.yaml
  k8s/nebula/apps/home/assistant/app/externalsecret.yaml
  k8s/nebula/apps/home/assistant/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

assistant: Fix secret
  k8s/nebula/apps/home/assistant/app/externalsecret-store.yaml
  k8s/nebula/apps/home/assistant/app/externalsecret.yaml
  k8s/nebula/apps/home/assistant/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Oops
  k8s/nebula/apps/default/linkwarden/app/externalsecret.yaml
  k8s/nebula/apps/default/zipline/app/externalsecret.yaml
Labels: area/kubernetes, cluster/nebula

Oops
  k8s/nebula/apps/default/linkwarden/app/externalsecret.yaml
  k8s/nebula/apps/default/zipline/app/externalsecret.yaml
Labels: area/kubernetes, cluster/nebula

Damn it
  k8s/nebula/apps/default/linkwarden/app/externalsecret.yaml
  k8s/nebula/apps/home/assistant/app/externalsecret.yaml
Labels: area/kubernetes, cluster/nebula

Damn it
  k8s/nebula/apps/default/linkwarden/app/externalsecret.yaml
  k8s/nebula/apps/home/assistant/app/externalsecret.yaml
Labels: area/kubernetes, cluster/nebula

Meh
  k8s/nebula/apps/default/linkwarden/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Meh
  k8s/nebula/apps/default/linkwarden/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Deploy rook to Media cluster
  k8s/media/apps/storage/kustomization.yaml
Labels: area/kubernetes, cluster/media

Deploy rook to Media cluster
  k8s/media/apps/storage/kustomization.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/kustomization.yaml
  k8s/media/apps/media/qbit/app/pvc.yaml
  k8s/media/apps/media/qbittorrent/app/pvc.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/kustomization.yaml
  k8s/media/apps/media/qbit/app/pvc.yaml
  k8s/media/apps/media/qbittorrent/app/pvc.yaml
Labels: area/kubernetes, cluster/media

Hm
  k8s/media/apps/media/radarr/app/pvc.yaml
Labels: area/kubernetes, cluster/media

Hm
  k8s/media/apps/media/radarr/app/pvc.yaml
Labels: area/kubernetes, cluster/media

Meh
  k8s/media/apps/media/qbit/app/helm-release.yaml
  k8s/media/apps/media/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Meh
  k8s/media/apps/media/qbit/app/helm-release.yaml
  k8s/media/apps/media/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Argh
  k8s/media/apps/media/kustomization.yaml
  k8s/nebula/apps/databases/cloudnative-pg/cluster/lb.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

Argh
  k8s/media/apps/media/kustomization.yaml
  k8s/nebula/apps/databases/cloudnative-pg/cluster/lb.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

Arghhhh
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

Arghhhh
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

Huh
  k8s/media/apps/media/kustomization.yaml
  k8s/media/apps/media/qbit/app/config/completed.sh
  k8s/media/apps/media/qbit/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Huh
  k8s/media/apps/media/kustomization.yaml
  k8s/media/apps/media/qbit/app/config/completed.sh
  k8s/media/apps/media/qbit/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

fix:
  provision/ansible/media/inventory/hosts.yaml
  provision/ansible/playbooks/cilium-fix-addresses.yaml
Labels: none

fix:
  provision/ansible/media/inventory/hosts.yaml
  provision/ansible/playbooks/cilium-fix-addresses.yaml
Labels: none

fix:
  k8s/nebula/apps/kube-system/cilium/app/values.yaml
  provision/ansible/media/inventory/group_vars/kubernetes/k3s.yml
  provision/ansible/media/inventory/group_vars/master/k3s.yml
  provision/ansible/nebula/inventory/group_vars/worker/k3s.yml
Labels: area/kubernetes, cluster/nebula

fix:
  k8s/nebula/apps/kube-system/cilium/app/values.yaml
  provision/ansible/media/inventory/group_vars/kubernetes/k3s.yml
  provision/ansible/media/inventory/group_vars/master/k3s.yml
  provision/ansible/nebula/inventory/group_vars/worker/k3s.yml
Labels: area/kubernetes, cluster/nebula

Ah
  k8s/media/apps/media/qbit/app/kustomization.yaml
Labels: area/kubernetes, cluster/media

Ah
  k8s/media/apps/media/qbit/app/kustomization.yaml
Labels: area/kubernetes, cluster/media
