Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

Own thing is broken atm
  cluster/apps/networking/external-dns/app-cf/helm-release.yaml
Labels: area/kubernetes

Own thing is broken atm
  cluster/apps/networking/external-dns/app-cf/helm-release.yaml
Labels: area/kubernetes

Oh
  cluster/apps/networking/kustomization.yaml
Labels: area/kubernetes

Oh
  cluster/apps/networking/kustomization.yaml
Labels: area/kubernetes

cloudflared: dang
  cluster/apps/networking/cloudflared/app/kustomization.yaml
Labels: area/kubernetes

cloudflared: dang
  cluster/apps/networking/cloudflared/app/kustomization.yaml
Labels: area/kubernetes

Hmm
  cluster/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes

Hmm
  cluster/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes

cloudflared thing
  cluster/flux/add-ons/webhook/github/ingress.yaml
Labels: area/kubernetes

cloudflared thing
  cluster/flux/add-ons/webhook/github/ingress.yaml
Labels: area/kubernetes

Fix
  cluster/apps/comms/matrix-synapse/app/helm-release.yaml
  cluster/flux/add-ons/webhook/github/ingress.yaml
Labels: area/kubernetes

Fix
  cluster/apps/comms/matrix-synapse/app/helm-release.yaml
  cluster/flux/add-ons/webhook/github/ingress.yaml
Labels: area/kubernetes

Did a thing
  cluster/apps/services/nitter/app/helm-release.yaml
  cluster/apps/services/piped/app/helm-release.yaml
  cluster/apps/services/proxitok/app/web/helm-release.yaml
Labels: area/kubernetes

Did a thing
  cluster/apps/services/nitter/app/helm-release.yaml
  cluster/apps/services/piped/app/helm-release.yaml
  cluster/apps/services/proxitok/app/web/helm-release.yaml
Labels: area/kubernetes

synapse: Some workers
  cluster/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes

synapse: Some workers
  cluster/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes

Deploy redis-sentinel
  cluster/apps/databases/kustomization.yaml
  cluster/apps/databases/redis-sentinel/app/helm-release.yaml
  cluster/apps/databases/redis-sentinel/app/kustomization.yaml
  cluster/apps/databases/redis-sentinel/ks.yaml
Labels: area/kubernetes

Deploy redis-sentinel
  cluster/apps/databases/kustomization.yaml
  cluster/apps/databases/redis-sentinel/app/helm-release.yaml
  cluster/apps/databases/redis-sentinel/app/kustomization.yaml
  cluster/apps/databases/redis-sentinel/ks.yaml
Labels: area/kubernetes

That's what I get from copy-pasting..
  cluster/apps/databases/redis-sentinel/app/kustomization.yaml
Labels: area/kubernetes

That's what I get from copy-pasting..
  cluster/apps/databases/redis-sentinel/app/kustomization.yaml
Labels: area/kubernetes

Use external redis or try to.
  cluster/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes

Use external redis or try to.
  cluster/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes

Hmm
  cluster/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes

Hmm
  cluster/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart snapshot-controller to 1.8.3
  cluster/apps/system/snapshot-controller/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image thecodingmachine/gotenberg to v7.9.1
  cluster/apps/default/paperless/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image thecodingmachine/gotenberg to v7.9.1
  cluster/apps/default/paperless/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart goldilocks to 7.0.0
  cluster/apps/monitoring/goldilocks/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart vpa to 2.2.0
  cluster/apps/monitoring/vpa/app/helm-release.yaml
Labels: area/kubernetes

synapse: Hmm
  cluster/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes

synapse: Hmm
  cluster/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 14fd5e3
  cluster/apps/collab/littlelink/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 14fd5e3
  cluster/apps/collab/littlelink/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/renovatebot/renovate to v36.16
  cluster/apps/ci/renovate/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/renovatebot/renovate to v36.16
  cluster/apps/ci/renovate/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update github/codeql-action digest to 1813ca7
  .github/workflows/scan-containers.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to 1813ca7
  .github/workflows/scan-containers.yaml
Labels: area/ci

chore(deps): update image ghcr.io/renovatebot/renovate to v36.17
  cluster/apps/ci/renovate/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/renovatebot/renovate to v36.17
  cluster/apps/ci/renovate/app/helm-release.yaml
Labels: area/kubernetes

Yeet w1
  provision/ansible/inventory/hosts.yml
Labels: none

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"
