Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"

chore(deps): update image ghcr.io/paperless-ngx/paperless-ngx to v1.14.3
  cluster/apps/default/paperless/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/paperless-ngx/paperless-ngx to v1.14.3
  cluster/apps/default/paperless/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to b4bfdc3
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to b4bfdc3
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart kube-prometheus-stack to 45.25.0
  cluster/apps/monitoring/prom-stack/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart kube-prometheus-stack to 45.25.0
  cluster/apps/monitoring/prom-stack/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update github/codeql-action digest to 29b1f65
  .github/workflows/scan-containers.yaml
Labels: area/ci

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 63d482d
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 63d482d
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/prowlarr-develop to v1.4.1.3258
  cluster/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/prowlarr-develop to v1.4.1.3258
  cluster/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/paperless-ngx/paperless-ngx to v1.14.4
  cluster/apps/default/paperless/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/paperless-ngx/paperless-ngx to v1.14.4
  cluster/apps/default/paperless/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart piped to 2.4.0
  cluster/apps/services/piped/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image dpage/pgadmin4 to v7.1
  cluster/apps/databases/pgadmin/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image dpage/pgadmin4 to v7.1
  cluster/apps/databases/pgadmin/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to 7a5bfe6
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to 7a5bfe6
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update chart ingress-nginx to 4.6.1
  cluster/apps/networking/nginx/app/helm-release.yaml
  cluster/apps/tor/nginx/helm-release.yaml
Labels: area/kubernetes

chore(deps): update community.docker to 3.4.5
  provision/ansible/requirements.yml
Labels: none

chore(deps): update community.docker to 3.4.5
  provision/ansible/requirements.yml
Labels: none

Littlelink: Links page
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

Littlelink: Links page
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

Littlelink: Kustomization things..
  cluster/apps/collab/kustomization.yaml
  cluster/apps/collab/littlelink/app/helm-release.yaml
  cluster/apps/collab/littlelink/app/kustomization.yaml
  cluster/apps/collab/littlelink/ks.yaml
Labels: area/kubernetes

Littlelink: Kustomization things..
  cluster/apps/collab/kustomization.yaml
  cluster/apps/collab/littlelink/app/helm-release.yaml
  cluster/apps/collab/littlelink/app/kustomization.yaml
  cluster/apps/collab/littlelink/ks.yaml
Labels: area/kubernetes

Remove DEV_DOMAIN as it expired.
  cluster/apps/cert-manager/cert-manager/certificates/wildcards/dev-domain-certificate.yaml
  cluster/apps/cert-manager/cert-manager/certificates/wildcards/kustomization.yaml
  cluster/apps/networking/external-dns/app/helm-release-cf.yaml
Labels: area/kubernetes

Remove DEV_DOMAIN as it expired.
  cluster/apps/cert-manager/cert-manager/certificates/wildcards/dev-domain-certificate.yaml
  cluster/apps/cert-manager/cert-manager/certificates/wildcards/kustomization.yaml
  cluster/apps/networking/external-dns/app/helm-release-cf.yaml
Labels: area/kubernetes

chore(deps): update chart descheduler to 0.27.0
  cluster/apps/system/descheduler/helm-release.yaml
Labels: area/kubernetes

chore(deps): update docker to 6.1.0
  provision/ansible/requirements.txt
Labels: none

chore(deps): update image docker.io/maxmindinc/geoipupdate to v5.1
  cluster/apps/monitoring/vector/geoipupdate/cron-job.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/maxmindinc/geoipupdate to v5.1
  cluster/apps/monitoring/vector/geoipupdate/cron-job.yaml
Labels: area/kubernetes

chore(deps): update github/codeql-action digest to 29b1f65
  .github/workflows/scan-containers.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to 29b1f65
  .github/workflows/scan-containers.yaml
Labels: area/ci

chore(deps): update image ghcr.io/home-assistant/home-assistant to v2023.5.2
  cluster/apps/home/assistant/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/home-assistant/home-assistant to v2023.5.2
  cluster/apps/home/assistant/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update renovatebot/github-action action to v36.1.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v36.1.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update chart loki to 5.5.0
  cluster/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to e0ec1dc
  cluster/apps/collab/littlelink/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to e0ec1dc
  cluster/apps/collab/littlelink/app/helm-release.yaml
Labels: area/kubernetes
