Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

Hmm
  k8s/media/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/media

snapshot-controller things
  k8s/media/apps/storage/snapshot-controller/app/helm-release.yaml
  k8s/media/apps/storage/snapshot-controller/app/webhook/helm-release.yaml
Labels: area/kubernetes, cluster/media

snapshot-controller things
  k8s/media/apps/storage/snapshot-controller/app/helm-release.yaml
  k8s/media/apps/storage/snapshot-controller/app/webhook/helm-release.yaml
Labels: area/kubernetes, cluster/media

yaml and idents...
  k8s/media/apps/media/media-index/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

yaml and idents...
  k8s/media/apps/media/media-index/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

snapshot-controller things
  k8s/media/apps/storage/snapshot-controller/app/helm-release.yaml
  k8s/media/apps/storage/snapshot-controller/app/webhook/helm-release.yaml
  k8s/media/apps/storage/snapshot-controller/app/webhook/kustomization.yaml
  k8s/media/apps/storage/snapshot-controller/ks.yaml
Labels: area/kubernetes, cluster/media

snapshot-controller things
  k8s/media/apps/storage/snapshot-controller/app/helm-release.yaml
  k8s/media/apps/storage/snapshot-controller/app/webhook/helm-release.yaml
  k8s/media/apps/storage/snapshot-controller/app/webhook/kustomization.yaml
  k8s/media/apps/storage/snapshot-controller/ks.yaml
Labels: area/kubernetes, cluster/media

Ah
  k8s/media/apps/storage/snapshot-controller/app/kustomization.yaml
Labels: area/kubernetes, cluster/media

Ah
  k8s/media/apps/storage/snapshot-controller/app/kustomization.yaml
Labels: area/kubernetes, cluster/media

Huh?
  k8s/media/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/media

Huh?
  k8s/media/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/unpackerr/app/externalsecret.yaml
  k8s/media/apps/media/unpackerr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/unpackerr/app/externalsecret.yaml
  k8s/media/apps/media/unpackerr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Let's see..
  k8s/media/apps/media/qbittorrent/ks.yaml
  k8s/media/apps/media/qbittorrent/tools/hr.yaml
  k8s/media/apps/media/qbittorrent/tools/kustomization.yaml
  k8s/media/apps/media/qbittorrent/tools/manage/config/config.yaml
  k8s/media/apps/media/qbittorrent/tools/manage/helm-release.yaml
  k8s/media/apps/media/qbittorrent/tools/manage/kustomization.yaml
  k8s/media/apps/media/qbittorrent/tools/manage/patches/kustomizeconfig.yaml
  k8s/media/apps/media/qbittorrent/tools/orphaned/helm-release.yaml
  k8s/media/apps/media/qbittorrent/tools/orphaned/kustomization.yaml
  k8s/media/apps/media/qbittorrent/tools/qbtools.secret.sops.yaml
  k8s/media/apps/media/qbittorrent/tools/reannounce/helm-release.yaml
  k8s/media/apps/media/qbittorrent/tools/reannounce/kustomization.yaml
Labels: area/kubernetes, cluster/media

Let's see..
  k8s/media/apps/media/qbittorrent/ks.yaml
  k8s/media/apps/media/qbittorrent/tools/hr.yaml
  k8s/media/apps/media/qbittorrent/tools/kustomization.yaml
  k8s/media/apps/media/qbittorrent/tools/manage/config/config.yaml
  k8s/media/apps/media/qbittorrent/tools/manage/helm-release.yaml
  k8s/media/apps/media/qbittorrent/tools/manage/kustomization.yaml
  k8s/media/apps/media/qbittorrent/tools/manage/patches/kustomizeconfig.yaml
  k8s/media/apps/media/qbittorrent/tools/orphaned/helm-release.yaml
  k8s/media/apps/media/qbittorrent/tools/orphaned/kustomization.yaml
  k8s/media/apps/media/qbittorrent/tools/qbtools.secret.sops.yaml
  k8s/media/apps/media/qbittorrent/tools/reannounce/helm-release.yaml
  k8s/media/apps/media/qbittorrent/tools/reannounce/kustomization.yaml
Labels: area/kubernetes, cluster/media

That could help..
  k8s/media/apps/media/qbittorrent/ks.yaml
  k8s/media/apps/media/qbittorrent/tools/qbtools.secret.sops.yaml
Labels: area/kubernetes, cluster/media

That could help..
  k8s/media/apps/media/qbittorrent/ks.yaml
  k8s/media/apps/media/qbittorrent/tools/qbtools.secret.sops.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/nebula/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Will that work?
  .github/renovate/customVersionSchemes.json5
Labels: area/ci

Will that work?
  .github/renovate/customVersionSchemes.json5
Labels: area/ci

Hmm
  .github/renovate/customVersionSchemes.json5
Labels: area/ci

Hmm
  .github/renovate/customVersionSchemes.json5
Labels: area/ci

Hmm
  .github/renovate/groups.json5
Labels: area/ci

Hmm
  .github/renovate/groups.json5
Labels: area/ci

Enable the newer UI
  k8s/nebula/apps/finance/firefly/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Enable the newer UI
  k8s/nebula/apps/finance/firefly/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Revert "Enable the newer UI"
  k8s/nebula/apps/finance/firefly/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Revert "Enable the newer UI"
  k8s/nebula/apps/finance/firefly/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Upgrade zipline
  k8s/nebula/apps/default/zipline/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Upgrade zipline
  k8s/nebula/apps/default/zipline/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/default/zipline/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/default/zipline/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/default/zipline/app/externalsecret.yaml
  k8s/nebula/apps/default/zipline/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/default/zipline/app/externalsecret.yaml
  k8s/nebula/apps/default/zipline/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Fine, v4 does not support S3.
  k8s/nebula/apps/default/zipline/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Fine, v4 does not support S3.
  k8s/nebula/apps/default/zipline/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*
