Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

feat(helm): update helm release csi-driver-nfs to v4.2.0
  cluster/apps/storage/storage-classes/csi-driver-nfs/helm-release.yaml
Labels: area/kubernetes

fix(container): update esphome/esphome docker tag to v2023.2.3
  cluster/apps/home/esphome/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update esphome/esphome docker tag to v2023.2.3
  cluster/apps/home/esphome/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update esphome/esphome docker tag to v2023.2.3
  cluster/apps/home/esphome/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/techno-tim/littlelink-server:latest docker digest to 972ac5c
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/techno-tim/littlelink-server:latest docker digest to 972ac5c
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/techno-tim/littlelink-server:latest docker digest to 972ac5c
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v34.146.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(github-action): update renovatebot/github-action action to v34.146.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(github-action): update renovatebot/github-action action to v34.146.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(container): update docker.io/browserless/chrome:latest docker digest to fe05935
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update docker.io/browserless/chrome:latest docker digest to fe05935
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update docker.io/browserless/chrome:latest docker digest to fe05935
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/techno-tim/littlelink-server:latest docker digest to ae88578
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/techno-tim/littlelink-server:latest docker digest to ae88578
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/techno-tim/littlelink-server:latest docker digest to ae88578
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

Revert "feat(helm): update helm release csi-driver-nfs to v4.2.0 (#1193)"
  cluster/apps/storage/storage-classes/csi-driver-nfs/helm-release.yaml
Labels: area/kubernetes

Revert "feat(helm): update helm release csi-driver-nfs to v4.2.0 (#1193)"
  cluster/apps/storage/storage-classes/csi-driver-nfs/helm-release.yaml
Labels: area/kubernetes

Revert "feat(helm): update helm release csi-driver-nfs to v4.2.0 (#1193)"
  cluster/apps/storage/storage-classes/csi-driver-nfs/helm-release.yaml
Labels: area/kubernetes

fix(ansible): update dependency community.docker to v3.4.1
  provision/ansible/requirements.yml
Labels: none

fix(ansible): update dependency community.docker to v3.4.1
  provision/ansible/requirements.yml
Labels: none

fix(ansible): update dependency community.docker to v3.4.1
  provision/ansible/requirements.yml
Labels: none

fix(ansible): update dependency community.sops to v1.6.1
  provision/ansible/requirements.yml
Labels: none

fix(ansible): update dependency community.sops to v1.6.1
  provision/ansible/requirements.yml
Labels: none

fix(ansible): update dependency community.sops to v1.6.1
  provision/ansible/requirements.yml
Labels: none

It will probably yell about it...
  cluster/apps/system/kyverno/policies/inject-private-registry-secret.yaml
  cluster/apps/system/kyverno/policies/kustomization.yaml
Labels: area/kubernetes

It will probably yell about it...
  cluster/apps/system/kyverno/policies/inject-private-registry-secret.yaml
  cluster/apps/system/kyverno/policies/kustomization.yaml
Labels: area/kubernetes

It will probably yell about it...
  cluster/apps/system/kyverno/policies/inject-private-registry-secret.yaml
  cluster/apps/system/kyverno/policies/kustomization.yaml
Labels: area/kubernetes

Try 2
  cluster/apps/system/kyverno/policies/inject-private-registry-secret.yaml
Labels: area/kubernetes

Try 2
  cluster/apps/system/kyverno/policies/inject-private-registry-secret.yaml
Labels: area/kubernetes

Try 2
  cluster/apps/system/kyverno/policies/inject-private-registry-secret.yaml
Labels: area/kubernetes

ChatGPT thinks this is correct..
  cluster/apps/system/kyverno/policies/inject-private-registry-secret.yaml
Labels: area/kubernetes

ChatGPT thinks this is correct..
  cluster/apps/system/kyverno/policies/inject-private-registry-secret.yaml
Labels: area/kubernetes

ChatGPT thinks this is correct..
  cluster/apps/system/kyverno/policies/inject-private-registry-secret.yaml
Labels: area/kubernetes

ChatGPT is wrong
  cluster/apps/system/kyverno/policies/inject-private-registry-secret.yaml
Labels: area/kubernetes

ChatGPT is wrong
  cluster/apps/system/kyverno/policies/inject-private-registry-secret.yaml
Labels: area/kubernetes

ChatGPT is wrong
  cluster/apps/system/kyverno/policies/inject-private-registry-secret.yaml
Labels: area/kubernetes

This should work. :D
  cluster/apps/ahmia-search/kustomization.yaml
  cluster/apps/ahmia-search/secret.sops.yaml
  cluster/apps/system/kyverno/policies/inject-private-registry-secret.yaml
Labels: area/kubernetes

This should work. :D
  cluster/apps/ahmia-search/kustomization.yaml
  cluster/apps/ahmia-search/secret.sops.yaml
  cluster/apps/system/kyverno/policies/inject-private-registry-secret.yaml
Labels: area/kubernetes

This should work. :D
  cluster/apps/ahmia-search/kustomization.yaml
  cluster/apps/ahmia-search/secret.sops.yaml
  cluster/apps/system/kyverno/policies/inject-private-registry-secret.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"
