Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"

chore(deps): update image ghcr.io/onedr0p/qbittorrent to 0efdd8d
  cluster/apps/downloads/qbit/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/qbittorrent to 0efdd8d
  cluster/apps/downloads/qbit/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 39c7b2d
  cluster/apps/collab/littlelink/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 39c7b2d
  cluster/apps/collab/littlelink/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image registry.samipsolutions.fi/docker/linkstackorg/linkstack to 2cdbdea
  cluster/apps/collab/linkstack/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image registry.samipsolutions.fi/docker/linkstackorg/linkstack to 2cdbdea
  cluster/apps/collab/linkstack/app/helm-release.yaml
Labels: area/kubernetes

Does that do anything?
  cluster/apps/networking/nginx/app/helm-release.yaml
Labels: area/kubernetes

Does that do anything?
  cluster/apps/networking/nginx/app/helm-release.yaml
Labels: area/kubernetes

Dang it
  cluster/apps/system/kyverno/policies/update-ingress-annotations.yaml
Labels: area/kubernetes

Dang it
  cluster/apps/system/kyverno/policies/update-ingress-annotations.yaml
Labels: area/kubernetes

ingress targets
  cluster/apps/collab/linkstack/app/helm-release.yaml
  cluster/apps/collab/littlelink/app/helm-release.yaml
  cluster/apps/comms/matrix-synapse/app/helm-release.yaml
  cluster/apps/default/immich/app/web/helm-release.yaml
  cluster/apps/default/paperless/app/helm-release.yaml
  cluster/apps/default/theme-park/app/helmrelease.yaml
  cluster/apps/home/assistant/app/helm-release.yaml
  cluster/apps/home/esphome/app/helm-release.yaml
  cluster/apps/home/zigbee2mqtt/app/helm-release.yaml
  cluster/apps/media/jellyseer/helm-release.yaml
  cluster/apps/media/plex/app/helm-release.yaml
  cluster/apps/media/prowlarr/app/helm-release.yaml
  cluster/apps/media/sonarr/app/helm-release.yaml
  cluster/apps/services/nitter/app/helm-release.yaml
Labels: area/kubernetes

ingress targets
  cluster/apps/collab/linkstack/app/helm-release.yaml
  cluster/apps/collab/littlelink/app/helm-release.yaml
  cluster/apps/comms/matrix-synapse/app/helm-release.yaml
  cluster/apps/default/immich/app/web/helm-release.yaml
  cluster/apps/default/paperless/app/helm-release.yaml
  cluster/apps/default/theme-park/app/helmrelease.yaml
  cluster/apps/home/assistant/app/helm-release.yaml
  cluster/apps/home/esphome/app/helm-release.yaml
  cluster/apps/home/zigbee2mqtt/app/helm-release.yaml
  cluster/apps/media/jellyseer/helm-release.yaml
  cluster/apps/media/plex/app/helm-release.yaml
  cluster/apps/media/prowlarr/app/helm-release.yaml
  cluster/apps/media/sonarr/app/helm-release.yaml
  cluster/apps/services/nitter/app/helm-release.yaml
Labels: area/kubernetes

Kyverno: Authentik mutate
  cluster/apps/system/kyverno/policies/update-ingress-annotations.yaml
Labels: area/kubernetes

Kyverno: Authentik mutate
  cluster/apps/system/kyverno/policies/update-ingress-annotations.yaml
Labels: area/kubernetes

Sonarr: Authentik protection
  cluster/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

Sonarr: Authentik protection
  cluster/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

Hmm
  cluster/apps/system/kyverno/policies/update-ingress-annotations.yaml
Labels: area/kubernetes

Hmm
  cluster/apps/system/kyverno/policies/update-ingress-annotations.yaml
Labels: area/kubernetes

chore(deps): update chart authentik to 2023.5.1
  cluster/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart authentik to 2023.5.1
  cluster/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart grafana to 6.56.5
  cluster/apps/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart grafana to 6.56.5
  cluster/apps/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/bjw-s/github-actions-runner to ba72936
  cluster/apps/ci/github-actions/runners/samipsolutions-runners.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/bjw-s/github-actions-runner to ba72936
  cluster/apps/ci/github-actions/runners/samipsolutions-runners.yaml
Labels: area/kubernetes

chore(deps): update community.docker to 3.4.6
  provision/ansible/requirements.yml
Labels: none

chore(deps): update community.docker to 3.4.6
  provision/ansible/requirements.yml
Labels: none

ci(renovate): Do not pin actions
  .github/renovate.json5
Labels: area/ci

ci(renovate): Do not pin actions
  .github/renovate.json5
Labels: area/ci

Update '.github/workflows/helm-release-differ.yaml'
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

Update '.github/workflows/helm-release-differ.yaml'
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

chore(deps): update chart reflector to 7.0.173
  cluster/apps/system/reflector/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart reflector to 7.0.173
  cluster/apps/system/reflector/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to f107887
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to f107887
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/bjw-s/github-actions-runner to 3595a5b
  cluster/apps/ci/github-actions/runners/samipsolutions-runners.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/bjw-s/github-actions-runner to 3595a5b
  cluster/apps/ci/github-actions/runners/samipsolutions-runners.yaml
Labels: area/kubernetes

Plex: Tweak ingress
  cluster/apps/media/plex/app/helm-release.yaml
Labels: area/kubernetes

Deploy Radarr, recyclerr
  cluster/apps/media/kustomization.yaml
  cluster/apps/media/radarr/app/helm-release.yaml
  cluster/apps/media/radarr/app/kustomization.yaml
  cluster/apps/media/radarr/app/pvc.yaml
  cluster/apps/media/radarr/app/secret.sops.yaml
  cluster/apps/media/radarr/ks.yaml
  cluster/apps/media/recyclarr/app/config/recyclarr.yml
  cluster/apps/media/recyclarr/app/helm-release.yaml
  cluster/apps/media/recyclarr/app/kustomization.yaml
  cluster/apps/media/recyclarr/app/pvc.yaml
  cluster/apps/media/recyclarr/app/secret.sops.yaml
  cluster/apps/media/recyclarr/ks.yaml
Labels: area/kubernetes

Deploy Radarr, recyclerr
  cluster/apps/media/kustomization.yaml
  cluster/apps/media/radarr/app/helm-release.yaml
  cluster/apps/media/radarr/app/kustomization.yaml
  cluster/apps/media/radarr/app/pvc.yaml
  cluster/apps/media/radarr/app/secret.sops.yaml
  cluster/apps/media/radarr/ks.yaml
  cluster/apps/media/recyclarr/app/config/recyclarr.yml
  cluster/apps/media/recyclarr/app/helm-release.yaml
  cluster/apps/media/recyclarr/app/kustomization.yaml
  cluster/apps/media/recyclarr/app/pvc.yaml
  cluster/apps/media/recyclarr/app/secret.sops.yaml
  cluster/apps/media/recyclarr/ks.yaml
Labels: area/kubernetes

Plex: Tweak ingress
  cluster/apps/media/plex/app/helm-release.yaml
Labels: area/kubernetes
