Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

chore(deps): update chart grafana to 6.57.3
  cluster/apps/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart reflector to 7.0.178
  cluster/apps/system/reflector/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart reloader to 1.0.28
  cluster/apps/system/reloader/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart snapshot-controller to 1.8.1
  cluster/apps/system/snapshot-controller/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart vector to 0.22.1
  cluster/apps/monitoring/vector/agent/helm-release.yaml
  cluster/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/kubernetes

chore(deps): update community.docker to 3.4.7
  provision/ansible/requirements.yml
Labels: none

chore(deps): update community.docker to 3.4.7
  provision/ansible/requirements.yml
Labels: none

chore(deps): update chart reloader to 1.0.28 (#1377)
  cluster/apps/system/reloader/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart reloader to 1.0.28 (#1377)
  cluster/apps/system/reloader/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart snapshot-controller to 1.8.1 (#1378)
  cluster/apps/system/snapshot-controller/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart snapshot-controller to 1.8.1 (#1378)
  cluster/apps/system/snapshot-controller/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/theme-park to bbd090e
  cluster/apps/default/theme-park/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/theme-park to bbd090e
  cluster/apps/default/theme-park/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 26428cc
  cluster/apps/collab/littlelink/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 26428cc
  cluster/apps/collab/littlelink/app/helm-release.yaml
Labels: area/kubernetes

Immich: Upgrade 1.62.1
  cluster/apps/default/immich/app/machine-learning/helm-release.yaml
  cluster/apps/default/immich/app/microservices/helm-release.yaml
  cluster/apps/default/immich/app/server/helm-release.yaml
  cluster/apps/default/immich/app/web/helm-release.yaml
Labels: area/kubernetes

Immich: Upgrade 1.62.1
  cluster/apps/default/immich/app/machine-learning/helm-release.yaml
  cluster/apps/default/immich/app/microservices/helm-release.yaml
  cluster/apps/default/immich/app/server/helm-release.yaml
  cluster/apps/default/immich/app/web/helm-release.yaml
Labels: area/kubernetes

Deploy youtubedl
  cluster/apps/media/kustomization.yaml
  cluster/apps/media/youtubedl/app/helm-release.yaml
Labels: area/kubernetes

Deploy youtubedl
  cluster/apps/media/kustomization.yaml
  cluster/apps/media/youtubedl/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to 3e288cb
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to 3e288cb
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update community.general to 6.6.2
  provision/ansible/requirements.yml
Labels: none

chore(deps): update community.general to 6.6.2
  provision/ansible/requirements.yml
Labels: none

chore(deps): update chart cert-manager to v1.12.2 (#1374)
  cluster/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart cert-manager to v1.12.2 (#1374)
  cluster/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart reflector to 7.0.178 (#1376)
  cluster/apps/system/reflector/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart reflector to 7.0.178 (#1376)
  cluster/apps/system/reflector/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart vector to 0.22.1 (#1379)
  cluster/apps/monitoring/vector/agent/helm-release.yaml
  cluster/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart vector to 0.22.1 (#1379)
  cluster/apps/monitoring/vector/agent/helm-release.yaml
  cluster/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/kubernetes

chore(deps): update github/codeql-action digest to f6e388e
  .github/workflows/scan-containers.yaml
Labels: area/ci

chore(deps): update image docker.io/browserless/chrome to bff2e1a
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to bff2e1a
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 9224ba9
  cluster/apps/collab/littlelink/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 9224ba9
  cluster/apps/collab/littlelink/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart authentik to 2023.5.4
  cluster/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart authentik to 2023.5.4
  cluster/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart intel-device-plugins-gpu to 0.27.1
  cluster/apps/system/intel-device-plugins/gpu/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart intel-device-plugins-operator to 0.27.1
  cluster/apps/system/intel-device-plugins/operator/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart node-problem-detector to 2.3.5
  cluster/apps/monitoring/node-problem-detector/helm-release.yaml
Labels: area/kubernetes

chore(deps): update community.docker to 3.4.8
  provision/ansible/requirements.yml
Labels: none

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"
