Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*

Let's try that
  k8s/nebula/apps/networking/external-dns/internal/externalsecret.yaml
Labels: area/kubernetes, cluster/nebula

Let's try that
  k8s/nebula/apps/networking/external-dns/internal/externalsecret.yaml
Labels: area/kubernetes, cluster/nebula

Fix secret
  k8s/base/cert-manager/issuers/kapsi-bind-secret.sops.yaml
Labels: area/kubernetes

Fix secret
  k8s/base/cert-manager/issuers/kapsi-bind-secret.sops.yaml
Labels: area/kubernetes

Hmm
  k8s/nebula/apps/networking/external-dns/internal/externalsecret.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/networking/external-dns/internal/externalsecret.yaml
Labels: area/kubernetes, cluster/nebula

Is that the problemo?
  k8s/nebula/apps/networking/external-dns/internal-kapsi/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Is that the problemo?
  k8s/nebula/apps/networking/external-dns/internal-kapsi/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/base/cert-manager/issuers/zerossl-production.yaml
Labels: area/kubernetes

Huh
  k8s/base/cert-manager/issuers/zerossl-production.yaml
Labels: area/kubernetes

Hmm
  k8s/base/cert-manager/issuers/letsencrypt-production.yaml
  k8s/base/cert-manager/issuers/zerossl-production.yaml
  k8s/nebula/apps/school/blog/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/base/cert-manager/issuers/letsencrypt-production.yaml
  k8s/base/cert-manager/issuers/zerossl-production.yaml
  k8s/nebula/apps/school/blog/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/base/cert-manager/overlays/nebula/certificates/wildcards/iki-domain-wild.yaml
  k8s/base/cert-manager/overlays/nebula/certificates/wildcards/kustomization.yaml
Labels: area/kubernetes

Hmm
  k8s/base/cert-manager/overlays/nebula/certificates/wildcards/iki-domain-wild.yaml
  k8s/base/cert-manager/overlays/nebula/certificates/wildcards/kustomization.yaml
Labels: area/kubernetes

Hmm
  k8s/nebula/apps/school/blog/app/hr.yaml
  k8s/nebula/apps/school/blog/ks.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/school/blog/app/hr.yaml
  k8s/nebula/apps/school/blog/ks.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/school/blog/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/school/blog/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Renovate: allow the Factorio version schema.
  .github/renovate/customVersionSchemes.json5
Labels: area/ci

Renovate: allow the Factorio version schema.
  .github/renovate/customVersionSchemes.json5
Labels: area/ci

Increase Immich cache
  k8s/nebula/apps/default/immich/ks.yaml
Labels: area/kubernetes, cluster/nebula

Increase Immich cache
  k8s/nebula/apps/default/immich/ks.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/media/nextpvr/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/media/nextpvr/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Memory limits fo Firefly
  k8s/nebula/apps/finance/firefly/app/helm-release.yaml
  k8s/nebula/apps/finance/firefly/importer/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Memory limits fo Firefly
  k8s/nebula/apps/finance/firefly/app/helm-release.yaml
  k8s/nebula/apps/finance/firefly/importer/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

tvheadend: No need for debug logs.
  k8s/nebula/apps/media/tvheadend/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

tvheadend: No need for debug logs.
  k8s/nebula/apps/media/tvheadend/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

fix(volsync): ondr0p's image is deprecated so move to jory's.
  k8s/media/apps/volsync/volsync/app/hr.yaml
  k8s/nebula/apps/volsync/volsync/app/hr.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

fix(volsync): ondr0p's image is deprecated so move to jory's.
  k8s/media/apps/volsync/volsync/app/hr.yaml
  k8s/nebula/apps/volsync/volsync/app/hr.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

fix: rollback to HASS 2024.11.3 due to home-assistant/core#132336
  .github/renovate/pinnedVersions.json5
  k8s/nebula/apps/home/assistant/app/helm-release.yaml
Labels: area/ci, area/kubernetes, cluster/nebula

fix: rollback to HASS 2024.11.3 due to home-assistant/core#132336
  .github/renovate/pinnedVersions.json5
  k8s/nebula/apps/home/assistant/app/helm-release.yaml
Labels: area/ci, area/kubernetes, cluster/nebula

rook: will everything go poof?
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

rook: will everything go poof?
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

rook: will it apply it?
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

rook: will it apply it?
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula
