Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

Deploy Moodle
  k8s/nebula/apps/protu/moodle/app/es.yaml
  k8s/nebula/apps/protu/moodle/app/hr.yaml
  k8s/nebula/apps/protu/moodle/app/kustomization.yaml
  k8s/nebula/apps/protu/moodle/ks.yaml
Labels: area/kubernetes, cluster/nebula

Deploy Moodle
  k8s/nebula/apps/protu/moodle/app/es.yaml
  k8s/nebula/apps/protu/moodle/app/hr.yaml
  k8s/nebula/apps/protu/moodle/app/kustomization.yaml
  k8s/nebula/apps/protu/moodle/ks.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/protu/moodle/app/es.yaml
  k8s/nebula/apps/protu/moodle/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/protu/moodle/app/es.yaml
  k8s/nebula/apps/protu/moodle/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/protu/moodle/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/protu/moodle/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Oops
  k8s/nebula/apps/protu/moodle/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Oops
  k8s/nebula/apps/protu/moodle/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hm
  k8s/nebula/apps/protu/moodle/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hm
  k8s/nebula/apps/protu/moodle/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/protu/moodle/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/protu/moodle/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

This should work?
  k8s/nebula/apps/protu/moodle/app/hr.yaml
  k8s/nebula/apps/protu/moodle/app/kustomization.yaml
  k8s/nebula/apps/protu/moodle/app/secret.sops.yaml
  k8s/nebula/apps/protu/moodle/ks.yaml
Labels: area/kubernetes, cluster/nebula

This should work?
  k8s/nebula/apps/protu/moodle/app/hr.yaml
  k8s/nebula/apps/protu/moodle/app/kustomization.yaml
  k8s/nebula/apps/protu/moodle/app/secret.sops.yaml
  k8s/nebula/apps/protu/moodle/ks.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/protu/moodle/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/protu/moodle/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Damn it
  k8s/nebula/apps/protu/moodle/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Damn it
  k8s/nebula/apps/protu/moodle/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/protu/moodle/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/protu/moodle/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Damn
  k8s/nebula/apps/protu/moodle/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Damn
  k8s/nebula/apps/protu/moodle/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/protu/moodle/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/protu/moodle/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/base/cert-manager/issuers/zerossl-production.yaml
Labels: area/kubernetes

Oh
  k8s/base/cert-manager/issuers/zerossl-production.yaml
Labels: area/kubernetes

Hmm
  k8s/base/cert-manager/app/kustomization.yaml
Labels: area/kubernetes

Hmm
  k8s/base/cert-manager/app/kustomization.yaml
Labels: area/kubernetes

This should work, right?
  k8s/nebula/apps/protu/moodle/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

This should work, right?
  k8s/nebula/apps/protu/moodle/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Moodle: fix ingress
  k8s/nebula/apps/protu/moodle/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Moodle: fix ingress
  k8s/nebula/apps/protu/moodle/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

volsync: changes to templates
  k8s/templates/volsync-minio/minio/replicationdestination.yaml
  k8s/templates/volsync/minio/replicationdestination.yaml
Labels: area/kubernetes

volsync: changes to templates
  k8s/templates/volsync-minio/minio/replicationdestination.yaml
  k8s/templates/volsync/minio/replicationdestination.yaml
Labels: area/kubernetes

fix: remove retryInterval from Media cluster's things
  k8s/media/apps/flux-system/doppler/ks.yaml
  k8s/media/apps/gpu/operator/ks.yaml
  k8s/media/apps/kube-system/cilium/ks-config.yaml
  k8s/media/apps/kube-system/cilium/ks.yaml
  k8s/media/apps/kube-system/nvidia/device-plugin/ks.yaml
  k8s/media/apps/media/bazarr/ks.yaml
  k8s/media/apps/media/cross-seed/ks.yaml
  k8s/media/apps/media/jellyfin/ks.yaml
  k8s/media/apps/media/media-index/ks.yaml
  k8s/media/apps/media/qbit/ks.yaml
  k8s/media/apps/media/qbittorrent/ks.yaml
  k8s/media/apps/media/radarr/ks.yaml
  k8s/media/apps/media/sonarr/ks.yaml
  k8s/media/apps/media/tautulli/ks.yaml
  k8s/media/apps/media/tdarr/ks.yaml
  k8s/media/apps/media/unpackerr/ks.yaml
  k8s/media/apps/monitoring/scrutiny-collector/ks.yaml
  k8s/media/apps/networking/external-dns/ks.yaml
  k8s/media/apps/networking/k8s-gateway/ks.yaml
  k8s/media/apps/networking/nginx/ks.yaml
  k8s/media/apps/networking/tailscale/ks.yaml
  k8s/media/apps/storage/local-path/ks.yaml
  k8s/media/apps/storage/mergerfs/ks.yaml
  k8s/media/apps/storage/rook-ceph/rook/ks-cluster.yaml
  k8s/media/apps/storage/rook-ceph/rook/ks-operator.yaml
  k8s/media/apps/volsync/volsync/ks.yaml
Labels: area/kubernetes, cluster/media

fix: remove retryInterval from Media cluster's things
  k8s/media/apps/flux-system/doppler/ks.yaml
  k8s/media/apps/gpu/operator/ks.yaml
  k8s/media/apps/kube-system/cilium/ks-config.yaml
  k8s/media/apps/kube-system/cilium/ks.yaml
  k8s/media/apps/kube-system/nvidia/device-plugin/ks.yaml
  k8s/media/apps/media/bazarr/ks.yaml
  k8s/media/apps/media/cross-seed/ks.yaml
  k8s/media/apps/media/jellyfin/ks.yaml
  k8s/media/apps/media/media-index/ks.yaml
  k8s/media/apps/media/qbit/ks.yaml
  k8s/media/apps/media/qbittorrent/ks.yaml
  k8s/media/apps/media/radarr/ks.yaml
  k8s/media/apps/media/sonarr/ks.yaml
  k8s/media/apps/media/tautulli/ks.yaml
  k8s/media/apps/media/tdarr/ks.yaml
  k8s/media/apps/media/unpackerr/ks.yaml
  k8s/media/apps/monitoring/scrutiny-collector/ks.yaml
  k8s/media/apps/networking/external-dns/ks.yaml
  k8s/media/apps/networking/k8s-gateway/ks.yaml
  k8s/media/apps/networking/nginx/ks.yaml
  k8s/media/apps/networking/tailscale/ks.yaml
  k8s/media/apps/storage/local-path/ks.yaml
  k8s/media/apps/storage/mergerfs/ks.yaml
  k8s/media/apps/storage/rook-ceph/rook/ks-cluster.yaml
  k8s/media/apps/storage/rook-ceph/rook/ks-operator.yaml
  k8s/media/apps/volsync/volsync/ks.yaml
Labels: area/kubernetes, cluster/media

Update volsync README
  k8s/templates/volsync/README.md
Labels: area/kubernetes

Update volsync README
  k8s/templates/volsync/README.md
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*
