Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"

arrs: Not a single yaml anymore.
  cluster/apps/monitoring/arrs/kustomization.yaml
  cluster/apps/monitoring/arrs/radarr-exporter.yaml
  cluster/apps/monitoring/arrs/radarr-svc-monitor.yaml
  cluster/apps/monitoring/arrs/radarr-svc.yaml
  cluster/apps/monitoring/arrs/sonarr-exporter.yaml
  cluster/apps/monitoring/arrs/sonarr-svc-monitor.yaml
  cluster/apps/monitoring/arrs/sonarr-svc.yaml
Labels: area/kubernetes

misc-ingresses: Not a single yaml anymore, maybe Renovate likes it better like this.
  cluster/apps/networking/misc-ingresses/dh-endpoints-plex.yaml
  cluster/apps/networking/misc-ingresses/home-srv-endpoints.yaml
  cluster/apps/networking/misc-ingresses/home-srv-livetv-dvr-ingress.yaml
  cluster/apps/networking/misc-ingresses/home-srv-livetv-ingress.yaml
  cluster/apps/networking/misc-ingresses/home-srv-livetv-stream-ingress.yaml
  cluster/apps/networking/misc-ingresses/home-srv-svc.yaml
  cluster/apps/networking/misc-ingresses/kustomization.yaml
Labels: area/kubernetes

misc-ingresses: Not a single yaml anymore, maybe Renovate likes it better like this.
  cluster/apps/networking/misc-ingresses/dh-endpoints-plex.yaml
  cluster/apps/networking/misc-ingresses/home-srv-endpoints.yaml
  cluster/apps/networking/misc-ingresses/home-srv-livetv-dvr-ingress.yaml
  cluster/apps/networking/misc-ingresses/home-srv-livetv-ingress.yaml
  cluster/apps/networking/misc-ingresses/home-srv-livetv-stream-ingress.yaml
  cluster/apps/networking/misc-ingresses/home-srv-svc.yaml
  cluster/apps/networking/misc-ingresses/kustomization.yaml
Labels: area/kubernetes

Hmm
  cluster/apps/networking/kustomization.yaml
  cluster/apps/networking/metallb/ns.yaml
Labels: area/kubernetes

Hmm
  cluster/apps/networking/kustomization.yaml
  cluster/apps/networking/metallb/ns.yaml
Labels: area/kubernetes

elastic: Move things around
  cluster/apps/search/elastic/resources/ingress-kb.yaml
  cluster/apps/search/elastic/resources/kustomization.yaml
Labels: area/kubernetes

elastic: Move things around
  cluster/apps/search/elastic/resources/ingress-kb.yaml
  cluster/apps/search/elastic/resources/kustomization.yaml
Labels: area/kubernetes

system-upgrade: separate ks things.
  cluster/apps/system-upgrade/kustomization.yaml
  cluster/apps/system-upgrade/system-upgrade-controller/ks-plans.yaml
Labels: area/kubernetes

system-upgrade: separate ks things.
  cluster/apps/system-upgrade/kustomization.yaml
  cluster/apps/system-upgrade/system-upgrade-controller/ks-plans.yaml
Labels: area/kubernetes

intel-device-plugins: separate ks things
  cluster/apps/system/intel-device-plugins/ks-gpu.yaml
  cluster/apps/system/intel-device-plugins/ks.yaml
  cluster/apps/system/kustomization.yaml
Labels: area/kubernetes

intel-device-plugins: separate ks things
  cluster/apps/system/intel-device-plugins/ks-gpu.yaml
  cluster/apps/system/intel-device-plugins/ks.yaml
  cluster/apps/system/kustomization.yaml
Labels: area/kubernetes

move things around
  cluster/apps/system/snapshot-controller/app/webhook/helm-release.yaml
  cluster/apps/system/snapshot-controller/app/webhook/kustomization.yaml
Labels: area/kubernetes

move things around
  cluster/apps/system/snapshot-controller/app/webhook/helm-release.yaml
  cluster/apps/system/snapshot-controller/app/webhook/kustomization.yaml
Labels: area/kubernetes

flux: separate things out
  cluster/flux/add-ons/notifications/github/kustomization.yaml
  cluster/flux/add-ons/notifications/github/notify-alert.yaml
  cluster/flux/add-ons/notifications/github/notify-provider.yaml
  cluster/flux/config/cluster-gitrepo.yaml
  cluster/flux/config/cluster.yaml
  cluster/flux/config/kustomization.yaml
Labels: area/kubernetes

flux: separate things out
  cluster/flux/add-ons/notifications/github/kustomization.yaml
  cluster/flux/add-ons/notifications/github/notify-alert.yaml
  cluster/flux/add-ons/notifications/github/notify-provider.yaml
  cluster/flux/config/cluster-gitrepo.yaml
  cluster/flux/config/cluster.yaml
  cluster/flux/config/kustomization.yaml
Labels: area/kubernetes

Oh
  cluster/apps/networking/misc-ingresses/home-srv-livetv-dvr-ingress.yaml
Labels: area/kubernetes

Oh
  cluster/apps/networking/misc-ingresses/home-srv-livetv-dvr-ingress.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/buroa/qbittools to 86d05f8
  cluster/apps/downloads/qbit/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/buroa/qbittools to 86d05f8
  cluster/apps/downloads/qbit/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image registry.k8s.io/git-sync/git-sync to v3.6.7
  cluster/apps/downloads/qbit/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image registry.k8s.io/git-sync/git-sync to v3.6.7
  cluster/apps/downloads/qbit/app/helmrelease.yaml
Labels: area/kubernetes

ansible: fs inotify fixes
  provision/ansible/roles/ubuntu/files/fs-sysctl-k3s.yaml
  provision/ansible/roles/ubuntu/tasks/main.yml
  provision/ansible/roles/ubuntu/tasks/misc-system.yml
Labels: none

ansible: fs inotify fixes
  provision/ansible/roles/ubuntu/files/fs-sysctl-k3s.yaml
  provision/ansible/roles/ubuntu/tasks/main.yml
  provision/ansible/roles/ubuntu/tasks/misc-system.yml
Labels: none

ansible: fs inotify fixes, line endings
  provision/ansible/roles/ubuntu/files/fs-sysctl-k3s.yaml
  provision/ansible/roles/ubuntu/tasks/main.yml
  provision/ansible/roles/ubuntu/tasks/misc-system.yml
Labels: none

ansible: fs inotify fixes, line endings
  provision/ansible/roles/ubuntu/files/fs-sysctl-k3s.yaml
  provision/ansible/roles/ubuntu/tasks/main.yml
  provision/ansible/roles/ubuntu/tasks/misc-system.yml
Labels: none

ci(renovate): update renovate.json5
  .github/renovate.json5
Labels: area/ci

ci(renovate): update renovate.json5
  .github/renovate.json5
Labels: area/ci

Update renovate.json5
  .github/renovate.json5
Labels: area/ci

Update renovate.json5
  .github/renovate.json5
Labels: area/ci

chore(deps): update image ghcr.io/autobrr/autobrr to v1.27.1
  cluster/apps/media/autobrr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/autobrr/autobrr to v1.27.1
  cluster/apps/media/autobrr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/bjw-s/github-actions-runner to v2.305.0
  cluster/apps/ci/github-actions/runners/samipsolutions-runners.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/bjw-s/github-actions-runner to v2.305.0
  cluster/apps/ci/github-actions/runners/samipsolutions-runners.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/dgtlmoon/changedetection.io to v0.43
  cluster/apps/default/changedetector/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/dgtlmoon/changedetection.io to v0.43
  cluster/apps/default/changedetector/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/matrix-org/synapse to v1.86.0
  cluster/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/matrix-org/synapse to v1.86.0
  cluster/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to 0b1b7a9
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to 0b1b7a9
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 29d0212
  cluster/apps/collab/littlelink/app/helm-release.yaml
Labels: area/kubernetes
