Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*

Deploy NextPVR
  k8s/nebula/apps/media/kustomization.yaml
  k8s/nebula/apps/media/nextpvr/app/hr.yaml
  k8s/nebula/apps/media/nextpvr/app/kustomization.yaml
  k8s/nebula/apps/media/nextpvr/ks.yaml
Labels: area/kubernetes, cluster/nebula

Deploy NextPVR
  k8s/nebula/apps/media/kustomization.yaml
  k8s/nebula/apps/media/nextpvr/app/hr.yaml
  k8s/nebula/apps/media/nextpvr/app/kustomization.yaml
  k8s/nebula/apps/media/nextpvr/ks.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/media/nextpvr/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/media/nextpvr/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Damn
  k8s/nebula/apps/media/nextpvr/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Damn
  k8s/nebula/apps/media/nextpvr/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/media/nextpvr/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/media/nextpvr/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/media/nextpvr/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/media/nextpvr/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Does that help?
  k8s/nebula/apps/media/nextpvr/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Does that help?
  k8s/nebula/apps/media/nextpvr/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Deploy Kyoo
  k8s/media/apps/media/kustomization.yaml
  k8s/media/apps/media/kyoo/app-template/configs/config.yaml
  k8s/media/apps/media/kyoo/app-template/es.yaml
  k8s/media/apps/media/kyoo/app-template/hr.yaml
  k8s/media/apps/media/kyoo/app-template/kustomization.yaml
  k8s/media/apps/media/kyoo/app-template/pvc.yaml
  k8s/media/apps/media/kyoo/ks.yaml
Labels: area/kubernetes, cluster/media

Deploy Kyoo
  k8s/media/apps/media/kustomization.yaml
  k8s/media/apps/media/kyoo/app-template/configs/config.yaml
  k8s/media/apps/media/kyoo/app-template/es.yaml
  k8s/media/apps/media/kyoo/app-template/hr.yaml
  k8s/media/apps/media/kyoo/app-template/kustomization.yaml
  k8s/media/apps/media/kyoo/app-template/pvc.yaml
  k8s/media/apps/media/kyoo/ks.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/kyoo/app-template/pvc.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/kyoo/app-template/pvc.yaml
Labels: area/kubernetes, cluster/media

Huh
  k8s/media/apps/media/kyoo/app-template/hr.yaml
Labels: area/kubernetes, cluster/media

Huh
  k8s/media/apps/media/kyoo/app-template/hr.yaml
Labels: area/kubernetes, cluster/media

Kyoo: Fix ingress def
  k8s/media/apps/media/kyoo/app-template/hr.yaml
Labels: area/kubernetes, cluster/media

Kyoo: Fix ingress def
  k8s/media/apps/media/kyoo/app-template/hr.yaml
Labels: area/kubernetes, cluster/media

Kyoo: Yeet the podAntiAffinity
  k8s/media/apps/media/kyoo/app-template/hr.yaml
Labels: area/kubernetes, cluster/media

Kyoo: Yeet the podAntiAffinity
  k8s/media/apps/media/kyoo/app-template/hr.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/kyoo/app-template/configs/config.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/kyoo/app-template/configs/config.yaml
Labels: area/kubernetes, cluster/media

Kyoo: I'm using Nvidia.
  k8s/media/apps/media/kyoo/app-template/configs/config.yaml
  k8s/media/apps/media/kyoo/app-template/hr.yaml
Labels: area/kubernetes, cluster/media

Kyoo: I'm using Nvidia.
  k8s/media/apps/media/kyoo/app-template/configs/config.yaml
  k8s/media/apps/media/kyoo/app-template/hr.yaml
Labels: area/kubernetes, cluster/media

Fix up the cert-manager part for iki domain.
  k8s/base/cert-manager/issuers/kapsi-bind-secret.sops.yaml
  k8s/base/cert-manager/issuers/kustomization.yaml
  k8s/base/cert-manager/issuers/zerossl-production.yaml
  k8s/nebula/apps/networking/external-dns/internal-kapsi/externalsecret.yaml
  k8s/nebula/apps/networking/external-dns/internal-kapsi/helm-release.yaml
  k8s/nebula/apps/networking/external-dns/internal-kapsi/kustomization.yaml
  k8s/nebula/apps/networking/external-dns/ks-kapsi.yaml
Labels: area/kubernetes, cluster/nebula

Fix up the cert-manager part for iki domain.
  k8s/base/cert-manager/issuers/kapsi-bind-secret.sops.yaml
  k8s/base/cert-manager/issuers/kustomization.yaml
  k8s/base/cert-manager/issuers/zerossl-production.yaml
  k8s/nebula/apps/networking/external-dns/internal-kapsi/externalsecret.yaml
  k8s/nebula/apps/networking/external-dns/internal-kapsi/helm-release.yaml
  k8s/nebula/apps/networking/external-dns/internal-kapsi/kustomization.yaml
  k8s/nebula/apps/networking/external-dns/ks-kapsi.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/networking/external-dns/internal-kapsi/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/networking/external-dns/internal-kapsi/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Oh, fail.
  k8s/base/cert-manager/issuers/zerossl-production.yaml
Labels: area/kubernetes

Oh, fail.
  k8s/base/cert-manager/issuers/zerossl-production.yaml
Labels: area/kubernetes

OOH
  k8s/nebula/apps/networking/external-dns/internal-kapsi/externalsecret.yaml
Labels: area/kubernetes, cluster/nebula

OOH
  k8s/nebula/apps/networking/external-dns/internal-kapsi/externalsecret.yaml
Labels: area/kubernetes, cluster/nebula

That was quite a fail
  k8s/nebula/apps/networking/external-dns/internal-kapsi/externalsecret.yaml
  k8s/nebula/apps/networking/external-dns/internal/externalsecret.yaml
Labels: area/kubernetes, cluster/nebula

That was quite a fail
  k8s/nebula/apps/networking/external-dns/internal-kapsi/externalsecret.yaml
  k8s/nebula/apps/networking/external-dns/internal/externalsecret.yaml
Labels: area/kubernetes, cluster/nebula
