Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

trace logs
  k8s/nebula/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Will that fix it?
  k8s/nebula/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

one ndots is a bad idea
  k8s/nebula/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  terraform/mikrotik/modules/rb5009/bgp/prod-cluster.tf
Labels: none

Changes to Talos config
  k8s/nebula/talos/talconfig.yaml
Labels: area/kubernetes, cluster/nebula

It has newer image
  k8s/nebula/apps/home/mosquitto/exporter/hr.yaml
Labels: area/kubernetes, cluster/nebula

ghcr can be without pull-though cache
  k8s/nebula/apps/home/assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Add spegel repo
  k8s/base/flux-system/helm-chart-repos/spegel.yaml
Labels: area/kubernetes

Deploy spegel
  k8s/nebula/apps/kube-system/kustomization.yaml
  k8s/nebula/apps/kube-system/spegel/app/hr.yaml
  k8s/nebula/apps/kube-system/spegel/app/kustomization.yaml
  k8s/nebula/apps/kube-system/spegel/ks.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/home/zigbee2mqtt/exporter/hr.yaml
Labels: area/kubernetes, cluster/nebula

So many things were missing?
  k8s/nebula/apps/comms/matrix-synapse/app/internal-ingress.yaml
Labels: area/kubernetes, cluster/nebula

Is that the issue?
  k8s/nebula/apps/comms/matrix-synapse/app/internal-ingress.yaml
Labels: area/kubernetes, cluster/nebula

Will this help?
  k8s/nebula/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/comms/matrix-synapse/app/internal-ingress.yaml
Labels: area/kubernetes, cluster/nebula

Damn
  k8s/nebula/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Yeet synapse
  k8s/nebula/apps/comms/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

archive synapse
  .archive/matrix-synapse/app/externalsecret.yaml
  .archive/matrix-synapse/app/helm-release.yaml
  .archive/matrix-synapse/app/internal-ingress.yaml
  .archive/matrix-synapse/app/kustomization.yaml
  .archive/matrix-synapse/app/matrix-signing-key.sops.yaml
  .archive/matrix-synapse/app/pvc.yaml
  .archive/matrix-synapse/ks.yaml
Labels: none

archived minecraft
  .archive/nebula/games/minecraft/app/externalsecret-store.yaml
  .archive/nebula/games/minecraft/app/externalsecret.yaml
  .archive/nebula/games/minecraft/app/hr.yaml
  .archive/nebula/games/minecraft/app/kustomization.yaml
  .archive/nebula/games/minecraft/ks.yaml
  k8s/nebula/apps/games/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Damn
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Deploy conduwuit
  k8s/nebula/apps/comms/conduwuit/app/hr.yaml
  k8s/nebula/apps/comms/conduwuit/app/kustomization.yaml
  k8s/nebula/apps/comms/conduwuit/ks.yaml
Labels: area/kubernetes, cluster/nebula

fail
  k8s/nebula/apps/comms/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/comms/conduwuit/app/hr.yaml
  k8s/nebula/apps/comms/conduwuit/ks.yaml
  k8s/nebula/apps/comms/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/comms/conduwuit/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Damn typo
  k8s/nebula/apps/comms/conduwuit/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm?
  k8s/nebula/apps/comms/conduwuit/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/comms/conduwuit/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Damn
  k8s/nebula/apps/comms/conduwuit/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/comms/conduwuit/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

It would help to name them right
  k8s/nebula/apps/comms/conduwuit/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/comms/conduwuit/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/comms/conduwuit/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Aha
  k8s/nebula/apps/comms/conduwuit/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/comms/conduwuit/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Needs a secret too
  k8s/nebula/apps/comms/conduwuit/app/es.yaml
  k8s/nebula/apps/comms/conduwuit/app/hr.yaml
  k8s/nebula/apps/comms/conduwuit/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hm
  k8s/nebula/apps/comms/conduwuit/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/comms/conduwuit/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

That should work
  k8s/nebula/apps/comms/conduwuit/app/es.yaml
  k8s/nebula/apps/comms/conduwuit/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Better log level
  k8s/nebula/apps/comms/conduwuit/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/comms/conduwuit/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*
