Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

Fix Kromgo
  k8s/nebula/apps/monitoring/kromgo/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Fix Kromgo
  k8s/nebula/apps/monitoring/kromgo/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Yeet kromgo probes
  k8s/nebula/apps/monitoring/kromgo/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Yeet kromgo probes
  k8s/nebula/apps/monitoring/kromgo/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Add some Media services.
  k8s/nebula/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Add some Media services.
  k8s/nebula/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Nebula cluster's k8s api address has changed.
  k8s/base/monitoring/prom-stack/overlays/nebula/helm-release.yaml
Labels: area/kubernetes

Nebula cluster's k8s api address has changed.
  k8s/base/monitoring/prom-stack/overlays/nebula/helm-release.yaml
Labels: area/kubernetes

Deploy external-dns internal at least.
  k8s/nebula/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Deploy external-dns internal at least.
  k8s/nebula/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Add taskfiles
  .taskfiles/Flux/Taskfile.yaml
  Taskfile.yaml
  Taskfile.yml
Labels: none

Add taskfiles
  .taskfiles/Flux/Taskfile.yaml
  Taskfile.yaml
  Taskfile.yml
Labels: none

Hmm
  k8s/nebula/apps/monitoring/kromgo/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/monitoring/kromgo/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

hm
  k8s/nebula/apps/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

hm
  k8s/nebula/apps/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Ah
  k8s/nebula/shared/kube-system.yaml
Labels: area/kubernetes, cluster/nebula

Ah
  k8s/nebula/shared/kube-system.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  talos/talconfig.yaml
Labels: none

Hmm
  talos/talconfig.yaml
Labels: none

Let's try that..
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Let's try that..
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Damn it
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Damn it
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

prowlarr: Fix HR
  k8s/nebula/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

prowlarr: Fix HR
  k8s/nebula/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Talos: patching better
  talos/patches/controller/api-access.yaml
  talos/patches/controller/cluster.yaml
  talos/patches/controller/disable-admission-controller.yaml
  talos/patches/controller/kube-prism.yaml
  talos/patches/global/cluster-discovery.yaml
  talos/patches/global/containerd.yaml
  talos/patches/global/disable-search-domain.yaml
  talos/patches/global/kubelet.yaml
  talos/patches/global/nfs.yaml
  talos/patches/global/sysctl.yaml
  talos/patches/global/udev.yaml
  talos/talconfig.yaml
Labels: none

Talos: patching better
  talos/patches/controller/api-access.yaml
  talos/patches/controller/cluster.yaml
  talos/patches/controller/disable-admission-controller.yaml
  talos/patches/controller/kube-prism.yaml
  talos/patches/global/cluster-discovery.yaml
  talos/patches/global/containerd.yaml
  talos/patches/global/disable-search-domain.yaml
  talos/patches/global/kubelet.yaml
  talos/patches/global/nfs.yaml
  talos/patches/global/sysctl.yaml
  talos/patches/global/udev.yaml
  talos/talconfig.yaml
Labels: none

Talos: Yoink README from gavin.
  talos/patches/README.md
Labels: none

Talos: Yoink README from gavin.
  talos/patches/README.md
Labels: none

Fix it
  k8s/nebula/apps/media/prowlarr/app/externalsecret.yaml
Labels: area/kubernetes, cluster/nebula

Fix it
  k8s/nebula/apps/media/prowlarr/app/externalsecret.yaml
Labels: area/kubernetes, cluster/nebula

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*
