Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

chore(deps): update image ghcr.io/home-assistant/home-assistant to v2023.5.4
  cluster/apps/home/assistant/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/home-assistant/home-assistant to v2023.5.4
  cluster/apps/home/assistant/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to 645958e
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to 645958e
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image esphome/esphome to v2023.5.4
  cluster/apps/home/esphome/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image esphome/esphome to v2023.5.4
  cluster/apps/home/esphome/app/helm-release.yaml
Labels: area/kubernetes

Ansible: No need for feature gates
  provision/ansible/inventory/group_vars/worker/k3s.yml
Labels: none

Ansible: current kube version is 1.27.1
  provision/ansible/inventory/group_vars/kubernetes/k3s.yml
Labels: none

Ansible: No need for feature gates
  provision/ansible/inventory/group_vars/worker/k3s.yml
Labels: none

Ansible: current kube version is 1.27.1
  provision/ansible/inventory/group_vars/kubernetes/k3s.yml
Labels: none

Epic: non-arch specific hash
  cluster/apps/default/epic-freegames/app/helm-release.yaml
Labels: area/kubernetes

Epic: non-arch specific hash
  cluster/apps/default/epic-freegames/app/helm-release.yaml
Labels: area/kubernetes

Oh, this is not enabled
  cluster/flux/repositories/git/kustomization.yaml
Labels: area/kubernetes

Oh, this is not enabled
  cluster/flux/repositories/git/kustomization.yaml
Labels: area/kubernetes

littlelink: Footer changes
  cluster/apps/collab/littlelink/app/helm-release.yaml
Labels: area/kubernetes

littlelink: Footer changes
  cluster/apps/collab/littlelink/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 96c9d3c
  cluster/apps/collab/littlelink/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 96c9d3c
  cluster/apps/collab/littlelink/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/matrix-org/synapse to v1.84.0
  cluster/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/matrix-org/synapse to v1.84.0
  cluster/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes

drone-gitea: secret things
  cluster/apps/ci/drone-gitea/server/secret.sops.yaml
Labels: area/kubernetes

CI: Deploy drone again.
  cluster/apps/ci/kustomization.yaml
Labels: area/kubernetes

CI: Deploy drone again.
  cluster/apps/ci/kustomization.yaml
Labels: area/kubernetes

drone-gitea: secret things
  cluster/apps/ci/drone-gitea/server/secret.sops.yaml
Labels: area/kubernetes

Tunk
  cluster/apps/default/paperless/app/pvc.yaml
Labels: area/kubernetes

Tunk
  cluster/apps/default/paperless/app/pvc.yaml
Labels: area/kubernetes

CI: Username changed
  cluster/apps/ci/drone-gitea/server/helm-release.yaml
Labels: area/kubernetes

CI: Username changed
  cluster/apps/ci/drone-gitea/server/helm-release.yaml
Labels: area/kubernetes

CI(drone): More tunk
  cluster/apps/ci/drone-gitea/server/helm-release.yaml
Labels: area/kubernetes

CI(drone): More tunk
  cluster/apps/ci/drone-gitea/server/helm-release.yaml
Labels: area/kubernetes

Paperless: pvc tunk
  cluster/apps/default/paperless/app/pvc.yaml
Labels: area/kubernetes

Paperless: pvc tunk
  cluster/apps/default/paperless/app/pvc.yaml
Labels: area/kubernetes

Let's test drone
  .drone.yml
Labels: none

Let's test drone
  .drone.yml
Labels: none

I think it's not right still
  .drone.yml
Labels: none

I think it's not right still
  .drone.yml
Labels: none

Dang it
  .drone.yml
Labels: none

Dang it
  .drone.yml
Labels: none

Update '.github/workflows/helm-release-differ.yaml'
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

Update '.github/workflows/helm-release-differ.yaml'
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"
