Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*

Fun..
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

Fun..
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

That should work..
  k8s/nebula/apps/networking/misc-ingresses/dh-ingress.yaml
Labels: area/kubernetes, cluster/nebula

That should work..
  k8s/nebula/apps/networking/misc-ingresses/dh-ingress.yaml
Labels: area/kubernetes, cluster/nebula

Is that the issue?
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

Is that the issue?
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

rook: Operator needs more resources.
  k8s/nebula/apps/storage/rook-ceph/rook/operator/hr.yaml
Labels: area/kubernetes, cluster/nebula

rook: Operator needs more resources.
  k8s/nebula/apps/storage/rook-ceph/rook/operator/hr.yaml
Labels: area/kubernetes, cluster/nebula

rook: More storage nodes
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

rook: More storage nodes
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Will it break everything?
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Will it break everything?
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Steal Devin's tasks for VolSync.
  .taskfiles/VolSync/ListJob.tmpl.yaml
  .taskfiles/VolSync/ReplicationDestination.tmpl.yaml
  .taskfiles/VolSync/Taskfile.yaml
  .taskfiles/VolSync/UnlockJob.tmpl.yaml
  .taskfiles/VolSync/WipeJob.tmpl.yaml
  .taskfiles/VolSync/wait-for-job.sh
Labels: none

Steal Devin's tasks for VolSync.
  .taskfiles/VolSync/ListJob.tmpl.yaml
  .taskfiles/VolSync/ReplicationDestination.tmpl.yaml
  .taskfiles/VolSync/Taskfile.yaml
  .taskfiles/VolSync/UnlockJob.tmpl.yaml
  .taskfiles/VolSync/WipeJob.tmpl.yaml
  .taskfiles/VolSync/wait-for-job.sh
Labels: none

Automerge patch docker updates
  .github/renovate/autoMerge.json5
Labels: area/ci

Automerge patch docker updates
  .github/renovate/autoMerge.json5
Labels: area/ci

Update autoMerge.json5
  .github/renovate/autoMerge.json5
Labels: area/ci

Update autoMerge.json5
  .github/renovate/autoMerge.json5
Labels: area/ci

Upgrade pgadmin4 to 8.4.
  k8s/nebula/apps/databases/pgadmin/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Upgrade pgadmin4 to 8.4.
  k8s/nebula/apps/databases/pgadmin/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Upgrade apiversion to v2beta2
  k8s/nebula/apps/ci/github-actions/runners/samip5-k8s-cluster-arm64.yaml
  k8s/nebula/apps/ci/github-actions/runners/samip5-k8s-cluster.yaml
  k8s/nebula/apps/ci/github-actions/runners/samipsolutions-runners-arm64.yaml
  k8s/nebula/apps/ci/github-actions/runners/samipsolutions-runners.yaml
Labels: area/kubernetes, cluster/nebula

Upgrade apiversion to v2beta2
  k8s/nebula/apps/ci/github-actions/runners/samip5-k8s-cluster-arm64.yaml
  k8s/nebula/apps/ci/github-actions/runners/samip5-k8s-cluster.yaml
  k8s/nebula/apps/ci/github-actions/runners/samipsolutions-runners-arm64.yaml
  k8s/nebula/apps/ci/github-actions/runners/samipsolutions-runners.yaml
Labels: area/kubernetes, cluster/nebula

Volsync things
  .taskfiles/VolSync/scripts/wait-for-job.sh
  .taskfiles/VolSync/scripts/which-controller.sh
  .taskfiles/VolSync/templates/list.tmpl.yaml
  .taskfiles/VolSync/templates/replicationdestination.tmpl.yaml
  .taskfiles/VolSync/templates/unlock.tmpl.yaml
  .taskfiles/VolSync/templates/wipe.tmpl.yaml
Labels: none

Volsync things
  .taskfiles/VolSync/scripts/wait-for-job.sh
  .taskfiles/VolSync/scripts/which-controller.sh
  .taskfiles/VolSync/templates/list.tmpl.yaml
  .taskfiles/VolSync/templates/replicationdestination.tmpl.yaml
  .taskfiles/VolSync/templates/unlock.tmpl.yaml
  .taskfiles/VolSync/templates/wipe.tmpl.yaml
Labels: none

Lower the max and min.
  k8s/nebula/apps/ci/github-actions/runners/samipsolutions-runners.yaml
Labels: area/kubernetes, cluster/nebula

Lower the max and min.
  k8s/nebula/apps/ci/github-actions/runners/samipsolutions-runners.yaml
Labels: area/kubernetes, cluster/nebula

Deploy Paisa
  .archive/nebula/paisa/app/kustomization.yaml
  k8s/nebula/apps/finance/kustomization.yaml
  k8s/nebula/apps/finance/paisa/app/hr.yaml
  k8s/nebula/apps/finance/paisa/ks.yaml
Labels: area/kubernetes, cluster/nebula

Deploy Paisa
  .archive/nebula/paisa/app/kustomization.yaml
  k8s/nebula/apps/finance/kustomization.yaml
  k8s/nebula/apps/finance/paisa/app/hr.yaml
  k8s/nebula/apps/finance/paisa/ks.yaml
Labels: area/kubernetes, cluster/nebula

Ignore things
  .gitignore
Labels: none

Ignore things
  .gitignore
Labels: none

Hmm
  provision/ansible/nebula/roles
  provision/ansible/playbooks/files
Labels: none

Hmm
  provision/ansible/nebula/roles
  provision/ansible/playbooks/files
Labels: none

Maybe it works now.
  .vscode/settings.json
  k8s/nebula/apps/finance/paisa/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Maybe it works now.
  .vscode/settings.json
  k8s/nebula/apps/finance/paisa/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Main controller
  k8s/nebula/apps/finance/paisa/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Main controller
  k8s/nebula/apps/finance/paisa/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/finance/kustomization.yaml
  k8s/nebula/apps/finance/paisa/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/finance/kustomization.yaml
  k8s/nebula/apps/finance/paisa/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Try that again.
  k8s/nebula/apps/finance/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Try that again.
  k8s/nebula/apps/finance/kustomization.yaml
Labels: area/kubernetes, cluster/nebula
