Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*

Let's try that.
  k8s/nebula/apps/games/factorio/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/games/factorio/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

let's try this instead
  k8s/nebula/apps/games/factorio/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

That's strange
  k8s/nebula/apps/games/factorio/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Fix the KS for the different IDs
  k8s/nebula/apps/games/factorio/ks.yaml
Labels: area/kubernetes, cluster/nebula

Hopefully dual-stack Factorio
  k8s/nebula/apps/games/factorio/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Factorio: New save without mods
  k8s/nebula/apps/games/factorio/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Factorio: New save without mods, part two
  k8s/nebula/apps/games/factorio/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

paperless: external ingress for just shares
  k8s/nebula/apps/default/paperless/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Deploy prom-stack
  k8s/nebula/shared/monitoring.yaml
Labels: area/kubernetes, cluster/nebula

Re-deploy kromgo and jellystat
  k8s/nebula/apps/monitoring/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

re-deploy influx and pgadmin
  k8s/nebula/apps/databases/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

re-deploy scrutiny
  k8s/nebula/apps/monitoring/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/monitoring/scrutiny/scrutiny/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/monitoring/scrutiny/scrutiny/hr.yaml
Labels: area/kubernetes, cluster/nebula

Ingress for influx
  k8s/nebula/apps/databases/influx/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/databases/influx/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Damn
  k8s/nebula/apps/databases/influx/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/databases/influx/ks.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/databases/influx/app/es.yaml
  k8s/nebula/apps/databases/influx/app/hr.yaml
  k8s/nebula/apps/databases/influx/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/databases/influx/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/databases/influx/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Fix the perms on scrutiny
  k8s/nebula/apps/monitoring/scrutiny/scrutiny/hr.yaml
Labels: area/kubernetes, cluster/nebula

Let's try this
  k8s/media/apps/kustomization.yaml
  k8s/media/apps/monitoring/scrutiny-collector/app/hr.yaml
Labels: area/kubernetes, cluster/media

Ah
  k8s/media/apps/monitoring/kustomization.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/monitoring/scrutiny-collector/app/hr.yaml
Labels: area/kubernetes, cluster/media

Does that work?
  k8s/media/apps/monitoring/scrutiny-collector/app/hr.yaml
Labels: area/kubernetes, cluster/media

This should?
  k8s/media/apps/monitoring/scrutiny-collector/app/hr.yaml
Labels: area/kubernetes, cluster/media

Let's move it to a cronjob
  k8s/media/apps/monitoring/scrutiny-collector/app/hr.yaml
Labels: area/kubernetes, cluster/media

Damn it
  k8s/media/apps/monitoring/scrutiny-collector/app/hr.yaml
Labels: area/kubernetes, cluster/media

MariaDB: Deploy!
  .github/renovate/pinnedVersions.json5
  k8s/nebula/apps/databases/kustomization.yaml
  k8s/nebula/apps/databases/mariadb/resources/mariadb.yaml
Labels: area/ci, area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/databases/mariadb/ks-crds.yaml
Labels: area/kubernetes, cluster/nebula

Namespaces..
  k8s/nebula/apps/databases/mariadb/crds/hr.yaml
  k8s/nebula/apps/databases/mariadb/phpmyadmin/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Deploy the mariadb cluster itself
  k8s/nebula/apps/databases/kustomization.yaml
  k8s/nebula/apps/databases/mariadb/resources/provisions/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Ah, right
  k8s/nebula/apps/databases/mariadb/resources/mariadb.yaml
Labels: area/kubernetes, cluster/nebula

observium db
  k8s/nebula/apps/databases/mariadb/resources/provisions/observium/db.yaml
  k8s/nebula/apps/databases/mariadb/resources/provisions/observium/externalsecret.yaml
  k8s/nebula/apps/databases/mariadb/resources/provisions/observium/grant.yaml
  k8s/nebula/apps/databases/mariadb/resources/provisions/observium/kustomization.yaml
  k8s/nebula/apps/databases/mariadb/resources/provisions/observium/user.yaml
Labels: area/kubernetes, cluster/nebula

Deploy unimus and observium
  k8s/nebula/apps/networking/kustomization.yaml
  k8s/nebula/apps/networking/observium/app/es.yaml
  k8s/nebula/apps/networking/observium/app/hr.yaml
  k8s/nebula/apps/networking/observium/app/kustomization.yaml
  k8s/nebula/apps/networking/observium/ks.yaml
Labels: area/kubernetes, cluster/nebula

Oops
  k8s/nebula/apps/networking/observium/app/es.yaml
  k8s/nebula/apps/networking/observium/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Damn port
  k8s/nebula/apps/networking/observium/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/networking/observium/app/es.yaml
Labels: area/kubernetes, cluster/nebula
