Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*

Add Moco charts
  k8s/base/flux-system/helm-chart-repos/moco.yaml
Labels: area/kubernetes

Deploy moco aka mysql operator
  k8s/nebula/apps/databases/kustomization.yaml
  k8s/nebula/apps/databases/moco/README.md
  k8s/nebula/apps/databases/moco/ks.yaml
  k8s/nebula/apps/databases/moco/operator/hr.yaml
  k8s/nebula/apps/databases/moco/operator/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

We need backups
  k8s/nebula/apps/databases/mariadb/resources/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Daily backups..
  k8s/nebula/apps/databases/mariadb/resources/backup-daily.yaml
  k8s/nebula/apps/databases/mariadb/resources/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Better backups with timezone and things
  k8s/nebula/apps/databases/mariadb/resources/backup-daily.yaml
  k8s/nebula/apps/databases/mariadb/resources/backup.yaml
Labels: area/kubernetes, cluster/nebula

Yeet
  k8s/nebula/apps/databases/mariadb/resources/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Try that again
  k8s/nebula/apps/databases/mariadb/resources/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/databases/mariadb/resources/mariadb.yaml
Labels: area/kubernetes, cluster/nebula

Yeet Moco, will get to it when the other one breaks again.. which it will do at some point.
  k8s/nebula/apps/databases/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Will this workflow work better?
  .github/workflows/flux-diff.yaml
Labels: area/ci

Hmm
  .github/workflows/flux-image-test.yaml
Labels: area/ci

Let's fix the deprecated command.
  .github/workflows/scan-containers.yaml
Labels: area/ci

Damn
  .github/workflows/flux-diff.yaml
Labels: area/ci

Is this better or worse?
  .github/workflows/scan-containers.yaml
Labels: area/ci

Hmm
  k8s/nebula/apps/media/tvheadend/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Would that work?
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
  k8s/media/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Aaargh
  k8s/media/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Argh
  k8s/media/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Damn
  k8s/media/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

re-dploy flaresolverr
  k8s/media/apps/media/jellyfin/app/replicationsource.yaml
  k8s/nebula/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

Update README with cloud dep prices
  README.md
Labels: none

Update README some more
  README.md
Labels: none

fix: nginx is being fussy
  k8s/nebula/apps/networking/nginx/external/helm-release.yaml
  k8s/nebula/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/nebula

feat(terraform/mikrotik): Initial state
  terraform/mikrotik/main.tf
  terraform/mikrotik/modules/rb5009/_provider.tf
  terraform/mikrotik/modules/rb5009/_variables.tf
  terraform/mikrotik/modules/rb5009/bridge.tf
  terraform/mikrotik/modules/rb5009/interfaces.tf
  terraform/mikrotik/modules/rb5009/ip-services.tf
  terraform/mikrotik/modules/rb5009/ntp.tf
  terraform/mikrotik/modules/rb5009/system.tf
  terraform/mikrotik/modules/rb5009/vlan-iot.tf
  terraform/mikrotik/provider.tf
  terraform/mikrotik/variables.tf
Labels: none

Push the ceph related scripts to repo
  create-external-cluster-resources.py
  k8s/media/ceph-import-ext.sh
Labels: area/kubernetes, cluster/media

fix: ...
  k8s/nebula/.envrc
Labels: area/kubernetes, cluster/nebula

Talosconfig
  k8s/nebula/talos/talconfig.yaml
Labels: area/kubernetes, cluster/nebula

More teraforming for Mikrotik
  terraform/mikrotik/main.tf
  terraform/mikrotik/modules/rb5009/_variables.tf
  terraform/mikrotik/modules/rb5009/bridge.tf
  terraform/mikrotik/modules/rb5009/containers.tf
  terraform/mikrotik/modules/rb5009/dhcp-client.tf
  terraform/mikrotik/modules/rb5009/dhcp6-client.tf
  terraform/mikrotik/modules/rb5009/dns-server.tf
  terraform/mikrotik/modules/rb5009/interfaces.tf
  terraform/mikrotik/modules/rb5009/snmp.tf
  terraform/mikrotik/modules/rb5009/vlan-iot.tf
  terraform/mikrotik/modules/rb5009/vlan-kube-dev.tf
  terraform/mikrotik/modules/rb5009/vlan-kube-prod.tf
  terraform/mikrotik/modules/rb5009/vlan-lan.tf
  terraform/mikrotik/modules/rb5009/vlan-mgmnt.tf
  terraform/mikrotik/provider.tf
Labels: none

Hmm
  terraform/mikrotik/modules/rb5009/containers.tf
Labels: none

Oop, typo
  terraform/mikrotik/modules/rb5009/vlan-kube-dev.tf
Labels: none

Current state of affairs
  terraform/mikrotik/modules/rb5009/bridge.tf
  terraform/mikrotik/modules/rb5009/dhcp-client.tf
  terraform/mikrotik/modules/rb5009/dhcp6-client.tf
  terraform/mikrotik/modules/rb5009/interface-lists.tf
  terraform/mikrotik/modules/rb5009/interfaces.tf
  terraform/mikrotik/modules/rb5009/ip-services.tf
  terraform/mikrotik/modules/rb5009/routing-bgp.tf
  terraform/mikrotik/modules/rb5009/snmp.tf
  terraform/mikrotik/modules/rb5009/vlan-lan.tf
  terraform/mikrotik/provider.tf
Labels: none

Upgrade to v4 of snapshot-controller
  k8s/nebula/apps/kube-system/snapshot-controller/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Upgrade to 8.2.0 csi snapshotter
  k8s/nebula/apps/storage/rook-ceph/rook/operator/hr.yaml
Labels: area/kubernetes, cluster/nebula

Mikrotik BGP should be good
  terraform/mikrotik/modules/rb5009/bgp/dev-cluster.tf
  terraform/mikrotik/modules/rb5009/bgp/main.tf
  terraform/mikrotik/modules/rb5009/bgp/prod-cluster.tf
  terraform/mikrotik/modules/rb5009/routing-bgp.tf
Labels: none

Oops
  terraform/mikrotik/modules/rb5009/bgp/dev-cluster.tf
  terraform/mikrotik/modules/rb5009/bgp/main.tf
  terraform/mikrotik/modules/rb5009/bgp/prod-cluster.tf
Labels: none

Disable PoE OUT
  terraform/mikrotik/modules/rb5009/interfaces.tf
Labels: none

Oops
  terraform/mikrotik/modules/rb5009/vlan-iot.tf
  terraform/mikrotik/modules/rb5009/vlan-kube-prod.tf
Labels: none

Now it's in prod
  terraform/mikrotik/main.tf
  terraform/mikrotik/modules/rb5009/dhcp6-client.tf
  terraform/mikrotik/modules/rb5009/interface-lists.tf
Labels: none
