Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*

Ah
  k8s/nebula/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Wow
  k8s/nebula/apps/default/your_spotify/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Wow
  k8s/nebula/apps/default/your_spotify/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Maybe now?
  k8s/nebula/apps/default/your_spotify/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Maybe now?
  k8s/nebula/apps/default/your_spotify/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Let's try that
  k8s/nebula/apps/default/your_spotify/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Archive longhorn
  .archive/nebula/longhorn/app/helm-release.yaml
  .archive/nebula/longhorn/app/kustomization.yaml
  .archive/nebula/longhorn/app/minio-secret.sops.yaml
  .archive/nebula/longhorn/app/snapshotclass.yaml
  .archive/nebula/longhorn/ks-recurring-jobs.yaml
  .archive/nebula/longhorn/ks.yaml
  .archive/nebula/longhorn/recurring-jobs/hr.yaml
  .archive/nebula/longhorn/recurring-jobs/kustomization.yaml
Labels: none

Archive longhorn
  .archive/nebula/longhorn/app/helm-release.yaml
  .archive/nebula/longhorn/app/kustomization.yaml
  .archive/nebula/longhorn/app/minio-secret.sops.yaml
  .archive/nebula/longhorn/app/snapshotclass.yaml
  .archive/nebula/longhorn/ks-recurring-jobs.yaml
  .archive/nebula/longhorn/ks.yaml
  .archive/nebula/longhorn/recurring-jobs/hr.yaml
  .archive/nebula/longhorn/recurring-jobs/kustomization.yaml
Labels: none

Let's try that
  k8s/nebula/apps/default/your_spotify/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/default/your_spotify/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/default/your_spotify/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

That would be useful too..
  k8s/nebula/apps/default/your_spotify/app/es.yaml
  k8s/nebula/apps/default/your_spotify/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

That would be useful too..
  k8s/nebula/apps/default/your_spotify/app/es.yaml
  k8s/nebula/apps/default/your_spotify/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

That's fine I suppose..
  k8s/nebula/apps/default/your_spotify/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

That's fine I suppose..
  k8s/nebula/apps/default/your_spotify/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Lol?
  k8s/nebula/apps/default/your_spotify/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Lol?
  k8s/nebula/apps/default/your_spotify/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Bigger lol?
  k8s/nebula/apps/default/your_spotify/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Bigger lol?
  k8s/nebula/apps/default/your_spotify/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Not very nice...
  k8s/nebula/apps/default/your_spotify/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Not very nice...
  k8s/nebula/apps/default/your_spotify/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Damn it
  k8s/nebula/apps/default/your_spotify/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Damn it
  k8s/nebula/apps/default/your_spotify/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

That might help
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

That might help
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

immich: I would like more RAM please...
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

immich: I would like more RAM please...
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Yeet replicationdestination aka bootstrap from templates.
  k8s/templates/volsync-minio/minio/kustomization.yaml
Labels: area/kubernetes

Yeet replicationdestination aka bootstrap from templates.
  k8s/templates/volsync-minio/minio/kustomization.yaml
Labels: area/kubernetes

Let's see what happens when I try to do this..
  k8s/nebula/apps/home/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Let's see what happens when I try to do this..
  k8s/nebula/apps/home/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Yeet replicationdestination for the moment
  k8s/templates/volsync/minio/kustomization.yaml
Labels: area/kubernetes

Yeet replicationdestination for the moment
  k8s/templates/volsync/minio/kustomization.yaml
Labels: area/kubernetes

Deploy Satisfactory
  k8s/nebula/apps/games/kustomization.yaml
  k8s/nebula/apps/games/satisfactory/app/hr.yaml
  k8s/nebula/apps/games/satisfactory/ks.yaml
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Deploy Satisfactory
  k8s/nebula/apps/games/kustomization.yaml
  k8s/nebula/apps/games/satisfactory/app/hr.yaml
  k8s/nebula/apps/games/satisfactory/ks.yaml
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

LOL
  k8s/nebula/apps/games/satisfactory/ks.yaml
Labels: area/kubernetes, cluster/nebula

LOL
  k8s/nebula/apps/games/satisfactory/ks.yaml
Labels: area/kubernetes, cluster/nebula

Fix that HR
  k8s/nebula/apps/games/satisfactory/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Fix that HR
  k8s/nebula/apps/games/satisfactory/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Yeet
  k8s/nebula/apps/games/kustomization.yaml
Labels: area/kubernetes, cluster/nebula
