Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

chore(renovate): satisfsctory shouldnt be auto-updated (#2002)
  .github/renovate/autoMerge.json5
Labels: area/ci

chore(renovate): satisfsctory shouldnt be auto-updated (#2002)
  .github/renovate/autoMerge.json5
Labels: area/ci

chore(renovate): DO NOT update Satisfactory automatically
  .github/renovate/autoMerge.json5
Labels: area/ci

chore(renovate): DO NOT update Satisfactory automatically
  .github/renovate/autoMerge.json5
Labels: area/ci

chore(renovate): more satisfactory
  .github/renovate/autoMerge.json5
Labels: area/ci

chore(renovate): more satisfactory
  .github/renovate/autoMerge.json5
Labels: area/ci

satisfactory: Bump up player count
  k8s/nebula/apps/games/satisfactory/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

satisfactory: Bump up player count
  k8s/nebula/apps/games/satisfactory/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

rook: The devices should be similar sizes..
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

rook: The devices should be similar sizes..
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/school/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/school/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Talos time should be in-sync
  k8s/nebula/talos/patches/global/time.yaml
  k8s/nebula/talos/talconfig.yaml
Labels: area/kubernetes, cluster/nebula

Talos time should be in-sync
  k8s/nebula/talos/patches/global/time.yaml
  k8s/nebula/talos/talconfig.yaml
Labels: area/kubernetes, cluster/nebula

Deploy odoo
  k8s/nebula/apps/protu-staging/erp/app/config/odoo.conf
  k8s/nebula/apps/protu-staging/erp/app/externalsecret.yaml
  k8s/nebula/apps/protu-staging/erp/app/hr.yaml
  k8s/nebula/apps/protu-staging/erp/app/kustomization.yaml
  k8s/nebula/apps/protu-staging/erp/app/pvc-addons.yaml
  k8s/nebula/apps/protu-staging/erp/ks.yaml
  k8s/nebula/apps/protu-staging/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Deploy odoo
  k8s/nebula/apps/protu-staging/erp/app/config/odoo.conf
  k8s/nebula/apps/protu-staging/erp/app/externalsecret.yaml
  k8s/nebula/apps/protu-staging/erp/app/hr.yaml
  k8s/nebula/apps/protu-staging/erp/app/kustomization.yaml
  k8s/nebula/apps/protu-staging/erp/app/pvc-addons.yaml
  k8s/nebula/apps/protu-staging/erp/ks.yaml
  k8s/nebula/apps/protu-staging/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Move things around
  k8s/nebula/apps/kustomization.yaml
  k8s/nebula/apps/protu/erp/app/config/odoo.conf
  k8s/nebula/apps/protu/erp/app/externalsecret.yaml
  k8s/nebula/apps/protu/erp/app/hr.yaml
  k8s/nebula/apps/protu/erp/app/kustomization.yaml
  k8s/nebula/apps/protu/erp/app/pvc-addons.yaml
  k8s/nebula/apps/protu/erp/ks.yaml
  k8s/nebula/apps/protu/kustomization.yaml
  k8s/nebula/apps/protu/ns.yaml
  k8s/nebula/apps/protu/website/app/externalsecret.yaml
  k8s/nebula/apps/protu/website/app/hr.yaml
  k8s/nebula/apps/protu/website/app/kustomization.yaml
  k8s/nebula/apps/protu/website/ks.yaml
Labels: area/kubernetes, cluster/nebula

Move things around
  k8s/nebula/apps/kustomization.yaml
  k8s/nebula/apps/protu/erp/app/config/odoo.conf
  k8s/nebula/apps/protu/erp/app/externalsecret.yaml
  k8s/nebula/apps/protu/erp/app/hr.yaml
  k8s/nebula/apps/protu/erp/app/kustomization.yaml
  k8s/nebula/apps/protu/erp/app/pvc-addons.yaml
  k8s/nebula/apps/protu/erp/ks.yaml
  k8s/nebula/apps/protu/kustomization.yaml
  k8s/nebula/apps/protu/ns.yaml
  k8s/nebula/apps/protu/website/app/externalsecret.yaml
  k8s/nebula/apps/protu/website/app/hr.yaml
  k8s/nebula/apps/protu/website/app/kustomization.yaml
  k8s/nebula/apps/protu/website/ks.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/protu/erp/ks.yaml
  k8s/nebula/apps/protu/website/ks.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/protu/erp/ks.yaml
  k8s/nebula/apps/protu/website/ks.yaml
Labels: area/kubernetes, cluster/nebula

Oops
  k8s/nebula/apps/protu/erp/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Oops
  k8s/nebula/apps/protu/erp/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/protu/erp/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/protu/erp/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

mariadb: That's not there anymore?
  k8s/nebula/apps/databases/mariadb/resources/mariadb.yaml
Labels: area/kubernetes, cluster/nebula

mariadb: That's not there anymore?
  k8s/nebula/apps/databases/mariadb/resources/mariadb.yaml
Labels: area/kubernetes, cluster/nebula

mariadb: Oh.
  k8s/nebula/apps/databases/mariadb/resources/mariadb.yaml
Labels: area/kubernetes, cluster/nebula

mariadb: Oh.
  k8s/nebula/apps/databases/mariadb/resources/mariadb.yaml
Labels: area/kubernetes, cluster/nebula

Firefly changes
  k8s/nebula/apps/finance/firefly/app/helm-release.yaml
  k8s/nebula/apps/finance/firefly/importer/cronjob.yaml
  k8s/nebula/apps/finance/firefly/importer/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Firefly changes
  k8s/nebula/apps/finance/firefly/app/helm-release.yaml
  k8s/nebula/apps/finance/firefly/importer/cronjob.yaml
  k8s/nebula/apps/finance/firefly/importer/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Ah
  k8s/nebula/apps/finance/firefly/importer/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Ah
  k8s/nebula/apps/finance/firefly/importer/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/finance/firefly/importer/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/finance/firefly/importer/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Will it work via IPv6?
  k8s/nebula/apps/networking/external-dns/internal/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Will it work via IPv6?
  k8s/nebula/apps/networking/external-dns/internal/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Damn it
  k8s/media/apps/networking/external-dns/internal/helm-release.yaml
  k8s/nebula/apps/networking/external-dns/internal/helm-release.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

Damn it
  k8s/media/apps/networking/external-dns/internal/helm-release.yaml
  k8s/nebula/apps/networking/external-dns/internal/helm-release.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

Deploy sab thing
  k8s/media/apps/media/kustomization.yaml
  k8s/media/apps/media/sabnzbd/app/externalsecret.yaml
  k8s/media/apps/media/sabnzbd/app/hr.yaml
  k8s/media/apps/media/sabnzbd/app/kustomization.yaml
  k8s/media/apps/media/sabnzbd/ks.yaml
Labels: area/kubernetes, cluster/media

Deploy sab thing
  k8s/media/apps/media/kustomization.yaml
  k8s/media/apps/media/sabnzbd/app/externalsecret.yaml
  k8s/media/apps/media/sabnzbd/app/hr.yaml
  k8s/media/apps/media/sabnzbd/app/kustomization.yaml
  k8s/media/apps/media/sabnzbd/ks.yaml
Labels: area/kubernetes, cluster/media

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*
