Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*

Increase Paisa resource limits
  k8s/nebula/apps/finance/paisa/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Increase Paisa resource limits
  k8s/nebula/apps/finance/paisa/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

resource limits
  k8s/nebula/apps/finance/firefly/app/helm-release.yaml
  k8s/nebula/flux/config/flux.yaml
Labels: area/kubernetes, cluster/nebula

resource limits
  k8s/nebula/apps/finance/firefly/app/helm-release.yaml
  k8s/nebula/flux/config/flux.yaml
Labels: area/kubernetes, cluster/nebula

Upgrade flux
  k8s/nebula/flux/config/flux.yaml
Labels: area/kubernetes, cluster/nebula

Upgrade flux
  k8s/nebula/flux/config/flux.yaml
Labels: area/kubernetes, cluster/nebula

Fix own helm chart repo url
  k8s/base/flux-system/helm-chart-repos/samipsolutions-charts.yaml
Labels: area/kubernetes

Fix own helm chart repo url
  k8s/base/flux-system/helm-chart-repos/samipsolutions-charts.yaml
Labels: area/kubernetes

Will this work?
  k8s/nebula/apps/volsync/volsync/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Will this work?
  k8s/nebula/apps/volsync/volsync/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Upgrade source.toolkit.fluxcd.io/v1beta1/beta2 to v1
  k8s/base/monitoring/prom-stack/crds/kustomize.yaml
  k8s/media/flux/flux.yaml
  k8s/nebula/flux/config/flux.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

Upgrade source.toolkit.fluxcd.io/v1beta1/beta2 to v1
  k8s/base/monitoring/prom-stack/crds/kustomize.yaml
  k8s/media/flux/flux.yaml
  k8s/nebula/flux/config/flux.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

Hmm
  k8s/nebula/apps/home/kustomization.yaml
  k8s/nebula/apps/home/mosquitto/exporter/hr.yaml
  k8s/nebula/apps/home/mosquitto/exporter/kustomization.yaml
  k8s/nebula/apps/home/mosquitto/ks-exporter.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/home/kustomization.yaml
  k8s/nebula/apps/home/mosquitto/exporter/hr.yaml
  k8s/nebula/apps/home/mosquitto/exporter/kustomization.yaml
  k8s/nebula/apps/home/mosquitto/ks-exporter.yaml
Labels: area/kubernetes, cluster/nebula

Fix the flux ones
  k8s/media/flux/flux.yaml
  k8s/nebula/flux/config/flux.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

Fix the flux ones
  k8s/media/flux/flux.yaml
  k8s/nebula/flux/config/flux.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

Duplicate yeet
  k8s/base/flux-system/helm-chart-repos/ingress-nginx-charts.yaml
Labels: area/kubernetes

Duplicate yeet
  k8s/base/flux-system/helm-chart-repos/ingress-nginx-charts.yaml
Labels: area/kubernetes

Hmm
  k8s/nebula/apps/home/mosquitto/exporter/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/home/mosquitto/exporter/hr.yaml
Labels: area/kubernetes, cluster/nebula

Ah
  k8s/nebula/apps/home/mosquitto/exporter/hr.yaml
Labels: area/kubernetes, cluster/nebula

Ah
  k8s/nebula/apps/home/mosquitto/exporter/hr.yaml
Labels: area/kubernetes, cluster/nebula

Let's try that again.
  k8s/nebula/apps/home/mosquitto/exporter/hr.yaml
Labels: area/kubernetes, cluster/nebula

Let's try that again.
  k8s/nebula/apps/home/mosquitto/exporter/hr.yaml
Labels: area/kubernetes, cluster/nebula

Damn it
  k8s/nebula/apps/home/mosquitto/exporter/hr.yaml
Labels: area/kubernetes, cluster/nebula

Damn it
  k8s/nebula/apps/home/mosquitto/exporter/hr.yaml
Labels: area/kubernetes, cluster/nebula

Argh
  k8s/nebula/apps/home/mosquitto/exporter/hr.yaml
Labels: area/kubernetes, cluster/nebula

Argh
  k8s/nebula/apps/home/mosquitto/exporter/hr.yaml
Labels: area/kubernetes, cluster/nebula

Aaargh
  k8s/nebula/apps/home/mosquitto/exporter/hr.yaml
Labels: area/kubernetes, cluster/nebula

Aaargh
  k8s/nebula/apps/home/mosquitto/exporter/hr.yaml
Labels: area/kubernetes, cluster/nebula

Try that again
  k8s/nebula/apps/home/mosquitto/exporter/hr.yaml
Labels: area/kubernetes, cluster/nebula

Try that again
  k8s/nebula/apps/home/mosquitto/exporter/hr.yaml
Labels: area/kubernetes, cluster/nebula

Better wattage calculation
  k8s/nebula/apps/monitoring/kromgo/app/resources/config.yaml
Labels: area/kubernetes, cluster/nebula

Better wattage calculation
  k8s/nebula/apps/monitoring/kromgo/app/resources/config.yaml
Labels: area/kubernetes, cluster/nebula

Better wattage calculation, part two
  k8s/nebula/apps/monitoring/kromgo/app/resources/config.yaml
Labels: area/kubernetes, cluster/nebula

Better wattage calculation, part two
  k8s/nebula/apps/monitoring/kromgo/app/resources/config.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media
