Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

Yeet
  k8s/nebula/apps/storage/rook-ceph/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Yeet
  k8s/nebula/apps/storage/rook-ceph/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

First operator for rook
  k8s/nebula/apps/storage/rook-ceph/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

First operator for rook
  k8s/nebula/apps/storage/rook-ceph/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/storage/rook-ceph/rook/ks-operator.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/storage/rook-ceph/rook/ks-operator.yaml
Labels: area/kubernetes, cluster/nebula

Cluster itself..
  k8s/nebula/apps/storage/rook-ceph/rook/ks-cluster.yaml
Labels: area/kubernetes, cluster/nebula

Cluster itself..
  k8s/nebula/apps/storage/rook-ceph/rook/ks-cluster.yaml
Labels: area/kubernetes, cluster/nebula

Right..
  k8s/nebula/apps/storage/rook-ceph/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Right..
  k8s/nebula/apps/storage/rook-ceph/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/databases/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/databases/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Damn
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Damn
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Retain period tunk
  k8s/templates/volsync/minio/replicationsource.yaml
Labels: area/kubernetes

Retain period tunk
  k8s/templates/volsync/minio/replicationsource.yaml
Labels: area/kubernetes

VPN enable
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

VPN enable
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/networking/cloudflared/app/configs/config.yaml
  k8s/nebula/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/networking/cloudflared/app/configs/config.yaml
  k8s/nebula/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Monitoring stack
  k8s/nebula/shared/monitoring.yaml
Labels: area/kubernetes, cluster/nebula

Monitoring stack
  k8s/nebula/shared/monitoring.yaml
Labels: area/kubernetes, cluster/nebula

Authentik..
  k8s/nebula/apps/security/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Authentik..
  k8s/nebula/apps/security/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Ah
  k8s/nebula/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Ah
  k8s/nebula/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Two replicas is fine..
  k8s/nebula/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/nebula

Two replicas is fine..
  k8s/nebula/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/nebula

cluster domain changes..
  k8s/nebula/apps/media/autobrr/app/externalsecret.yaml
  k8s/nebula/apps/media/prowlarr/app/externalsecret.yaml
Labels: area/kubernetes, cluster/nebula

cluster domain changes..
  k8s/nebula/apps/media/autobrr/app/externalsecret.yaml
  k8s/nebula/apps/media/prowlarr/app/externalsecret.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Let's see.
  k8s/nebula/apps/monitoring/kromgo/app/hr.yaml
  k8s/nebula/apps/monitoring/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Let's see.
  k8s/nebula/apps/monitoring/kromgo/app/hr.yaml
  k8s/nebula/apps/monitoring/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Yeet Ansible for Nebula cluster.
  provision/ansible/nebula/inventory/group_vars/all.yaml
  provision/ansible/nebula/inventory/group_vars/kubernetes/k3s.yml
  provision/ansible/nebula/inventory/group_vars/master/k3s.yml
  provision/ansible/nebula/inventory/group_vars/worker/k3s.yml
  provision/ansible/nebula/inventory/hosts.yaml
  provision/ansible/nebula/playbooks
  provision/ansible/nebula/roles
Labels: none

Yeet Ansible for Nebula cluster.
  provision/ansible/nebula/inventory/group_vars/all.yaml
  provision/ansible/nebula/inventory/group_vars/kubernetes/k3s.yml
  provision/ansible/nebula/inventory/group_vars/master/k3s.yml
  provision/ansible/nebula/inventory/group_vars/worker/k3s.yml
  provision/ansible/nebula/inventory/hosts.yaml
  provision/ansible/nebula/playbooks
  provision/ansible/nebula/roles
Labels: none

Update README and add talconfig.yaml.
  README.md
  talos/talconfig.yaml
Labels: none

Update README and add talconfig.yaml.
  README.md
  talos/talconfig.yaml
Labels: none

volsync: There's no zoneinfo on Talos for this to work.
  k8s/nebula/apps/volsync/volsync/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

volsync: There's no zoneinfo on Talos for this to work.
  k8s/nebula/apps/volsync/volsync/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*
