Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*

Right, ingress things, part two
  k8s/media/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Right, ingress things, part two
  k8s/media/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Add prom alert metric
  k8s/nebula/apps/monitoring/kromgo/app/resources/config.yaml
Labels: area/kubernetes, cluster/nebula

Add prom alert metric
  k8s/nebula/apps/monitoring/kromgo/app/resources/config.yaml
Labels: area/kubernetes, cluster/nebula

Add prom firing alerts to the badges.
  README.md
Labels: none

Add prom firing alerts to the badges.
  README.md
Labels: none

Alertmanager things.
  k8s/base/monitoring/prom-stack/overlays/nebula/helm-release.yaml
Labels: area/kubernetes

Alertmanager things.
  k8s/base/monitoring/prom-stack/overlays/nebula/helm-release.yaml
Labels: area/kubernetes

feat(helm)!: Update chart authentik ( 2023.10.7 → 2024.2.0 )
  k8s/nebula/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

feat(helm)!: Update chart authentik ( 2023.10.7 → 2024.2.0 )
  k8s/nebula/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Revert "fix(helm): update chart grafana ( 7.3.1 → 7.3.2 )"
  .github/renovate/autoMerge.json5
  k8s/nebula/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/ci, area/kubernetes, cluster/nebula

Revert "fix(helm): update chart grafana ( 7.3.1 → 7.3.2 )"
  .github/renovate/autoMerge.json5
  k8s/nebula/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/ci, area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/dev/kustomization.yaml
  k8s/nebula/apps/dev/oidc-test/app/hr.yaml
  k8s/nebula/apps/dev/oidc-test/ks.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/dev/kustomization.yaml
  k8s/nebula/apps/dev/oidc-test/app/hr.yaml
  k8s/nebula/apps/dev/oidc-test/ks.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/dev/oidc-test/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/dev/oidc-test/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Ah, right.
  k8s/nebula/apps/dev/oidc-test/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Ah, right.
  k8s/nebula/apps/dev/oidc-test/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

damn
  k8s/nebula/apps/dev/oidc-test/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

damn
  k8s/nebula/apps/dev/oidc-test/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Yeet the test oidc
  k8s/nebula/apps/dev/kustomization.yaml
  k8s/nebula/apps/dev/oidc-test/app/hr.yaml
  k8s/nebula/apps/dev/oidc-test/ks.yaml
Labels: area/kubernetes, cluster/nebula

Yeet the test oidc
  k8s/nebula/apps/dev/kustomization.yaml
  k8s/nebula/apps/dev/oidc-test/app/hr.yaml
  k8s/nebula/apps/dev/oidc-test/ks.yaml
Labels: area/kubernetes, cluster/nebula

Add nvdp repo
  k8s/base/flux-system/helm-chart-repos/nvdp.yaml
Labels: area/kubernetes

Add nvdp repo
  k8s/base/flux-system/helm-chart-repos/nvdp.yaml
Labels: area/kubernetes

Deploy nvidia device plugin
  k8s/media/apps/kube-system/kustomization.yaml
  k8s/media/apps/kube-system/nvidia/device-plugin/app/hr.yaml
  k8s/media/apps/kube-system/nvidia/device-plugin/app/kustomization.yaml
  k8s/media/apps/kube-system/nvidia/device-plugin/ks.yaml
Labels: area/kubernetes, cluster/media

Deploy nvidia device plugin
  k8s/media/apps/kube-system/kustomization.yaml
  k8s/media/apps/kube-system/nvidia/device-plugin/app/hr.yaml
  k8s/media/apps/kube-system/nvidia/device-plugin/app/kustomization.yaml
  k8s/media/apps/kube-system/nvidia/device-plugin/ks.yaml
Labels: area/kubernetes, cluster/media

Oh
  k8s/media/apps/kube-system/nvidia/device-plugin/ks.yaml
Labels: area/kubernetes, cluster/media

Oh
  k8s/media/apps/kube-system/nvidia/device-plugin/ks.yaml
Labels: area/kubernetes, cluster/media

Damn it, I cannot type it seems.
  k8s/media/apps/kube-system/nvidia/device-plugin/ks.yaml
Labels: area/kubernetes, cluster/media

Damn it, I cannot type it seems.
  k8s/media/apps/kube-system/nvidia/device-plugin/ks.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/kube-system/nvidia/device-plugin/app/hr.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/kube-system/nvidia/device-plugin/app/hr.yaml
Labels: area/kubernetes, cluster/media

Deploy Jellyfin
  k8s/media/apps/media/jellyfin/app/hr.yaml
  k8s/media/apps/media/jellyfin/app/kustomization.yaml
  k8s/media/apps/media/jellyfin/ks.yaml
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

Deploy Jellyfin
  k8s/media/apps/media/jellyfin/app/hr.yaml
  k8s/media/apps/media/jellyfin/app/kustomization.yaml
  k8s/media/apps/media/jellyfin/ks.yaml
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

Huh
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

Huh
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media
