Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"

Deploy node-red.
  cluster/apps/home/kustomization.yaml
Labels: area/kubernetes

Hmm
  cluster/apps/home/mosquitto/app/helm-release.yaml
Labels: area/kubernetes

Hmm
  cluster/apps/home/mosquitto/app/helm-release.yaml
Labels: area/kubernetes

Right...
  cluster/apps/home/mosquitto/app/helm-release.yaml
Labels: area/kubernetes

Right...
  cluster/apps/home/mosquitto/app/helm-release.yaml
Labels: area/kubernetes

Dang it
  cluster/apps/home/mosquitto/app/helm-release.yaml
Labels: area/kubernetes

Dang it
  cluster/apps/home/mosquitto/app/helm-release.yaml
Labels: area/kubernetes

Oki
  cluster/apps/home/mosquitto/app/helm-release.yaml
Labels: area/kubernetes

Oki
  cluster/apps/home/mosquitto/app/helm-release.yaml
Labels: area/kubernetes

Mosquitto: Enable connection messages.
  cluster/apps/home/mosquitto/app/config/mosquitto.conf
  cluster/apps/home/mosquitto/app/helm-release.yaml
Labels: area/kubernetes

Mosquitto: Enable connection messages.
  cluster/apps/home/mosquitto/app/config/mosquitto.conf
  cluster/apps/home/mosquitto/app/helm-release.yaml
Labels: area/kubernetes

Hmmm
  cluster/apps/home/mosquitto/app/secret.sops.yaml
  cluster/apps/home/mosquitto/ks.yaml
Labels: area/kubernetes

Hmmm
  cluster/apps/home/mosquitto/app/secret.sops.yaml
  cluster/apps/home/mosquitto/ks.yaml
Labels: area/kubernetes

Hmm
  cluster/apps/home/mosquitto/app/helm-release.yaml
Labels: area/kubernetes

Hmm
  cluster/apps/home/mosquitto/app/helm-release.yaml
Labels: area/kubernetes

Let's not even try to handle it in SOPS atm.
  cluster/apps/home/mosquitto/app/config/mosquitto.conf
  cluster/apps/home/mosquitto/app/helm-release.yaml
  cluster/apps/home/mosquitto/app/kustomization.yaml
  cluster/apps/home/mosquitto/app/patches/kustomizeconfig.yaml
Labels: area/kubernetes

Let's not even try to handle it in SOPS atm.
  cluster/apps/home/mosquitto/app/config/mosquitto.conf
  cluster/apps/home/mosquitto/app/helm-release.yaml
  cluster/apps/home/mosquitto/app/kustomization.yaml
  cluster/apps/home/mosquitto/app/patches/kustomizeconfig.yaml
Labels: area/kubernetes

Path makes more sense.
  cluster/apps/home/mosquitto/app/helm-release.yaml
Labels: area/kubernetes

Path makes more sense.
  cluster/apps/home/mosquitto/app/helm-release.yaml
Labels: area/kubernetes

z2m: Downgrade further to 1.29.2
  cluster/apps/home/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes

z2m: Downgrade further to 1.29.2
  cluster/apps/home/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart loki to 4.8.0
  cluster/apps/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart vector to 0.20.0
  cluster/apps/monitoring/vector/agent/helm-release.yaml
  cluster/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/koenkk/zigbee2mqtt to v1.30.2
  cluster/apps/home/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/koenkk/zigbee2mqtt to v1.30.2
  cluster/apps/home/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image k8s.gcr.io/ingress-nginx/kube-webhook-certgen to v1.1
  cluster/apps/networking/prefer-dual-stack/deploy.yaml
Labels: area/kubernetes

chore(deps): update image k8s.gcr.io/ingress-nginx/kube-webhook-certgen to v1.1
  cluster/apps/networking/prefer-dual-stack/deploy.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 221131c
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 221131c
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

chore(deps): update k3s-io/k3s to v1.26.1+k3s1
  cluster/apps/system-upgrade/system-upgrade-controller/agent-plan.yaml
  cluster/apps/system-upgrade/system-upgrade-controller/server-plan.yaml
Labels: area/kubernetes

chore(deps): update renovatebot/github-action action to v34.157.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.157.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ansible: remember to update the hosts
  provision/ansible/inventory/hosts.yml
Labels: none

ansible: remember to update the hosts
  provision/ansible/inventory/hosts.yml
Labels: none

Revert "chore(deps): update image ghcr.io/koenkk/zigbee2mqtt to v1.30.2"
  .github/renovate/autoMerge.json5
  cluster/apps/home/zigbee2mqtt/app/helm-release.yaml
Labels: area/ci, area/kubernetes

Revert "chore(deps): update image ghcr.io/koenkk/zigbee2mqtt to v1.30.2"
  .github/renovate/autoMerge.json5
  cluster/apps/home/zigbee2mqtt/app/helm-release.yaml
Labels: area/ci, area/kubernetes

chore(deps): update image ghcr.io/onedr0p/kubernetes-schemas-web to 8b830da
  cluster/apps/default/kubernetes-schemas/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/kubernetes-schemas-web to 8b830da
  cluster/apps/default/kubernetes-schemas/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/koenkk/zigbee2mqtt to v1.30.2
  cluster/apps/home/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/koenkk/zigbee2mqtt to v1.30.2
  cluster/apps/home/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes
