Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"

chore(deps): update chart pod-gateway to 9.10.0
  cluster/apps/vpn/downloads-gateway/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart vector to 0.21.0
  cluster/apps/monitoring/vector/agent/helm-release.yaml
  cluster/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghost to v5.43.0
  cluster/apps/default/edu-blog-ghost/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghost to v5.43.0
  cluster/apps/default/edu-blog-ghost/helm-release.yaml
Labels: area/kubernetes

Flux: Enable OOM watcher on Helm controller.
  cluster/flux/config/flux.yaml
Labels: area/kubernetes

Flux: Enable OOM watcher on Helm controller.
  cluster/flux/config/flux.yaml
Labels: area/kubernetes

prom-stack: Drift exclusion
  cluster/apps/monitoring/prom-stack/app/helm-release.yaml
Labels: area/kubernetes

prom-stack: Drift exclusion
  cluster/apps/monitoring/prom-stack/app/helm-release.yaml
Labels: area/kubernetes

De-provision Loki for now.
  cluster/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

De-provision Loki for now.
  cluster/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

Upgrade Epic container
  cluster/apps/default/epic-freegames/app/helm-release.yaml
Labels: area/kubernetes

Upgrade Epic container
  cluster/apps/default/epic-freegames/app/helm-release.yaml
Labels: area/kubernetes

Move things to archive
  archive/misc/edu-blog-ghost/helm-release.yaml
  archive/misc/edu-blog-ghost/kustomization.yaml
  archive/misc/organizr/helm-release.yaml
  archive/misc/organizr/kustomization.yaml
Labels: none

Move things to archive
  archive/misc/edu-blog-ghost/helm-release.yaml
  archive/misc/edu-blog-ghost/kustomization.yaml
  archive/misc/organizr/helm-release.yaml
  archive/misc/organizr/kustomization.yaml
Labels: none

Move things to archive
  archive/misc/grocy/app/helm-release.yaml
  archive/misc/grocy/app/kustomization.yaml
  archive/misc/grocy/app/pvc.yaml
  archive/misc/grocy/ks.yaml
  archive/misc/node-red/app/helm-release.yaml
  archive/misc/node-red/app/kustomization.yaml
  archive/misc/node-red/app/pvc.yaml
  archive/misc/node-red/ks.yaml
Labels: none

Move things to archive
  archive/misc/grocy/app/helm-release.yaml
  archive/misc/grocy/app/kustomization.yaml
  archive/misc/grocy/app/pvc.yaml
  archive/misc/grocy/ks.yaml
  archive/misc/node-red/app/helm-release.yaml
  archive/misc/node-red/app/kustomization.yaml
  archive/misc/node-red/app/pvc.yaml
  archive/misc/node-red/ks.yaml
Labels: none

YoutubeDL: Better kustomize.
  cluster/apps/media/kustomization.yaml
  cluster/apps/media/youtubedl/app/helm-release.yaml
  cluster/apps/media/youtubedl/app/kustomization.yaml
  cluster/apps/media/youtubedl/app/pvc.yaml
  cluster/apps/media/youtubedl/app/secret.sops.yaml
  cluster/apps/media/youtubedl/ks.yaml
Labels: area/kubernetes

YoutubeDL: Better kustomize.
  cluster/apps/media/kustomization.yaml
  cluster/apps/media/youtubedl/app/helm-release.yaml
  cluster/apps/media/youtubedl/app/kustomization.yaml
  cluster/apps/media/youtubedl/app/pvc.yaml
  cluster/apps/media/youtubedl/app/secret.sops.yaml
  cluster/apps/media/youtubedl/ks.yaml
Labels: area/kubernetes

YoutubeDL: better appdata pvc
  cluster/apps/media/youtubedl/app/pvc.yaml
Labels: area/kubernetes

YoutubeDL: better appdata pvc
  cluster/apps/media/youtubedl/app/pvc.yaml
Labels: area/kubernetes

No IPv6 on VPN yet..
  cluster/apps/vpn/downloads-gateway/app/helm-release.yaml
  cluster/apps/vpn/kustomization.yaml
Labels: area/kubernetes

No IPv6 on VPN yet..
  cluster/apps/vpn/downloads-gateway/app/helm-release.yaml
  cluster/apps/vpn/kustomization.yaml
Labels: area/kubernetes

chore(deps): update github/codeql-action digest to 7df0ce3
  .github/workflows/scan-containers.yaml
Labels: area/ci

chore(deps): update image docker.io/browserless/chrome to 8f38efc
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to 8f38efc
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update actions/checkout action to v3.5.2
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

chore(deps): update actions/checkout action to v3.5.2
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

chore(deps): update actions/checkout digest to 8e5e7e5
  .github/workflows/scan-containers.yaml
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 268613c
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 268613c
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/home-assistant/home-assistant to v2023.4.4
  cluster/apps/home/assistant/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/home-assistant/home-assistant to v2023.4.4
  cluster/apps/home/assistant/app/helm-release.yaml
Labels: area/kubernetes

Newer external-dns.
  cluster/apps/networking/external-dns/app/helm-release-cf.yaml
  cluster/apps/networking/external-dns/app/helm-release.yaml
Labels: area/kubernetes

Newer external-dns.
  cluster/apps/networking/external-dns/app/helm-release-cf.yaml
  cluster/apps/networking/external-dns/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/exportarr to v1.3.1
  cluster/apps/monitoring/arrs/radarr-exporter.yaml
  cluster/apps/monitoring/arrs/sonarr-exporter.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/exportarr to v1.3.1
  cluster/apps/monitoring/arrs/radarr-exporter.yaml
  cluster/apps/monitoring/arrs/sonarr-exporter.yaml
Labels: area/kubernetes

chore(deps): update chart authentik to 2023.4.0
  cluster/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart authentik to 2023.4.0
  cluster/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/claabs/epicgames-freegames-node to 7e665e1
  cluster/apps/default/epic-freegames/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/claabs/epicgames-freegames-node to 7e665e1
  cluster/apps/default/epic-freegames/app/helm-release.yaml
Labels: area/kubernetes
