Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

fix(container): update ghost docker tag to v5.33.6
  cluster/apps/default/edu-blog-ghost/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghost docker tag to v5.33.6
  cluster/apps/default/edu-blog-ghost/helm-release.yaml
Labels: area/kubernetes

fix(github-action): update peter-evans/find-comment action to v2.2.1
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

fix(github-action): update peter-evans/find-comment action to v2.2.1
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

fix(github-action): update peter-evans/find-comment action to v2.2.1
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

fix(helm): update helm release falco to v2.5.5
  cluster/apps/security/falco/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update helm release goldilocks to v6.4.1
  cluster/apps/monitoring/goldilocks/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update helm release grafana to v6.50.7
  cluster/apps/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

fix(helm): update helm release grafana to v6.50.7
  cluster/apps/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

fix(helm): update helm release grafana to v6.50.7
  cluster/apps/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.45.0
  cluster/apps/default/immich/app/machine-learning/helm-release.yaml
  cluster/apps/default/immich/app/microservices/helm-release.yaml
  cluster/apps/default/immich/app/server/helm-release.yaml
  cluster/apps/default/immich/app/web/helm-release.yaml
  cluster/apps/default/smtp-relay/helm-release.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.45.0
  cluster/apps/default/immich/app/machine-learning/helm-release.yaml
  cluster/apps/default/immich/app/microservices/helm-release.yaml
  cluster/apps/default/immich/app/server/helm-release.yaml
  cluster/apps/default/immich/app/web/helm-release.yaml
  cluster/apps/default/smtp-relay/helm-release.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.45.0
  cluster/apps/default/immich/app/machine-learning/helm-release.yaml
  cluster/apps/default/immich/app/microservices/helm-release.yaml
  cluster/apps/default/immich/app/server/helm-release.yaml
  cluster/apps/default/immich/app/web/helm-release.yaml
  cluster/apps/default/smtp-relay/helm-release.yaml
Labels: area/kubernetes

No more sentry
  cluster/apps/networking/misc-ingresses/sentry-ingress.yaml
Labels: area/kubernetes

No more sentry
  cluster/apps/networking/misc-ingresses/sentry-ingress.yaml
Labels: area/kubernetes

No more sentry
  cluster/apps/networking/misc-ingresses/sentry-ingress.yaml
Labels: area/kubernetes

Update README
  README.md
Labels: none

Update README
  README.md
Labels: none

Update README
  README.md
Labels: none

Deploy node-red
  cluster/apps/home/kustomization.yaml
  cluster/apps/home/node-red/app/helm-release.yaml
  cluster/apps/home/node-red/app/kustomization.yaml
  cluster/apps/home/node-red/app/pvc.yaml
  cluster/apps/home/node-red/ks.yaml
Labels: area/kubernetes

Deploy node-red
  cluster/apps/home/kustomization.yaml
  cluster/apps/home/node-red/app/helm-release.yaml
  cluster/apps/home/node-red/app/kustomization.yaml
  cluster/apps/home/node-red/app/pvc.yaml
  cluster/apps/home/node-red/ks.yaml
Labels: area/kubernetes

Deploy node-red
  cluster/apps/home/kustomization.yaml
  cluster/apps/home/node-red/app/helm-release.yaml
  cluster/apps/home/node-red/app/kustomization.yaml
  cluster/apps/home/node-red/app/pvc.yaml
  cluster/apps/home/node-red/ks.yaml
Labels: area/kubernetes

Right..
  cluster/apps/home/node-red/ks.yaml
Labels: area/kubernetes

Right..
  cluster/apps/home/node-red/ks.yaml
Labels: area/kubernetes

Right..
  cluster/apps/home/node-red/ks.yaml
Labels: area/kubernetes

Fail
  cluster/apps/home/node-red/app/helm-release.yaml
Labels: area/kubernetes

Fail
  cluster/apps/home/node-red/app/helm-release.yaml
Labels: area/kubernetes

Fail
  cluster/apps/home/node-red/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/home-assistant/home-assistant docker tag to v2023.2.2
  cluster/apps/home/assistant/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/home-assistant/home-assistant docker tag to v2023.2.2
  cluster/apps/home/assistant/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/home-assistant/home-assistant docker tag to v2023.2.2
  cluster/apps/home/assistant/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update helm release app-template to v1.3.1
  cluster/apps/collab/haste/helm-release.yaml
  cluster/apps/collab/littlelink/helm-release.yaml
  cluster/apps/databases/pgadmin/helm-release.yaml
  cluster/apps/databases/redis/helm-release.yaml
  cluster/apps/default/changedetector/app/helm-release.yaml
  cluster/apps/default/changedetector/app/helmrelease.yaml
  cluster/apps/default/dendrite/app/helm-release.yaml
  cluster/apps/default/edu-blog-ghost/helm-release.yaml
  cluster/apps/default/epic-freegames/app/helm-release.yaml
  cluster/apps/default/immich/app/machine-learning/helm-release.yaml
  cluster/apps/default/immich/app/microservices/helm-release.yaml
  cluster/apps/default/immich/app/redis/helm-release.yaml
  cluster/apps/default/immich/app/server/helm-release.yaml
  cluster/apps/default/immich/app/web/helm-release.yaml
  cluster/apps/default/smtp-relay/helm-release.yaml
  cluster/apps/default/syncthing/helm-release.yaml
  cluster/apps/default/theme-park/app/helmrelease.yaml
  cluster/apps/default/whoami.yaml
  cluster/apps/home/assistant/app/helm-release.yaml
  cluster/apps/home/assistant/tileboard.yaml
  cluster/apps/home/esphome/app/helm-release.yaml
  cluster/apps/home/grocy/app/helm-release.yaml
  cluster/apps/home/zigbee2mqtt/app/helm-release.yaml
  cluster/apps/media/jellyseer/helm-release.yaml
  cluster/apps/media/overseerr/helm-release.yaml
  cluster/apps/media/youtubedl/helm-release.yaml
  cluster/apps/monitoring/alert-manager/helm-release.yaml
  cluster/apps/monitoring/speedtest-exporter/helm-release.yaml
  cluster/apps/networking/k8s-gateway/helm-release.yaml
  cluster/apps/networking/unifi/helm-release.yaml
  cluster/apps/services/nitter/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update k8s.gcr.io/autoscaling/vpa-recommender docker tag to v0.13.0
  cluster/apps/monitoring/vpa/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update k8s.gcr.io/autoscaling/vpa-recommender docker tag to v0.13.0
  cluster/apps/monitoring/vpa/app/helm-release.yaml
Labels: area/kubernetes

feat(container): update k8s.gcr.io/autoscaling/vpa-recommender docker tag to v0.13.0
  cluster/apps/monitoring/vpa/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/dgtlmoon/changedetection.io docker tag to v0.40.2
  cluster/apps/default/changedetector/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/dgtlmoon/changedetection.io docker tag to v0.40.2
  cluster/apps/default/changedetector/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/dgtlmoon/changedetection.io docker tag to v0.40.2
  cluster/apps/default/changedetector/app/helm-release.yaml
Labels: area/kubernetes

feat(github-action): update renovatebot/github-action action to v34.124.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

feat(github-action): update renovatebot/github-action action to v34.124.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"
