Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

Oh?
  k8s/nebula/apps/networking/cloudflared/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Oh?
  k8s/nebula/apps/networking/cloudflared/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/volsync/volsync/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/volsync/volsync/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Deploy rook-ceph on Media cluster
  k8s/media/apps/storage/kustomization.yaml
  k8s/media/apps/storage/rook-ceph/kustomization.yaml
  k8s/media/apps/storage/rook-ceph/ns.yaml
  k8s/media/apps/storage/rook-ceph/rook/cluster/hr.yaml
  k8s/media/apps/storage/rook-ceph/rook/cluster/kustomization.yaml
  k8s/media/apps/storage/rook-ceph/rook/ks-cluster.yaml
  k8s/media/apps/storage/rook-ceph/rook/ks-operator.yaml
  k8s/media/apps/storage/rook-ceph/rook/operator/hr.yaml
  k8s/media/apps/storage/rook-ceph/rook/operator/kustomization.yaml
Labels: area/kubernetes, cluster/media

Deploy rook-ceph on Media cluster
  k8s/media/apps/storage/kustomization.yaml
  k8s/media/apps/storage/rook-ceph/kustomization.yaml
  k8s/media/apps/storage/rook-ceph/ns.yaml
  k8s/media/apps/storage/rook-ceph/rook/cluster/hr.yaml
  k8s/media/apps/storage/rook-ceph/rook/cluster/kustomization.yaml
  k8s/media/apps/storage/rook-ceph/rook/ks-cluster.yaml
  k8s/media/apps/storage/rook-ceph/rook/ks-operator.yaml
  k8s/media/apps/storage/rook-ceph/rook/operator/hr.yaml
  k8s/media/apps/storage/rook-ceph/rook/operator/kustomization.yaml
Labels: area/kubernetes, cluster/media

Deploy rook-ceph on Media cluster, part two
  k8s/media/apps/storage/rook-ceph/kustomization.yaml
Labels: area/kubernetes, cluster/media

Deploy rook-ceph on Media cluster, part two
  k8s/media/apps/storage/rook-ceph/kustomization.yaml
Labels: area/kubernetes, cluster/media

Yeet Tautulli backup pvc
  k8s/media/apps/media/tautulli/app/helm-release.yaml
  k8s/media/apps/media/tautulli/app/kustomization.yaml
Labels: area/kubernetes, cluster/media

Yeet Tautulli backup pvc
  k8s/media/apps/media/tautulli/app/helm-release.yaml
  k8s/media/apps/media/tautulli/app/kustomization.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/radarr/app/pvc.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/radarr/app/pvc.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/qbittorrent/tools/manage/helm-release.yaml
  k8s/media/apps/media/qbittorrent/tools/orphaned/helm-release.yaml
  k8s/media/apps/media/qbittorrent/tools/reannounce/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/qbittorrent/tools/manage/helm-release.yaml
  k8s/media/apps/media/qbittorrent/tools/orphaned/helm-release.yaml
  k8s/media/apps/media/qbittorrent/tools/reannounce/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/radarr/app/pvc.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/radarr/app/pvc.yaml
Labels: area/kubernetes, cluster/media

PVC things
  k8s/media/apps/media/bazarr/app/pvc.yaml
  k8s/media/apps/media/qbit/app/pvc.yaml
  k8s/media/apps/media/qbittorrent/app/pvc.yaml
Labels: area/kubernetes, cluster/media

PVC things
  k8s/media/apps/media/bazarr/app/pvc.yaml
  k8s/media/apps/media/qbit/app/pvc.yaml
  k8s/media/apps/media/qbittorrent/app/pvc.yaml
Labels: area/kubernetes, cluster/media

Yeet Longhorn from media cluster.
  k8s/media/apps/storage/kustomization.yaml
Labels: area/kubernetes, cluster/media

Yeet Longhorn from media cluster.
  k8s/media/apps/storage/kustomization.yaml
Labels: area/kubernetes, cluster/media

Yeet
  k8s/media/apps/media/cross-seed/ks.yaml
Labels: area/kubernetes, cluster/media

Yeet
  k8s/media/apps/media/cross-seed/ks.yaml
Labels: area/kubernetes, cluster/media

Yeet longhorn from media cluster
  .archive/media/longhorn/app/helm-release.yaml
  .archive/media/longhorn/app/kustomization.yaml
  .archive/media/longhorn/app/minio-secret.sops.yaml
  .archive/media/longhorn/ks.yaml
Labels: none

Yeet longhorn from media cluster
  .archive/media/longhorn/app/helm-release.yaml
  .archive/media/longhorn/app/kustomization.yaml
  .archive/media/longhorn/app/minio-secret.sops.yaml
  .archive/media/longhorn/ks.yaml
Labels: none

Oh?
  k8s/media/apps/media/radarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Oh?
  k8s/media/apps/media/radarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Not dependent on Longhorn
  k8s/media/apps/media/qbit/ks.yaml
  k8s/media/apps/media/qbittorrent/ks.yaml
  k8s/media/apps/media/radarr/ks.yaml
  k8s/media/apps/media/sonarr/ks.yaml
  k8s/media/apps/media/tautulli/ks.yaml
Labels: area/kubernetes, cluster/media

Not dependent on Longhorn
  k8s/media/apps/media/qbit/ks.yaml
  k8s/media/apps/media/qbittorrent/ks.yaml
  k8s/media/apps/media/radarr/ks.yaml
  k8s/media/apps/media/sonarr/ks.yaml
  k8s/media/apps/media/tautulli/ks.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/media-index/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/media-index/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Huh
  k8s/media/apps/media/media-index/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Huh
  k8s/media/apps/media/media-index/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hmmmm
  k8s/media/apps/media/media-index/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hmmmm
  k8s/media/apps/media/media-index/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hm
  k8s/media/apps/media/media-index/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hm
  k8s/media/apps/media/media-index/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Ah, controller..
  k8s/media/apps/media/media-index/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Ah, controller..
  k8s/media/apps/media/media-index/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Routing-mode for 1.15
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Routing-mode for 1.15
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*
