Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"

Multus: Let's try it again.
  cluster/apps/system/kustomization.yaml
Labels: area/kubernetes

Multus: Let's try it again.
  cluster/apps/system/kustomization.yaml
Labels: area/kubernetes

Unifi: Use host-network.
  cluster/apps/networking/unifi/app/helm-release.yaml
Labels: area/kubernetes

Unifi: Use host-network.
  cluster/apps/networking/unifi/app/helm-release.yaml
Labels: area/kubernetes

README: Update with network devices.
  README.md
Labels: none

README: Update with network devices.
  README.md
Labels: none

README: fix typo
  README.md
Labels: none

README: fix typo
  README.md
Labels: none

README: update NAS storage spec.
  README.md
Labels: none

README: update NAS storage spec.
  README.md
Labels: none

CI: Thiiings
  .github/workflows/flux-diff.yaml
  .github/workflows/helm-release-differ.yaml
  .github/workflows/meta-label-size.yaml
  .github/workflows/meta-labeler.yaml
Labels: area/ci

CI: Thiiings
  .github/workflows/flux-diff.yaml
  .github/workflows/helm-release-differ.yaml
  .github/workflows/meta-label-size.yaml
  .github/workflows/meta-labeler.yaml
Labels: area/ci

Yeet
  cluster/flux/config/crds/.gitkeep
  cluster/flux/config/crds/actions-runner-controller.yaml
  cluster/flux/config/crds/cert-manager.yaml
  cluster/flux/config/crds/kube-prometheus-stack.yaml
  cluster/flux/config/crds/kustomization.yaml
  cluster/flux/config/crds/kyverno.yaml
Labels: area/kubernetes

Yeet
  cluster/flux/config/crds/.gitkeep
  cluster/flux/config/crds/actions-runner-controller.yaml
  cluster/flux/config/crds/cert-manager.yaml
  cluster/flux/config/crds/kube-prometheus-stack.yaml
  cluster/flux/config/crds/kustomization.yaml
  cluster/flux/config/crds/kyverno.yaml
Labels: area/kubernetes

CI: Tunk
  .github/workflows/meta-label-size.yaml
Labels: area/ci

CI: Tunk
  .github/workflows/meta-label-size.yaml
Labels: area/ci

chore(deps): update chart renovate to 35.113.2 (#1343)
  cluster/apps/ci/renovate/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart renovate to 35.113.2 (#1343)
  cluster/apps/ci/renovate/app/helm-release.yaml
Labels: area/kubernetes

volsync: It seems to have had invalid ks.
  cluster/apps/storage/volsync/app/kustomization.yaml
Labels: area/kubernetes

volsync: It seems to have had invalid ks.
  cluster/apps/storage/volsync/app/kustomization.yaml
Labels: area/kubernetes

CI: More tunk
  .github/renovate-bot.json5
  .github/renovate.json5
Labels: area/ci

CI: More tunk
  .github/renovate-bot.json5
  .github/renovate.json5
Labels: area/ci

chore(deps): update chart matrix-synapse to 3.2.12
  cluster/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart cert-manager to v1.12.1
  cluster/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart csi-driver-nfs to v4.4.0
  cluster/apps/storage/storage-classes/csi-driver-nfs/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart eck-operator to 2.8.0
  cluster/apps/search/elastic/operator/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart external-dns to 1.13.0
  cluster/apps/networking/external-dns/app/helm-release-cf.yaml
  cluster/apps/networking/external-dns/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart loki to 5.6.3
  cluster/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/nginxinc/nginx-unprivileged to v1.25
  cluster/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/nginxinc/nginx-unprivileged to v1.25
  cluster/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes

CI: Even more tunk
  .github/workflows/scan-containers.yaml
Labels: area/ci

CI: Even more tunk
  .github/workflows/scan-containers.yaml
Labels: area/ci

chore(deps): update image ghcr.io/onedr0p/exportarr to v1.4.0
  cluster/apps/monitoring/arrs/radarr-exporter.yaml
  cluster/apps/monitoring/arrs/sonarr-exporter.yaml
Labels: area/kubernetes

chore(deps): update chart loki to 5.6.3 (#1355)
  cluster/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart loki to 5.6.3 (#1355)
  cluster/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/exportarr to v1.4.0 (#1356)
  cluster/apps/monitoring/arrs/radarr-exporter.yaml
  cluster/apps/monitoring/arrs/sonarr-exporter.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/exportarr to v1.4.0 (#1356)
  cluster/apps/monitoring/arrs/radarr-exporter.yaml
  cluster/apps/monitoring/arrs/sonarr-exporter.yaml
Labels: area/kubernetes

chore(deps): update chart eck-operator to 2.8.0 (#1353)
  cluster/apps/search/elastic/operator/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart eck-operator to 2.8.0 (#1353)
  cluster/apps/search/elastic/operator/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart cert-manager to v1.12.1 (#1351)
  cluster/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/kubernetes
