Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

media-cluster: deploy rook
  k8s/media/apps/storage/rook-ceph/kustomization.yaml
Labels: area/kubernetes, cluster/media

Deploy things
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

So that's the missing piece.
  k8s/media/apps/media/qbittorrent/app/replicationdestination.yaml
Labels: area/kubernetes, cluster/media

Change cross-seed config
  k8s/media/apps/media/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes, cluster/media

Fix the secret for notifications
  k8s/base/flux-system/notifications/github/secret.sops.yaml
Labels: area/kubernetes

Let's see what happens
  k8s/nebula/apps/networking/external-dns/external/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

mariadb: let's try recovery
  k8s/nebula/apps/databases/mariadb/resources/mariadb.yaml
Labels: area/kubernetes, cluster/nebula

Damn mariadb
  k8s/nebula/apps/databases/mariadb/resources/mariadb.yaml
Labels: area/kubernetes, cluster/nebula

Fixed it maybe
  k8s/nebula/apps/databases/mariadb/resources/mariadb.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/networking/observium/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Prepping for elk deploy
  k8s/nebula/apps/search/elk/ks-resources.yaml
  k8s/nebula/apps/search/elk/ks.yaml
  k8s/nebula/apps/search/elk/operator/hr.yaml
  k8s/nebula/apps/search/elk/operator/kustomization.yaml
  k8s/nebula/apps/search/elk/resources/es.yaml
  k8s/nebula/apps/search/elk/resources/ingress-elk.yaml
  k8s/nebula/apps/search/elk/resources/kibana.yaml
  k8s/nebula/apps/search/elk/resources/kustomization.yaml
  k8s/nebula/apps/search/kustomization.yaml
  k8s/nebula/apps/search/ns.yaml
Labels: area/kubernetes, cluster/nebula

Deploy elastic operator
  k8s/nebula/apps/kustomization.yaml
  k8s/nebula/apps/search/elk/operator/hr.yaml
  k8s/nebula/apps/search/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Deploy the thing
  k8s/nebula/apps/search/elk/resources/es.yaml
  k8s/nebula/apps/search/elk/resources/kibana.yaml
  k8s/nebula/apps/search/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Will it fix it?
  k8s/nebula/apps/security/authentik/app/internal-ingress.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/networking/external-dns/external/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/networking/external-dns/external/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Tweak some ingresses
  k8s/nebula/apps/networking/misc-ingresses/dh-ingress.yaml
  k8s/nebula/apps/networking/misc-ingresses/genpi-minio-ingress.yaml
Labels: area/kubernetes, cluster/nebula

That might help
  k8s/nebula/apps/default/radicale/app/hr.yaml
  k8s/nebula/apps/networking/external-dns/external/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Deploy this thing
  k8s/nebula/flux/config/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/kustomization.yaml
  k8s/nebula/apps/tor/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/search/elk/resources/es.yaml
Labels: area/kubernetes, cluster/nebula

Maybe?
  k8s/nebula/apps/search/elk/resources/es.yaml
Labels: area/kubernetes, cluster/nebula

I dunno.
  k8s/nebula/apps/search/elk/resources/es.yaml
Labels: area/kubernetes, cluster/nebula

DNS changes
  k8s/media/apps/networking/external-dns/internal/helm-release.yaml
  k8s/nebula/apps/networking/external-dns/internal/helm-release.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

Change IP range for LBs, probably break everything
  .archive/nebula/media/plex/helm-release.yaml
  k8s/nebula/apps/home/mosquitto/app/helm-release.yaml
  k8s/nebula/apps/kube-system/cilium/config/loadbalancer-ips.yaml
  k8s/nebula/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/nebula

internal ingress: IPv6 address too
  k8s/nebula/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/nebula

Fine..
  k8s/nebula/apps/home/assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

That's interesting..
  k8s/nebula/apps/home/mosquitto/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/home/mosquitto/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/home/mosquitto/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Okay so no auth is better? LOL
  k8s/nebula/apps/home/mosquitto/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/media/apps/media/qbit/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Enable FIREWALL_DEBUG in qbit Helm release
  k8s/media/apps/media/qbit/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Set LOG_LEVEL to debug and remove FIREWALL_DEBUG variable.
  k8s/media/apps/media/qbit/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

media: Enable autoDirectNodeRoutes and configure IPv6 masquerade.
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Update kubeProxyReplacement to `true` in Cilium config
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Unprovosion kyoo
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

Sad day
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Damn
  k8s/media/apps/media/qbit/app/helm-release.yaml
  k8s/media/apps/media/qbit/app/secret.sops.yaml
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/qbit/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*
