Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

Yeet rook
  k8s/nebula/apps/storage/rook-ceph/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Yeet rook operator
  k8s/nebula/apps/storage/rook-ceph/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/home/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/home/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/shared/system.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Archive Nebula cluster for few months.
  .github/renovate.json5
  README.md
  k8s/nebula/README.md
Labels: area/ci, area/kubernetes, cluster/nebula

Hmm
  k8s/media/apps/databases/kustomization.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

Deploy cnpg on Media cluster for a moment
  k8s/media/apps/databases/cloudnative-pg/cluster/cluster16.yaml
  k8s/media/apps/databases/cloudnative-pg/cluster/kustomization.yaml
  k8s/media/apps/databases/cloudnative-pg/cluster/prom-rule.yaml
  k8s/media/apps/databases/cloudnative-pg/cluster/scheduledbackup.yaml
  k8s/media/apps/databases/cloudnative-pg/ks-cluster.yaml
  k8s/media/apps/databases/cloudnative-pg/ks.yaml
  k8s/media/apps/databases/cloudnative-pg/operator/externalsecret.yaml
  k8s/media/apps/databases/cloudnative-pg/operator/helm-release.yaml
  k8s/media/apps/databases/cloudnative-pg/operator/kustomization.yaml
  k8s/media/apps/databases/cloudnative-pg/operator/secret.sops.yaml
  k8s/media/apps/databases/clustermesh/README.md
  k8s/media/apps/databases/clustermesh/postgres/kustomization.yaml
  k8s/media/apps/databases/clustermesh/postgres/postgres-svc.yaml
  k8s/media/apps/databases/kustomization.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/kustomization.yaml
Labels: area/kubernetes, cluster/media

DAmn it
  k8s/media/apps/kustomization.yaml
Labels: area/kubernetes, cluster/media

Arg
  k8s/media/apps/databases/cloudnative-pg/operator/kustomization.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/databases/cloudnative-pg/operator/secret.sops.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/databases/cloudnative-pg/operator/secret.sops.yaml
Labels: area/kubernetes, cluster/media

Oh
  k8s/media/apps/databases/cloudnative-pg/ks.yaml
Labels: area/kubernetes, cluster/media

Revert "Hmm"
  k8s/media/apps/databases/cloudnative-pg/operator/secret.sops.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/databases/kustomization.yaml
Labels: area/kubernetes, cluster/media

Huh
  k8s/media/apps/databases/kustomization.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

Move to sops for some secrets
  k8s/media/apps/media/bazarr/app/kustomization.yaml
  k8s/media/apps/media/bazarr/app/secret.sops.yaml
  k8s/media/apps/media/bazarr/ks.yaml
  k8s/media/apps/media/radarr/app/externalsecret.yaml
  k8s/media/apps/media/radarr/app/kustomization.yaml
  k8s/media/apps/media/radarr/app/secret.sops.yaml
  k8s/media/apps/media/radarr/ks.yaml
  k8s/media/apps/media/sonarr/app/externalsecret.yaml
  k8s/media/apps/media/sonarr/app/kustomization.yaml
  k8s/media/apps/media/sonarr/app/secret.sops.yaml
  k8s/media/apps/media/sonarr/ks.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/radarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/sonarr/app/helm-release.yaml
  k8s/media/apps/media/sonarr/app/secret.sops.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/radarr/app/secret.sops.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Deploy recyclarr on media cluster
  k8s/media/apps/media/kustomization.yaml
  k8s/media/apps/media/recyclarr/app/config/recyclarr.yml
  k8s/media/apps/media/recyclarr/app/externalsecret.yaml
  k8s/media/apps/media/recyclarr/app/helm-release.yaml
  k8s/media/apps/media/recyclarr/app/kustomization.yaml
  k8s/media/apps/media/recyclarr/app/pvc.yaml
  k8s/media/apps/media/recyclarr/app/secret.sops.yaml
  k8s/media/apps/media/recyclarr/ks.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/bazarr/app/secret.sops.yaml
Labels: area/kubernetes, cluster/media

Seperate out app-template PRs per-app
  .github/renovate/groups.json5
Labels: area/ci

Hmm
  k8s/media/apps/networking/envoy/manifests/gateway.yaml
Labels: area/kubernetes, cluster/media

Oh
  k8s/media/apps/networking/envoy/manifests/gateway.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/media-index/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Damn idents
  k8s/media/apps/media/media-index/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Damn
  k8s/media/apps/media/media-index/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

terraform: Prepare for refactor
  terraform/mikrotik/modules/base/_provider.tf
  terraform/mikrotik/modules/base/_variables.tf
  terraform/mikrotik/modules/base/bonding.tf
  terraform/mikrotik/modules/base/bridge.tf
  terraform/mikrotik/modules/base/certificates.tf
  terraform/mikrotik/modules/base/interfaces.tf
  terraform/mikrotik/modules/base/ip-services.tf
  terraform/mikrotik/modules/base/ntp.tf
  terraform/mikrotik/modules/base/system.tf
  terraform/mikrotik/modules/base/tools.tf
  terraform/mikrotik/modules/dhcp-server/main.tf
  terraform/mikrotik/modules/dhcp-server/provider.tf
  terraform/mikrotik/modules/dhcp-server/variables.tf
Labels: none

terraform README
  terraform/README.md
Labels: none

Move it inside Mikrotik
  terraform/mikrotik/README.md
Labels: none

Let's use that instead for now.
  k8s/media/apps/kube-system/cilium/config/BGP.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/recyclarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*
