Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*

Yeet
  k8s/nebula/apps/games/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Let's try that again, so re-deploy.
  k8s/nebula/apps/games/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Let's try that again, so re-deploy.
  k8s/nebula/apps/games/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

DAmn it
  k8s/templates/volsync/minio/kustomization.yaml
Labels: area/kubernetes

DAmn it
  k8s/templates/volsync/minio/kustomization.yaml
Labels: area/kubernetes

Damn
  k8s/nebula/apps/databases/pgadmin/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Damn
  k8s/nebula/apps/databases/pgadmin/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Deploy mariadb
  k8s/nebula/apps/databases/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Deploy mariadb
  k8s/nebula/apps/databases/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Fix the helm repo
  k8s/base/flux-system/helm-chart-repos/bjw-s.yaml
Labels: area/kubernetes

Fix the helm repo
  k8s/base/flux-system/helm-chart-repos/bjw-s.yaml
Labels: area/kubernetes

Yeet init-containers from HASS
  k8s/nebula/apps/home/assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Yeet init-containers from HASS
  k8s/nebula/apps/home/assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Revert "Fix the helm repo"
  k8s/base/flux-system/helm-chart-repos/bjw-s.yaml
Labels: area/kubernetes

Revert "Fix the helm repo"
  k8s/base/flux-system/helm-chart-repos/bjw-s.yaml
Labels: area/kubernetes

prowlarr: increase memory limits
  k8s/nebula/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

prowlarr: increase memory limits
  k8s/nebula/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

postgres needs more storage.
  k8s/nebula/apps/databases/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes, cluster/nebula

postgres needs more storage.
  k8s/nebula/apps/databases/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes, cluster/nebula

Deploy edu blog
  k8s/nebula/apps/kustomization.yaml
  k8s/nebula/apps/school/blog/app/hr.yaml
  k8s/nebula/apps/school/blog/app/kustomization.yaml
  k8s/nebula/apps/school/blog/ks.yaml
  k8s/nebula/apps/school/kustomization.yaml
  k8s/nebula/apps/school/ns.yaml
Labels: area/kubernetes, cluster/nebula

Deploy edu blog
  k8s/nebula/apps/kustomization.yaml
  k8s/nebula/apps/school/blog/app/hr.yaml
  k8s/nebula/apps/school/blog/app/kustomization.yaml
  k8s/nebula/apps/school/blog/ks.yaml
  k8s/nebula/apps/school/kustomization.yaml
  k8s/nebula/apps/school/ns.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/school/blog/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/school/blog/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/school/blog/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/school/blog/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Fix the service name for blog
  k8s/nebula/apps/school/blog/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Fix the service name for blog
  k8s/nebula/apps/school/blog/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Damn it
  k8s/templates/volsync-minio/minio/kustomization.yaml
Labels: area/kubernetes

Damn it
  k8s/templates/volsync-minio/minio/kustomization.yaml
Labels: area/kubernetes

Satisfactory: Disable auto-merge.
  .github/renovate/autoMerge.json5
  k8s/nebula/apps/games/satisfactory/app/hr.yaml
Labels: area/ci, area/kubernetes, cluster/nebula

Satisfactory: Disable auto-merge.
  .github/renovate/autoMerge.json5
  k8s/nebula/apps/games/satisfactory/app/hr.yaml
Labels: area/ci, area/kubernetes, cluster/nebula

Hmm
  k8s/base/cert-manager/issuers/zerossl-production.yaml
  k8s/nebula/apps/school/blog/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/base/cert-manager/issuers/zerossl-production.yaml
  k8s/nebula/apps/school/blog/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/school/blog/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/school/blog/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/base/cert-manager/issuers/zerossl-production.yaml
Labels: area/kubernetes

Hmm
  k8s/base/cert-manager/issuers/zerossl-production.yaml
Labels: area/kubernetes

Hmm
  k8s/base/cert-manager/issuers/zerossl-production.yaml
Labels: area/kubernetes

Hmm
  k8s/base/cert-manager/issuers/zerossl-production.yaml
Labels: area/kubernetes

chore(renovate): satisfsctory shouldnt be auto-updated
  .github/renovate/autoMerge.json5
Labels: area/ci
