Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"

Grafana: Zigbee dash changes
  cluster/apps/monitoring/grafana/dashboards/zigbee_dash.json
Labels: area/kubernetes

Grafana: Zigbee dash changes
  cluster/apps/monitoring/grafana/dashboards/zigbee_dash.json
Labels: area/kubernetes

fix(ansible): update dependency community.docker to v3.4.2
  provision/ansible/requirements.yml
Labels: none

fix(ansible): update dependency community.docker to v3.4.2
  provision/ansible/requirements.yml
Labels: none

fix(helm): update helm release reloader to v1.0.7
  cluster/apps/system/reloader/helm-release.yaml
Labels: area/kubernetes

feat(github-action): update peter-evans/find-comment action to v2.3.0
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

feat(github-action): update peter-evans/find-comment action to v2.3.0
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to 32dc499
  .github/workflows/scan-containers.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to 32dc499
  .github/workflows/scan-containers.yaml
Labels: area/ci

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

fix(github-action): update renovatebot/github-action action to v34.152.5
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(github-action): update renovatebot/github-action action to v34.152.5
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

fix(helm): update helm release reloader to v1.0.10
  cluster/apps/system/reloader/helm-release.yaml
Labels: area/kubernetes

feat(github-action): update tj-actions/changed-files action to v35.6.0
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

feat(github-action): update tj-actions/changed-files action to v35.6.0
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

feat(helm): update helm release grafana to v6.51.1
  cluster/apps/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

feat(helm): update helm release grafana to v6.51.1
  cluster/apps/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

feat(helm): update helm release kube-prometheus-stack to v45.4.0
  cluster/apps/monitoring/prom-stack/app/helm-release.yaml
  cluster/flux/config/crds/kube-prometheus-stack.yaml
Labels: area/kubernetes

feat(helm): update helm release kube-prometheus-stack to v45.4.0
  cluster/apps/monitoring/prom-stack/app/helm-release.yaml
  cluster/flux/config/crds/kube-prometheus-stack.yaml
Labels: area/kubernetes

Move Immich to amd64 nodes.
  cluster/apps/default/immich/app/server/helm-release.yaml
  cluster/apps/default/immich/app/web/helm-release.yaml
Labels: area/kubernetes

Move Immich to amd64 nodes.
  cluster/apps/default/immich/app/server/helm-release.yaml
  cluster/apps/default/immich/app/web/helm-release.yaml
Labels: area/kubernetes

Deploy smtp-relay.
  cluster/apps/default/kustomization.yaml
  cluster/apps/default/smtp-relay/app/helm-release.yaml
  cluster/apps/default/smtp-relay/app/pvc.yaml
  cluster/apps/default/smtp-relay/ks.yaml
Labels: area/kubernetes

Deploy smtp-relay.
  cluster/apps/default/kustomization.yaml
  cluster/apps/default/smtp-relay/app/helm-release.yaml
  cluster/apps/default/smtp-relay/app/pvc.yaml
  cluster/apps/default/smtp-relay/ks.yaml
Labels: area/kubernetes

Let's add annotation.
  cluster/apps/default/smtp-relay/app/helm-release.yaml
Labels: area/kubernetes

Let's add annotation.
  cluster/apps/default/smtp-relay/app/helm-release.yaml
Labels: area/kubernetes

Remove the NAS ingress and service as it wasn't really used.
  cluster/apps/networking/misc-ingresses/kustomization.yaml
Labels: area/kubernetes

Remove the NAS ingress and service as it wasn't really used.
  cluster/apps/networking/misc-ingresses/kustomization.yaml
Labels: area/kubernetes

Dang annotations
  cluster/apps/default/smtp-relay/app/helm-release.yaml
Labels: area/kubernetes

Dang annotations
  cluster/apps/default/smtp-relay/app/helm-release.yaml
Labels: area/kubernetes

Yeet volsync for now
  cluster/apps/storage/kustomization.yaml
Labels: area/kubernetes

Yeet volsync for now
  cluster/apps/storage/kustomization.yaml
Labels: area/kubernetes

Yeet haste after it's future being in the toilet.
  cluster/apps/collab/haste/helm-release.yaml
  cluster/apps/collab/haste/kustomization.yaml
  cluster/apps/collab/kustomization.yaml
Labels: area/kubernetes

Yeet haste after it's future being in the toilet.
  cluster/apps/collab/haste/helm-release.yaml
  cluster/apps/collab/haste/kustomization.yaml
  cluster/apps/collab/kustomization.yaml
Labels: area/kubernetes

smtp-relay: Adding timeout to install.
  cluster/apps/default/smtp-relay/app/helm-release.yaml
Labels: area/kubernetes

smtp-relay: Adding timeout to install.
  cluster/apps/default/smtp-relay/app/helm-release.yaml
Labels: area/kubernetes

smtp-relay: Let's try that again
  cluster/apps/default/smtp-relay/app/helm-release.yaml
Labels: area/kubernetes

smtp-relay: Let's try that again
  cluster/apps/default/smtp-relay/app/helm-release.yaml
Labels: area/kubernetes

smtp-relay: Hmm
  cluster/apps/default/smtp-relay/app/helm-release.yaml
Labels: area/kubernetes

smtp-relay: Hmm
  cluster/apps/default/smtp-relay/app/helm-release.yaml
Labels: area/kubernetes
