Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

Hm
  k8s/media/apps/media/tdarr/app/hr.yaml
Labels: area/kubernetes, cluster/media

Hm
  k8s/media/apps/media/tdarr/app/hr.yaml
Labels: area/kubernetes, cluster/media

Hmmmm
  k8s/media/apps/media/tdarr/app/hr.yaml
  k8s/nebula/apps/media/tdarr/app/hr.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

Hmmmm
  k8s/media/apps/media/tdarr/app/hr.yaml
  k8s/nebula/apps/media/tdarr/app/hr.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

It's not ro-anymore.
  k8s/nebula/apps/media/tdarr/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

It's not ro-anymore.
  k8s/nebula/apps/media/tdarr/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

It's not ro-anymore, part two
  k8s/media/apps/media/tdarr/app/hr.yaml
  k8s/nebula/apps/media/tdarr/app/hr.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

It's not ro-anymore, part two
  k8s/media/apps/media/tdarr/app/hr.yaml
  k8s/nebula/apps/media/tdarr/app/hr.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

External ingress
  k8s/nebula/apps/protu-staging/website/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

External ingress
  k8s/nebula/apps/protu-staging/website/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

feat(radarr,sonarr): Disable log DB
  k8s/media/apps/media/radarr/app/helm-release.yaml
  k8s/media/apps/media/sonarr/app/externalsecret.yaml
  k8s/media/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

feat(radarr,sonarr): Disable log DB
  k8s/media/apps/media/radarr/app/helm-release.yaml
  k8s/media/apps/media/sonarr/app/externalsecret.yaml
  k8s/media/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

fix: Radarr LOG disable
  k8s/media/apps/media/radarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

fix: Radarr LOG disable
  k8s/media/apps/media/radarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Disable MariaDB automerge.
  .github/renovate/autoMerge.json5
Labels: area/ci

Disable MariaDB automerge.
  .github/renovate/autoMerge.json5
Labels: area/ci

Revert "feat(container): update image mariadb ( 11.3.2 → 11.4.2 )"
  k8s/nebula/apps/databases/mariadb/resources/mariadb.yaml
Labels: area/kubernetes, cluster/nebula

Revert "feat(container): update image mariadb ( 11.3.2 → 11.4.2 )"
  k8s/nebula/apps/databases/mariadb/resources/mariadb.yaml
Labels: area/kubernetes, cluster/nebula

debug logs
  k8s/nebula/apps/databases/mariadb/operator/hr.yaml
Labels: area/kubernetes, cluster/nebula

debug logs
  k8s/nebula/apps/databases/mariadb/operator/hr.yaml
Labels: area/kubernetes, cluster/nebula

esph: Will that be better?
  k8s/nebula/apps/home/esphome/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

esph: Will that be better?
  k8s/nebula/apps/home/esphome/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

NAS ingress
  k8s/nebula/apps/networking/misc-ingresses/kustomization.yaml
  k8s/nebula/apps/networking/misc-ingresses/nas-ingress-and-service.yaml
Labels: area/kubernetes, cluster/nebula

NAS ingress
  k8s/nebula/apps/networking/misc-ingresses/kustomization.yaml
  k8s/nebula/apps/networking/misc-ingresses/nas-ingress-and-service.yaml
Labels: area/kubernetes, cluster/nebula

Fix ingressclass maybe
  k8s/nebula/apps/networking/misc-ingresses/nas-ingress-and-service.yaml
Labels: area/kubernetes, cluster/nebula

Fix ingressclass maybe
  k8s/nebula/apps/networking/misc-ingresses/nas-ingress-and-service.yaml
Labels: area/kubernetes, cluster/nebula

Coder is back.
  .archive/nebula/dev/coder/app/externalsecret-store.yaml
  k8s/nebula/apps/dev/coder/app/externalsecret.yaml
  k8s/nebula/apps/dev/coder/app/hr.yaml
  k8s/nebula/apps/dev/coder/app/internal-ingress.yaml
  k8s/nebula/apps/dev/coder/app/kustomization.yaml
  k8s/nebula/apps/dev/coder/ks.yaml
  k8s/nebula/apps/dev/kustomization.yaml
  k8s/nebula/apps/dev/ns.yaml
Labels: area/kubernetes, cluster/nebula

Coder is back.
  .archive/nebula/dev/coder/app/externalsecret-store.yaml
  k8s/nebula/apps/dev/coder/app/externalsecret.yaml
  k8s/nebula/apps/dev/coder/app/hr.yaml
  k8s/nebula/apps/dev/coder/app/internal-ingress.yaml
  k8s/nebula/apps/dev/coder/app/kustomization.yaml
  k8s/nebula/apps/dev/coder/ks.yaml
  k8s/nebula/apps/dev/kustomization.yaml
  k8s/nebula/apps/dev/ns.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/dev/coder/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/dev/coder/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Upgrade coder to 2.12.1
  k8s/nebula/apps/dev/coder/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Upgrade coder to 2.12.1
  k8s/nebula/apps/dev/coder/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

This either works the first try or it goes wrong.
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

This either works the first try or it goes wrong.
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Scale down a bit
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Scale down a bit
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*
