Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"

chore(deps): update actions/checkout digest to 8f4b7f8
  .github/workflows/scan-containers.yaml
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update community.docker to 3.4.3
  provision/ansible/requirements.yml
Labels: none

chore(deps): update community.docker to 3.4.3
  provision/ansible/requirements.yml
Labels: none

chore(deps): update github/codeql-action digest to 67a35a0
  .github/workflows/scan-containers.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to 67a35a0
  .github/workflows/scan-containers.yaml
Labels: area/ci

ELK: Scale down
  cluster/apps/search/elastic/resources/es.yaml
Labels: area/kubernetes

ELK: Scale down
  cluster/apps/search/elastic/resources/es.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to 9beea8d
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to 9beea8d
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/prowlarr-develop to v1.3.2.2984
  cluster/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/prowlarr-develop to v1.3.2.2984
  cluster/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

ELK: Scale up
  cluster/apps/search/elastic/resources/es.yaml
Labels: area/kubernetes

ELK: Scale up
  cluster/apps/search/elastic/resources/es.yaml
Labels: area/kubernetes

Provision mailserver in cluster.
  cluster/apps/default/kustomization.yaml
  cluster/apps/default/mailsrv/app/helm-release.yaml
  cluster/apps/default/mailsrv/app/pvc.yaml
  cluster/apps/default/mailsrv/ks.yaml
  cluster/apps/networking/metallb/config/bgp-config.yaml
Labels: area/kubernetes

Provision mailserver in cluster.
  cluster/apps/default/kustomization.yaml
  cluster/apps/default/mailsrv/app/helm-release.yaml
  cluster/apps/default/mailsrv/app/pvc.yaml
  cluster/apps/default/mailsrv/ks.yaml
  cluster/apps/networking/metallb/config/bgp-config.yaml
Labels: area/kubernetes

mailserv needs to exist on amd64 nodes.
  cluster/apps/default/mailsrv/app/helm-release.yaml
Labels: area/kubernetes

mailserv needs to exist on amd64 nodes.
  cluster/apps/default/mailsrv/app/helm-release.yaml
Labels: area/kubernetes

Yes, please.
  cluster/flux/repositories/git/kustomization.yaml
Labels: area/kubernetes

Yes, please.
  cluster/flux/repositories/git/kustomization.yaml
Labels: area/kubernetes

Oh
  cluster/apps/default/mailsrv/app/helm-release.yaml
Labels: area/kubernetes

Oh
  cluster/apps/default/mailsrv/app/helm-release.yaml
Labels: area/kubernetes

Hmm
  cluster/apps/default/mailsrv/app/helm-release.yaml
Labels: area/kubernetes

Hmm
  cluster/apps/default/mailsrv/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update actions/checkout action to v3.5.0
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

chore(deps): update actions/checkout action to v3.5.0
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

chore(deps): update chart ingress-nginx to 4.6.0
  cluster/apps/networking/nginx/app/helm-release.yaml
  cluster/apps/tor/nginx/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghost to v5.40.1
  cluster/apps/default/edu-blog-ghost/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghost to v5.40.1
  cluster/apps/default/edu-blog-ghost/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/flaresolverr/flaresolverr to v3.1.1
  cluster/apps/media/flaresolverr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/flaresolverr/flaresolverr to v3.1.1
  cluster/apps/media/flaresolverr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update actions/checkout digest to 8f4b7f8
  .github/workflows/scan-containers.yaml
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update actions/checkout digest to 8f4b7f8
  .github/workflows/scan-containers.yaml
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update image ghcr.io/techno-tim/littlelink-server to bea7cf6
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to bea7cf6
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image quay.io/k8tz/k8tz to v0.12.0
  cluster/apps/system/kyverno/policies/inject-tz.yaml
Labels: area/kubernetes

chore(deps): update image quay.io/k8tz/k8tz to v0.12.0
  cluster/apps/system/kyverno/policies/inject-tz.yaml
Labels: area/kubernetes

chore(deps): update pre-commit hook adrienverge/yamllint to v1.30.0
  .pre-commit-config.yaml
Labels: none

chore(deps): update tj-actions/changed-files action to v35.7.6
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

chore(deps): update tj-actions/changed-files action to v35.7.6
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v36.0.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci
