Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

speedtest-exporter: Maybe better limits.
  cluster/apps/monitoring/speedtest-exporter/helm-release.yaml
Labels: area/kubernetes

speedtest-exporter: Maybe better limits.
  cluster/apps/monitoring/speedtest-exporter/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/paperless-ngx/paperless-ngx to v1.14.0
  cluster/apps/default/paperless/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/paperless-ngx/paperless-ngx to v1.14.0
  cluster/apps/default/paperless/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/tarampampam/error-pages to v2.24.0
  cluster/apps/networking/nginx/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/tarampampam/error-pages to v2.24.0
  cluster/apps/networking/nginx/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart falco to 3.1.4
  cluster/apps/security/falco/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart node-feature-discovery to 0.13.1
  cluster/apps/system/node-feature-discovery/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart reloader to v1.0.24
  cluster/apps/system/reloader/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image esphome/esphome to v2023.4.2
  cluster/apps/home/esphome/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image esphome/esphome to v2023.4.2
  cluster/apps/home/esphome/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update peter-evans/find-comment action to v2.4.0
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

chore(deps): update peter-evans/find-comment action to v2.4.0
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to f3feb00
  .github/workflows/scan-containers.yaml
Labels: area/ci

chore(deps): update image docker.io/browserless/chrome to d5b3cc5
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to d5b3cc5
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/prowlarr-develop to d7b3e6c
  cluster/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/prowlarr-develop to d7b3e6c
  cluster/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/pablouser1/proxitok to 114d614
  cluster/apps/services/proxitok/app/web/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/pablouser1/proxitok to 114d614
  cluster/apps/services/proxitok/app/web/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/paperless-ngx/paperless-ngx to v1.14.2
  cluster/apps/default/paperless/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/paperless-ngx/paperless-ngx to v1.14.2
  cluster/apps/default/paperless/app/helm-release.yaml
Labels: area/kubernetes

k3s: Upgrade to v1.26.4+k3s1
  cluster/apps/system-upgrade/system-upgrade-controller/plans/agent-plan.yaml
  cluster/apps/system-upgrade/system-upgrade-controller/plans/server-plan.yaml
Labels: area/kubernetes

k3s: Upgrade to v1.26.4+k3s1
  cluster/apps/system-upgrade/system-upgrade-controller/plans/agent-plan.yaml
  cluster/apps/system-upgrade/system-upgrade-controller/plans/server-plan.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to 11a7103
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to 11a7103
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 00afd3d
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 00afd3d
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 7e66425
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 7e66425
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

chore(deps): update github/codeql-action digest to f3feb00
  .github/workflows/scan-containers.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to f3feb00
  .github/workflows/scan-containers.yaml
Labels: area/ci

chore(deps): update image ghcr.io/onedr0p/exportarr to v1.3.2
  cluster/apps/monitoring/arrs/radarr-exporter.yaml
  cluster/apps/monitoring/arrs/sonarr-exporter.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/exportarr to v1.3.2
  cluster/apps/monitoring/arrs/radarr-exporter.yaml
  cluster/apps/monitoring/arrs/sonarr-exporter.yaml
Labels: area/kubernetes

chore(deps): update chart grafana to 6.56.1
  cluster/apps/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart grafana to 6.56.1
  cluster/apps/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart kube-prometheus-stack to 45.23.0
  cluster/apps/monitoring/prom-stack/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart kube-prometheus-stack to 45.23.0
  cluster/apps/monitoring/prom-stack/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update k3s-io/k3s to v1.27.1+k3s1
  cluster/apps/system-upgrade/system-upgrade-controller/plans/agent-plan.yaml
  cluster/apps/system-upgrade/system-upgrade-controller/plans/server-plan.yaml
Labels: area/kubernetes

chore(deps): update pre-commit hook adrienverge/yamllint to v1.31.0
  .pre-commit-config.yaml
Labels: none

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"
