Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

gateway-api
  k8s/base/networking/gateway-api/gitrepo.yaml
  k8s/base/networking/gateway-api/kustomization.yaml
  k8s/media/shared/networking.yaml
  k8s/nebula/shared/networking.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

Hmm
  k8s/base/networking/gateway-api/flux-ks.yaml
Labels: area/kubernetes

Ah
  k8s/base/networking/gateway-api/kustomization.yaml
Labels: area/kubernetes

It keeps crashing..
  k8s/nebula/apps/networking/external-dns/external/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Move files around
  .archive/media/external-dns/internal/externalsecret-store.yaml
  .archive/media/external-dns/internal/externalsecret.yaml
  .archive/media/external-dns/internal/helm-release.yaml
  .archive/media/external-dns/internal/kustomization.yaml
  .archive/media/external-dns/ks.yaml
  .archive/media/talos/.sops.yaml
  .archive/media/talos/clusterconfig/.gitignore
  .archive/media/talos/patches/README.md
  .archive/media/talos/patches/controller/api-access.yaml
  .archive/media/talos/patches/controller/cluster.yaml
  .archive/media/talos/patches/controller/disable-admission-controller.yaml
  .archive/media/talos/patches/controller/kube-prism.yaml
  .archive/media/talos/patches/global/cluster-discovery.yaml
  .archive/media/talos/patches/global/containerd.yaml
  .archive/media/talos/patches/global/disable-search-domain.yaml
  .archive/media/talos/patches/global/kubelet.yaml
  .archive/media/talos/patches/global/nfs.yaml
  .archive/media/talos/patches/global/sysctl.yaml
  .archive/media/talos/patches/global/udev.yaml
  .archive/media/talos/talconfig.yaml
  .archive/media/talos/talsecret.sops.yaml
  k8s/media/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/media

I don't really use those
  k8s/nebula/apps/networking/misc-ingresses/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Yeet
  k8s/nebula/apps/ai/kustomization.yaml
  k8s/nebula/apps/default/kustomization.yaml
  k8s/nebula/apps/default/matrix-login/app/externalsecret-store.yaml
  k8s/nebula/apps/default/matrix-login/app/externalsecret.yaml
  k8s/nebula/apps/default/matrix-login/app/hr.yaml
  k8s/nebula/apps/default/matrix-login/app/kustomization.yaml
  k8s/nebula/apps/default/matrix-login/ks.yaml
  k8s/nebula/apps/default/syncthing/app/hr.yaml
  k8s/nebula/apps/default/syncthing/app/kustomization.yaml
  k8s/nebula/apps/default/syncthing/ks.yaml
  k8s/nebula/apps/default/theme-park/app/helmrelease.yaml
  k8s/nebula/apps/default/theme-park/app/kustomization.yaml
  k8s/nebula/apps/default/theme-park/ks.yaml
Labels: area/kubernetes, cluster/nebula

Enable gatewayAPI on Cilium
  k8s/nebula/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/nebula

Reflection of certs
  k8s/base/cert-manager/overlays/nebula/certificates/wildcards/certificate.yaml
  k8s/base/cert-manager/overlays/nebula/certificates/wildcards/kustomization.yaml
  k8s/base/cert-manager/overlays/nebula/certificates/wildcards/root-domain-certificate.yaml
  k8s/nebula/apps/networking/misc-ingresses/dh-cert.yaml
Labels: area/kubernetes, cluster/nebula

Gateway API
  k8s/nebula/apps/kube-system/cilium/gateway/internal.yaml
  k8s/nebula/apps/kube-system/cilium/ks-gateway.yaml
  k8s/nebula/apps/kube-system/kustomization.yaml
  k8s/nebula/apps/networking/misc-ingresses/httproute/dh.yaml
  k8s/nebula/apps/networking/misc-ingresses/httproute/kustomization.yaml
  k8s/nebula/apps/networking/misc-ingresses/ingress/dh-ingress.yaml
  k8s/nebula/apps/networking/misc-ingresses/ingress/genpi-minio-endpoints.yaml
  k8s/nebula/apps/networking/misc-ingresses/ingress/genpi-minio-ingress.yaml
  k8s/nebula/apps/networking/misc-ingresses/ingress/genpi-minio-svc.yaml
  k8s/nebula/apps/networking/misc-ingresses/ingress/nas-ingress-and-service.yaml
  k8s/nebula/apps/networking/misc-ingresses/kustomization.yaml
  k8s/nebula/apps/networking/whoami/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/base/networking/gateway-api/gitrepo.yaml
Labels: area/kubernetes

Damn
  k8s/nebula/shared/networking.yaml
Labels: area/kubernetes, cluster/nebula

nebula(talos): Tweaking of routes
  k8s/nebula/talos/talconfig.yaml
Labels: area/kubernetes, cluster/nebula

Ah
  k8s/nebula/apps/networking/misc-ingresses/httproute/dh.yaml
Labels: area/kubernetes, cluster/nebula

Forgot ns
  k8s/nebula/apps/kube-system/cilium/gateway/internal.yaml
Labels: area/kubernetes, cluster/nebula

Upgrade Cilium
  k8s/nebula/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/networking/misc-ingresses/httproute/dh.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/kube-system/cilium/gateway/internal.yaml
Labels: area/kubernetes, cluster/nebula

So it needs to be terminate, hmm
  k8s/nebula/apps/kube-system/cilium/gateway/internal.yaml
Labels: area/kubernetes, cluster/nebula

Will it fix it?
  k8s/nebula/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/nebula

It seems gateway-api doesn't like P-384 keys
  k8s/nebula/apps/networking/misc-ingresses/dh-cert.yaml
Labels: area/kubernetes, cluster/nebula

Let it rotate it
  k8s/nebula/apps/networking/misc-ingresses/dh-cert.yaml
Labels: area/kubernetes, cluster/nebula

It's fine
  k8s/nebula/apps/networking/misc-ingresses/dh-cert.yaml
Labels: area/kubernetes, cluster/nebula

Move to a TLSRoute
  k8s/nebula/apps/kube-system/cilium/gateway/internal.yaml
  k8s/nebula/apps/networking/misc-ingresses/httproute/dh.yaml
Labels: area/kubernetes, cluster/nebula

Will it work?
  k8s/nebula/apps/kube-system/cilium/gateway/internal.yaml
  k8s/nebula/apps/networking/misc-ingresses/httproute/dh-tlsPolicy.yaml
  k8s/nebula/apps/networking/misc-ingresses/httproute/dh.yaml
  k8s/nebula/apps/networking/misc-ingresses/httproute/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/networking/misc-ingresses/httproute/dh-tlsPolicy.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/networking/misc-ingresses/httproute/dh.yaml
  k8s/nebula/apps/networking/misc-ingresses/httproute/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Certificates.
  k8s/base/cert-manager/overlays/media/certificates/dh-cert.yaml
  k8s/base/cert-manager/overlays/media/certificates/wildcards/certificate.yaml
Labels: area/kubernetes

Media cluster Gateway-API
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
  k8s/media/apps/kube-system/cilium/app/kustomization.yaml
  k8s/media/apps/kube-system/cilium/app/kustomizeconfig.yaml
  k8s/media/apps/kube-system/cilium/app/values.yaml
  k8s/media/apps/kube-system/cilium/gateway/internal.yaml
  k8s/media/apps/kube-system/cilium/ks-gateway.yaml
Labels: area/kubernetes, cluster/media

Add k8s-gateway helm repo
  k8s/base/flux-system/helm-chart-repos/k8s-gateway.yaml
Labels: area/kubernetes

Deploy k8s-gateway
  k8s/nebula/apps/networking/k8s-gateway/app/Corefile
  k8s/nebula/apps/networking/k8s-gateway/app/helm-release.yaml
  k8s/nebula/apps/networking/k8s-gateway/app/kustomization.yaml
  k8s/nebula/apps/networking/k8s-gateway/app/rbac.yaml
  k8s/nebula/apps/networking/k8s-gateway/ks.yaml
  k8s/nebula/apps/networking/kustomization.yaml
  k8s/nebula/apps/networking/misc-ingresses/httproute/dh-tlsPolicy.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/networking/k8s-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

The casing shouldn't matter but maybe does?
  k8s/nebula/apps/networking/k8s-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

That's fine.
  k8s/media/apps/networking/nginx/app/hr.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
  k8s/media/apps/kube-system/cilium/gateway/kustomization.yaml
  k8s/media/apps/kube-system/cilium/ks-config.yaml
  k8s/media/apps/kube-system/cilium/ks-gateway.yaml
  k8s/media/apps/kube-system/cilium/ks.yaml
Labels: area/kubernetes, cluster/media

Deploy gateway on media cluster
  k8s/media/apps/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/media

It should work right?
  k8s/nebula/apps/networking/k8s-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Update image
  k8s/nebula/apps/networking/k8s-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Dafuq?
  k8s/nebula/apps/networking/k8s-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/networking/k8s-gateway/app/helm-release.yaml
  k8s/nebula/apps/networking/k8s-gateway/app/kustomization.yaml
  k8s/nebula/apps/networking/k8s-gateway/app/ocirepo.yaml
Labels: area/kubernetes, cluster/nebula

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*
