Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

Proxitok: Own image
  cluster/apps/services/proxitok/app/web/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/home-assistant/home-assistant docker tag to v2023.2.3
  cluster/apps/home/assistant/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/home-assistant/home-assistant docker tag to v2023.2.3
  cluster/apps/home/assistant/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/home-assistant/home-assistant docker tag to v2023.2.3
  cluster/apps/home/assistant/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update github/codeql-action digest to 39d8d7e
  .github/workflows/scan-containers.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to 39d8d7e
  .github/workflows/scan-containers.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to 39d8d7e
  .github/workflows/scan-containers.yaml
Labels: area/ci

CI: Provision again
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

CI: Provision again
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

CI: Provision again
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

Move hack scripts to root of repo.
  hack/pvc-relocator.sh
  hack/remove_ns_finalizer.sh
Labels: none

Move hack scripts to root of repo.
  hack/pvc-relocator.sh
  hack/remove_ns_finalizer.sh
Labels: none

Move hack scripts to root of repo.
  hack/pvc-relocator.sh
  hack/remove_ns_finalizer.sh
Labels: none

chore(deps): update github/codeql-action digest to 8775e86
  .github/workflows/scan-containers.yaml
Labels: area/ci

fix(container): update docker.io/browserless/chrome:latest docker digest to 0d0fb83
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update docker.io/browserless/chrome:latest docker digest to 0d0fb83
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update docker.io/browserless/chrome:latest docker digest to 0d0fb83
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/techno-tim/littlelink-server:latest docker digest to 5a48edc
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/techno-tim/littlelink-server:latest docker digest to 5a48edc
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/techno-tim/littlelink-server:latest docker digest to 5a48edc
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/techno-tim/littlelink-server:latest docker digest to 63fdeac
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/techno-tim/littlelink-server:latest docker digest to 63fdeac
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/techno-tim/littlelink-server:latest docker digest to 63fdeac
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghost docker tag to v5.33.7
  cluster/apps/default/edu-blog-ghost/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghost docker tag to v5.33.7
  cluster/apps/default/edu-blog-ghost/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghost docker tag to v5.33.7
  cluster/apps/default/edu-blog-ghost/helm-release.yaml
Labels: area/kubernetes

fix(container): update docker.io/browserless/chrome:latest docker digest to ba4f835
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update docker.io/browserless/chrome:latest docker digest to ba4f835
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update docker.io/browserless/chrome:latest docker digest to ba4f835
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update jacobalberty/unifi docker tag to v7.3.83
  cluster/apps/networking/unifi/helm-release.yaml
Labels: area/kubernetes

fix(container): update jacobalberty/unifi docker tag to v7.3.83
  cluster/apps/networking/unifi/helm-release.yaml
Labels: area/kubernetes

fix(container): update jacobalberty/unifi docker tag to v7.3.83
  cluster/apps/networking/unifi/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghost docker tag to v5.33.8
  cluster/apps/default/edu-blog-ghost/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghost docker tag to v5.33.8
  cluster/apps/default/edu-blog-ghost/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghost docker tag to v5.33.8
  cluster/apps/default/edu-blog-ghost/helm-release.yaml
Labels: area/kubernetes

chore(deps): update github/codeql-action digest to 8775e86
  .github/workflows/scan-containers.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to 8775e86
  .github/workflows/scan-containers.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to 8775e86
  .github/workflows/scan-containers.yaml
Labels: area/ci

fix(container): update syncthing/syncthing docker tag to v1.23.1
  cluster/apps/default/syncthing/helm-release.yaml
Labels: area/kubernetes

fix(container): update syncthing/syncthing docker tag to v1.23.1
  cluster/apps/default/syncthing/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"
