Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*

De-provision things
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

De-provision things
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

De-provision things...
  .archive/nebula/dev/coder/app/externalsecret-store.yaml
  .archive/nebula/dev/coder/app/externalsecret.yaml
  .archive/nebula/dev/coder/app/hr.yaml
  .archive/nebula/dev/coder/app/internal-ingress.yaml
  .archive/nebula/dev/coder/app/kustomization.yaml
  .archive/nebula/dev/coder/ks.yaml
  .archive/nebula/dev/kustomization.yaml
  .archive/nebula/dev/ns.yaml
  .archive/nebula/search/elk/ks-resources.yaml
  .archive/nebula/search/elk/ks.yaml
  .archive/nebula/search/elk/operator/hr.yaml
  .archive/nebula/search/elk/operator/kustomization.yaml
  .archive/nebula/search/elk/resources/es.yaml
  .archive/nebula/search/elk/resources/ingress-elk.yaml
  .archive/nebula/search/elk/resources/kibana.yaml
  .archive/nebula/search/elk/resources/kustomization.yaml
  .archive/nebula/search/kustomization.yaml
  .archive/nebula/search/ns.yaml
  hack/k8s-cilium-exec.sh
  k8s/nebula/apps/kustomization.yaml
  provision/ansible/nebula/inventory/group_vars/kubernetes/k3s.yml
  provision/ansible/nebula/inventory/group_vars/master/k3s.yml
  provision/ansible/nebula/inventory/hosts.yaml
Labels: area/kubernetes, cluster/nebula

De-provision things...
  .archive/nebula/dev/coder/app/externalsecret-store.yaml
  .archive/nebula/dev/coder/app/externalsecret.yaml
  .archive/nebula/dev/coder/app/hr.yaml
  .archive/nebula/dev/coder/app/internal-ingress.yaml
  .archive/nebula/dev/coder/app/kustomization.yaml
  .archive/nebula/dev/coder/ks.yaml
  .archive/nebula/dev/kustomization.yaml
  .archive/nebula/dev/ns.yaml
  .archive/nebula/search/elk/ks-resources.yaml
  .archive/nebula/search/elk/ks.yaml
  .archive/nebula/search/elk/operator/hr.yaml
  .archive/nebula/search/elk/operator/kustomization.yaml
  .archive/nebula/search/elk/resources/es.yaml
  .archive/nebula/search/elk/resources/ingress-elk.yaml
  .archive/nebula/search/elk/resources/kibana.yaml
  .archive/nebula/search/elk/resources/kustomization.yaml
  .archive/nebula/search/kustomization.yaml
  .archive/nebula/search/ns.yaml
  hack/k8s-cilium-exec.sh
  k8s/nebula/apps/kustomization.yaml
  provision/ansible/nebula/inventory/group_vars/kubernetes/k3s.yml
  provision/ansible/nebula/inventory/group_vars/master/k3s.yml
  provision/ansible/nebula/inventory/hosts.yaml
Labels: area/kubernetes, cluster/nebula

Yeet rook from Media cluster
  k8s/media/apps/storage/kustomization.yaml
Labels: area/kubernetes, cluster/media

Yeet rook from Media cluster
  k8s/media/apps/storage/kustomization.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
  k8s/media/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
  k8s/media/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/base/flux-system/cluster-config/overlays/media/cluster-config.yaml
Labels: area/kubernetes

Hmm
  k8s/base/flux-system/cluster-config/overlays/media/cluster-config.yaml
Labels: area/kubernetes

Yeet
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Yeet
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

More RAM..
  k8s/nebula/flux/config/flux.yaml
Labels: area/kubernetes, cluster/nebula

More RAM..
  k8s/nebula/flux/config/flux.yaml
Labels: area/kubernetes, cluster/nebula

Oooh
  k8s/nebula/apps/databases/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes, cluster/nebula

Oooh
  k8s/nebula/apps/databases/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/security/external-secrets/ks.yaml
  k8s/nebula/apps/security/external-secrets/stores/kustomization.yaml
  k8s/nebula/apps/security/external-secrets/stores/onepassword/clustersecretstore.yaml
  k8s/nebula/apps/security/external-secrets/stores/onepassword/kustomization.yaml
  k8s/nebula/apps/security/external-secrets/stores/onepassword/secret.sops.yaml
  k8s/nebula/apps/security/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/security/external-secrets/ks.yaml
  k8s/nebula/apps/security/external-secrets/stores/kustomization.yaml
  k8s/nebula/apps/security/external-secrets/stores/onepassword/clustersecretstore.yaml
  k8s/nebula/apps/security/external-secrets/stores/onepassword/kustomization.yaml
  k8s/nebula/apps/security/external-secrets/stores/onepassword/secret.sops.yaml
  k8s/nebula/apps/security/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/security/external-secrets/stores/onepassword/clustersecretstore.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/security/external-secrets/stores/onepassword/clustersecretstore.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/databases/cloudnative-pg/operator/externalsecret.yaml
  k8s/nebula/apps/databases/cloudnative-pg/operator/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/databases/cloudnative-pg/operator/externalsecret.yaml
  k8s/nebula/apps/databases/cloudnative-pg/operator/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/databases/cloudnative-pg/operator/externalsecret-store.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/databases/cloudnative-pg/operator/externalsecret-store.yaml
Labels: area/kubernetes, cluster/nebula

Fix the external secret.
  k8s/nebula/apps/databases/cloudnative-pg/operator/externalsecret.yaml
Labels: area/kubernetes, cluster/nebula

Fix the external secret.
  k8s/nebula/apps/databases/cloudnative-pg/operator/externalsecret.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/databases/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/databases/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Oooh
  k8s/nebula/apps/databases/cloudnative-pg/operator/externalsecret.yaml
Labels: area/kubernetes, cluster/nebula

Oooh
  k8s/nebula/apps/databases/cloudnative-pg/operator/externalsecret.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/databases/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/databases/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/comms/matrix-synapse/app/externalsecret-store.yaml
  k8s/nebula/apps/comms/matrix-synapse/app/externalsecret.yaml
  k8s/nebula/apps/comms/matrix-synapse/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/comms/matrix-synapse/app/externalsecret-store.yaml
  k8s/nebula/apps/comms/matrix-synapse/app/externalsecret.yaml
  k8s/nebula/apps/comms/matrix-synapse/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

These should fix the secrets
  k8s/templates/volsync/minio/externalsecret.yaml
  k8s/templates/volsync/r2/external-secret.yaml
Labels: area/kubernetes

These should fix the secrets
  k8s/templates/volsync/minio/externalsecret.yaml
  k8s/templates/volsync/r2/external-secret.yaml
Labels: area/kubernetes

Huh
  k8s/nebula/apps/networking/cloudflared/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/networking/cloudflared/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Damn it
  k8s/nebula/apps/networking/cloudflared/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Damn it
  k8s/nebula/apps/networking/cloudflared/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula
