Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

Deploy recyclarr
  k8s/nebula/apps/media/kustomization.yaml
  k8s/nebula/apps/media/recyclarr/app/config/recyclarr.yml
  k8s/nebula/apps/media/recyclarr/app/externalsecret.yaml
  k8s/nebula/apps/media/recyclarr/app/helm-release.yaml
  k8s/nebula/apps/media/recyclarr/app/kustomization.yaml
  k8s/nebula/apps/media/recyclarr/app/pvc.yaml
  k8s/nebula/apps/media/recyclarr/ks.yaml
Labels: area/kubernetes, cluster/nebula

Deploy recyclarr
  k8s/nebula/apps/media/kustomization.yaml
  k8s/nebula/apps/media/recyclarr/app/config/recyclarr.yml
  k8s/nebula/apps/media/recyclarr/app/externalsecret.yaml
  k8s/nebula/apps/media/recyclarr/app/helm-release.yaml
  k8s/nebula/apps/media/recyclarr/app/kustomization.yaml
  k8s/nebula/apps/media/recyclarr/app/pvc.yaml
  k8s/nebula/apps/media/recyclarr/ks.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/media/recyclarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/media/recyclarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmmmm
  k8s/nebula/apps/media/recyclarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmmmm
  k8s/nebula/apps/media/recyclarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/media/apps/media/qbit/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/qbit/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/qbit/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/qbit/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Oh, forgot to fix it.
  k8s/templates/volsync-minio/minio/externalsecret.yaml
Labels: area/kubernetes

Oh, forgot to fix it.
  k8s/templates/volsync-minio/minio/externalsecret.yaml
Labels: area/kubernetes

Hmm
  k8s/nebula/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/nebula

Multus deploy
  k8s/nebula/apps/kube-system/kustomization.yaml
  provision/ansible/nebula/inventory/hosts.yaml
Labels: area/kubernetes, cluster/nebula

Multus deploy
  k8s/nebula/apps/kube-system/kustomization.yaml
  provision/ansible/nebula/inventory/hosts.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/kube-system/multus/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/kube-system/multus/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

The likelihood of the external secrets to work is very small..
  k8s/nebula/apps/ci/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

The likelihood of the external secrets to work is very small..
  k8s/nebula/apps/ci/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/ci/github-actions/app/operator/externalsecret.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/externalsecret.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/ci/github-actions/app/operator/externalsecret.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/externalsecret.yaml
Labels: area/kubernetes, cluster/nebula

Yeet
  k8s/nebula/apps/system/doppler/app/externalsecret.yaml
  k8s/nebula/apps/system/doppler/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Yeet
  k8s/nebula/apps/system/doppler/app/externalsecret.yaml
  k8s/nebula/apps/system/doppler/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Revert "Hmmmmm"
  k8s/nebula/apps/ci/github-actions/app/operator/externalsecret-store.yaml
  k8s/nebula/apps/ci/github-actions/app/operator/externalsecret.yaml
  k8s/nebula/apps/ci/github-actions/app/operator/kustomization.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/externalsecret-store.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/externalsecret.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Revert "Hmmmmm"
  k8s/nebula/apps/ci/github-actions/app/operator/externalsecret-store.yaml
  k8s/nebula/apps/ci/github-actions/app/operator/externalsecret.yaml
  k8s/nebula/apps/ci/github-actions/app/operator/kustomization.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/externalsecret-store.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/externalsecret.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Yeet
  k8s/nebula/apps/ci/github-actions/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Yeet
  k8s/nebula/apps/ci/github-actions/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Let's try that again.
  k8s/nebula/apps/ci/github-actions/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Let's try that again.
  k8s/nebula/apps/ci/github-actions/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Forgot to provision it back.
  k8s/nebula/apps/collab/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Forgot to provision it back.
  k8s/nebula/apps/collab/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Oops
  k8s/nebula/apps/collab/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Oops
  k8s/nebula/apps/collab/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Move to shorter domain for registry.
  k8s/base/services/nitter/helm-release.yaml
  k8s/base/storage/storage-classes/local-storage/rancher-manifest.yaml
  k8s/base/vpn/downloads-gateway/helm-release.yaml
  k8s/media/apps/media/jellyfin/app/hr.yaml
  k8s/nebula/apps/crypto/bisq/app/hr.yaml
  k8s/nebula/apps/databases/mongodb/app/hr.yaml
  k8s/nebula/apps/databases/pgadmin/app/helm-release.yaml
  k8s/nebula/apps/default/i2pd/app/helm-release.yaml
  k8s/nebula/apps/default/matrix-login/app/hr.yaml
  k8s/nebula/apps/default/smtp-relay/app/helm-release.yaml
  k8s/nebula/apps/default/ytdl-material/app/hr.yaml
  k8s/nebula/apps/finance/firefly/app/helm-release.yaml
  k8s/nebula/apps/finance/firefly/importer/helm-release.yaml
  k8s/nebula/apps/finance/paisa/app/hr.yaml
  k8s/nebula/apps/games/satisfactory/app/hr.yaml
  k8s/nebula/apps/home/zigbee2mqtt/exporter/hr.yaml
  k8s/nebula/apps/media/tvheadend/app/hr.yaml
  k8s/nebula/apps/networking/cloudflared/app/helm-release.yaml
  k8s/nebula/apps/networking/external-dns/external/helm-release.yaml
  k8s/nebula/apps/networking/unimus/app/hr.yaml
  k8s/nebula/apps/networking/whoami/app/hr.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

Move to shorter domain for registry.
  k8s/base/services/nitter/helm-release.yaml
  k8s/base/storage/storage-classes/local-storage/rancher-manifest.yaml
  k8s/base/vpn/downloads-gateway/helm-release.yaml
  k8s/media/apps/media/jellyfin/app/hr.yaml
  k8s/nebula/apps/crypto/bisq/app/hr.yaml
  k8s/nebula/apps/databases/mongodb/app/hr.yaml
  k8s/nebula/apps/databases/pgadmin/app/helm-release.yaml
  k8s/nebula/apps/default/i2pd/app/helm-release.yaml
  k8s/nebula/apps/default/matrix-login/app/hr.yaml
  k8s/nebula/apps/default/smtp-relay/app/helm-release.yaml
  k8s/nebula/apps/default/ytdl-material/app/hr.yaml
  k8s/nebula/apps/finance/firefly/app/helm-release.yaml
  k8s/nebula/apps/finance/firefly/importer/helm-release.yaml
  k8s/nebula/apps/finance/paisa/app/hr.yaml
  k8s/nebula/apps/games/satisfactory/app/hr.yaml
  k8s/nebula/apps/home/zigbee2mqtt/exporter/hr.yaml
  k8s/nebula/apps/media/tvheadend/app/hr.yaml
  k8s/nebula/apps/networking/cloudflared/app/helm-release.yaml
  k8s/nebula/apps/networking/external-dns/external/helm-release.yaml
  k8s/nebula/apps/networking/unimus/app/hr.yaml
  k8s/nebula/apps/networking/whoami/app/hr.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

Hmm
  k8s/nebula/apps/ci/github-actions/app/runners/kustomization.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/samipsolutions-runners-arm64.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/samipsolutions-runners.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/ci/github-actions/app/runners/kustomization.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/samipsolutions-runners-arm64.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/samipsolutions-runners.yaml
Labels: area/kubernetes, cluster/nebula

Yeet
  k8s/nebula/apps/ci/github-actions/app/runners/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Yeet
  k8s/nebula/apps/ci/github-actions/app/runners/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*
