Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*

Maybe this fixes it?
  k8s/media/apps/storage/local-path/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Yeet it from base
  k8s/base/storage/democratic-csi/local-path/helm-release.yaml
  k8s/base/storage/democratic-csi/local-path/kustomization.yaml
Labels: area/kubernetes

Does this help with this?
  k8s/media/apps/storage/local-path/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Change up k8s-gateway things
  k8s/media/apps/networking/k8s-gateway/app/Corefile
  k8s/media/apps/networking/k8s-gateway/app/helm-release.yaml
  k8s/media/apps/networking/k8s-gateway/app/kustomization.yaml
  k8s/media/apps/networking/k8s-gateway/app/ocirepo.yaml
  k8s/media/apps/networking/k8s-gateway/app/rbac.yaml
  k8s/rbac/k8s-gateway/cluster-role-binding.yaml
  k8s/rbac/k8s-gateway/cluster-role.yaml
  k8s/rbac/k8s-gateway/service-account.yaml
Labels: area/kubernetes, cluster/media

Yeet
  k8s/nebula/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/networking/whoami/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Try that again
  k8s/nebula/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

debug not needed
  k8s/nebula/apps/networking/k8s-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Authentik debug
  k8s/nebula/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Authentik: too many things
  k8s/nebula/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/networking/cloudflared/app/configs/config.yaml
Labels: area/kubernetes, cluster/nebula

Will it break?
  k8s/nebula/apps/finance/actual/app/hr.yaml
  k8s/nebula/apps/finance/firefly/app/helm-release.yaml
  k8s/nebula/apps/media/autobrr/app/helm-release.yaml
  k8s/nebula/apps/media/jellyseer/app/helm-release.yaml
  k8s/nebula/apps/media/prowlarr/app/helm-release.yaml
  k8s/nebula/apps/media/tvheadend/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Yeet ingress for Grafana
  k8s/nebula/apps/monitoring/grafana/app/int-ingress.yaml
  k8s/nebula/apps/monitoring/grafana/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Move to HTTPRoutes
  k8s/nebula/apps/ai/open-webui/app/hr.yaml
  k8s/nebula/apps/comms/conduwuit/app/hr.yaml
  k8s/nebula/apps/home/assistant/app/helm-release.yaml
  k8s/nebula/apps/home/esphome/app/helm-release.yaml
  k8s/nebula/apps/home/zigbee2mqtt/app/helm-release.yaml
  k8s/nebula/apps/monitoring/jellystat/app/hr.yaml
  k8s/nebula/apps/monitoring/kromgo/app/hr.yaml
  k8s/nebula/apps/networking/observium/app/hr.yaml
  k8s/nebula/apps/networking/unimus/app/hr.yaml
  k8s/nebula/apps/services/searxng/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/default/linkwarden/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Move to HTTPRoutes
  k8s/nebula/apps/databases/influx/app/hr.yaml
  k8s/nebula/apps/databases/pgadmin/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

And more
  k8s/nebula/apps/default/your_spotify/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/networking/cloudflared/app/configs/config.yaml
Labels: area/kubernetes, cluster/nebula

Oops
  k8s/nebula/apps/databases/pgadmin/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/networking/cloudflared/app/configs/config.yaml
Labels: area/kubernetes, cluster/nebula

Damn
  k8s/nebula/apps/networking/external-dns/internal/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Damn copy-paste.
  k8s/nebula/apps/networking/envoy/manifests/gateway.yaml
Labels: area/kubernetes, cluster/nebula

That should be better
  k8s/nebula/apps/networking/envoy/manifests/gateway.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/security/authentik/app/webfinger-ingress.yaml
Labels: area/kubernetes, cluster/nebula

Ah
  k8s/nebula/apps/home/assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/security/authentik/app/helm-release.yaml
  k8s/nebula/apps/security/authentik/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Ah
  k8s/nebula/apps/networking/external-dns/internal/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Yeet
  k8s/media/flux/gotk-sync.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/nebula/apps/networking/external-dns/internal/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

That's fine
  k8s/nebula/apps/networking/external-dns/internal/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

update logging level to debug and reduce envoy replicas to 1
  k8s/nebula/apps/networking/envoy/manifests/configuration.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/networking/envoy/manifests/gateway.yaml
Labels: area/kubernetes, cluster/nebula

update logging level to info and increase envoy replicas to 2
  k8s/nebula/apps/networking/envoy/manifests/configuration.yaml
Labels: area/kubernetes, cluster/nebula

Need to figure out it out some other time.
  k8s/nebula/apps/comms/conduwuit/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/networking/cloudflared/app/configs/config.yaml
Labels: area/kubernetes, cluster/nebula

Damn it
  k8s/nebula/apps/networking/cloudflared/app/configs/config.yaml
Labels: area/kubernetes, cluster/nebula

Revert "Hmm"
  k8s/nebula/apps/security/authentik/app/helm-release.yaml
  k8s/nebula/apps/security/authentik/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Will it fix it?
  k8s/nebula/apps/media/tvheadend/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

oops
  k8s/nebula/apps/networking/cloudflared/app/configs/config.yaml
Labels: area/kubernetes, cluster/nebula
