Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

Hmm
  k8s/nebula/apps/comms/conduwuit/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/comms/conduwuit/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Damn it
  k8s/nebula/apps/comms/conduwuit/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Damn it
  k8s/nebula/apps/comms/conduwuit/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

It seems IPv6 keeps screwing up itself
  k8s/nebula/apps/comms/conduwuit/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Let's use debug build
  k8s/nebula/apps/comms/conduwuit/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/comms/conduwuit/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Damn it
  k8s/nebula/apps/monitoring/prom-stack/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Damn it
  k8s/nebula/apps/monitoring/prom-stack/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Revert "feat(helm): update chart external-dns ( 1.15.2 → 1.16.0 ) (#2163)"
  k8s/nebula/apps/networking/external-dns/external/helm-release.yaml
  k8s/nebula/apps/networking/external-dns/internal-kapsi/helm-release.yaml
  k8s/nebula/apps/networking/external-dns/internal/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Revert "feat(helm): update chart external-dns ( 1.15.2 → 1.16.0 ) (#2163)" (#2164)
  k8s/nebula/apps/networking/external-dns/external/helm-release.yaml
  k8s/nebula/apps/networking/external-dns/internal-kapsi/helm-release.yaml
  k8s/nebula/apps/networking/external-dns/internal/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Revert "feat(helm): update chart external-dns ( 1.15.2 → 1.16.0 ) (#2162)"
  k8s/media/apps/networking/external-dns/internal/helm-release.yaml
Labels: area/kubernetes, cluster/media

Revert "feat(helm): update chart external-dns ( 1.15.2 → 1.16.0 ) (#2162)" (#2165)
  k8s/media/apps/networking/external-dns/internal/helm-release.yaml
Labels: area/kubernetes, cluster/media

Readme update
  README.md
Labels: none

rook-ceph: Lower memory requirements for osds.
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/monitoring/grafana/app/helm-release.yaml
  k8s/nebula/apps/monitoring/grafana/app/kustomization.yaml
  k8s/nebula/apps/monitoring/grafana/app/ocirepo.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/monitoring/grafana/app/ocirepo.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Grafana internal ingress
  k8s/nebula/apps/monitoring/grafana/app/int-ingress.yaml
  k8s/nebula/apps/monitoring/grafana/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Annotations
  k8s/nebula/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Ah
  k8s/nebula/apps/monitoring/grafana/app/int-ingress.yaml
Labels: area/kubernetes, cluster/nebula

Fixing up the dashboards for Grafana
  k8s/nebula/apps/monitoring/grafana/app/helm-release.yaml
  k8s/nebula/apps/monitoring/grafana/app/int-ingress.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/monitoring/grafana/ks.yaml
Labels: area/kubernetes, cluster/nebula

That's fine..
  k8s/nebula/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Damn
  k8s/nebula/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Increase cluster16 requests
  k8s/nebula/apps/databases/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes, cluster/nebula

Some nebula cleanup
  k8s/nebula/apps/dev/kustomization.yaml
  k8s/nebula/apps/dev/ns.yaml
  k8s/nebula/apps/kustomization.yaml
  k8s/nebula/apps/system/doppler/app/externalsecret.yaml
  k8s/nebula/apps/system/doppler/app/kustomization.yaml
  k8s/nebula/apps/system/doppler/app/secret.sops.yaml
  k8s/nebula/apps/system/doppler/ks.yaml
  k8s/nebula/apps/system/kustomization.yaml
  k8s/nebula/apps/system/ns.yaml
  k8s/nebula/apps/vpn-services/kustomization.yaml
  k8s/nebula/apps/vpn-services/netpol.yaml
  k8s/nebula/apps/vpn-services/ns.yaml
  k8s/nebula/apps/vpn-services/proxitok/app/configmap.yaml
  k8s/nebula/apps/vpn-services/proxitok/app/hr.yaml
  k8s/nebula/apps/vpn-services/proxitok/app/kustomization.yaml
  k8s/nebula/apps/vpn-services/proxitok/ks.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/ci/buildkitd/ks.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/components/common/alerts/alertmanager/alert.yaml
  k8s/components/common/alerts/alertmanager/kustomization.yaml
  k8s/components/common/alerts/alertmanager/provider.yaml
  k8s/components/common/alerts/gh-status/alert.yaml
  k8s/components/common/alerts/gh-status/es.yaml
  k8s/components/common/alerts/gh-status/provider.yaml
  k8s/components/common/alerts/kustomization.yaml
  k8s/components/common/kustomization.yaml
  k8s/components/common/ns.yaml
  k8s/components/common/repos/app-template-ocirepo.yaml
  k8s/components/common/repos/kustomization.yaml
  k8s/components/volsync-offsite/kustomization.yaml
  k8s/components/volsync-offsite/minio/externalsecret.yaml
  k8s/components/volsync-offsite/minio/kustomization.yaml
  k8s/components/volsync-offsite/minio/replicationdestination.yaml
  k8s/components/volsync-offsite/minio/replicationsource.yaml
  k8s/components/volsync-offsite/pvc.yaml
  k8s/components/volsync/kustomization.yaml
  k8s/components/volsync/offsite-minio/externalsecret.yaml
  k8s/components/volsync/offsite-minio/kustomization.yaml
  k8s/components/volsync/offsite-minio/replicationdestination.yaml
  k8s/components/volsync/offsite-minio/replicationsource.yaml
  k8s/components/volsync/pvc.yaml
  k8s/components/volsync/r2/external-secret.yaml
  k8s/components/volsync/r2/kustomization.yaml
  k8s/components/volsync/r2/replicationsource.yaml
  k8s/media/shared/flux-system.yaml
Labels: area/kubernetes, cluster/media

chore: spring-cleaning
  .archive/vm/_cdi/ks.yaml
  .archive/vm/_cdi/kustomization.yaml
  .archive/vm/_cdi/ns.yaml
  .archive/vm/_cdi/repo.yaml
  .archive/vm/_cdi/upload-datavolume.yaml
  .archive/vm/_cdi/upload-proxy-lb.yaml
  .archive/vm/_kubevirt/ks.yaml
  .archive/vm/_kubevirt/kustomization.yaml
  .archive/vm/_kubevirt/ns.yaml
  .archive/vm/_kubevirt/repo.yaml
  .archive/vm/kustomization.yaml
  .archive/vm/pbx/_deps/multus.yaml
  .archive/vm/pbx/_deps/preference.yaml
  .archive/vm/pbx/_deps/type.yaml
  .archive/vm/pbx/ks.yaml
  .archive/vm/pbx/template/svc-ssh.yaml
  .archive/vm/pbx/template/svc-ui.yaml
  .archive/vm/pbx/template/svc-voip.yaml
  .archive/vm/pbx/template/vm.yaml
  k8s/base/monitoring/alertmanager/app/config/alertmanager.yml
  k8s/base/monitoring/alertmanager/app/helm-release.yaml
  k8s/base/monitoring/alertmanager/app/kustomization.yaml
  k8s/base/monitoring/alertmanager/ks.yaml
  k8s/base/monitoring/blackbox-exporter/helm-release.yaml
  k8s/base/monitoring/goldilocks/helm-release.yaml
  k8s/base/monitoring/goldilocks/kustomization.yaml
  k8s/base/monitoring/node-problem-detector/helm-release.yaml
  k8s/base/monitoring/node-problem-detector/kustomization.yaml
  k8s/base/monitoring/vpa/helm-release.yaml
  k8s/base/monitoring/vpa/kustomization.yaml
  k8s/base/services/nitter/config/config.ini
  k8s/base/services/nitter/helm-release.yaml
  k8s/base/services/nitter/kustomization.yaml
  k8s/base/system/multus/helm-release.yaml
  k8s/base/system/multus/kustomization.yaml
  k8s/nebula/rook-wipe.yaml
  k8s/nebula/shared/monitoring.yaml
Labels: area/kubernetes, cluster/nebula

Not gonna re-organize for the moment.
  k8s/nebula/apps/games/factorio/ks.yaml
  k8s/nebula/apps/games/kustomization.yaml
  k8s/nebula/apps/home/assistant/ks.yaml
  k8s/nebula/apps/home/esphome/ks.yaml
  k8s/nebula/apps/home/mosquitto/ks-exporter.yaml
  k8s/nebula/apps/home/mosquitto/ks.yaml
  k8s/nebula/apps/home/zigbee2mqtt/ks-exporter.yaml
  k8s/nebula/apps/home/zigbee2mqtt/ks.yaml
Labels: area/kubernetes, cluster/nebula

Yeet
  k8s/nebula/apps/media/kustomization.yaml
  k8s/nebula/apps/media/maintainerr/app/hr.yaml
  k8s/nebula/apps/media/maintainerr/app/kustomization.yaml
  k8s/nebula/apps/media/maintainerr/ks.yaml
  k8s/nebula/apps/media/nextpvr/app/hr.yaml
  k8s/nebula/apps/media/nextpvr/app/kustomization.yaml
  k8s/nebula/apps/media/nextpvr/ks.yaml
  k8s/nebula/apps/media/tdarr/app/hr.yaml
  k8s/nebula/apps/media/tdarr/app/kustomization.yaml
  k8s/nebula/apps/media/tdarr/ks.yaml
  k8s/nebula/apps/media/vpn-test/app/hr.yaml
  k8s/nebula/apps/media/vpn-test/app/kustomization.yaml
  k8s/nebula/apps/media/vpn-test/ks.yaml
Labels: area/kubernetes, cluster/nebula

Will it work?
  k8s/nebula/apps/home/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Oh?
  k8s/nebula/apps/home/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/home/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/home/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Upgrade z2m to 2.1.3 while at it
  k8s/nebula/apps/home/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Let's try this one
  k8s/nebula/apps/comms/conduwuit/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm, haswell one just crashes.
  k8s/nebula/apps/comms/conduwuit/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*
