Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*

Hmm
  k8s/nebula/talos/patches/global/cluster-discovery.yaml
  k8s/nebula/talos/patches/global/kubelet.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/talos/talconfig.yaml
Labels: area/kubernetes, cluster/nebula

Deploy kubelet-csr-approver again
  k8s/base/flux-system/helm-chart-repos/postfinance.yaml
  k8s/nebula/apps/kube-system/kubelet-csr-approver/app/hr.yaml
  k8s/nebula/apps/kube-system/kubelet-csr-approver/app/kustomization.yaml
  k8s/nebula/apps/kube-system/kubelet-csr-approver/app/values.yaml
  k8s/nebula/apps/kube-system/kubelet-csr-approver/ks.yaml
  k8s/nebula/apps/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/kube-system/kubelet-csr-approver/ks.yaml
Labels: area/kubernetes, cluster/nebula

MariaDB: YEET
  k8s/nebula/apps/databases/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Deploy MOCO operator
  k8s/nebula/apps/databases/kustomization.yaml
  k8s/nebula/apps/databases/moco/operator/hr.yaml
Labels: area/kubernetes, cluster/nebula

Let's try this
  k8s/nebula/apps/databases/kustomization.yaml
  k8s/nebula/apps/databases/moco/cluster/backups/daily.yaml
  k8s/nebula/apps/databases/moco/cluster/backups/es.yaml
  k8s/nebula/apps/databases/moco/cluster/backups/kustomization.yaml
  k8s/nebula/apps/databases/moco/cluster/configmap.yaml
  k8s/nebula/apps/databases/moco/cluster/kustomization.yaml
  k8s/nebula/apps/databases/moco/cluster/mysql-cluster.yaml
  k8s/nebula/apps/databases/moco/ks-cluster.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/databases/moco/cluster/backups/daily.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/databases/moco/cluster/mysql-cluster.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/databases/moco/cluster/backups/kustomization.yaml
  k8s/nebula/apps/databases/moco/cluster/mysql-cluster.yaml
Labels: area/kubernetes, cluster/nebula

Will that yeet hostnetwork?
  k8s/nebula/apps/games/factorio/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Cilium: enable bw manager
  k8s/nebula/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/nebula

Deploy this archiveteam thing.
  k8s/nebula/apps/services/archiveteam-warrior/app/hr.yaml
  k8s/nebula/apps/services/archiveteam-warrior/app/kustomization.yaml
  k8s/nebula/apps/services/archiveteam-warrior/app/netpol.yaml
  k8s/nebula/apps/services/archiveteam-warrior/ks.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/services/archiveteam-warrior/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

The user it runs as by default is 1000.
  k8s/nebula/apps/services/archiveteam-warrior/app/hr.yaml
  k8s/nebula/talos/patches/global/kubelet.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/services/archiveteam-warrior/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Yeet netpol
  k8s/nebula/apps/services/archiveteam-warrior/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/media/apps/media/qbittorrent/app/config/completed.sh
  k8s/media/apps/media/qbittorrent/app/helm-release.yaml
  k8s/media/apps/media/sabnzbd/app/hr.yaml
  k8s/media/apps/media/sabnzbd/app/resources/post-process.sh
Labels: area/kubernetes, cluster/media

Yeet mongodb
  k8s/nebula/apps/databases/kustomization.yaml
  k8s/nebula/apps/databases/mongodb/app/hr.yaml
  k8s/nebula/apps/databases/mongodb/app/kustomization.yaml
  k8s/nebula/apps/databases/mongodb/ks.yaml
Labels: area/kubernetes, cluster/nebula

Taskfile things
  .taskfiles/Talos/Taskfile.yaml
  Taskfile.yaml
Labels: none

dev bgp
  terraform/mikrotik/modules/rb5009/bgp/dev-cluster.tf
Labels: none

Update README.md
  README.md
Labels: none

refactor(helm): remove some Grafana configuration options
  k8s/nebula/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

feat(kubelet): add extra mounts for Longhorn and update Talos version
  k8s/nebula/talos/patches/global/kubelet.yaml
  k8s/nebula/talos/talconfig.yaml
Labels: area/kubernetes, cluster/nebula

Let's use that domain there as why not.
  k8s/nebula/apps/collab/littlelink/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

2025
  k8s/nebula/apps/collab/littlelink/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Yeet Warrior
  k8s/nebula/apps/services/archiveteam-warrior/app/hr.yaml
  k8s/nebula/apps/services/archiveteam-warrior/app/kustomization.yaml
  k8s/nebula/apps/services/archiveteam-warrior/app/netpol.yaml
  k8s/nebula/apps/services/archiveteam-warrior/ks.yaml
  k8s/nebula/apps/services/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/media/apps/networking/nginx/app/hr.yaml
Labels: area/kubernetes, cluster/media

The kube svc prefixes were forgotten.
  k8s/nebula/apps/networking/tailscale/extras/subnet-router.yaml
Labels: area/kubernetes, cluster/nebula

Upgrade hass to 2025.3.1
  k8s/nebula/apps/home/assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/networking/tailscale/extras/subnet-router.yaml
Labels: area/kubernetes, cluster/nebula

Let's try better regex
  k8s/nebula/apps/kube-system/kubelet-csr-approver/app/values.yaml
Labels: area/kubernetes, cluster/nebula

Yeet
  k8s/nebula/apps/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Upgrade Talos to v1.9.5 and yeet vlan addresses from configs
  k8s/nebula/talos/talconfig.yaml
Labels: area/kubernetes, cluster/nebula

Is that really needed?
  k8s/nebula/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Damn it
  k8s/nebula/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/databases/dragonfly/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Let's fix ndots
  k8s/nebula/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula
