Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

Remove base nginx hr
  k8s/base/networking/nginx/helm-release.yaml
  k8s/base/networking/nginx/kustomization.yaml
Labels: area/kubernetes

Remove base nginx hr
  k8s/base/networking/nginx/helm-release.yaml
  k8s/base/networking/nginx/kustomization.yaml
Labels: area/kubernetes

Hmm
  k8s/base/kube-system/node-feature-discovery/hr.yaml
Labels: area/kubernetes

Hmm
  k8s/base/kube-system/node-feature-discovery/hr.yaml
Labels: area/kubernetes

Previous way is deprecated
  k8s/base/kube-system/node-feature-discovery/hr.yaml
Labels: area/kubernetes

Previous way is deprecated
  k8s/base/kube-system/node-feature-discovery/hr.yaml
Labels: area/kubernetes

Oh
  k8s/media/apps/media/qbit/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Oh
  k8s/media/apps/media/qbit/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

nebula: The postgres clusters were already restored from backups.
  k8s/nebula/apps/databases/cloudnative-pg/cluster-vectors/cluster16-vector.yaml
  k8s/nebula/apps/databases/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes, cluster/nebula

nebula: The postgres clusters were already restored from backups.
  k8s/nebula/apps/databases/cloudnative-pg/cluster-vectors/cluster16-vector.yaml
  k8s/nebula/apps/databases/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes, cluster/nebula

nebula: provide talos_version and kube version from kromgo.
  k8s/nebula/apps/monitoring/kromgo/app/resources/config.yaml
Labels: area/kubernetes, cluster/nebula

nebula: provide talos_version and kube version from kromgo.
  k8s/nebula/apps/monitoring/kromgo/app/resources/config.yaml
Labels: area/kubernetes, cluster/nebula

Update README with the things..
  README.md
Labels: none

Update README with the things..
  README.md
Labels: none

Hmm
  k8s/media/apps/media/kustomization.yaml
  k8s/media/apps/media/unpackerr/app/externalsecret.yaml
  k8s/media/apps/media/unpackerr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/kustomization.yaml
  k8s/media/apps/media/unpackerr/app/externalsecret.yaml
  k8s/media/apps/media/unpackerr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Okey, that image had went away..
  k8s/media/apps/media/unpackerr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Okey, that image had went away..
  k8s/media/apps/media/unpackerr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Huh
  k8s/media/apps/media/unpackerr/app/externalsecret.yaml
Labels: area/kubernetes, cluster/media

Huh
  k8s/media/apps/media/unpackerr/app/externalsecret.yaml
Labels: area/kubernetes, cluster/media

I don't know if this is a good or a bad idea.
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

I don't know if this is a good or a bad idea.
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

media(bazarr): Fix the paths
  k8s/media/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

media(bazarr): Fix the paths
  k8s/media/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Deploy pgadmin
  k8s/nebula/apps/databases/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Deploy pgadmin
  k8s/nebula/apps/databases/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Let's try this image instead..
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Let's try this image instead..
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmmm
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmmm
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Will it work?
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Will it work?
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Damn it
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Damn it
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*
