Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*

Huh
  k8s/nebula/vm/pbx/template/vm.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/vm/pbx/template/vm.yaml
Labels: area/kubernetes, cluster/nebula

De-provision freepbx from cluster.
  k8s/nebula/vm/kustomization.yaml
  k8s/nebula/vm/pbx/_deps/preference.yaml
  k8s/nebula/vm/pbx/template/vm.yaml
Labels: area/kubernetes, cluster/nebula

De-provision freepbx from cluster.
  k8s/nebula/vm/kustomization.yaml
  k8s/nebula/vm/pbx/_deps/preference.yaml
  k8s/nebula/vm/pbx/template/vm.yaml
Labels: area/kubernetes, cluster/nebula

Provision it back
  k8s/nebula/vm/kustomization.yaml
  k8s/nebula/vm/pbx/template/vm.yaml
Labels: area/kubernetes, cluster/nebula

Provision it back
  k8s/nebula/vm/kustomization.yaml
  k8s/nebula/vm/pbx/template/vm.yaml
Labels: area/kubernetes, cluster/nebula

Try the upstream image.
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

Try the upstream image.
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

nvidia repo
  k8s/base/flux-system/helm-chart-repos/nvidia.yaml
Labels: area/kubernetes

nvidia repo
  k8s/base/flux-system/helm-chart-repos/nvidia.yaml
Labels: area/kubernetes

Update autoMerge.json5
  .github/renovate/autoMerge.json5
Labels: area/ci

Update autoMerge.json5
  .github/renovate/autoMerge.json5
Labels: area/ci

Ah
  k8s/nebula/apps/networking/misc-ingresses/dh-ingress.yaml
Labels: area/kubernetes, cluster/nebula

Ah
  k8s/nebula/apps/networking/misc-ingresses/dh-ingress.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/networking/misc-ingresses/dh-ingress.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/networking/misc-ingresses/dh-ingress.yaml
Labels: area/kubernetes, cluster/nebula

Allow some more domains
  k8s/nebula/apps/default/smtp-relay/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Allow some more domains
  k8s/nebula/apps/default/smtp-relay/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Fix smtp-relay HR
  k8s/nebula/apps/default/smtp-relay/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Fix smtp-relay HR
  k8s/nebula/apps/default/smtp-relay/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Yeet
  k8s/media/apps/media/jellyfin/app/hr.yaml
  k8s/nebula/apps/default/kustomization.yaml
  k8s/nebula/apps/default/matrix-login/ks.yaml
  k8s/nebula/apps/default/smtp-relay/ks.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

Yeet
  k8s/media/apps/media/jellyfin/app/hr.yaml
  k8s/nebula/apps/default/kustomization.yaml
  k8s/nebula/apps/default/matrix-login/ks.yaml
  k8s/nebula/apps/default/smtp-relay/ks.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

Fix matrix-login
  k8s/nebula/apps/default/matrix-login/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Fix matrix-login
  k8s/nebula/apps/default/matrix-login/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Fix theme-park.
  k8s/nebula/apps/default/theme-park/app/helmrelease.yaml
Labels: area/kubernetes, cluster/nebula

Fix theme-park.
  k8s/nebula/apps/default/theme-park/app/helmrelease.yaml
Labels: area/kubernetes, cluster/nebula

Fix svc for matrix-login
  k8s/nebula/apps/default/matrix-login/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Fix svc for matrix-login
  k8s/nebula/apps/default/matrix-login/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Re-deploy
  k8s/nebula/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Re-deploy
  k8s/nebula/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

smtp-relay: SVC fixes
  k8s/nebula/apps/default/smtp-relay/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

smtp-relay: SVC fixes
  k8s/nebula/apps/default/smtp-relay/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

theme-park: Hmm
  k8s/nebula/apps/default/theme-park/app/helmrelease.yaml
Labels: area/kubernetes, cluster/nebula

theme-park: Hmm
  k8s/nebula/apps/default/theme-park/app/helmrelease.yaml
Labels: area/kubernetes, cluster/nebula

theme-park: Does that fix it?
  k8s/nebula/apps/default/theme-park/app/helmrelease.yaml
Labels: area/kubernetes, cluster/nebula

theme-park: Does that fix it?
  k8s/nebula/apps/default/theme-park/app/helmrelease.yaml
Labels: area/kubernetes, cluster/nebula

theme-park: Maybe now?
  k8s/nebula/apps/default/theme-park/app/helmrelease.yaml
Labels: area/kubernetes, cluster/nebula

theme-park: Maybe now?
  k8s/nebula/apps/default/theme-park/app/helmrelease.yaml
Labels: area/kubernetes, cluster/nebula

Yeet FreePBX VM
  k8s/nebula/vm/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Yeet FreePBX VM
  k8s/nebula/vm/kustomization.yaml
Labels: area/kubernetes, cluster/nebula
