Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"

External secrets helm repo
  cluster/flux/repositories/helm/external-secrets.yaml
  cluster/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

External secrets helm repo
  cluster/flux/repositories/helm/external-secrets.yaml
  cluster/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

Clean up
  archive/misc/monica/helm-release.yaml
  archive/misc/monica/kustomization.yaml
  archive/misc/organizr/helm-release.yaml
  archive/misc/organizr/kustomization.yaml
  archive/misc/overseerr/config-pvc.yaml
  archive/misc/overseerr/helm-release.yaml
  archive/misc/overseerr/kustomization.yaml
  archive/misc/photoprism/helm-release.yaml
  archive/misc/photoprism/kustomization.yaml
  archive/misc/renovate-bot/helm-release.yaml
  archive/misc/renovate-bot/kustomization.yaml
  archive/networking/error-pages/helm-release.yaml
  archive/networking/error-pages/kustomization.yaml
  cluster/apps/games/satisfactory/app/helm-release.yaml
  cluster/flux/repositories/helm/k8s-at-home-charts.yaml
  cluster/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

Clean up
  archive/misc/monica/helm-release.yaml
  archive/misc/monica/kustomization.yaml
  archive/misc/organizr/helm-release.yaml
  archive/misc/organizr/kustomization.yaml
  archive/misc/overseerr/config-pvc.yaml
  archive/misc/overseerr/helm-release.yaml
  archive/misc/overseerr/kustomization.yaml
  archive/misc/photoprism/helm-release.yaml
  archive/misc/photoprism/kustomization.yaml
  archive/misc/renovate-bot/helm-release.yaml
  archive/misc/renovate-bot/kustomization.yaml
  archive/networking/error-pages/helm-release.yaml
  archive/networking/error-pages/kustomization.yaml
  cluster/apps/games/satisfactory/app/helm-release.yaml
  cluster/flux/repositories/helm/k8s-at-home-charts.yaml
  cluster/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

chore(deps): update chart reflector to 7.0.190
  cluster/apps/system/reflector/helm-release.yaml
Labels: area/kubernetes

External secrets operator
  cluster/flux/add-ons/extermal-secrets/ks.yaml
  cluster/flux/add-ons/extermal-secrets/operator/helm-release.yaml
  cluster/flux/add-ons/extermal-secrets/operator/kustomization.yaml
  cluster/flux/add-ons/kustomization.yaml
Labels: area/kubernetes

External secrets operator
  cluster/flux/add-ons/extermal-secrets/ks.yaml
  cluster/flux/add-ons/extermal-secrets/operator/helm-release.yaml
  cluster/flux/add-ons/extermal-secrets/operator/kustomization.yaml
  cluster/flux/add-ons/kustomization.yaml
Labels: area/kubernetes

Line endings..
  cluster/flux/add-ons/extermal-secrets/ks.yaml
  cluster/flux/add-ons/extermal-secrets/operator/helm-release.yaml
  cluster/flux/add-ons/extermal-secrets/operator/kustomization.yaml
Labels: area/kubernetes

Line endings..
  cluster/flux/add-ons/extermal-secrets/ks.yaml
  cluster/flux/add-ons/extermal-secrets/operator/helm-release.yaml
  cluster/flux/add-ons/extermal-secrets/operator/kustomization.yaml
Labels: area/kubernetes

Kyverno: Oh, it was borked. :D
  cluster/apps/system/kyverno/app/helm-release.yaml
Labels: area/kubernetes

Kyverno: Oh, it was borked. :D
  cluster/apps/system/kyverno/app/helm-release.yaml
Labels: area/kubernetes

README: Stargazers
  README.md
Labels: none

README: Stargazers
  README.md
Labels: none

chore(deps): update github/codeql-action digest to 46ed16d
  .github/workflows/scan-containers.yaml
Labels: area/ci

chore(deps): update image docker.io/browserless/chrome to d1ab6f8
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to d1ab6f8
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update chart external-secrets to 0.9.0
  cluster/flux/add-ons/extermal-secrets/operator/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image timberio/vector to v0.31.0
  cluster/apps/monitoring/vector/agent/helm-release.yaml
  cluster/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image timberio/vector to v0.31.0
  cluster/apps/monitoring/vector/agent/helm-release.yaml
  cluster/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/kubernetes

Oh
  cluster/flux/add-ons/extermal-secrets/ks.yaml
Labels: area/kubernetes

Oh
  cluster/flux/add-ons/extermal-secrets/ks.yaml
Labels: area/kubernetes

Typos everywhere..
  cluster/flux/add-ons/external-secrets/ks.yaml
  cluster/flux/add-ons/external-secrets/operator/helm-release.yaml
  cluster/flux/add-ons/external-secrets/operator/kustomization.yaml
  cluster/flux/add-ons/kustomization.yaml
Labels: area/kubernetes

Typos everywhere..
  cluster/flux/add-ons/external-secrets/ks.yaml
  cluster/flux/add-ons/external-secrets/operator/helm-release.yaml
  cluster/flux/add-ons/external-secrets/operator/kustomization.yaml
  cluster/flux/add-ons/kustomization.yaml
Labels: area/kubernetes

chore(deps): update chart authentik to 2023.5.5
  cluster/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart authentik to 2023.5.5
  cluster/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/goauthentik/server to v2023.5.5
  cluster/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/goauthentik/server to v2023.5.5
  cluster/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 0dd707c
  cluster/apps/collab/littlelink/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 0dd707c
  cluster/apps/collab/littlelink/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/home-assistant/home-assistant to v2023.7.1
  cluster/apps/home/assistant/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/home-assistant/home-assistant to v2023.7.1
  cluster/apps/home/assistant/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 74d8340
  cluster/apps/collab/littlelink/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 74d8340
  cluster/apps/collab/littlelink/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart vector to 0.23.0
  cluster/apps/monitoring/vector/agent/helm-release.yaml
  cluster/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart longhorn to 1.5.0
  cluster/apps/storage/longhorn/app/helm-release.yaml
Labels: area/kubernetes

taskfile
  Taskfile.yml
Labels: none

taskfile
  Taskfile.yml
Labels: none

longhorn: Ingress had wrong IPv6 range.
  cluster/apps/storage/longhorn/app/helm-release.yaml
Labels: area/kubernetes

longhorn: Ingress had wrong IPv6 range.
  cluster/apps/storage/longhorn/app/helm-release.yaml
Labels: area/kubernetes

longhorn: Use own published chart for now.
  cluster/apps/storage/longhorn/app/helm-release.yaml
Labels: area/kubernetes
