Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

Fix wizarr
  k8s/nebula/apps/media/wizarr/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Fix wizarr
  k8s/nebula/apps/media/wizarr/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hm
  k8s/nebula/apps/databases/pgadmin/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hm
  k8s/nebula/apps/databases/pgadmin/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/media/wizarr/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/media/wizarr/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Oooh
  k8s/nebula/apps/media/wizarr/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Oooh
  k8s/nebula/apps/media/wizarr/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/media/apps/storage/kustomization.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/storage/kustomization.yaml
Labels: area/kubernetes, cluster/media

unimus: deploy
  k8s/nebula/apps/networking/kustomization.yaml
  k8s/nebula/apps/networking/unimus/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

unimus: deploy
  k8s/nebula/apps/networking/kustomization.yaml
  k8s/nebula/apps/networking/unimus/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

external-dns changes
  k8s/nebula/apps/networking/external-dns/external/helm-release.yaml
  k8s/nebula/apps/networking/external-dns/internal/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

external-dns changes
  k8s/nebula/apps/networking/external-dns/external/helm-release.yaml
  k8s/nebula/apps/networking/external-dns/internal/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

cilium: fix IP pool syntax
  k8s/nebula/apps/kube-system/cilium/config/loadbalancer-ips.yaml
Labels: area/kubernetes, cluster/nebula

cilium: fix IP pool syntax
  k8s/nebula/apps/kube-system/cilium/config/loadbalancer-ips.yaml
Labels: area/kubernetes, cluster/nebula

cilium: fix IP pool syntax for Media cluster
  k8s/media/apps/kube-system/cilium/config/loadbalancer-ips.yaml
Labels: area/kubernetes, cluster/media

cilium: fix IP pool syntax for Media cluster
  k8s/media/apps/kube-system/cilium/config/loadbalancer-ips.yaml
Labels: area/kubernetes, cluster/media

external-dns: no need for debug log level
  k8s/nebula/apps/networking/external-dns/internal/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

external-dns: no need for debug log level
  k8s/nebula/apps/networking/external-dns/internal/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

hajimari icon things for tvheadend
  k8s/nebula/apps/media/tvheadend/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

hajimari icon things for tvheadend
  k8s/nebula/apps/media/tvheadend/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

oh
  k8s/nebula/apps/media/tvheadend/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

oh
  k8s/nebula/apps/media/tvheadend/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Prom things
  k8s/base/monitoring/prom-stack/overlays/nebula/helm-release.yaml
  k8s/nebula/shared/monitoring.yaml
Labels: area/kubernetes, cluster/nebula

Prom things
  k8s/base/monitoring/prom-stack/overlays/nebula/helm-release.yaml
  k8s/nebula/shared/monitoring.yaml
Labels: area/kubernetes, cluster/nebula

Deploy monitoring things
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Deploy monitoring things
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

kromgo: two replicas instead of one
  k8s/nebula/apps/monitoring/kromgo/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

kromgo: two replicas instead of one
  k8s/nebula/apps/monitoring/kromgo/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

hmm
  k8s/nebula/apps/monitoring/kromgo/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

hmm
  k8s/nebula/apps/monitoring/kromgo/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/databases/mariadb/crds/hr.yaml
  k8s/nebula/apps/databases/mariadb/crds/kustomization.yaml
  k8s/nebula/apps/databases/mariadb/ks-crds.yaml
  k8s/nebula/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/databases/mariadb/crds/hr.yaml
  k8s/nebula/apps/databases/mariadb/crds/kustomization.yaml
  k8s/nebula/apps/databases/mariadb/ks-crds.yaml
  k8s/nebula/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Changes
  k8s/media/apps/media/kustomization.yaml
  k8s/nebula/apps/databases/cloudnative-pg/cluster/lb.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

Changes
  k8s/media/apps/media/kustomization.yaml
  k8s/nebula/apps/databases/cloudnative-pg/cluster/lb.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

Hmm, does it fix it?
  k8s/base/cert-manager/issuers/zerossl-production.yaml
Labels: area/kubernetes

Hmm, does it fix it?
  k8s/base/cert-manager/issuers/zerossl-production.yaml
Labels: area/kubernetes

No need to use ceph
  k8s/media/apps/media/sabnzbd/app/pvc.yaml
Labels: area/kubernetes, cluster/media

No need to use ceph
  k8s/media/apps/media/sabnzbd/app/pvc.yaml
Labels: area/kubernetes, cluster/media

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*
