Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"

chore(deps): update chart falco to 3.1.3
  cluster/apps/security/falco/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart reloader to v1.0.16
  cluster/apps/system/reloader/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image esphome/esphome to v2023.3.2
  cluster/apps/home/esphome/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image esphome/esphome to v2023.3.2
  cluster/apps/home/esphome/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): replace image k8s.gcr.io/autoscaling/vpa-recommender with registry\.k8s\.io/autoscaling/vpa-recommender 0.13.0
  cluster/apps/monitoring/vpa/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): replace image k8s.gcr.io/ingress-nginx/kube-webhook-certgen with registry\.k8s\.io/ingress-nginx/kube-webhook-certgen v1.1
  cluster/apps/networking/prefer-dual-stack/app/deploy.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/angelnu/gateway-admision-controller to v3.9.0
  cluster/apps/vpn/downloads-gateway/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/angelnu/gateway-admision-controller to v3.9.0
  cluster/apps/vpn/downloads-gateway/app/helm-release.yaml
Labels: area/kubernetes

Move to metallb.io/v1beta2 API
  cluster/apps/networking/metallb/config/bgp-config.yaml
Labels: area/kubernetes

Move to metallb.io/v1beta2 API
  cluster/apps/networking/metallb/config/bgp-config.yaml
Labels: area/kubernetes

Apparently, that's not allowed.
  cluster/apps/default/mailsrv/app/helm-release.yaml
Labels: area/kubernetes

Apparently, that's not allowed.
  cluster/apps/default/mailsrv/app/helm-release.yaml
Labels: area/kubernetes

Ingress and port thing
  cluster/apps/default/mailsrv/app/helm-release.yaml
Labels: area/kubernetes

Ingress and port thing
  cluster/apps/default/mailsrv/app/helm-release.yaml
Labels: area/kubernetes

Let's not do this on k8s... :D
  cluster/apps/default/kustomization.yaml
  cluster/apps/default/mailsrv/app/helm-release.yaml
  cluster/apps/default/mailsrv/app/pvc.yaml
  cluster/apps/default/mailsrv/ks.yaml
Labels: area/kubernetes

Let's not do this on k8s... :D
  cluster/apps/default/kustomization.yaml
  cluster/apps/default/mailsrv/app/helm-release.yaml
  cluster/apps/default/mailsrv/app/pvc.yaml
  cluster/apps/default/mailsrv/ks.yaml
Labels: area/kubernetes

chore(deps): update github/codeql-action digest to 04df126
  .github/workflows/scan-containers.yaml
Labels: area/ci

chore(deps): update image docker.io/browserless/chrome to afc2950
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to afc2950
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update chart kube-prometheus-stack to 45.8.0
  cluster/apps/monitoring/prom-stack/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart kube-prometheus-stack to 45.8.0
  cluster/apps/monitoring/prom-stack/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 5b7235f
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 5b7235f
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

chore(deps): update tj-actions/changed-files action to v35.7.7
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

chore(deps): update tj-actions/changed-files action to v35.7.7
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

chore(deps): update image docker.io/browserless/chrome to 79adf20
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to 79adf20
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/exportarr to v1.2.6
  cluster/apps/monitoring/arrs/radarr-exporter.yaml
  cluster/apps/monitoring/arrs/sonarr-exporter.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/exportarr to v1.2.6
  cluster/apps/monitoring/arrs/radarr-exporter.yaml
  cluster/apps/monitoring/arrs/sonarr-exporter.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/pablouser1/proxitok to 0576f82
  cluster/apps/services/proxitok/app/web/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/pablouser1/proxitok to 0576f82
  cluster/apps/services/proxitok/app/web/helm-release.yaml
Labels: area/kubernetes

chore(deps): update github/codeql-action digest to 04df126
  .github/workflows/scan-containers.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to 04df126
  .github/workflows/scan-containers.yaml
Labels: area/ci

chore(deps): update tj-actions/changed-files action to v35.7.8
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

chore(deps): update tj-actions/changed-files action to v35.7.8
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

chore(deps): update chart loki to 4.9.0
  cluster/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart metrics-server to 3.9.0
  cluster/apps/monitoring/metrics-server/helm-release.yaml
Labels: area/kubernetes

chore(deps): update community.general to 6.5.0
  provision/ansible/requirements.yml
Labels: none

chore(deps): update community.general to 6.5.0
  provision/ansible/requirements.yml
Labels: none

Immich: Upgrade to v1.52.0
  cluster/apps/default/immich/app/machine-learning/helm-release.yaml
  cluster/apps/default/immich/app/microservices/helm-release.yaml
  cluster/apps/default/immich/app/server/helm-release.yaml
  cluster/apps/default/immich/app/web/helm-release.yaml
Labels: area/kubernetes
