Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

Hmm
  k8s/media/apps/kube-system/generic-device-plugin/app/hr.yaml
  k8s/media/apps/kube-system/generic-device-plugin/ks.yaml
  k8s/media/apps/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/qbit/app/helm-release.yaml
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/sabnzbd/ks.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/nebula/apps/ci/github-actions/app/runners/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/media/apps/kube-system/cilium/app/values.yaml
  k8s/media/apps/kustomization.yaml
  provision/ansible/media/inventory/group_vars/master/k3s.yml
  provision/ansible/media/inventory/hosts.yaml
Labels: area/kubernetes, cluster/media

Re-deploy some things
  k8s/media/.envrc
  k8s/media/.gitignore
  k8s/media/apps/kustomization.yaml
  k8s/media/apps/storage/kustomization.yaml
Labels: area/kubernetes, cluster/media

Deploy rook
  k8s/media/apps/storage/kustomization.yaml
  k8s/media/apps/storage/rook-ceph/kustomization.yaml
Labels: area/kubernetes, cluster/media

hmmmm
  k8s/media/apps/kustomization.yaml
Labels: area/kubernetes, cluster/media

Wow
  k8s/media/apps/media/radarr/app/helm-release.yaml
  k8s/media/apps/media/radarr/app/kustomization.yaml
Labels: area/kubernetes, cluster/media

Oh damnm
  k8s/media/apps/media/radarr/app/externalsecret.yaml
Labels: area/kubernetes, cluster/media

F
  k8s/media/apps/media/radarr/app/externalsecret.yaml
Labels: area/kubernetes, cluster/media

FF
  k8s/media/apps/media/radarr/app/externalsecret.yaml
Labels: area/kubernetes, cluster/media

init container
  k8s/media/apps/media/radarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/storage/rook-ceph/rook/operator/hr.yaml
  k8s/media/apps/storage/snapshot-controller/app/helm-release.yaml
  k8s/nebula/apps/storage/rook-ceph/rook/operator/hr.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

Oh
  k8s/media/apps/kube-system/snapshot-controller/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/kustomization.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/monitoring/scrutiny-collector/app/hr.yaml
Labels: area/kubernetes, cluster/media

Mount the NFS storage
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

:(
  k8s/media/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Update Jellystat image tag to 1.1.2
  k8s/nebula/apps/monitoring/jellystat/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Added IPv6 support for the VPN back
  k8s/media/apps/media/qbit/app/secret.sops.yaml
Labels: area/kubernetes, cluster/media

Enable IPv6 in Cilium
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
  k8s/media/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/media

More Media apps
  k8s/nebula/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

That's better
  k8s/media/apps/media/radarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Plex has returned
  k8s/media/apps/media/kustomization.yaml
  k8s/media/apps/media/plex/app/hr.yaml
  k8s/media/apps/media/plex/app/kustomization.yaml
  k8s/media/apps/media/plex/app/pvc.yaml
  k8s/media/apps/media/plex/ks.yaml
Labels: area/kubernetes, cluster/media

Oh
  k8s/media/apps/media/plex/app/hr.yaml
Labels: area/kubernetes, cluster/media

Damn
  k8s/media/apps/storage/local-path/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/plex/app/hr.yaml
  k8s/media/apps/media/plex/app/pvc.yaml
Labels: area/kubernetes, cluster/media

That's the way?
  k8s/media/apps/media/plex/app/hr.yaml
  k8s/nebula/apps/networking/misc-ingresses/dh-endpoints-plex.yaml
  k8s/nebula/apps/networking/misc-ingresses/dh-ingress.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

Hmm
  k8s/media/apps/media/plex/app/hr.yaml
Labels: area/kubernetes, cluster/media

Talconfig changes as we upgrade to 1.9.1 of Talos.
  k8s/nebula/talos/talconfig.yaml
Labels: area/kubernetes, cluster/nebula

Let's use official overlay for the CM4 and Pi4 for the moment.
  k8s/nebula/talos/talconfig.yaml
Labels: area/kubernetes, cluster/nebula

Remove unused endpoint and update Plex advertise URL.
  k8s/media/apps/media/plex/app/hr.yaml
  k8s/nebula/apps/networking/misc-ingresses/kustomization.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

Update .gitignore to reflect changes in clusterconfig files
  k8s/nebula/talos/clusterconfig/.gitignore
Labels: area/kubernetes, cluster/nebula

Uninstall Multus
  k8s/nebula/apps/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Re-deploy multus as thin
  k8s/nebula/apps/kube-system/multus/app/helm-release.yaml
  k8s/nebula/apps/kube-system/multus/app/kustomization.yaml
  k8s/nebula/apps/kube-system/multus/app/rbac.yaml
  k8s/nebula/apps/kube-system/multus/app/resources/00-multus.conf
  k8s/nebula/apps/kube-system/multus/ks-config.yaml
  k8s/nebula/apps/kube-system/multus/ks.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Fix
  k8s/nebula/apps/kube-system/multus/ks.yaml
Labels: area/kubernetes, cluster/nebula

Damn it
  k8s/nebula/apps/kube-system/multus/app/rbac.yaml
Labels: area/kubernetes, cluster/nebula

Argh
  k8s/nebula/apps/databases/mariadb/resources/mariadb.yaml
Labels: area/kubernetes, cluster/nebula

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*
