Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*

Bazarr: Fix flags for git-sync, part two.
  k8s/media/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Bazarr: Fix flags for git-sync, part two.
  k8s/media/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Will this break it?
  k8s/nebula/apps/databases/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes, cluster/nebula

Will this break it?
  k8s/nebula/apps/databases/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/databases/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/databases/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes, cluster/nebula

Does that work?
  k8s/nebula/apps/databases/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes, cluster/nebula

Does that work?
  k8s/nebula/apps/databases/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes, cluster/nebula

Fine, I cannot change it. ;(
  k8s/nebula/apps/databases/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes, cluster/nebula

Fine, I cannot change it. ;(
  k8s/nebula/apps/databases/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes, cluster/nebula

Let's deploy vector Postgres
  k8s/nebula/apps/databases/cloudnative-pg/cluster-vectors/cluster16-vector.yaml
  k8s/nebula/apps/databases/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Let's deploy vector Postgres
  k8s/nebula/apps/databases/cloudnative-pg/cluster-vectors/cluster16-vector.yaml
  k8s/nebula/apps/databases/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/databases/cloudnative-pg/cluster-vectors/cluster16-vector.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/databases/cloudnative-pg/cluster-vectors/cluster16-vector.yaml
Labels: area/kubernetes, cluster/nebula

Enable alter system
  k8s/nebula/apps/databases/cloudnative-pg/cluster-vectors/cluster16-vector.yaml
Labels: area/kubernetes, cluster/nebula

Enable alter system
  k8s/nebula/apps/databases/cloudnative-pg/cluster-vectors/cluster16-vector.yaml
Labels: area/kubernetes, cluster/nebula

Deploy Immich
  .archive/nebula/immich/app/configmap.yaml
  .archive/nebula/immich/app/externalsecret-store.yaml
  .archive/nebula/immich/app/externalsecret.yaml
  .archive/nebula/immich/app/hr.yaml
  .archive/nebula/immich/app/nfs-pvc.yaml
  k8s/nebula/apps/default/immich/app/externalsecret.yaml
  k8s/nebula/apps/default/immich/app/hr.yaml
  k8s/nebula/apps/default/immich/app/kustomization.yaml
  k8s/nebula/apps/default/immich/app/pvc.yaml
  k8s/nebula/apps/default/immich/ks.yaml
  k8s/nebula/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Deploy Immich
  .archive/nebula/immich/app/configmap.yaml
  .archive/nebula/immich/app/externalsecret-store.yaml
  .archive/nebula/immich/app/externalsecret.yaml
  .archive/nebula/immich/app/hr.yaml
  .archive/nebula/immich/app/nfs-pvc.yaml
  k8s/nebula/apps/default/immich/app/externalsecret.yaml
  k8s/nebula/apps/default/immich/app/hr.yaml
  k8s/nebula/apps/default/immich/app/kustomization.yaml
  k8s/nebula/apps/default/immich/app/pvc.yaml
  k8s/nebula/apps/default/immich/ks.yaml
  k8s/nebula/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Fix envFrom for Immich.
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Fix envFrom for Immich.
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/default/immich/ks.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/default/immich/ks.yaml
Labels: area/kubernetes, cluster/nebula

Because indentation is hard..
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Because indentation is hard..
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

I see..
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

I see..
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

TZ is useful too
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

TZ is useful too
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Yeet redis from Immich
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Yeet redis from Immich
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Fix SSH creds
  k8s/nebula/private-flux/private-ssh.sops.yaml
Labels: area/kubernetes, cluster/nebula

Fix SSH creds
  k8s/nebula/private-flux/private-ssh.sops.yaml
Labels: area/kubernetes, cluster/nebula

Ah
  k8s/base/system/intel-device-plugins/gpu/helm-release.yaml
  k8s/nebula/shared/system.yaml
Labels: area/kubernetes, cluster/nebula

Ah
  k8s/base/system/intel-device-plugins/gpu/helm-release.yaml
  k8s/nebula/shared/system.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/base/flux-system/helm-chart-repos/intel.yaml
Labels: area/kubernetes

Oh
  k8s/base/flux-system/helm-chart-repos/intel.yaml
Labels: area/kubernetes
