Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*

It would probably help..
  k8s/media/apps/storage/longhorn/ks.yaml
Labels: area/kubernetes, cluster/media

It would probably help..
  k8s/media/apps/storage/longhorn/ks.yaml
Labels: area/kubernetes, cluster/media

Is that the way?
  k8s/media/apps/media/qbit/app/helm-release.yaml
  k8s/media/apps/media/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Is that the way?
  k8s/media/apps/media/qbit/app/helm-release.yaml
  k8s/media/apps/media/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Let's try that again.
  k8s/media/apps/media/unpackerr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Let's try that again.
  k8s/media/apps/media/unpackerr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Disalbe some probes
  k8s/media/apps/media/qbittorrent/tools/manage/helm-release.yaml
  k8s/media/apps/media/qbittorrent/tools/orphaned/helm-release.yaml
  k8s/media/apps/media/qbittorrent/tools/reannounce/helm-release.yaml
  k8s/media/apps/media/unpackerr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Disalbe some probes
  k8s/media/apps/media/qbittorrent/tools/manage/helm-release.yaml
  k8s/media/apps/media/qbittorrent/tools/orphaned/helm-release.yaml
  k8s/media/apps/media/qbittorrent/tools/reannounce/helm-release.yaml
  k8s/media/apps/media/unpackerr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

That should do the trick.
  k8s/nebula/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

That should do the trick.
  k8s/nebula/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

matrix-synapse: Trusting keyservers and enable presence.
  k8s/nebula/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

matrix-synapse: Trusting keyservers and enable presence.
  k8s/nebula/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

matrix-synapse: No need for msisdn.
  k8s/nebula/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

matrix-synapse: No need for msisdn.
  k8s/nebula/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

matrix-synapse: Enable the worker for media repo.
  k8s/nebula/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

matrix-synapse: Enable the worker for media repo.
  k8s/nebula/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

matrix-synapse: Worker things
  k8s/nebula/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

matrix-synapse: Worker things
  k8s/nebula/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Deploy radicale
  .archive/nebula/radicale/app/kustomization.yaml
  k8s/nebula/apps/default/kustomization.yaml
  k8s/nebula/apps/default/radicale/app/config/config.cfg
  k8s/nebula/apps/default/radicale/app/hr.yaml
  k8s/nebula/apps/default/radicale/app/kustomization.yaml
  k8s/nebula/apps/default/radicale/ks.yaml
Labels: area/kubernetes, cluster/nebula

Yeet baikal
  .archive/nebula/baikal/app/hr.yaml
  .archive/nebula/baikal/app/kustomization.yaml
  .archive/nebula/baikal/ks.yaml
Labels: none

Hmm
  k8s/templates/volsync/r2/replicationsource.yaml
Labels: area/kubernetes

Yeet baikal
  .archive/nebula/baikal/app/hr.yaml
  .archive/nebula/baikal/app/kustomization.yaml
  .archive/nebula/baikal/ks.yaml
Labels: none

Deploy radicale
  .archive/nebula/radicale/app/kustomization.yaml
  k8s/nebula/apps/default/kustomization.yaml
  k8s/nebula/apps/default/radicale/app/config/config.cfg
  k8s/nebula/apps/default/radicale/app/hr.yaml
  k8s/nebula/apps/default/radicale/app/kustomization.yaml
  k8s/nebula/apps/default/radicale/ks.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/templates/volsync/r2/replicationsource.yaml
Labels: area/kubernetes

Downgrade volsync...
  k8s/nebula/apps/volsync/volsync/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Downgrade volsync...
  k8s/nebula/apps/volsync/volsync/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Downgrade volsync...
  k8s/nebula/apps/volsync/volsync/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Downgrade volsync...
  k8s/nebula/apps/volsync/volsync/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Argh
  k8s/nebula/apps/default/radicale/ks.yaml
Labels: area/kubernetes, cluster/nebula

Argh
  k8s/nebula/apps/default/radicale/ks.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/default/radicale/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/default/radicale/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Yeet Radicale
  k8s/nebula/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Yeet Radicale
  k8s/nebula/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Yeet shiori
  .archive/nebula/shiori/app/hr.yaml
  .archive/nebula/shiori/app/kustomization.yaml
  .archive/nebula/shiori/ks.yaml
  k8s/nebula/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Yeet shiori
  .archive/nebula/shiori/app/hr.yaml
  .archive/nebula/shiori/app/kustomization.yaml
  .archive/nebula/shiori/ks.yaml
  k8s/nebula/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Yeet kubevirt and cdi things.
  k8s/nebula/flux/config/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Yeet kubevirt and cdi things.
  k8s/nebula/flux/config/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Upgrade cloudflared's app-template
  k8s/nebula/apps/networking/cloudflared/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Upgrade cloudflared's app-template
  k8s/nebula/apps/networking/cloudflared/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula
