Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*

conduwuit: Legacy media can be frozen.
  k8s/nebula/apps/comms/conduwuit/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

conduwuit: Legacy media can be disabled instead.
  k8s/nebula/apps/comms/conduwuit/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/media/shared/networking.yaml
Labels: area/kubernetes, cluster/media

Change prefix
  k8s/media/apps/kube-system/cilium/config/loadbalancer-ips.yaml
  k8s/media/apps/kube-system/cilium/gateway/internal.yaml
Labels: area/kubernetes, cluster/media

Upgrade Cilium
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Move Media cluster to HTTPRoute
  k8s/media/apps/media/jellyfin/app/hr.yaml
  k8s/media/apps/media/kustomization.yaml
  k8s/media/apps/media/kyoo/app-template/configs/config.yaml
  k8s/media/apps/media/kyoo/app-template/es.yaml
  k8s/media/apps/media/kyoo/app-template/hr.yaml
  k8s/media/apps/media/kyoo/app-template/kustomization.yaml
  k8s/media/apps/media/kyoo/app-template/pvc.yaml
  k8s/media/apps/media/kyoo/ks.yaml
  k8s/media/apps/media/plex/app/hr.yaml
  k8s/media/apps/media/qbit/app/helm-release.yaml
  k8s/media/apps/media/qbittorrent/app/helm-release.yaml
  k8s/media/apps/media/radarr/app/helm-release.yaml
  k8s/media/apps/media/sabnzbd/app/hr.yaml
  k8s/media/apps/media/sonarr/app/helm-release.yaml
  k8s/media/apps/media/tautulli/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Yeet
  k8s/media/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/media

Change prefix
  k8s/media/apps/kube-system/cilium/config/loadbalancer-ips.yaml
  k8s/media/apps/media/qbittorrent/app/helm-release.yaml
  k8s/media/apps/networking/k8s-gateway/app/helm-release.yaml
  k8s/media/apps/networking/nginx/app/hr.yaml
  k8s/nebula/apps/networking/tailscale/extras/subnet-router.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

media: Deploy envoy separately and move HTTPRoutes to it
  k8s/media/apps/kube-system/kustomization.yaml
  k8s/media/apps/media/bazarr/app/helm-release.yaml
  k8s/media/apps/media/jellyfin/app/hr.yaml
  k8s/media/apps/media/plex/app/hr.yaml
  k8s/media/apps/media/qbit/app/helm-release.yaml
  k8s/media/apps/media/qbittorrent/app/helm-release.yaml
  k8s/media/apps/media/radarr/app/helm-release.yaml
  k8s/media/apps/media/sabnzbd/app/hr.yaml
  k8s/media/apps/media/sonarr/app/helm-release.yaml
  k8s/media/apps/networking/envoy/ks.yaml
  k8s/media/apps/networking/envoy/manifests/client-policy.yaml
  k8s/media/apps/networking/envoy/manifests/configuration.yaml
  k8s/media/apps/networking/envoy/manifests/gateway.yaml
  k8s/media/apps/networking/envoy/manifests/kustomization.yaml
  k8s/media/apps/networking/envoy/manifests/redirect.yaml
  k8s/media/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/media

Ah
  k8s/media/shared/networking.yaml
Labels: area/kubernetes, cluster/media

LOL
  k8s/media/apps/networking/envoy/ks.yaml
Labels: area/kubernetes, cluster/media

Oh?
  k8s/media/apps/networking/envoy/manifests/gateway.yaml
Labels: area/kubernetes, cluster/media

Yeet
  k8s/media/apps/networking/envoy/manifests/gateway.yaml
Labels: area/kubernetes, cluster/media

Huh
  k8s/media/apps/networking/envoy/manifests/client-policy.yaml
Labels: area/kubernetes, cluster/media

Huh?
  k8s/media/apps/networking/envoy/manifests/gateway.yaml
Labels: area/kubernetes, cluster/media

Interesting..
  k8s/media/apps/networking/envoy/manifests/gateway.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/media

Enable hubble
  k8s/media/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/media

Hubble relay is useful
  k8s/media/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/media

Annoying configmap things
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
  k8s/media/apps/kube-system/cilium/app/kustomization.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Envoy should listen on IPv6?
  k8s/media/apps/networking/envoy/manifests/configuration.yaml
  k8s/nebula/apps/networking/envoy/manifests/configuration.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

Oh
  k8s/media/apps/media/jellyfin/app/hr.yaml
  k8s/media/apps/networking/envoy/manifests/configuration.yaml
  k8s/nebula/apps/networking/envoy/manifests/configuration.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

Huh
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Deploy whoami on Media cluster
  k8s/media/apps/networking/kustomization.yaml
  k8s/media/apps/networking/whoami/app/hr.yaml
  k8s/media/apps/networking/whoami/app/kustomization.yaml
  k8s/media/apps/networking/whoami/ks.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/networking/whoami/app/hr.yaml
Labels: area/kubernetes, cluster/media

Aha
  k8s/media/apps/networking/whoami/app/hr.yaml
Labels: area/kubernetes, cluster/media

Update to newer conduwuit
  k8s/nebula/apps/comms/conduwuit/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

New HASS
  k8s/nebula/apps/home/assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Deploy piper and whisper
  k8s/nebula/apps/home/kustomization.yaml
  k8s/nebula/apps/home/wyoming-piper/app/hr.yaml
  k8s/nebula/apps/home/wyoming-piper/app/kustomization.yaml
  k8s/nebula/apps/home/wyoming-piper/ks.yaml
  k8s/nebula/apps/home/wyoming-whisper/app/hr.yaml
  k8s/nebula/apps/home/wyoming-whisper/app/kustomization.yaml
  k8s/nebula/apps/home/wyoming-whisper/ks.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/home/wyoming-piper/app/kustomization.yaml
  k8s/nebula/apps/home/wyoming-whisper/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

fix: Tailscale not advertising all useful prefixes
  k8s/nebula/apps/networking/tailscale/extras/subnet-router.yaml
Labels: area/kubernetes, cluster/nebula

Update Conduwuit
  k8s/nebula/apps/comms/conduwuit/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Plex yeet
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

Upgrade sab
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

Upgrade qbit, radarr and sonarr
  k8s/media/apps/media/qbit/app/helm-release.yaml
  k8s/media/apps/media/radarr/app/helm-release.yaml
  k8s/media/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Deploy emby
  k8s/media/apps/media/emby/app/hr.yaml
  k8s/media/apps/media/emby/app/kustomization.yaml
  k8s/media/apps/media/emby/app/pvc.yaml
  k8s/media/apps/media/emby/ks.yaml
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

Move plex to archive
  .archive/media/plex/app/hr.yaml
  .archive/media/plex/app/kustomization.yaml
  .archive/media/plex/app/pvc.yaml
  .archive/media/plex/ks.yaml
Labels: none

Bad copy-pasta
  k8s/media/apps/media/emby/app/hr.yaml
Labels: area/kubernetes, cluster/media
