Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*

uh
  k8s/media/apps/media/sabnzbd/app/pvc.yaml
Labels: area/kubernetes, cluster/media

uh
  k8s/media/apps/media/sabnzbd/app/pvc.yaml
Labels: area/kubernetes, cluster/media

Oh
  k8s/media/apps/media/sabnzbd/app/kustomization.yaml
Labels: area/kubernetes, cluster/media

Oh
  k8s/media/apps/media/sabnzbd/app/kustomization.yaml
Labels: area/kubernetes, cluster/media

let's try it again
  k8s/media/apps/media/sabnzbd/app/kustomization.yaml
  k8s/media/apps/media/sabnzbd/ks.yaml
Labels: area/kubernetes, cluster/media

let's try it again
  k8s/media/apps/media/sabnzbd/app/kustomization.yaml
  k8s/media/apps/media/sabnzbd/ks.yaml
Labels: area/kubernetes, cluster/media

Let's yeet it to re-deploy it later
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

Let's yeet it to re-deploy it later
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

Re-deploy
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

Re-deploy
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

huh?
  k8s/media/apps/media/sabnzbd/app/kustomization.yaml
Labels: area/kubernetes, cluster/media

huh?
  k8s/media/apps/media/sabnzbd/app/kustomization.yaml
Labels: area/kubernetes, cluster/media

huh, part two
  k8s/media/apps/media/sabnzbd/app/externalsecret.yaml
Labels: area/kubernetes, cluster/media

huh, part two
  k8s/media/apps/media/sabnzbd/app/externalsecret.yaml
Labels: area/kubernetes, cluster/media

DAMN IT
  k8s/media/apps/media/sabnzbd/ks.yaml
Labels: area/kubernetes, cluster/media

DAMN IT
  k8s/media/apps/media/sabnzbd/ks.yaml
Labels: area/kubernetes, cluster/media

Uhh
  k8s/media/apps/media/kustomization.yaml
  k8s/media/apps/media/sabnzbd/app/pvc.yaml
  k8s/media/apps/media/sabnzbd/app/replicationdestination.yaml
Labels: area/kubernetes, cluster/media

Uhh
  k8s/media/apps/media/kustomization.yaml
  k8s/media/apps/media/sabnzbd/app/pvc.yaml
  k8s/media/apps/media/sabnzbd/app/replicationdestination.yaml
Labels: area/kubernetes, cluster/media

Fix cert-manager
  k8s/base/cert-manager/app/helm-release.yaml
Labels: area/kubernetes

Fix cert-manager
  k8s/base/cert-manager/app/helm-release.yaml
Labels: area/kubernetes

try that
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

try that
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

Fix immich
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Fix immich
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

hmm
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

hmm
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

immich things
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

immich things
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

fix smtp-relay
  k8s/nebula/apps/default/smtp-relay/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

fix smtp-relay
  k8s/nebula/apps/default/smtp-relay/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

maybe fixed paperless
  k8s/nebula/apps/default/paperless/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

maybe fixed paperless
  k8s/nebula/apps/default/paperless/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

more immich things
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

more immich things
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

ignore the errors
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

ignore the errors
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

huuh?
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

huuh?
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

So that was not the problem?
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

So that was not the problem?
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula
