Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

Damn it
  k8s/nebula/apps/default/zipline/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Ah
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Pain
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Argh
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Damn it
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Maybe now?
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Firewall..
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/media/flaresolverr/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Let's do a test pod
  k8s/nebula/apps/media/kustomization.yaml
  k8s/nebula/apps/media/vpn-test/app/hr.yaml
  k8s/nebula/apps/media/vpn-test/app/kustomization.yaml
  k8s/nebula/apps/media/vpn-test/ks.yaml
Labels: area/kubernetes, cluster/nebula

Damn
  k8s/nebula/apps/media/vpn-test/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

lol
  k8s/nebula/apps/media/vpn-test/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Damn it
  k8s/nebula/apps/media/vpn-test/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/media/vpn-test/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/media/vpn-test/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Does this work?
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Damn it
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Wait a damn minute..
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
  k8s/nebula/apps/vpn/vpn-gateway/app/manifest.yaml
Labels: area/kubernetes, cluster/nebula

What the heck is the difference?
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Should be fairly the same as working one?
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Damn, dunno why own image doesn't work
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Damn
  k8s/nebula/apps/vpn/vpn-gateway/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/media/flaresolverr/app/helm-release.yaml
  k8s/nebula/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm, deploy Actual
  k8s/nebula/apps/finance/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Multus yeet
  k8s/nebula/apps/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Change multus
  k8s/nebula/apps/kube-system/multus/app/helm-release.yaml
  k8s/nebula/apps/kube-system/multus/app/resources/00-multus.conf
Labels: area/kubernetes, cluster/nebula

re-deploy multus
  k8s/nebula/apps/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/kube-system/multus/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Deploy Authentik remote thing on media cluster
  k8s/media/apps/kustomization.yaml
  k8s/media/apps/security/authentik-remote-cluster/app/hr.yaml
  k8s/media/apps/security/authentik-remote-cluster/app/kustomization.yaml
  k8s/media/apps/security/authentik-remote-cluster/ks.yaml
  k8s/media/apps/security/kustomization.yaml
  k8s/media/apps/security/ns.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/storage/snapshot-controller/ks.yaml
Labels: area/kubernetes, cluster/media

That should be fine?
  k8s/media/apps/volsync/volsync/app/hr.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/media-index/app/helm-release.yaml
  k8s/nebula/apps/networking/misc-ingresses/dh-ingress.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

Damn ndots
  k8s/nebula/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/media/apps/media/media-index/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

That should fix perms?
  k8s/media/apps/media/media-index/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*
