Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*

Let's try this
  k8s/media/apps/media/media-index/app/configmap.yaml
  k8s/media/apps/media/media-index/app/helm-release.yaml
  k8s/media/apps/media/media-index/app/kustomization.yaml
Labels: area/kubernetes, cluster/media

Oops
  k8s/media/apps/media/media-index/app/configmap.yaml
Labels: area/kubernetes, cluster/media

Huh
  k8s/media/apps/media/media-index/app/configmap.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/media-index/app/configmap.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/media-index/app/configmap.yaml
Labels: area/kubernetes, cluster/media

Oh
  k8s/media/apps/security/authentik-remote-cluster/app/hr.yaml
Labels: area/kubernetes, cluster/media

smtp-relay: that might work?
  k8s/nebula/apps/default/smtp-relay/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/default/smtp-relay/app/es.yaml
  k8s/nebula/apps/default/smtp-relay/app/helm-release.yaml
  k8s/nebula/apps/default/smtp-relay/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/default/smtp-relay/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

LOL
  k8s/nebula/apps/default/smtp-relay/app/es.yaml
Labels: area/kubernetes, cluster/nebula

Tweak colors for Kromgo
  k8s/nebula/apps/monitoring/kromgo/app/resources/config.yaml
Labels: area/kubernetes, cluster/nebula

Deploy Grafana
  k8s/nebula/apps/monitoring/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Deploy dragonfly cluster
  k8s/nebula/apps/databases/dragonfly/app/hr.yaml
  k8s/nebula/apps/databases/dragonfly/app/kustomization.yaml
  k8s/nebula/apps/databases/dragonfly/app/rbac.yaml
  k8s/nebula/apps/databases/dragonfly/cluster/cluster.yaml
  k8s/nebula/apps/databases/dragonfly/cluster/kustomization.yaml
  k8s/nebula/apps/databases/dragonfly/cluster/podmonitor.yaml
  k8s/nebula/apps/databases/dragonfly/ks-cluster.yaml
  k8s/nebula/apps/databases/dragonfly/ks.yaml
  k8s/nebula/apps/databases/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/databases/dragonfly/app/rbac.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/databases/dragonfly/ks-cluster.yaml
Labels: area/kubernetes, cluster/nebula

deploy searxng
  k8s/nebula/apps/kustomization.yaml
  k8s/nebula/apps/services/kustomization.yaml
  k8s/nebula/apps/services/ns.yaml
  k8s/nebula/apps/services/searxng/app/es.yaml
  k8s/nebula/apps/services/searxng/app/hr.yaml
  k8s/nebula/apps/services/searxng/app/kustomization.yaml
  k8s/nebula/apps/services/searxng/app/resources/limiter.toml
  k8s/nebula/apps/services/searxng/app/resources/settings.yml
  k8s/nebula/apps/services/searxng/ks.yaml
Labels: area/kubernetes, cluster/nebula

Deploy open-webui
  k8s/nebula/apps/ai/kustomization.yaml
  k8s/nebula/apps/ai/ns.yaml
  k8s/nebula/apps/ai/open-webui/app/es.yaml
  k8s/nebula/apps/ai/open-webui/app/hr.yaml
  k8s/nebula/apps/ai/open-webui/app/kustomization.yaml
  k8s/nebula/apps/ai/open-webui/ks.yaml
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Ah
  k8s/nebula/apps/ai/open-webui/ks.yaml
Labels: area/kubernetes, cluster/nebula

Damn it
  k8s/nebula/apps/ai/open-webui/ks.yaml
Labels: area/kubernetes, cluster/nebula

Fixing up sops
  .sops.yaml
  k8s/nebula/talos/.sops.yaml
Labels: area/kubernetes, cluster/nebula

That's better for sops
  .sops.yaml
  k8s/nebula/talos/.sops.yaml
  k8s/nebula/talos/talsecret.sops.yaml
Labels: area/kubernetes, cluster/nebula

Yeet m2 from readme
  README.md
Labels: none

Hmm
  k8s/nebula/apps/monitoring/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Let's change that
  k8s/nebula/apps/ai/open-webui/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Yeet
  k8s/nebula/apps/ci/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Heh
  k8s/nebula/apps/school/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

up-to-date talconfig in Git..
  k8s/nebula/talos/talconfig.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/media/apps/media/sabnzbd/app/resources/post-process.sh
Labels: area/kubernetes, cluster/media

Upgrade zipline to v4
  k8s/nebula/apps/default/zipline/app/externalsecret.yaml
  k8s/nebula/apps/default/zipline/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Upgrade zipline to v4
  k8s/nebula/apps/default/zipline/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Damn
  k8s/nebula/apps/default/zipline/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/default/zipline/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

OH
  k8s/nebula/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/media/tvheadend/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Let's not auto update it
  .github/renovate/autoMerge.json5
Labels: area/ci

Hmm?
  k8s/nebula/apps/monitoring/prom-stack/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Damn prom
  k8s/nebula/apps/monitoring/prom-stack/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Fixes for nginx breaking things again behind "security"
  k8s/nebula/apps/networking/nginx/external/helm-release.yaml
  k8s/nebula/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/nebula

Yeet Kyverno
  k8s/nebula/apps/kustomization.yaml
  k8s/nebula/apps/kyverno/kustomization.yaml
  k8s/nebula/apps/kyverno/kyverno/app/hr.yaml
  k8s/nebula/apps/kyverno/kyverno/app/kustomization.yaml
  k8s/nebula/apps/kyverno/kyverno/ks.yaml
  k8s/nebula/apps/kyverno/kyverno/policies.yaml
  k8s/nebula/apps/kyverno/kyverno/policies/volsync-movers.yaml
  k8s/nebula/apps/kyverno/ns.yaml
Labels: area/kubernetes, cluster/nebula
