Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*

Oh?
  k8s/nebula/apps/default/zipline/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Oh?
  k8s/nebula/apps/default/zipline/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/media/flaresolverr/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/media/flaresolverr/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Damn it
  k8s/nebula/apps/default/your_spotify/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Damn it
  k8s/nebula/apps/default/your_spotify/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Let's try the probes
  k8s/nebula/apps/default/your_spotify/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Let's try the probes
  k8s/nebula/apps/default/your_spotify/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

your-spotify: tweak probes
  k8s/nebula/apps/default/your_spotify/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

your-spotify: tweak probes
  k8s/nebula/apps/default/your_spotify/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

r2 backups are back
  k8s/templates/volsync/kustomization.yaml
Labels: area/kubernetes

r2 backups are back
  k8s/templates/volsync/kustomization.yaml
Labels: area/kubernetes

Yeet actual
  k8s/nebula/apps/finance/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Yeet actual
  k8s/nebula/apps/finance/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

yeet firefly
  k8s/nebula/apps/finance/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

yeet firefly
  k8s/nebula/apps/finance/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

tvheadend: Is privileged actually needed?
  k8s/nebula/apps/media/tvheadend/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

tvheadend: Is privileged actually needed?
  k8s/nebula/apps/media/tvheadend/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Damn it
  k8s/nebula/apps/default/zipline/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Damn it
  k8s/nebula/apps/default/zipline/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Let's take the PR-2518 gluetun for a test drive.
  k8s/media/apps/media/qbit/app/helm-release.yaml
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

Let's take the PR-2518 gluetun for a test drive.
  k8s/media/apps/media/qbit/app/helm-release.yaml
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

rook: m1 SSD should be used
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

rook: m1 SSD should be used
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Upgrade rook to v19.2.0
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Upgrade rook to v19.2.0
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Bump up mgr memory limit
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Bump up mgr memory limit
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm?
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm?
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Yeet
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Yeet
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/media/tvheadend/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/media/tvheadend/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Yeet
  k8s/nebula/apps/games/kustomization.yaml
  k8s/nebula/apps/kustomization.yaml
  k8s/nebula/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Yeet
  k8s/nebula/apps/games/kustomization.yaml
  k8s/nebula/apps/kustomization.yaml
  k8s/nebula/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/nebula
