Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

Hmm
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

I knew that something was wonky.
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

I knew that something was wonky.
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Ingresses..
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Ingresses..
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Heh
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Heh
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Upgrade Immich
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Upgrade Immich
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Update groups.json5
  .github/renovate/groups.json5
Labels: area/ci

Update groups.json5
  .github/renovate/groups.json5
Labels: area/ci

Move from `onedr0p/cni-plugins` to `skyssolutions/cni-plugins`
  k8s/base/system/multus/helm-release.yaml
Labels: area/kubernetes

Move from `onedr0p/cni-plugins` to `skyssolutions/cni-plugins`
  k8s/base/system/multus/helm-release.yaml
Labels: area/kubernetes

Hmm
  k8s/nebula/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Try that again
  k8s/nebula/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Try that again
  k8s/nebula/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Try that again, part two without failing maybe
  k8s/nebula/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Try that again, part two without failing maybe
  k8s/nebula/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Two server replicas please.
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Two server replicas please.
  k8s/nebula/apps/default/immich/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

So that's missing..
  k8s/nebula/apps/comms/matrix-synapse/app/internal-ingress.yaml
  k8s/nebula/apps/comms/matrix-synapse/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

So that's missing..
  k8s/nebula/apps/comms/matrix-synapse/app/internal-ingress.yaml
  k8s/nebula/apps/comms/matrix-synapse/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Paperless SSO
  k8s/nebula/apps/default/paperless/app/externalsecret.yaml
  k8s/nebula/apps/default/paperless/app/helm-release.yaml
  k8s/nebula/apps/default/paperless/app/kustomization.yaml
  k8s/nebula/apps/default/paperless/app/secret.yaml
Labels: area/kubernetes, cluster/nebula

Paperless SSO
  k8s/nebula/apps/default/paperless/app/externalsecret.yaml
  k8s/nebula/apps/default/paperless/app/helm-release.yaml
  k8s/nebula/apps/default/paperless/app/kustomization.yaml
  k8s/nebula/apps/default/paperless/app/secret.yaml
Labels: area/kubernetes, cluster/nebula

paperless: Those are not needed anymore.
  k8s/nebula/apps/default/paperless/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

paperless: Those are not needed anymore.
  k8s/nebula/apps/default/paperless/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

paperless: Yeet normal login.
  k8s/nebula/apps/default/paperless/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

paperless: Yeet normal login.
  k8s/nebula/apps/default/paperless/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

paperless: Resource limits for other things as well.
  k8s/nebula/apps/default/paperless/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

paperless: Resource limits for other things as well.
  k8s/nebula/apps/default/paperless/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Archived some things
  .archive/nebula/i2pd/app/config/i2pd-docker.conf
  .archive/nebula/i2pd/app/helm-release.yaml
  .archive/nebula/i2pd/app/kustomization.yaml
  .archive/nebula/i2pd/ks.yaml
  .archive/nebula/redlib/app/hr.yaml
  .archive/nebula/redlib/app/kustomization.yaml
  .archive/nebula/redlib/ks.yaml
Labels: none

Archived some things
  .archive/nebula/i2pd/app/config/i2pd-docker.conf
  .archive/nebula/i2pd/app/helm-release.yaml
  .archive/nebula/i2pd/app/kustomization.yaml
  .archive/nebula/i2pd/ks.yaml
  .archive/nebula/redlib/app/hr.yaml
  .archive/nebula/redlib/app/kustomization.yaml
  .archive/nebula/redlib/ks.yaml
Labels: none

Some syncthing
  k8s/nebula/apps/default/kustomization.yaml
  k8s/nebula/apps/default/syncthing/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Some syncthing
  k8s/nebula/apps/default/kustomization.yaml
  k8s/nebula/apps/default/syncthing/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/default/syncthing/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/default/syncthing/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Try to deploy MariaDB cluster
  k8s/nebula/apps/databases/kustomization.yaml
  k8s/nebula/apps/databases/mariadb/ks-resources.yaml
  k8s/nebula/apps/databases/mariadb/resources/externalsecret-store.yaml
  k8s/nebula/apps/databases/mariadb/resources/externalsecret.yaml
  k8s/nebula/apps/databases/mariadb/resources/kustomization.yaml
  k8s/nebula/apps/databases/mariadb/resources/mariadb.yaml
Labels: area/kubernetes, cluster/nebula

Try to deploy MariaDB cluster
  k8s/nebula/apps/databases/kustomization.yaml
  k8s/nebula/apps/databases/mariadb/ks-resources.yaml
  k8s/nebula/apps/databases/mariadb/resources/externalsecret-store.yaml
  k8s/nebula/apps/databases/mariadb/resources/externalsecret.yaml
  k8s/nebula/apps/databases/mariadb/resources/kustomization.yaml
  k8s/nebula/apps/databases/mariadb/resources/mariadb.yaml
Labels: area/kubernetes, cluster/nebula

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*
