Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*

Add comment on why that mount exists on hass.
  k8s/nebula/apps/home/assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Add comment on why that mount exists on hass.
  k8s/nebula/apps/home/assistant/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

MariaDB backups
  k8s/nebula/apps/databases/mariadb/resources/backup.yaml
  k8s/nebula/apps/databases/mariadb/resources/externalsecret-backups.yaml
  k8s/nebula/apps/databases/mariadb/resources/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

MariaDB backups
  k8s/nebula/apps/databases/mariadb/resources/backup.yaml
  k8s/nebula/apps/databases/mariadb/resources/externalsecret-backups.yaml
  k8s/nebula/apps/databases/mariadb/resources/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Run MariaDB backup only weekly
  k8s/nebula/apps/databases/mariadb/resources/backup.yaml
Labels: area/kubernetes, cluster/nebula

Run MariaDB backup only weekly
  k8s/nebula/apps/databases/mariadb/resources/backup.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/databases/mariadb/resources/backup.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/databases/mariadb/resources/backup.yaml
Labels: area/kubernetes, cluster/nebula

Deploy metrics-server.
  k8s/base/kube-system/metrics-server/helm-release.yaml
  k8s/nebula/shared/kube-system.yaml
Labels: area/kubernetes, cluster/nebula

Deploy metrics-server.
  k8s/base/kube-system/metrics-server/helm-release.yaml
  k8s/nebula/shared/kube-system.yaml
Labels: area/kubernetes, cluster/nebula

Yeet MariaDB backup thing
  k8s/nebula/apps/databases/mariadb/resources/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Yeet MariaDB backup thing
  k8s/nebula/apps/databases/mariadb/resources/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Yeet Tor things
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Yeet Tor things
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Deploy Paisa
  k8s/nebula/apps/finance/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Deploy Paisa
  k8s/nebula/apps/finance/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Authentik: autoscalling things
  k8s/nebula/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Authentik: autoscalling things
  k8s/nebula/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Autobrr: I don't think DEBUG logs are useful anymore.
  k8s/nebula/apps/media/autobrr/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Autobrr: I don't think DEBUG logs are useful anymore.
  k8s/nebula/apps/media/autobrr/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/finance/firefly/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/finance/firefly/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Deploy tvheadend
  k8s/nebula/apps/media/kustomization.yaml
  k8s/nebula/apps/media/tvheadend/app/hr.yaml
  k8s/nebula/apps/media/tvheadend/ks.yaml
Labels: area/kubernetes, cluster/nebula

Deploy tvheadend
  k8s/nebula/apps/media/kustomization.yaml
  k8s/nebula/apps/media/tvheadend/app/hr.yaml
  k8s/nebula/apps/media/tvheadend/ks.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/media/tvheadend/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/media/tvheadend/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Does that help?
  k8s/nebula/apps/media/tvheadend/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Does that help?
  k8s/nebula/apps/media/tvheadend/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/media/tvheadend/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/media/tvheadend/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/media/tvheadend/ks.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/media/tvheadend/ks.yaml
Labels: area/kubernetes, cluster/nebula

Oh.
  k8s/nebula/apps/databases/cloudnative-pg/cluster/kustomization.yaml
  k8s/nebula/apps/databases/cloudnative-pg/cluster/lb.yaml
Labels: area/kubernetes, cluster/nebula

Oh.
  k8s/nebula/apps/databases/cloudnative-pg/cluster/kustomization.yaml
  k8s/nebula/apps/databases/cloudnative-pg/cluster/lb.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/base/cert-manager/app/helm-release.yaml
  k8s/base/cert-manager/app/kustomization.yaml
Labels: area/kubernetes

Hmm
  k8s/base/cert-manager/app/helm-release.yaml
  k8s/base/cert-manager/app/kustomization.yaml
Labels: area/kubernetes
