Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 29d0212
  cluster/apps/collab/littlelink/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart grafana to 6.57.4
  cluster/apps/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart grafana to 6.57.4
  cluster/apps/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart reflector to 7.0.183
  cluster/apps/system/reflector/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image registry.k8s.io/git-sync/git-sync to v3.6.8
  cluster/apps/downloads/qbit/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image registry.k8s.io/git-sync/git-sync to v3.6.8
  cluster/apps/downloads/qbit/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/prowlarr-develop to v1.6.1.3564
  cluster/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/prowlarr-develop to v1.6.1.3564
  cluster/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/paperless-ngx/paperless-ngx to v1.16.4
  cluster/apps/default/paperless/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/paperless-ngx/paperless-ngx to v1.16.4
  cluster/apps/default/paperless/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/renovatebot/renovate to v35.143
  cluster/apps/ci/renovate/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/renovatebot/renovate to v35.143
  cluster/apps/ci/renovate/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image rancher/system-upgrade-controller to v0.11.0
  cluster/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
Labels: area/kubernetes

chore(deps): update image registry.k8s.io/autoscaling/vpa-recommender to v0.14.0
  cluster/apps/monitoring/vpa/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image registry.k8s.io/autoscaling/vpa-recommender to v0.14.0
  cluster/apps/monitoring/vpa/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image timberio/vector to v0.30.0
  cluster/apps/monitoring/vector/agent/helm-release.yaml
  cluster/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image timberio/vector to v0.30.0
  cluster/apps/monitoring/vector/agent/helm-release.yaml
  cluster/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image wolveix/satisfactory-server to v1.5.2
  cluster/apps/games/satisfactory/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image wolveix/satisfactory-server to v1.5.2
  cluster/apps/games/satisfactory/app/helm-release.yaml
Labels: area/kubernetes

ci(renovate): update schedule-renovate.yaml
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

ci(renovate): update schedule-renovate.yaml
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update actions/checkout digest to c85c95e
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update immich group to v1.64.0
  cluster/apps/default/immich/app/machine-learning/helm-release.yaml
  cluster/apps/default/immich/app/microservices/helm-release.yaml
  cluster/apps/default/immich/app/server/helm-release.yaml
  cluster/apps/default/immich/app/web/helm-release.yaml
Labels: area/kubernetes

chore(deps): update immich group to v1.64.0
  cluster/apps/default/immich/app/machine-learning/helm-release.yaml
  cluster/apps/default/immich/app/microservices/helm-release.yaml
  cluster/apps/default/immich/app/server/helm-release.yaml
  cluster/apps/default/immich/app/web/helm-release.yaml
Labels: area/kubernetes

chore(deps): update pascalgn/size-label-action action to v0.5.0
  .github/workflows/meta-label-size.yaml
Labels: area/ci

chore(deps): update pascalgn/size-label-action action to v0.5.0
  .github/workflows/meta-label-size.yaml
Labels: area/ci

chore(deps): update pre-commit hook adrienverge/yamllint to v1.32.0
  .pre-commit-config.yaml
Labels: none

chore(deps): update xanmanning.k3s to v3.4.2
  provision/ansible/requirements.yml
Labels: none

chore(deps): update chart kube-prometheus-stack to 47.0.0
  cluster/apps/monitoring/prom-stack/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update community.general to 7.1.0
  provision/ansible/requirements.yml
Labels: none

chore(deps): update image ghcr.io/recyclarr/recyclarr to v5
  cluster/apps/media/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update renovatebot/github-action action to v38.1.8
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update image rancher/system-upgrade-controller to v0.11.0 (#1389)
  cluster/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
Labels: area/kubernetes

chore(deps): update image rancher/system-upgrade-controller to v0.11.0 (#1389)
  cluster/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
Labels: area/kubernetes

chore(deps): update chart reflector to 7.0.183 (#1388)
  cluster/apps/system/reflector/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart reflector to 7.0.183 (#1388)
  cluster/apps/system/reflector/helm-release.yaml
Labels: area/kubernetes

Renovate on GHA for now
  cluster/apps/ci/kustomization.yaml
Labels: area/kubernetes

Renovate on GHA for now
  cluster/apps/ci/kustomization.yaml
Labels: area/kubernetes

chore(deps): update chart renovate to 35.143.0
  cluster/apps/ci/renovate/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update community.sops to 1.6.3
  provision/ansible/requirements.yml
Labels: none
