Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

Proxitok: Update
  cluster/apps/services/proxitok/app/web/helm-release.yaml
Labels: area/kubernetes

Proxitok: Update
  cluster/apps/services/proxitok/app/web/helm-release.yaml
Labels: area/kubernetes

chore(deps): update actions/checkout digest to 24cb908
  .github/workflows/scan-containers.yaml
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update image docker.io/browserless/chrome to 83ed859
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to 83ed859
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update actions/checkout action to v3.4.0
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

chore(deps): update actions/checkout action to v3.4.0
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 1a22d2a
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 1a22d2a
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image wolveix/satisfactory-server to v1.4.8
  cluster/apps/games/satisfactory/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image wolveix/satisfactory-server to v1.4.8
  cluster/apps/games/satisfactory/app/helm-release.yaml
Labels: area/kubernetes

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

chore(deps): update chart authentik to 2023.3.1
  cluster/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart authentik to 2023.3.1
  cluster/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update github/codeql-action digest to 168b99b
  .github/workflows/scan-containers.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to 168b99b
  .github/workflows/scan-containers.yaml
Labels: area/ci

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 6302fcf
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 6302fcf
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

chore(deps): update actions/checkout digest to 24cb908
  .github/workflows/scan-containers.yaml
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update actions/checkout digest to 24cb908
  .github/workflows/scan-containers.yaml
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update image docker.io/browserless/chrome to 93d1d1c
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to 93d1d1c
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update chart cilium to 1.13.1
  cluster/apps/cilium-system/cilium/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart grafana to 6.52.4
  cluster/apps/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart grafana to 6.52.4
  cluster/apps/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/home-assistant/home-assistant to v2023.3.5
  cluster/apps/home/assistant/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/home-assistant/home-assistant to v2023.3.5
  cluster/apps/home/assistant/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/maxmindinc/geoipupdate to v4.11
  cluster/apps/monitoring/vector/geoipupdate/cron-job.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/maxmindinc/geoipupdate to v4.11
  cluster/apps/monitoring/vector/geoipupdate/cron-job.yaml
Labels: area/kubernetes

Argh
  cluster/apps/home/mosquitto/app/helm-release.yaml
Labels: area/kubernetes

Argh
  cluster/apps/home/mosquitto/app/helm-release.yaml
Labels: area/kubernetes

Oh, oops
  cluster/apps/default/smtp-relay/app/helm-release.yaml
Labels: area/kubernetes

Oh, oops
  cluster/apps/default/smtp-relay/app/helm-release.yaml
Labels: area/kubernetes

MetalLB config tunk
  cluster/apps/networking/metallb/config/bgp-config.yaml
Labels: area/kubernetes

MetalLB config tunk
  cluster/apps/networking/metallb/config/bgp-config.yaml
Labels: area/kubernetes

chore(deps): update image esphome/esphome to v2023.3.0
  cluster/apps/home/esphome/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image esphome/esphome to v2023.3.0
  cluster/apps/home/esphome/app/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"
