Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

chore(deps): update tj-actions/changed-files action to v35.9.1
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

chore(deps): update tj-actions/changed-files action to v35.9.1
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

Yeet Traefik annotations.
  archive/misc/organizr/helm-release.yaml
  cluster/apps/home/assistant/app/helm-release.yaml
  cluster/apps/home/zigbee2mqtt/app/helm-release.yaml
  cluster/apps/monitoring/prom-stack/app/helm-release.yaml
  cluster/apps/networking/misc-ingresses/home-srv-ingress-and-service.yaml
  cluster/apps/networking/misc-ingresses/nas-ingress-and-service.yaml
Labels: area/kubernetes

Yeet Traefik annotations.
  archive/misc/organizr/helm-release.yaml
  cluster/apps/home/assistant/app/helm-release.yaml
  cluster/apps/home/zigbee2mqtt/app/helm-release.yaml
  cluster/apps/monitoring/prom-stack/app/helm-release.yaml
  cluster/apps/networking/misc-ingresses/home-srv-ingress-and-service.yaml
  cluster/apps/networking/misc-ingresses/nas-ingress-and-service.yaml
Labels: area/kubernetes

chore(deps): update chart loki to 5.3.1
  cluster/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/maxmindinc/geoipupdate to v5
  cluster/apps/monitoring/vector/geoipupdate/cron-job.yaml
Labels: area/kubernetes

chore(deps): update image dpage/pgadmin4 to v7
  cluster/apps/databases/pgadmin/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/k8snetworkplumbingwg/multus-cni to v4
  cluster/apps/networking/multus/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update community.docker to 3.4.4
  provision/ansible/requirements.yml
Labels: none

chore(deps): update community.docker to 3.4.4
  provision/ansible/requirements.yml
Labels: none

chore(deps): update tj-actions/changed-files action to v35.9.2
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

chore(deps): update tj-actions/changed-files action to v35.9.2
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

Update chart vpa to 1.7.2 and do some namespace things
  cluster/apps/monitoring/vpa/app/helm-release.yaml
  cluster/apps/monitoring/vpa/app/kustomization.yaml
Labels: area/kubernetes

Update chart vpa to 1.7.2 and do some namespace things
  cluster/apps/monitoring/vpa/app/helm-release.yaml
  cluster/apps/monitoring/vpa/app/kustomization.yaml
Labels: area/kubernetes

Update chart goldlocks to 6.5.5 and do some namespace things
  cluster/apps/monitoring/goldilocks/app/helm-release.yaml
  cluster/apps/monitoring/goldilocks/app/kustomization.yaml
Labels: area/kubernetes

Update chart goldlocks to 6.5.5 and do some namespace things
  cluster/apps/monitoring/goldilocks/app/helm-release.yaml
  cluster/apps/monitoring/goldilocks/app/kustomization.yaml
Labels: area/kubernetes

Space at EOF :)
  cluster/apps/monitoring/goldilocks/app/kustomization.yaml
  cluster/apps/monitoring/vpa/app/kustomization.yaml
Labels: area/kubernetes

Space at EOF :)
  cluster/apps/monitoring/goldilocks/app/kustomization.yaml
  cluster/apps/monitoring/vpa/app/kustomization.yaml
Labels: area/kubernetes

I don't got falco anymore. :)
  archive/security/falco/app/helm-release.yaml
  archive/security/falco/app/kustomization.yaml
  archive/security/falco/ks.yaml
  cluster/apps/security/kustomization.yaml
Labels: area/kubernetes

I don't got falco anymore. :)
  archive/security/falco/app/helm-release.yaml
  archive/security/falco/app/kustomization.yaml
  archive/security/falco/ks.yaml
  cluster/apps/security/kustomization.yaml
Labels: area/kubernetes

Nitter: Update to latest
  cluster/apps/services/nitter/app/helm-release.yaml
Labels: area/kubernetes

Nitter: Update to latest
  cluster/apps/services/nitter/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/koenkk/zigbee2mqtt to v1.30.4
  cluster/apps/home/zigbee2mqtt/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart piped to 2.3.0
  cluster/apps/services/piped/app/helm-release.yaml
Labels: area/kubernetes

Immich: Larger RAM allocation.
  cluster/apps/default/immich/app/server/helm-release.yaml
Labels: area/kubernetes

Immich: Larger RAM allocation.
  cluster/apps/default/immich/app/server/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 482cc95
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 482cc95
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image esphome/esphome to v2023.4.3
  cluster/apps/home/esphome/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image esphome/esphome to v2023.4.3
  cluster/apps/home/esphome/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to f84d0e4
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to f84d0e4
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update peter-evans/create-or-update-comment action to v3.0.1
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

chore(deps): update peter-evans/create-or-update-comment action to v3.0.1
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

chore(deps): update image ghcr.io/claabs/epicgames-freegames-node to f9a2be8
  cluster/apps/default/epic-freegames/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/claabs/epicgames-freegames-node to f9a2be8
  cluster/apps/default/epic-freegames/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to a1ee81c
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to a1ee81c
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image esphome/esphome to v2023.4.4
  cluster/apps/home/esphome/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image esphome/esphome to v2023.4.4
  cluster/apps/home/esphome/app/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"
