Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*

Hmm
  k8s/nebula/apps/default/matrix-login/app/hr.yaml
  k8s/nebula/apps/default/theme-park/app/helmrelease.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/default/matrix-login/app/hr.yaml
  k8s/nebula/apps/default/theme-park/app/helmrelease.yaml
Labels: area/kubernetes, cluster/nebula

Damn it
  k8s/nebula/apps/default/matrix-login/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Damn it
  k8s/nebula/apps/default/matrix-login/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/default/matrix-login/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/default/matrix-login/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/default/matrix-login/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/default/matrix-login/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Oooh?
  k8s/nebula/apps/default/matrix-login/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Oooh?
  k8s/nebula/apps/default/matrix-login/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/default/theme-park/app/helmrelease.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/default/theme-park/app/helmrelease.yaml
Labels: area/kubernetes, cluster/nebula

Tunk
  k8s/media/apps/media/jellyfin/app/hr.yaml
  k8s/nebula/apps/networking/misc-ingresses/dh-ingress.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

Tunk
  k8s/media/apps/media/jellyfin/app/hr.yaml
  k8s/nebula/apps/networking/misc-ingresses/dh-ingress.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

Oh
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

Oh
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

Ooooh
  k8s/nebula/apps/networking/misc-ingresses/dh-ingress.yaml
Labels: area/kubernetes, cluster/nebula

Ooooh
  k8s/nebula/apps/networking/misc-ingresses/dh-ingress.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/networking/misc-ingresses/dh-cert.yaml
  k8s/nebula/apps/networking/misc-ingresses/dh-ingress.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/networking/misc-ingresses/dh-cert.yaml
  k8s/nebula/apps/networking/misc-ingresses/dh-ingress.yaml
Labels: area/kubernetes, cluster/nebula

Upgrade Prowlarr
  k8s/nebula/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Upgrade Prowlarr
  k8s/nebula/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Upgrade Tautulli from 2.5.0 to 2.6.0 app-template.
  k8s/media/apps/media/tautulli/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Upgrade Tautulli from 2.5.0 to 2.6.0 app-template.
  k8s/media/apps/media/tautulli/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/nebula/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

skylab SSO to internal DNS
  k8s/nebula/apps/networking/external-dns/internal/helm-release.yaml
  k8s/nebula/apps/networking/misc-ingresses/kustomization.yaml
  k8s/nebula/apps/networking/misc-ingresses/sso-skylab.yaml
Labels: area/kubernetes, cluster/nebula

skylab SSO to internal DNS
  k8s/nebula/apps/networking/external-dns/internal/helm-release.yaml
  k8s/nebula/apps/networking/misc-ingresses/kustomization.yaml
  k8s/nebula/apps/networking/misc-ingresses/sso-skylab.yaml
Labels: area/kubernetes, cluster/nebula

Hopefully fix Authentik HR
  k8s/nebula/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hopefully fix Authentik HR
  k8s/nebula/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Fix internal ingress for Authentik.
  k8s/nebula/apps/security/authentik/app/internal-ingress.yaml
Labels: area/kubernetes, cluster/nebula

Fix internal ingress for Authentik.
  k8s/nebula/apps/security/authentik/app/internal-ingress.yaml
Labels: area/kubernetes, cluster/nebula

Radarr needs more storage.
  k8s/media/apps/media/radarr/app/pvc.yaml
Labels: area/kubernetes, cluster/media

Radarr needs more storage.
  k8s/media/apps/media/radarr/app/pvc.yaml
Labels: area/kubernetes, cluster/media

Yeet runners for re-provision after upgrade yeeted them.
  k8s/nebula/apps/ci/github-actions/runners/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Yeet runners for re-provision after upgrade yeeted them.
  k8s/nebula/apps/ci/github-actions/runners/kustomization.yaml
Labels: area/kubernetes, cluster/nebula
