Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

Maybe works?
  k8s/nebula/apps/security/authentik/app/internal-httproute.yaml
  k8s/nebula/apps/security/authentik/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Yeet
  k8s/nebula/flux/config/shared.yaml
Labels: area/kubernetes, cluster/nebula

Oops
  k8s/nebula/apps/security/authentik/app/internal-httproute.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/ci/forgejo-actions/app/kustomization.yaml
  k8s/nebula/apps/ci/forgejo-actions/app/runner-amd64/hr.yaml
  k8s/nebula/apps/ci/forgejo-actions/app/runner-amd64/kustomization.yaml
  k8s/nebula/apps/ci/forgejo-actions/ks.yaml
  k8s/nebula/apps/ci/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/base/flux-system/helm-chart-repos/wrenix.yaml
Labels: area/kubernetes

Damn typo
  k8s/nebula/apps/ci/forgejo-actions/app/runner-amd64/hr.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/ci/forgejo-actions/app/runner-amd64/hr.yaml
Labels: area/kubernetes, cluster/nebula

nodeselector is also important
  k8s/nebula/apps/ci/forgejo-actions/app/runner-amd64/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/ci/forgejo-actions/app/es.yaml
  k8s/nebula/apps/ci/forgejo-actions/app/kustomization.yaml
  k8s/nebula/apps/ci/forgejo-actions/app/runner-amd64/hr.yaml
Labels: area/kubernetes, cluster/nebula

Argh
  k8s/nebula/apps/ci/forgejo-actions/app/runner-amd64/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/media/apps/media/qbit/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Only one kibana is enough
  k8s/nebula/apps/search/elk/resources/kibana.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/monitoring/grafana/app/httproute.yaml
  k8s/nebula/apps/monitoring/grafana/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/ci/kustomization.yaml
  k8s/nebula/apps/monitoring/grafana/app/int-ingress.yaml
  k8s/nebula/apps/monitoring/kromgo/app/hr.yaml
  k8s/nebula/apps/monitoring/scrutiny/scrutiny/hr.yaml
  k8s/nebula/talos/authentik.sh
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/.gitignore
Labels: area/kubernetes, cluster/nebula

Move that to scripts
  scripts/get-egctl.sh
Labels: none

Yeet obs
  .archive/nebula/networking/observium/app/es.yaml
  .archive/nebula/networking/observium/app/hr.yaml
  .archive/nebula/networking/observium/app/kustomization.yaml
  .archive/nebula/networking/observium/ks.yaml
  k8s/nebula/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Let's try the rc of Authentik
  k8s/nebula/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Probably a bad idea, but..
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Yay, it upgraded
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Upgrade Authentik to non rc version
  k8s/nebula/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

fix(helm): update worker configuration to set replicas and enable service account
  k8s/nebula/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Use dragonfly
  k8s/nebula/apps/ai/open-webui/app/es.yaml
  k8s/nebula/apps/default/immich/app/hr.yaml
  k8s/nebula/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Huh
  k8s/nebula/apps/kube-system/multus/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/databases/dragonfly/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Upgrade cni-plugins for Multus
  k8s/nebula/apps/kube-system/multus/app/helm-release.yaml
  k8s/nebula/apps/kube-system/multus/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Let's also bring the crd over.
  k8s/nebula/apps/kube-system/multus/config/crd.yaml
  k8s/nebula/apps/kube-system/multus/config/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Ah
  k8s/nebula/apps/security/authentik/app/helm-release.yaml
  k8s/nebula/apps/security/authentik/ks.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/security/authentik/app/helm-release.yaml
  k8s/nebula/apps/security/authentik/app/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/networking/misc-ingresses/dh-endpoints.yaml
Labels: area/kubernetes, cluster/nebula

This should work?
  k8s/media/apps/media/media-index/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Oh
  k8s/media/apps/media/media-index/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/base/flux-system/webhook/overlays/media/github/httproute.yaml
  k8s/base/flux-system/webhook/overlays/media/kustomization.yaml
  k8s/base/flux-system/webhook/overlays/nebula/github/httproute.yaml
  k8s/base/flux-system/webhook/overlays/nebula/kustomization.yaml
Labels: area/kubernetes

Media cluster: Yeet nginx
  k8s/media/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/media-index/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/nebula/apps/networking/misc-ingresses/httproute/dh.yaml
Labels: area/kubernetes, cluster/nebula

Will this work?
  k8s/nebula/apps/security/authentik/app/kustomization.yaml
  k8s/nebula/apps/security/authentik/app/webfinger-httproute.yaml
Labels: area/kubernetes, cluster/nebula

Ah
  k8s/nebula/apps/networking/envoy/manifests/gateway.yaml
Labels: area/kubernetes, cluster/nebula

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*
