Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

Hmm
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Damn
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Damn
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

C'moon
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

C'moon
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Damn
  k8s/nebula/apps/databases/pgadmin/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Damn
  k8s/nebula/apps/databases/pgadmin/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Oh, ident..
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Runner for own kube repo
  k8s/nebula/apps/ci/github-actions/app/runners/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Damn Buttnami.
  k8s/nebula/apps/protu/moodle/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Damn Buttnami.
  k8s/nebula/apps/protu/moodle/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

Fix Bitnami helm repo as they moved to OCI
  k8s/base/flux-system/helm-chart-repos/bitnami.yaml
Labels: area/kubernetes

firefly: That's a fail.
  k8s/nebula/apps/finance/firefly/app/externalsecret.yaml
Labels: area/kubernetes, cluster/nebula

Begin spin-down
  k8s/nebula/apps/comms/kustomization.yaml
  k8s/nebula/apps/databases/kustomization.yaml
  k8s/nebula/apps/default/kustomization.yaml
  k8s/nebula/apps/finance/kustomization.yaml
  k8s/nebula/apps/media/kustomization.yaml
  k8s/nebula/apps/monitoring/kustomization.yaml
  k8s/nebula/apps/protu/kustomization.yaml
  k8s/nebula/apps/school/kustomization.yaml
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
  k8s/nebula/apps/tor/kustomization.yaml
  k8s/nebula/apps/vpn-services/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/comms/matrix-synapse/app/matrix-signing-key.sops.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/home/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Spin-down some more
  k8s/nebula/apps/home/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Spin-down some more..
  k8s/nebula/apps/games/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Spin-down some more..
  k8s/nebula/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Enable prune first on prom-stack
  k8s/nebula/shared/monitoring.yaml
Labels: area/kubernetes, cluster/nebula

Yeet Unimus
  k8s/nebula/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Yeet monitoring
  k8s/nebula/shared/monitoring.yaml
Labels: area/kubernetes, cluster/nebula

Spin-down things on Media cluster that use ceph
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

Yeet rook-ceph on media cluster
  k8s/media/apps/storage/kustomization.yaml
Labels: area/kubernetes, cluster/media

Yeet rook
  k8s/nebula/apps/storage/rook-ceph/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Re-deploy Rook
  k8s/nebula/apps/storage/rook-ceph/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Deploy rook cluster
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Deploy rook cluster
  k8s/nebula/apps/storage/rook-ceph/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

re-deploy rook external for media
  k8s/media/apps/storage/kustomization.yaml
Labels: area/kubernetes, cluster/media

Damn it
  k8s/media/apps/storage/rook-ceph/kustomization.yaml
Labels: area/kubernetes, cluster/media

Re-deploy home automation
  k8s/nebula/apps/home/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Re-deploy matrix-synapse
  k8s/nebula/apps/comms/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Re-deploy erp test and moodle
  k8s/nebula/apps/protu/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Re-deploy more things
  k8s/nebula/apps/default/kustomization.yaml
  k8s/nebula/apps/games/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Unprovision moodle
  k8s/nebula/apps/protu/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/games/factorio/app/hr.yaml
Labels: area/kubernetes, cluster/nebula

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*
