Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"

Oh
  cluster/apps/ci/renovate/app/helm-release.yaml
Labels: area/kubernetes

Fail
  cluster/apps/ci/renovate/app/helm-release.yaml
Labels: area/kubernetes

Fail
  cluster/apps/ci/renovate/app/helm-release.yaml
Labels: area/kubernetes

Move back to Github
  cluster/flux/config/cluster.yaml
Labels: area/kubernetes

Move back to Github
  cluster/flux/config/cluster.yaml
Labels: area/kubernetes

Renovate: Things
  .github/renovate.json5
Labels: area/ci

Renovate: Things
  .github/renovate.json5
Labels: area/ci

Renovate: Flux group
  .github/renovate/groups.json5
Labels: area/ci

Renovate: Flux group
  .github/renovate/groups.json5
Labels: area/ci

Fixing up parsing failures.
  .github/renovate.json5
  .github/renovate/looseVersioning.json5
  cluster/flux/add-ons/notifications/forego/kustomization.yaml
  cluster/flux/add-ons/notifications/forego/notify.yaml
  cluster/flux/add-ons/notifications/kustomization.yaml
  cluster/flux/repositories/git/kustomization.yaml
  cluster/flux/repositories/git/private-cluster.yaml
  cluster/flux/repositories/git/private-git-repo.yaml
Labels: area/ci, area/kubernetes

Fixing up parsing failures.
  .github/renovate.json5
  .github/renovate/looseVersioning.json5
  cluster/flux/add-ons/notifications/forego/kustomization.yaml
  cluster/flux/add-ons/notifications/forego/notify.yaml
  cluster/flux/add-ons/notifications/kustomization.yaml
  cluster/flux/repositories/git/kustomization.yaml
  cluster/flux/repositories/git/private-cluster.yaml
  cluster/flux/repositories/git/private-git-repo.yaml
Labels: area/ci, area/kubernetes

Fixing up parsing failures, part two
  cluster/flux/config/flux.yaml
  cluster/flux/repositories/oci/flux.yaml
  cluster/flux/repositories/oci/kustomization.yaml
Labels: area/kubernetes

Fixing up parsing failures, part two
  cluster/flux/config/flux.yaml
  cluster/flux/repositories/oci/flux.yaml
  cluster/flux/repositories/oci/kustomization.yaml
Labels: area/kubernetes

Hmm
  cluster/flux/repositories/oci/flux.yaml
Labels: area/kubernetes

Hmm
  cluster/flux/repositories/oci/flux.yaml
Labels: area/kubernetes

chore(deps): update chart node-feature-discovery to 0.13.2 (#1325)
  cluster/apps/system/node-feature-discovery/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart node-feature-discovery to 0.13.2 (#1325)
  cluster/apps/system/node-feature-discovery/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart reloader to v1.0.26 (#1326)
  cluster/apps/system/reloader/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart reloader to v1.0.26 (#1326)
  cluster/apps/system/reloader/helm-release.yaml
Labels: area/kubernetes

chore(deps): update docker to 6.1.3 (#1328)
  provision/ansible/requirements.txt
Labels: none

chore(deps): update docker to 6.1.3 (#1328)
  provision/ansible/requirements.txt
Labels: none

chore(deps): update chart kyverno to 2.7.5 (#1323)
  cluster/apps/system/kyverno/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart kyverno to 2.7.5 (#1323)
  cluster/apps/system/kyverno/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart descheduler to 0.27.1 (#1322)
  cluster/apps/system/descheduler/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart descheduler to 0.27.1 (#1322)
  cluster/apps/system/descheduler/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart snapshot-validation-webhook to 1.7.2 (#1327)
  cluster/apps/system/snapshot-controller/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart snapshot-validation-webhook to 1.7.2 (#1327)
  cluster/apps/system/snapshot-controller/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart metallb to 0.13.10 (#1324)
  cluster/apps/networking/metallb/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart metallb to 0.13.10 (#1324)
  cluster/apps/networking/metallb/app/helm-release.yaml
Labels: area/kubernetes

prowlarr: Override the IPv4 address from DNS.
  cluster/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

prowlarr: Override the IPv4 address from DNS.
  cluster/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

recyclarr: Let's change up config
  cluster/apps/media/recyclarr/app/config/recyclarr.yml
  cluster/apps/media/recyclarr/app/secret.sops.yaml
Labels: area/kubernetes

recyclarr: Let's change up config
  cluster/apps/media/recyclarr/app/config/recyclarr.yml
  cluster/apps/media/recyclarr/app/secret.sops.yaml
Labels: area/kubernetes

recyclarr: Hmm
  cluster/apps/media/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

recyclarr: Hmm
  cluster/apps/media/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

recyclarr: host alias it is then... :D
  cluster/apps/media/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

recyclarr: host alias it is then... :D
  cluster/apps/media/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

recyclarr: It was deprecated under custom formats..
  cluster/apps/media/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

recyclarr: It was deprecated under custom formats..
  cluster/apps/media/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

recyclarr: Update config some more.
  cluster/apps/media/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes
