Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"

Oh
  cluster/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

Oh
  cluster/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

Oh
  cluster/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

CI: Move back to the bash helm differ.
  .github/scripts/helm-release-differ.sh
  .github/workflows/helm-release-differ.yaml
  cluster/apps/security/falco/app/helm-release.yaml
  cluster/apps/security/falco/ks.yaml
Labels: area/ci, area/kubernetes

CI: Move back to the bash helm differ.
  .github/scripts/helm-release-differ.sh
  .github/workflows/helm-release-differ.yaml
  cluster/apps/security/falco/app/helm-release.yaml
  cluster/apps/security/falco/ks.yaml
Labels: area/ci, area/kubernetes

CI: Move back to the bash helm differ.
  .github/scripts/helm-release-differ.sh
  .github/workflows/helm-release-differ.yaml
  cluster/apps/security/falco/app/helm-release.yaml
  cluster/apps/security/falco/ks.yaml
Labels: area/ci, area/kubernetes

Deploy falco and move authentik to ks syntax
  cluster/apps/security/authentik/app/helm-release.yaml
  cluster/apps/security/authentik/app/kustomization.yaml
  cluster/apps/security/authentik/ks.yaml
  cluster/apps/security/falco/app/helm-release.yaml
  cluster/apps/security/falco/app/kustomization.yaml
  cluster/apps/security/kustomization.yaml
Labels: area/kubernetes

Deploy falco and move authentik to ks syntax
  cluster/apps/security/authentik/app/helm-release.yaml
  cluster/apps/security/authentik/app/kustomization.yaml
  cluster/apps/security/authentik/ks.yaml
  cluster/apps/security/falco/app/helm-release.yaml
  cluster/apps/security/falco/app/kustomization.yaml
  cluster/apps/security/kustomization.yaml
Labels: area/kubernetes

Deploy falco and move authentik to ks syntax
  cluster/apps/security/authentik/app/helm-release.yaml
  cluster/apps/security/authentik/app/kustomization.yaml
  cluster/apps/security/authentik/ks.yaml
  cluster/apps/security/falco/app/helm-release.yaml
  cluster/apps/security/falco/app/kustomization.yaml
  cluster/apps/security/kustomization.yaml
Labels: area/kubernetes

Enable flux substitution by default
  cluster/flux/apps.yaml
Labels: area/kubernetes

Enable flux substitution by default
  cluster/flux/apps.yaml
Labels: area/kubernetes

Enable flux substitution by default
  cluster/flux/apps.yaml
Labels: area/kubernetes

Oh
  cluster/apps/security/falco/app/helm-release.yaml
Labels: area/kubernetes

Oh
  cluster/apps/security/falco/app/helm-release.yaml
Labels: area/kubernetes

Oh
  cluster/apps/security/falco/app/helm-release.yaml
Labels: area/kubernetes

feat(github-action): update aquasecurity/trivy-action action to v0.9.0
  .github/workflows/scan-containers.yaml
Labels: area/ci

feat(github-action): update aquasecurity/trivy-action action to v0.9.0
  .github/workflows/scan-containers.yaml
Labels: area/ci

feat(github-action): update aquasecurity/trivy-action action to v0.9.0
  .github/workflows/scan-containers.yaml
Labels: area/ci

feat(github-action)!: Update actions/checkout action to v3
  .github/workflows/scan-containers.yaml
Labels: area/ci

feat(github-action)!: Update github/codeql-action action to v2
  .github/workflows/scan-containers.yaml
Labels: area/ci

Oof
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

Oof
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

Oof
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

feat(helm): update helm release loki to v4.4.2
  cluster/apps/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

Argh
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

Argh
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

Argh
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

fix(helm): update helm release falco to v2.5.4
  cluster/apps/security/falco/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update helm release ingress-nginx to v4.4.3
  cluster/apps/networking/nginx/helm-release.yaml
Labels: area/kubernetes

More changes
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

More changes
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

More changes
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

Falco: redis image used is not compatible with arm64.
  cluster/apps/security/falco/app/helm-release.yaml
Labels: area/kubernetes

Falco: redis image used is not compatible with arm64.
  cluster/apps/security/falco/app/helm-release.yaml
Labels: area/kubernetes

Falco: redis image used is not compatible with arm64.
  cluster/apps/security/falco/app/helm-release.yaml
Labels: area/kubernetes

Falco: More things
  cluster/apps/security/falco/app/helm-release.yaml
Labels: area/kubernetes

Falco: More things
  cluster/apps/security/falco/app/helm-release.yaml
Labels: area/kubernetes

Falco: More things
  cluster/apps/security/falco/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/home-assistant/home-assistant docker tag to v2023.2.1
  cluster/apps/home/assistant/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/home-assistant/home-assistant docker tag to v2023.2.1
  cluster/apps/home/assistant/app/helm-release.yaml
Labels: area/kubernetes
