Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*

Deploy qbit
  k8s/media/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/media

direct hostnames for emby & jelly
  k8s/media/apps/media/emby/app/hr.yaml
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/emby/app/hr.yaml
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hmmm, interesting.
  k8s/media/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Huh?
  k8s/media/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

That's probably better endpoint
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

Does that fix it?
  k8s/media/apps/media/recyclarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

fix(radarr): Request timeout
  k8s/media/apps/media/radarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Cilium: Enable Hubble UI
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Update README with the network changes
  README.md
Labels: none

Clean up README by removing unused switch entry
  README.md
Labels: none

Update Envoy image tag to v1.6.0
  k8s/base/networking/envoy/app/hr.yaml
Labels: area/kubernetes

media: deploy vectors postgres cluster
  k8s/media/apps/databases/cloudnative-pg/cluster-vectors/cluster16-vector.yaml
  k8s/media/apps/databases/cloudnative-pg/cluster-vectors/kustomization.yaml
  k8s/media/apps/databases/cloudnative-pg/cluster-vectors/scheduledbackup.yaml
  k8s/media/apps/databases/cloudnative-pg/ks-cluster-vector.yaml
Labels: area/kubernetes, cluster/media

fix(external-secrets): update apiVersion from v1beta1 to v1
  k8s/media/apps/databases/cloudnative-pg/operator/externalsecret.yaml
  k8s/media/apps/flux-system/external-secrets/stores/onepassword/clustersecretstore.yaml
  k8s/media/apps/media/bazarr/app/externalsecret.yaml
  k8s/media/apps/media/cross-seed/app/externalsecret.yaml
  k8s/media/apps/media/qbittorrent/app/es.yaml
  k8s/media/apps/media/radarr/app/externalsecret.yaml
  k8s/media/apps/media/recyclarr/app/externalsecret.yaml
  k8s/media/apps/media/sabnzbd/app/externalsecret.yaml
  k8s/media/apps/media/sonarr/app/externalsecret.yaml
  k8s/media/apps/media/unpackerr/app/externalsecret.yaml
  k8s/media/apps/networking/tailscale/app/es.yaml
  k8s/media/apps/volsync/volsync/app/external-secret.yaml
Labels: area/kubernetes, cluster/media

fix(notification): update apiVersion from v1beta1 to v1
  k8s/base/flux-system/notifications/github/notify.yaml
  k8s/base/flux-system/webhook/github/receiver.yaml
Labels: area/kubernetes

Deploy vector postgres actually
  k8s/media/apps/databases/kustomization.yaml
Labels: area/kubernetes, cluster/media

fix(notification): update apiVersion from v1 to v1beta2 and v1beta3
  k8s/base/flux-system/notifications/github/notify.yaml
Labels: area/kubernetes

Update Sonarr image tag to 4.0.17.2953
  k8s/media/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Update Radarr image tag to 6.1.2.10359
  k8s/media/apps/media/radarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Set sabnzbd replicas to 0 in hr.yaml
  k8s/media/apps/media/sabnzbd/app/hr.yaml
Labels: area/kubernetes, cluster/media

fix: Jellyfin CVE update to 10.1.7
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

fix: better name for the media cluster tailscale operator
  k8s/media/apps/networking/tailscale/app/hr.yaml
Labels: area/kubernetes, cluster/media

Oh
  k8s/media/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/media

Explose sonarr to tailnet
  k8s/media/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Update Bazarr image repository and tag
  k8s/media/apps/media/bazarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Better logs?
  k8s/base/cert-manager/app/helm-release.yaml
Labels: area/kubernetes

Yeet vector cnpg
  k8s/media/apps/databases/kustomization.yaml
Labels: area/kubernetes, cluster/media

Deploy qui
  k8s/media/apps/media/kustomization.yaml
  k8s/media/apps/media/qui/app/es.yaml
  k8s/media/apps/media/qui/app/hr.yaml
  k8s/media/apps/media/qui/app/kustomization.yaml
  k8s/media/apps/media/qui/app/ocirepo.yaml
  k8s/media/apps/media/qui/app/pvc.yaml
  k8s/media/apps/media/qui/ks.yaml
Labels: area/kubernetes, cluster/media

Deploy qui, apiversion tweak
  k8s/media/apps/media/qui/app/hr.yaml
Labels: area/kubernetes, cluster/media

Provider apiVersion update
  k8s/base/flux-system/notifications/github/notify.yaml
Labels: area/kubernetes

Hmm
  k8s/media/apps/media/qui/ks.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/flux-system/external-secrets/stores/onepassword/kustomization.yaml
  k8s/media/apps/flux-system/external-secrets/stores/onepassword/secret.sops.yaml
Labels: area/kubernetes, cluster/media

Deploy barman plugin
  k8s/media/apps/databases/cloudnative-pg/barman/hr.yaml
  k8s/media/apps/databases/cloudnative-pg/barman/kustomization.yaml
  k8s/media/apps/databases/cloudnative-pg/barman/source.yaml
  k8s/media/apps/databases/cloudnative-pg/ks-barman.yaml
  k8s/media/apps/databases/kustomization.yaml
Labels: area/kubernetes, cluster/media

Update HRs to v2
  k8s/media/apps/gpu/operator/app/hr.yaml
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
  k8s/media/apps/kube-system/nvidia/device-plugin/app/hr.yaml
  k8s/media/apps/media/bazarr/app/helm-release.yaml
  k8s/media/apps/media/media-index/app/helm-release.yaml
  k8s/media/apps/media/qbit/app/helm-release.yaml
  k8s/media/apps/media/qbittorrent/app/helm-release.yaml
  k8s/media/apps/media/qbittorrent/tools/hr.yaml
  k8s/media/apps/media/qui/app/hr.yaml
  k8s/media/apps/media/sonarr/app/helm-release.yaml
  k8s/media/apps/media/tautulli/app/helm-release.yaml
  k8s/media/apps/media/unpackerr/app/helm-release.yaml
  k8s/media/apps/monitoring/scrutiny-collector/app/hr.yaml
  k8s/media/apps/networking/k8s-gateway/app/ocirepo.yaml
  k8s/media/apps/networking/nginx/app/hr.yaml
  k8s/media/apps/storage/rook-ceph/rook/cluster/hr.yaml
  k8s/media/apps/storage/snapshot-controller/app/helm-release.yaml
  k8s/media/apps/storage/snapshot-controller/ks.yaml
  k8s/media/flux/flux.yaml
Labels: area/kubernetes, cluster/media

Update OCI repos to v1
  k8s/base/flux-system/helm-chart-repos/app-template.yaml
  k8s/nebula/apps/monitoring/grafana/app/ocirepo.yaml
  k8s/nebula/apps/networking/external-dns/shared/ocirepo.yaml
  k8s/nebula/apps/networking/k8s-gateway/app/ocirepo.yaml
  k8s/nebula/flux/config/flux.yaml
Labels: area/kubernetes, cluster/nebula

Switch to cnpg plugin
  k8s/media/apps/databases/cloudnative-pg/barman/kustomization.yaml
  k8s/media/apps/databases/cloudnative-pg/barman/objectstore.yaml
  k8s/media/apps/databases/cloudnative-pg/cluster/cluster16.yaml
  k8s/media/apps/databases/cloudnative-pg/cluster/scheduledbackup.yaml
Labels: area/kubernetes, cluster/media

Let's try that
  k8s/media/apps/databases/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes, cluster/media

Let's use the local endpoint
  k8s/media/apps/databases/cloudnative-pg/barman/objectstore.yaml
Labels: area/kubernetes, cluster/media
