Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*

Oh
  k8s/nebula/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Oh
  k8s/nebula/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Either a good idea or not..
  k8s/media/apps/media/sonarr/app/externalsecret.yaml
  k8s/media/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Either a good idea or not..
  k8s/media/apps/media/sonarr/app/externalsecret.yaml
  k8s/media/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Debug logs for Sonarr
  k8s/media/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Debug logs for Sonarr
  k8s/media/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Damn it
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

Damn it
  k8s/media/apps/media/jellyfin/app/hr.yaml
Labels: area/kubernetes, cluster/media

Fix the host
  k8s/media/apps/networking/external-dns/internal/helm-release.yaml
  k8s/nebula/apps/networking/external-dns/internal/helm-release.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

Fix the host
  k8s/media/apps/networking/external-dns/internal/helm-release.yaml
  k8s/nebula/apps/networking/external-dns/internal/helm-release.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

Fix Cilium
  k8s/nebula/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/nebula

Fix Cilium
  k8s/nebula/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/nebula

Oof
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Oof
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
  k8s/media/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
  k8s/media/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/media

Damn Cilium be sneaky.
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
  k8s/nebula/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

Damn Cilium be sneaky.
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
  k8s/nebula/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

Hmm
  k8s/templates/volsync/minio/replicationsource.yaml
  k8s/templates/volsync/r2/replicationsource.yaml
Labels: area/kubernetes

Hmm
  k8s/templates/volsync/minio/replicationsource.yaml
  k8s/templates/volsync/r2/replicationsource.yaml
Labels: area/kubernetes

Better triggers
  k8s/templates/volsync-minio/minio/replicationsource.yaml
Labels: area/kubernetes

Better triggers
  k8s/templates/volsync-minio/minio/replicationsource.yaml
Labels: area/kubernetes

Hmm
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/nebula/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/kube-system/cilium/app/helm-release.yaml
  k8s/nebula/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/kube-system/cilium/app/helm-release.yaml
  k8s/nebula/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/nebula

Rollback to Cilium 1.15.3 due to a bug.
  .github/renovate/autoMerge.json5
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
  k8s/media/apps/kube-system/cilium/app/values.yaml
  k8s/nebula/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

Rollback to Cilium 1.15.3 due to a bug.
  .github/renovate/autoMerge.json5
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
  k8s/media/apps/kube-system/cilium/app/values.yaml
  k8s/nebula/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

Ah
  k8s/media/apps/kube-system/cilium/config/BGP.yaml
Labels: area/kubernetes, cluster/media

Ah
  k8s/media/apps/kube-system/cilium/config/BGP.yaml
Labels: area/kubernetes, cluster/media

Fix the IPv6 whitelist
  k8s/media/apps/media/bazarr/app/helm-release.yaml
  k8s/media/apps/media/qbit/app/helm-release.yaml
  k8s/media/apps/media/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Fix the IPv6 whitelist
  k8s/media/apps/media/bazarr/app/helm-release.yaml
  k8s/media/apps/media/qbit/app/helm-release.yaml
  k8s/media/apps/media/qbittorrent/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Ansible: IPv6 nodeIP should use the ULA instead of global one.
  provision/ansible/nebula/inventory/group_vars/master/k3s.yml
  provision/ansible/nebula/inventory/group_vars/worker/k3s.yml
Labels: none

Ansible: IPv6 nodeIP should use the ULA instead of global one.
  provision/ansible/nebula/inventory/group_vars/master/k3s.yml
  provision/ansible/nebula/inventory/group_vars/worker/k3s.yml
Labels: none

De-provision things
  k8s/nebula/apps/ci/kustomization.yaml
  k8s/nebula/apps/collab/kustomization.yaml
  k8s/nebula/apps/default/kustomization.yaml
  k8s/nebula/apps/dev/kustomization.yaml
  k8s/nebula/apps/kube-system/cilium/app/values.yaml
  k8s/nebula/apps/kube-system/kustomization.yaml
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

De-provision things
  k8s/nebula/apps/ci/kustomization.yaml
  k8s/nebula/apps/collab/kustomization.yaml
  k8s/nebula/apps/default/kustomization.yaml
  k8s/nebula/apps/dev/kustomization.yaml
  k8s/nebula/apps/kube-system/cilium/app/values.yaml
  k8s/nebula/apps/kube-system/kustomization.yaml
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Yeet things to be provisioned
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Yeet things to be provisioned
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula
