Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

Hmm
  cluster/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes

Hmm
  cluster/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes

Let's try this
  cluster/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes

Let's try this
  cluster/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes

Will probably still not work
  cluster/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes

Will probably still not work
  cluster/apps/monitoring/loki/app/helm-release.yaml
Labels: area/kubernetes

Add host to ansible inventory
  provision/ansible/inventory/hosts.yml
Labels: none

Add host to ansible inventory
  provision/ansible/inventory/hosts.yml
Labels: none

chore(deps): update image ghcr.io/techno-tim/littlelink-server to d22ac55
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to d22ac55
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart kube-prometheus-stack to 45.7.1
  cluster/apps/monitoring/prom-stack/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart kube-prometheus-stack to 45.7.1
  cluster/apps/monitoring/prom-stack/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart grafana to 6.52.3
  cluster/apps/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart grafana to 6.52.3
  cluster/apps/monitoring/grafana/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart longhorn to 1.4.1
  cluster/apps/storage/longhorn/helm-release.yaml
Labels: area/kubernetes

chore(deps): update fluxcd/flux2 to v0.41.1
  cluster/bootstrap/kustomization.yaml
Labels: area/kubernetes

chore(deps): update image dpage/pgadmin4 to v6.21
  cluster/apps/databases/pgadmin/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image dpage/pgadmin4 to v6.21
  cluster/apps/databases/pgadmin/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to ef500fc
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to ef500fc
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 6c69c43
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 6c69c43
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to cb9e309
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to cb9e309
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 73462be
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 73462be
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

Changes to IP addressing
  cluster/apps/default/smtp-relay/app/helm-release.yaml
  cluster/apps/networking/metallb/config/bgp-config.yaml
Labels: area/kubernetes

Changes to IP addressing
  cluster/apps/default/smtp-relay/app/helm-release.yaml
  cluster/apps/networking/metallb/config/bgp-config.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to d462cf4
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to d462cf4
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update chart falco to 3.1.2
  cluster/apps/security/falco/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart nfs-subdir-external-provisioner to 4.0.18
  cluster/apps/storage/storage-classes/nfs-client-provisioner/nfs-client-provisioner.yaml
Labels: area/kubernetes

chore(deps): update chart tor-controller to 0.1.11
  cluster/apps/tor/tor-controller/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/home-assistant/home-assistant to v2023.3.4
  cluster/apps/home/assistant/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/home-assistant/home-assistant to v2023.3.4
  cluster/apps/home/assistant/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update github/codeql-action digest to 168b99b
  .github/workflows/scan-containers.yaml
Labels: area/ci

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 770269e
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 770269e
  cluster/apps/collab/littlelink/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart authentik to 2023.3.0
  cluster/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart authentik to 2023.3.0
  cluster/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"
