Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

inspircd: Yeet, part two
  archive/inspircd/app/DNSEndpoint.yaml
  archive/inspircd/app/cert.yaml
  archive/inspircd/app/config/inspircd.conf
  archive/inspircd/app/config/links.conf
  archive/inspircd/app/config/motd.txt
  archive/inspircd/app/config/opers.conf
  archive/inspircd/app/config/server.conf
  archive/inspircd/app/helm-release.yaml
  archive/inspircd/app/kustomization.yaml
  archive/inspircd/ks.yaml
Labels: none

inspircd: Yeet, part two
  archive/inspircd/app/DNSEndpoint.yaml
  archive/inspircd/app/cert.yaml
  archive/inspircd/app/config/inspircd.conf
  archive/inspircd/app/config/links.conf
  archive/inspircd/app/config/motd.txt
  archive/inspircd/app/config/opers.conf
  archive/inspircd/app/config/server.conf
  archive/inspircd/app/helm-release.yaml
  archive/inspircd/app/kustomization.yaml
  archive/inspircd/ks.yaml
Labels: none

VPN: AirVPN sub expired for now.
  cluster/apps/vpn/kustomization.yaml
Labels: area/kubernetes

VPN: AirVPN sub expired for now.
  cluster/apps/vpn/kustomization.yaml
Labels: area/kubernetes

Ah, right.
  cluster/apps/vpn/downloads-gateway/ks.yaml
Labels: area/kubernetes

Ah, right.
  cluster/apps/vpn/downloads-gateway/ks.yaml
Labels: area/kubernetes

CI things
  .github/renovate.json5
  .github/workflows/flux-diff.yaml
  .github/workflows/scan-containers.yaml
Labels: area/ci

sops..
  .drone.yml
  Taskfile.yml
  k8s/base/flux-system/webhook/github/secret.sops.yaml
Labels: none

Hmm
  k8s/nebula/flux/gotk-sync.yaml
Labels: none

Hmmmm
  k8s/base/kube-system/cilium/app/helm-release.yaml
  k8s/base/kube-system/cilium/app/values.yaml
  k8s/base/kube-system/cilium/ks-config.yaml
  k8s/base/kube-system/cilium/ks.yaml
  k8s/nebula/flux/gotk-sync.yaml
Labels: none

Should be using v1 and not beta
  k8s/nebula/definitions/databases.yaml
  k8s/nebula/definitions/default.yaml
  k8s/nebula/definitions/flux-system.yaml
  k8s/nebula/definitions/home.yaml
  k8s/nebula/definitions/infra.yaml
  k8s/nebula/definitions/kube-system.yaml
  k8s/nebula/definitions/media.yaml
  k8s/nebula/definitions/monitoring.yaml
  k8s/nebula/definitions/networking.yaml
  k8s/nebula/definitions/security.yaml
  k8s/nebula/definitions/services.yaml
  k8s/nebula/definitions/storage.yaml
Labels: none

secrets
  k8s/base/flux-system/cluster-config/base/base-secrets.sops.yaml
Labels: none

Ah
  k8s/base/flux-system/cluster-config/overlays/nebula/kustomization.yaml
Labels: none

Squashed k8s-reflactor
  k8s/base/flux-system/cluster-config/base/base-secrets.sops.yaml
  k8s/base/flux-system/cluster-config/overlays/nebula/kustomization.yaml
  k8s/base/kube-system/cilium/app/helm-release.yaml
  k8s/base/kube-system/cilium/app/values.yaml
  k8s/nebula/definitions/databases.yaml
  k8s/nebula/definitions/default.yaml
  k8s/nebula/definitions/flux-system.yaml
  k8s/nebula/definitions/home.yaml
  k8s/nebula/definitions/infra.yaml
  k8s/nebula/definitions/kube-system.yaml
  k8s/nebula/definitions/media.yaml
  k8s/nebula/definitions/monitoring.yaml
  k8s/nebula/definitions/networking.yaml
  k8s/nebula/definitions/security.yaml
  k8s/nebula/definitions/services.yaml
  k8s/nebula/definitions/storage.yaml
  k8s/nebula/flux/gotk-sync.yaml
Labels: none

Nebula: Fix the secret things
  k8s/base/flux-system/cluster-config/overlays/nebula/kustomization.yaml
Labels: none

Nebula: More secret things
  k8s/base/flux-system/cluster-config/overlays/nebula/kustomization.yaml
Labels: none

Nebula: Oops
  k8s/nebula/definitions/security.yaml
Labels: none

Nebula: Hmm
  k8s/nebula/definitions/services.yaml
Labels: none

Nebula: Dang it.
  k8s/nebula/definitions/databases.yaml
  k8s/nebula/definitions/default.yaml
  k8s/nebula/definitions/flux-system.yaml
  k8s/nebula/definitions/home.yaml
  k8s/nebula/definitions/infra.yaml
  k8s/nebula/definitions/kube-system.yaml
  k8s/nebula/definitions/media.yaml
  k8s/nebula/definitions/monitoring.yaml
  k8s/nebula/definitions/networking.yaml
  k8s/nebula/definitions/security.yaml
  k8s/nebula/definitions/services.yaml
  k8s/nebula/definitions/storage.yaml
  k8s/nebula/flux/gotk-sync.yaml
Labels: none

Fail...
  k8s/nebula/flux/gotk-sync.yaml
Labels: none

Lool
  k8s/base/networking/kustomization.yaml
  k8s/base/networking/ns.yaml
  k8s/nebula/definitions/networking.yaml
  k8s/nebula/definitions/services.yaml
Labels: none

Hmm
  k8s/base/flux-system/notifications/kustomization.yaml
  k8s/base/kube-system/cilium/ks-config.yaml
  k8s/base/kube-system/cilium/ks.yaml
Labels: none

Rolled the key
  k8s/base/cert-manager/issuers/secret.enc.yaml
Labels: none

Roll it again, lol
  k8s/base/cert-manager/issuers/secret.enc.yaml
Labels: none

Hmmmm
  k8s/base/cert-manager/issuers/secret.enc.yaml
Labels: none

Fix the HASS definition
  k8s/nebula/definitions/home.yaml
Labels: none

Ooh
  k8s/nebula/flux/gotk-sync.yaml
Labels: none

Ah, right.
  k8s/base/cert-manager/issuers/letsencrypt-production.yaml
  k8s/base/cert-manager/issuers/letsencrypt-staging.yaml
  k8s/base/cert-manager/issuers/zerossl-production.yaml
Labels: none

Hmm
  k8s/base/cert-manager/issuers/zerossl-production.yaml
Labels: none

Chart repos that I had forgot
  k8s/base/flux-system/helm-chart-repos/cloudnative-pg.yaml
  k8s/base/flux-system/helm-chart-repos/coredns-charts.yaml
  k8s/base/flux-system/helm-chart-repos/external-dns-charts.yaml
Labels: none

More things
  k8s/base/flux-system/helm-chart-repos/bjw-s.yaml
  k8s/base/flux-system/helm-chart-repos/external-dns-charts.yaml
  k8s/nebula/definitions/networking.yaml
Labels: none

Huh
  k8s/base/networking/k8s-gateway/kustomization.yaml
Labels: none

Uh, great
  k8s/base/networking/k8s-gateway/kustomization.yaml
  k8s/base/networking/k8s-gateway/rbac.yaml
  k8s/oci-skynet-0/definitions/infra.yaml
  k8s/oci-skynet-0/definitions/kube-system.yaml
Labels: none

Oh, wow.
  k8s/base/home/assistant/helm-release.yaml
Labels: none

Fix the typo on ks
  k8s/nebula/definitions/home.yaml
Labels: none

fix: lb-ipam on k8s-gateway.
  k8s/base/networking/k8s-gateway/helm-release.yaml
Labels: none

Deploy more things
  k8s/base/ci/drone-gitea/ks-runners.yaml
  k8s/base/ci/drone-gitea/ks.yaml
  k8s/base/ci/kustomization.yaml
  k8s/base/system-upgrade/system-upgrade-controller/ks-plans.yaml
  k8s/base/system-upgrade/system-upgrade-controller/ks.yaml
  k8s/nebula/definitions/ci.yaml
  k8s/nebula/definitions/collab.yaml
  k8s/nebula/definitions/comms.yaml
  k8s/nebula/definitions/finance.yaml
  k8s/nebula/definitions/system-upgrade.yaml
Labels: none

Update repo readme.
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Oops
  k8s/nebula/definitions/comms.yaml
Labels: none

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"
