Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

chore(deps): update community.docker to 3.4.8
  provision/ansible/requirements.yml
Labels: none

Renovate: Debug logs
  cluster/apps/ci/renovate/app/helm-release.yaml
Labels: area/kubernetes

Renovate: Debug logs
  cluster/apps/ci/renovate/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update community.sops to 1.6.2
  provision/ansible/requirements.yml
Labels: none

chore(deps): update community.sops to 1.6.2
  provision/ansible/requirements.yml
Labels: none

chore(deps): update image ghcr.io/flaresolverr/flaresolverr to v3.2.1
  cluster/apps/media/flaresolverr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/flaresolverr/flaresolverr to v3.2.1
  cluster/apps/media/flaresolverr/app/helm-release.yaml
Labels: area/kubernetes

Renovate: Does that help at all?
  .github/renovate.json5
Labels: area/ci

Renovate: Does that help at all?
  .github/renovate.json5
Labels: area/ci

chore(deps): update image ghcr.io/goauthentik/server to v2023.5.4
  cluster/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/goauthentik/server to v2023.5.4
  cluster/apps/security/authentik/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/home-assistant/home-assistant to v2023.6.3
  cluster/apps/home/assistant/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/home-assistant/home-assistant to v2023.6.3
  cluster/apps/home/assistant/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart intel-device-plugins-operator to 0.27.1 (#1381)
  cluster/apps/system/intel-device-plugins/operator/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart intel-device-plugins-operator to 0.27.1 (#1381)
  cluster/apps/system/intel-device-plugins/operator/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart intel-device-plugins-gpu to 0.27.1 (#1380)
  cluster/apps/system/intel-device-plugins/gpu/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart intel-device-plugins-gpu to 0.27.1 (#1380)
  cluster/apps/system/intel-device-plugins/gpu/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart node-problem-detector to 2.3.5 (#1382)
  cluster/apps/monitoring/node-problem-detector/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart node-problem-detector to 2.3.5 (#1382)
  cluster/apps/monitoring/node-problem-detector/helm-release.yaml
Labels: area/kubernetes

device-plugins-operator: Do a hacky workaround for https://github.com/intel/helm-charts/issues/39
  cluster/apps/system/intel-device-plugins/operator/helm-release.yaml
Labels: area/kubernetes

device-plugins-operator: Do a hacky workaround for https://github.com/intel/helm-charts/issues/39
  cluster/apps/system/intel-device-plugins/operator/helm-release.yaml
Labels: area/kubernetes

device-plugins-operator: More tunk
  cluster/apps/system/intel-device-plugins/operator/helm-release.yaml
Labels: area/kubernetes

device-plugins-operator: More tunk
  cluster/apps/system/intel-device-plugins/operator/helm-release.yaml
Labels: area/kubernetes

device-plugins-operator: Tuuuunk
  cluster/apps/system/intel-device-plugins/operator/helm-release.yaml
Labels: area/kubernetes

device-plugins-operator: Tuuuunk
  cluster/apps/system/intel-device-plugins/operator/helm-release.yaml
Labels: area/kubernetes

kyverno: Trying to fix it finally.
  cluster/apps/system/kyverno/policies/apply-ingress-auth-annotations.yaml
  cluster/apps/system/kyverno/policies/apply-ingress-external-dns-annotations.yaml
  cluster/apps/system/kyverno/policies/apply-ingress-whitelist-annotations.yaml
Labels: area/kubernetes

kyverno: Trying to fix it finally.
  cluster/apps/system/kyverno/policies/apply-ingress-auth-annotations.yaml
  cluster/apps/system/kyverno/policies/apply-ingress-external-dns-annotations.yaml
  cluster/apps/system/kyverno/policies/apply-ingress-whitelist-annotations.yaml
Labels: area/kubernetes

kyverno: May help to use correct prefix.
  cluster/apps/system/kyverno/policies/apply-ingress-whitelist-annotations.yaml
Labels: area/kubernetes

kyverno: May help to use correct prefix.
  cluster/apps/system/kyverno/policies/apply-ingress-whitelist-annotations.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 9fdfccb
  cluster/apps/collab/littlelink/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to 9fdfccb
  cluster/apps/collab/littlelink/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/exportarr to v1.5.3
  cluster/apps/monitoring/arrs/radarr-exporter.yaml
  cluster/apps/monitoring/arrs/sonarr-exporter.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/exportarr to v1.5.3
  cluster/apps/monitoring/arrs/radarr-exporter.yaml
  cluster/apps/monitoring/arrs/sonarr-exporter.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/plex to v1.32.4.7195-7c8f9d3b6
  cluster/apps/media/plex/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/plex to v1.32.4.7195-7c8f9d3b6
  cluster/apps/media/plex/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/qbittorrent to v4.5.4
  cluster/apps/downloads/qbit/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/qbittorrent to v4.5.4
  cluster/apps/downloads/qbit/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/radarr-develop to v4.6.2.7490
  cluster/apps/media/radarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/radarr-develop to v4.6.2.7490
  cluster/apps/media/radarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.545
  cluster/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"
