Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

chore(deps): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.545
  cluster/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/radarr-develop to v4.6.3.7516
  cluster/apps/media/radarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/radarr-develop to v4.6.3.7516
  cluster/apps/media/radarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image quay.io/frrouting/frr to v8.5.2
  cluster/apps/networking/metallb/app/custom-manifest.yaml
  cluster/apps/networking/metallb/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image quay.io/frrouting/frr to v8.5.2
  cluster/apps/networking/metallb/app/custom-manifest.yaml
  cluster/apps/networking/metallb/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update aquasecurity/trivy-action action to 0.11.2
  .github/workflows/scan-containers.yaml
Labels: area/ci

chore(deps): update aquasecurity/trivy-action action to 0.11.2
  .github/workflows/scan-containers.yaml
Labels: area/ci

chore(deps): update chart matrix-synapse to 3.4.0
  cluster/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart renovate to 35.141.3
  cluster/apps/ci/renovate/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image esphome/esphome to v2023.6.2
  cluster/apps/home/esphome/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image esphome/esphome to v2023.6.2
  cluster/apps/home/esphome/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart renovate to 35.141.3 (#1386)
  cluster/apps/ci/renovate/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart renovate to 35.141.3 (#1386)
  cluster/apps/ci/renovate/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update github/codeql-action digest to f6e388e (#1383)
  .github/workflows/scan-containers.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to f6e388e (#1383)
  .github/workflows/scan-containers.yaml
Labels: area/ci

chore(deps): update chart matrix-synapse to 3.4.0 (#1385)
  cluster/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart matrix-synapse to 3.4.0 (#1385)
  cluster/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes

new amd host for just longhorn storage needs
  README.md
  provision/ansible/inventory/hosts.yml
Labels: none

new amd host for just longhorn storage needs
  README.md
  provision/ansible/inventory/hosts.yml
Labels: none

Do not use old image from 2019 for wellknown..
  cluster/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes

Do not use old image from 2019 for wellknown..
  cluster/apps/comms/matrix-synapse/app/helm-release.yaml
Labels: area/kubernetes

qbit: Vue
  cluster/apps/downloads/qbit/app/helmrelease.yaml
Labels: area/kubernetes

qbit: Vue
  cluster/apps/downloads/qbit/app/helmrelease.yaml
Labels: area/kubernetes

Deploy tempo
  cluster/apps/monitoring/grafana/helm-release.yaml
  cluster/apps/monitoring/kustomization.yaml
  cluster/apps/monitoring/tempo/app/helm-release.yaml
  cluster/apps/monitoring/tempo/ks.yaml
Labels: area/kubernetes

Deploy tempo
  cluster/apps/monitoring/grafana/helm-release.yaml
  cluster/apps/monitoring/kustomization.yaml
  cluster/apps/monitoring/tempo/app/helm-release.yaml
  cluster/apps/monitoring/tempo/ks.yaml
Labels: area/kubernetes

Kyverno: Tracing to Tempo.
  cluster/apps/system/kyverno/app/helm-release.yaml
Labels: area/kubernetes

Kyverno: Tracing to Tempo.
  cluster/apps/system/kyverno/app/helm-release.yaml
Labels: area/kubernetes

qbit: Yeet
  cluster/apps/downloads/qbit/app/helmrelease.yaml
Labels: area/kubernetes

qbit: Yeet
  cluster/apps/downloads/qbit/app/helmrelease.yaml
Labels: area/kubernetes

Deploy apprise
  cluster/apps/monitoring/apprise/app/configpvc.yaml
  cluster/apps/monitoring/apprise/app/helm-release.yaml
  cluster/apps/monitoring/apprise/app/kustomization.yaml
  cluster/apps/monitoring/apprise/ks.yaml
  cluster/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

Deploy apprise
  cluster/apps/monitoring/apprise/app/configpvc.yaml
  cluster/apps/monitoring/apprise/app/helm-release.yaml
  cluster/apps/monitoring/apprise/app/kustomization.yaml
  cluster/apps/monitoring/apprise/ks.yaml
  cluster/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

Oh
  cluster/apps/monitoring/apprise/app/helm-release.yaml
Labels: area/kubernetes

Oh
  cluster/apps/monitoring/apprise/app/helm-release.yaml
Labels: area/kubernetes

Ooooh, part two
  cluster/apps/monitoring/apprise/app/helm-release.yaml
Labels: area/kubernetes

Ooooh, part two
  cluster/apps/monitoring/apprise/app/helm-release.yaml
Labels: area/kubernetes

Ooooh, part two
  cluster/apps/monitoring/apprise/app/helm-release.yaml
Labels: area/kubernetes

Ooooh, part two
  cluster/apps/monitoring/apprise/app/helm-release.yaml
Labels: area/kubernetes

apprise: Whitelist
  cluster/apps/monitoring/apprise/app/helm-release.yaml
Labels: area/kubernetes

apprise: Whitelist
  cluster/apps/monitoring/apprise/app/helm-release.yaml
Labels: area/kubernetes

arrs: Not a single yaml anymore.
  cluster/apps/monitoring/arrs/kustomization.yaml
  cluster/apps/monitoring/arrs/radarr-exporter.yaml
  cluster/apps/monitoring/arrs/radarr-svc-monitor.yaml
  cluster/apps/monitoring/arrs/radarr-svc.yaml
  cluster/apps/monitoring/arrs/sonarr-exporter.yaml
  cluster/apps/monitoring/arrs/sonarr-svc-monitor.yaml
  cluster/apps/monitoring/arrs/sonarr-svc.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"
