Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes

chore(deps): update community.sops to 1.6.3
  provision/ansible/requirements.yml
Labels: none

chore(deps): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.547
  cluster/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.547
  cluster/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to 9faa5de
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to 9faa5de
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update chart kube-prometheus-stack to 47.0.1
  cluster/apps/monitoring/prom-stack/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart kube-prometheus-stack to 47.0.1
  cluster/apps/monitoring/prom-stack/app/helm-release.yaml
Labels: area/kubernetes

Try out Shiori
  cluster/apps/default/kustomization.yaml
  cluster/apps/default/shiori/app/helm-release.yaml
  cluster/apps/default/shiori/app/kustomization.yaml
  cluster/apps/default/shiori/app/pvc.yaml
  cluster/apps/default/shiori/ks.yaml
Labels: area/kubernetes

Try out Shiori
  cluster/apps/default/kustomization.yaml
  cluster/apps/default/shiori/app/helm-release.yaml
  cluster/apps/default/shiori/app/kustomization.yaml
  cluster/apps/default/shiori/app/pvc.yaml
  cluster/apps/default/shiori/ks.yaml
Labels: area/kubernetes

Didn't start well..
  cluster/apps/default/shiori/app/helm-release.yaml
Labels: area/kubernetes

Didn't start well..
  cluster/apps/default/shiori/app/helm-release.yaml
Labels: area/kubernetes

Steal onedr0p's de-duplicaiton for metrics.
  cluster/apps/monitoring/prom-stack/app/helm-release.yaml
Labels: area/kubernetes

Steal onedr0p's de-duplicaiton for metrics.
  cluster/apps/monitoring/prom-stack/app/helm-release.yaml
Labels: area/kubernetes

I think the control plane IP is that...
  cluster/apps/monitoring/prom-stack/app/helm-release.yaml
Labels: area/kubernetes

I think the control plane IP is that...
  cluster/apps/monitoring/prom-stack/app/helm-release.yaml
Labels: area/kubernetes

Archival of shiori: Not a fan, too simple and has no oauth.
  archive/shiori/app/helm-release.yaml
  archive/shiori/app/kustomization.yaml
  archive/shiori/app/pvc.yaml
  archive/shiori/ks.yaml
  cluster/apps/default/kustomization.yaml
Labels: area/kubernetes

Archival of shiori: Not a fan, too simple and has no oauth.
  archive/shiori/app/helm-release.yaml
  archive/shiori/app/kustomization.yaml
  archive/shiori/app/pvc.yaml
  archive/shiori/ks.yaml
  cluster/apps/default/kustomization.yaml
Labels: area/kubernetes

chore(deps): update chart piped to 2.6.2
  cluster/apps/services/piped/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update chart reloader to 1.0.29
  cluster/apps/system/reloader/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/dgtlmoon/changedetection.io to v0.43.1
  cluster/apps/default/changedetector/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/dgtlmoon/changedetection.io to v0.43.1
  cluster/apps/default/changedetector/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/prowlarr-develop to v1.6.3.3608
  cluster/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/prowlarr-develop to v1.6.3.3608
  cluster/apps/media/prowlarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to df22281
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to df22281
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image esphome/esphome to v2023.6.3
  cluster/apps/home/esphome/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image esphome/esphome to v2023.6.3
  cluster/apps/home/esphome/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/miguelndecarvalho/speedtest-exporter to v3.5.4
  cluster/apps/monitoring/speedtest-exporter/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/miguelndecarvalho/speedtest-exporter to v3.5.4
  cluster/apps/monitoring/speedtest-exporter/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.548
  cluster/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.548
  cluster/apps/media/sonarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update actions/labeler digest to 0967ca8
  .github/workflows/meta-labeler.yaml
Labels: area/ci

chore(deps): update image docker.io/browserless/chrome to 9f4ef97
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image docker.io/browserless/chrome to 9f4ef97
  cluster/apps/default/changedetector/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to d89489c
  cluster/apps/collab/littlelink/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/techno-tim/littlelink-server to d89489c
  cluster/apps/collab/littlelink/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/paperless-ngx/paperless-ngx to v1.16.5
  cluster/apps/default/paperless/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/paperless-ngx/paperless-ngx to v1.16.5
  cluster/apps/default/paperless/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/recyclarr/recyclarr to v5.1.1
  cluster/apps/media/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update image ghcr.io/recyclarr/recyclarr to v5.1.1
  cluster/apps/media/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"
