Repository samip5/k8s-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/nebula, cluster/media

Deploy CI things
  k8s/nebula/apps/ci/kustomization.yaml
  k8s/nebula/apps/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Fix media cluster's Cilium for Talos
  k8s/media/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Media cluster's Cilium, part two
  k8s/media/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/media

Media cluster's Cilium, part two
  k8s/media/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/media

Media cluster talos things
  k8s/media/talos/talconfig.yaml
  k8s/nebula/talos/patches/global/kubelet.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

Media cluster talos things
  k8s/media/talos/talconfig.yaml
  k8s/nebula/talos/patches/global/kubelet.yaml
Labels: area/kubernetes, cluster/nebula, cluster/media

Hmm
  k8s/nebula/apps/ci/github-actions/app/operator/externalsecret-store.yaml
  k8s/nebula/apps/ci/github-actions/app/operator/externalsecret.yaml
  k8s/nebula/apps/ci/github-actions/app/operator/kustomization.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/externalsecret-store.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/externalsecret.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/ci/github-actions/app/operator/externalsecret-store.yaml
  k8s/nebula/apps/ci/github-actions/app/operator/externalsecret.yaml
  k8s/nebula/apps/ci/github-actions/app/operator/kustomization.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/externalsecret-store.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/externalsecret.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/kustomization.yaml
Labels: area/kubernetes, cluster/nebula

Oops
  k8s/nebula/apps/ci/github-actions/app/operator/externalsecret.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/externalsecret.yaml
Labels: area/kubernetes, cluster/nebula

Oops
  k8s/nebula/apps/ci/github-actions/app/operator/externalsecret.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/externalsecret.yaml
Labels: area/kubernetes, cluster/nebula

Daamn it
  k8s/nebula/apps/ci/github-actions/app/operator/externalsecret.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/externalsecret.yaml
Labels: area/kubernetes, cluster/nebula

Daamn it
  k8s/nebula/apps/ci/github-actions/app/operator/externalsecret.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/externalsecret.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/ci/github-actions/app/runners/samipsolutions-runners-arm64.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/samipsolutions-runners.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/ci/github-actions/app/runners/samipsolutions-runners-arm64.yaml
  k8s/nebula/apps/ci/github-actions/app/runners/samipsolutions-runners.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Hmm
  k8s/nebula/apps/storage/rook-ceph/rook/cluster/hr.yaml
Labels: area/kubernetes, cluster/nebula

Fix hostpath for media cluster
  k8s/media/apps/storage/local-path/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Fix hostpath for media cluster
  k8s/media/apps/storage/local-path/app/helm-release.yaml
Labels: area/kubernetes, cluster/media

Let's try this mergerfs thing out.
  k8s/media/apps/storage/kustomization.yaml
  k8s/media/apps/storage/mergerfs/app/hr.yaml
  k8s/media/apps/storage/mergerfs/ks.yaml
Labels: area/kubernetes, cluster/media

Let's try this mergerfs thing out.
  k8s/media/apps/storage/kustomization.yaml
  k8s/media/apps/storage/mergerfs/app/hr.yaml
  k8s/media/apps/storage/mergerfs/ks.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/storage/kustomization.yaml
  k8s/media/apps/storage/ns.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/storage/kustomization.yaml
  k8s/media/apps/storage/ns.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/storage/mergerfs/app/hr.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/storage/mergerfs/app/hr.yaml
Labels: area/kubernetes, cluster/media

Is this the way?
  k8s/media/apps/storage/mergerfs/app/hr.yaml
Labels: area/kubernetes, cluster/media

Is this the way?
  k8s/media/apps/storage/mergerfs/app/hr.yaml
Labels: area/kubernetes, cluster/media

gpu yeet
  k8s/media/apps/kustomization.yaml
Labels: area/kubernetes, cluster/media

gpu yeet
  k8s/media/apps/kustomization.yaml
Labels: area/kubernetes, cluster/media

Huh
  k8s/media/apps/storage/mergerfs/app/hr.yaml
Labels: area/kubernetes, cluster/media

Huh
  k8s/media/apps/storage/mergerfs/app/hr.yaml
Labels: area/kubernetes, cluster/media

Hmmmmm
  k8s/media/apps/storage/mergerfs/app/hr.yaml
Labels: area/kubernetes, cluster/media

Hmmmmm
  k8s/media/apps/storage/mergerfs/app/hr.yaml
Labels: area/kubernetes, cluster/media

Damn
  k8s/media/apps/storage/mergerfs/app/hr.yaml
Labels: area/kubernetes, cluster/media

Damn
  k8s/media/apps/storage/mergerfs/app/hr.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/storage/mergerfs/app/hr.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/storage/mergerfs/app/hr.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/storage/mergerfs/app/hr.yaml
Labels: area/kubernetes, cluster/media

Hmm
  k8s/media/apps/storage/mergerfs/app/hr.yaml
Labels: area/kubernetes, cluster/media

Maybe it works?
  k8s/media/apps/storage/mergerfs/app/hr.yaml
Labels: area/kubernetes, cluster/media

Maybe it works?
  k8s/media/apps/storage/mergerfs/app/hr.yaml
Labels: area/kubernetes, cluster/media

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"
cluster/nebula:
  - changed-files:
      - any-glob-to-any-file: k8s/nebula/**/*
cluster/media:
  - changed-files:
      - any-glob-to-any-file: k8s/media/**/*
